Repository OpenMage/magento-lts, pull requests merged in 2018-10, with the labels that each got.

#351 Sort categories returned by "getChildren" by position
  app/code/core/Mage/Catalog/Model/Resource/Category.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
Labels: Review Needed, enhancement, hold

#427 Added website name on order create page, fixes #358
  README.md
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Header.php
  app/code/core/Mage/Sales/etc/config.xml
  app/locale/en_US/Mage_Sales_LTS.csv
Labels: enhancement

#519 Revert changes in getOrderItem in Mage_Bundle
  app/code/core/Mage/Bundle/Block/Adminhtml/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Bundle/Model/Sales/Order/Pdf/Items/Abstract.php
Labels: Review Needed

#551 add a Contributor Covenant Code of Conduct to the project
  CODE_OF_CONDUCT.md
Labels: Review Needed, documentation

#500 Fix user logged out after `reload_acl_flag` updated.
  app/code/core/Mage/Admin/Model/Resource/User.php
  app/code/core/Mage/Admin/Model/Session.php
Labels: bug, enhancement
