Repository OpenMage/magento-lts, pull requests merged in 2018-03, with the labels that each got.

#418 Fixes undefined classes
  app/code/core/Mage/Bundle/Block/Adminhtml/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Bundle/Model/Sales/Order/Pdf/Items/Abstract.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
Labels: bug

#243 Made gender translatable, fixes #237
  app/design/frontend/base/default/template/customer/widget/gender.phtml
Labels: Review Needed, enhancement

#184 Add option reindexallrequired
  shell/indexer.php
Labels: Review Needed

#248 Sitemap dispatch event to add custom data
  app/code/core/Mage/Sitemap/Model/Sitemap.php
Labels: waiting for feedback

#261 Fixes issue with wysiwyg editor re-creating thumbnails
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
Labels: bug, hold

#425 Use FONT_HELVETICA intsead of LinLibertineFont in PDF, ref #86
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Items/Abstract.php
Labels: enhancement
