Repository OpenMage/magento-lts, pull requests merged in 2019-07, with the labels that each got.

#736 Drop support for EOL PHP5
  .travis.yml
  composer.json
Labels: Environment

#728 Add calls to parent methods (Mage_Poll), closes #726
  app/code/core/Mage/Poll/Model/Poll/Answer.php
Labels: enhancement

#662 maintain hash_equals first argument which shouldn't be NULL.
  app/code/core/Mage/Adminhtml/controllers/IndexController.php
Labels: Enough Reviews

#565 Detect implicit rollback after deadlock or lock wait timeout.
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Enough Reviews
