Repository OpenMage/magento-lts, pull requests merged in 2020-07, with the labels that each got.

#1014 Update admin footer
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Rebranding, Template : admin

#1050 PR templates + automatic labels
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Environment

#1048 Fix broken file upload for downloadables caused by PATCH SUPEE-11314
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Links.php
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Samples.php
Labels: Component: Downloadable, SUPEE

#758 Mage_Poll - DOC block update
  app/code/core/Mage/Poll/Block/ActivePoll.php
  app/code/core/Mage/Poll/Model/Poll.php
  app/code/core/Mage/Poll/Model/Poll/Answer.php
  app/code/core/Mage/Poll/Model/Poll/Vote.php
  app/code/core/Mage/Poll/Model/Resource/Poll.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Answer/Collection.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Collection.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Vote.php
  app/code/core/Mage/Poll/controllers/VoteController.php
  app/code/core/Mage/Poll/data/poll_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Poll/sql/poll_setup/install-1.6.0.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-1.6.0.0-1.6.0.1.php
Labels: Cleanup: DOC blocks, Component: Poll

#759 Mage_Persistant - DOC block update
  app/code/core/Mage/Persistent/Block/Form/Remember.php
  app/code/core/Mage/Persistent/Block/Header/Additional.php
  app/code/core/Mage/Persistent/Helper/Data.php
  app/code/core/Mage/Persistent/Helper/Session.php
  app/code/core/Mage/Persistent/Model/Observer.php
  app/code/core/Mage/Persistent/Model/Observer/Session.php
  app/code/core/Mage/Persistent/Model/Persistent/Config.php
  app/code/core/Mage/Persistent/Model/Resource/Session.php
  app/code/core/Mage/Persistent/Model/Session.php
  app/code/core/Mage/Persistent/controllers/IndexController.php
  app/code/core/Mage/Persistent/sql/persistent_setup/install-1.0.0.0.php
Labels: Cleanup: DOC blocks, Component: Persistant

#1044 Removed Phoenix_Moneybookers
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  README.md
  app/code/community/Phoenix/Moneybookers/Block/Form.php
  app/code/community/Phoenix/Moneybookers/Block/Info.php
  app/code/community/Phoenix/Moneybookers/Block/Jsinit.php
  app/code/community/Phoenix/Moneybookers/Block/Payment.php
  app/code/community/Phoenix/Moneybookers/Block/Placeform.php
  app/code/community/Phoenix/Moneybookers/Block/Redirect.php
  app/code/community/Phoenix/Moneybookers/Helper/Data.php
  app/code/community/Phoenix/Moneybookers/Model/Abstract.php
  app/code/community/Phoenix/Moneybookers/Model/Acc.php
  app/code/community/Phoenix/Moneybookers/Model/Csi.php
  app/code/community/Phoenix/Moneybookers/Model/Did.php
  app/code/community/Phoenix/Moneybookers/Model/Dnk.php
  app/code/community/Phoenix/Moneybookers/Model/Ebt.php
  app/code/community/Phoenix/Moneybookers/Model/Ent.php
  app/code/community/Phoenix/Moneybookers/Model/Event.php
  app/code/community/Phoenix/Moneybookers/Model/Gcb.php
  app/code/community/Phoenix/Moneybookers/Model/Gir.php
  app/code/community/Phoenix/Moneybookers/Model/Idl.php
  app/code/community/Phoenix/Moneybookers/Model/Lsr.php
  app/code/community/Phoenix/Moneybookers/Model/Mae.php
  app/code/community/Phoenix/Moneybookers/Model/Npy.php
  app/code/community/Phoenix/Moneybookers/Model/Obt.php
  app/code/community/Phoenix/Moneybookers/Model/Pli.php
  app/code/community/Phoenix/Moneybookers/Model/Psp.php
  app/code/community/Phoenix/Moneybookers/Model/Pwy.php
  app/code/community/Phoenix/Moneybookers/Model/Sft.php
  app/code/community/Phoenix/Moneybookers/Model/So2.php
  app/code/community/Phoenix/Moneybookers/Model/Wlt.php
  app/code/community/Phoenix/Moneybookers/controllers/MoneybookersController.php
  app/code/community/Phoenix/Moneybookers/controllers/ProcessingController.php
  app/code/community/Phoenix/Moneybookers/etc/config.xml
  app/code/community/Phoenix/Moneybookers/etc/system.xml
  app/code/community/Phoenix/Moneybookers/sql/moneybookers_setup/install-1.6.0.0.php
  app/code/community/Phoenix/Moneybookers/sql/moneybookers_setup/mysql4-upgrade-1.2-1.2.0.1.php
  app/code/core/Mage/Adminhtml/Helper/Help/Mapping.php
  app/design/adminhtml/default/default/layout/moneybookers.xml
  app/design/adminhtml/default/default/template/moneybookers/info.phtml
  app/design/adminhtml/default/default/template/moneybookers/jsinit.phtml
  app/design/adminhtml/default/default/template/moneybookers/pdf/info.phtml
  app/design/frontend/base/default/layout/moneybookers.xml
  app/design/frontend/base/default/template/moneybookers/blank.phtml
  app/design/frontend/base/default/template/moneybookers/form.phtml
  app/design/frontend/base/default/template/moneybookers/info.phtml
  app/design/frontend/base/default/template/moneybookers/payment.phtml
  app/design/frontend/base/default/template/moneybookers/placeform.phtml
  app/design/frontend/base/default/template/moneybookers/redirect.phtml
  app/etc/modules/Phoenix_Moneybookers.xml
  app/locale/en_US/Phoenix_Moneybookers.csv
  app/locale/en_US/template/email/moneybookers_activateemail.html
  js/mage/adminhtml/moneybookers.js
  var/package/Mage_All_Latest-1.9.4.5.xml
  var/package/Phoenix_Moneybookers-1.9.4.5.xml
Labels: Cleanup, Component: Phoenix/Moneybookers

#1090 Fixed github labeler bot
  .github/labeler.yml
Labels: Environment

#442 Support symlinks while not allowing malicious template paths.
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  app/code/core/Mage/Adminhtml/Block/Notification/Symlink.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/Model/Design/Package.php
  app/code/core/Mage/Core/Model/Email/Template/Abstract.php
  app/code/core/Mage/Page/Block/Html/Topmenu/Renderer.php
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/notification/symlink.phtml
Labels: Review Needed, enhancement, security

#1061 Fix bug on filter issues in Role Users.
  app/code/core/Mage/Adminhtml/Block/Permissions/Role/Grid/User.php
Labels: Component: Adminhtml, bug, codechange needed

#1091 Added dash(-) as an allowed character for store code
  app/code/core/Mage/Core/Model/Resource/Store.php
  app/locale/en_US/Mage_Core_LTS.csv
Labels: enhancement

#1078 Prevent resize to 0 width or height.
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
Labels: Component: Cms

#1113 Fix iframe removal in TinyMCE
  js/tiny_mce/plugins/media/editor_plugin.js
Labels: Javascript, bug

#1101 Fix: use cron schedule for labeler
  .github/labels.yml
  .github/workflows/labeler.yml
Labels: Environment

#1111 fix cancel order bug
  app/code/core/Mage/SalesRule/Model/Observer.php
Labels: Component: SalesRule, bug
