Repository OpenMage/magento-lts, pull requests merged in 2020-05, with the labels that each got.

#767 Mage_Log - DOC block update
  app/code/core/Mage/Log/Helper/Data.php
  app/code/core/Mage/Log/Model/Adminhtml/System/Config/Source/Loglevel.php
  app/code/core/Mage/Log/Model/Aggregation.php
  app/code/core/Mage/Log/Model/Cron.php
  app/code/core/Mage/Log/Model/Customer.php
  app/code/core/Mage/Log/Model/Log.php
  app/code/core/Mage/Log/Model/Resource/Aggregation.php
  app/code/core/Mage/Log/Model/Resource/Customer.php
  app/code/core/Mage/Log/Model/Resource/Log.php
  app/code/core/Mage/Log/Model/Resource/Visitor.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Collection.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Online.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Online/Collection.php
  app/code/core/Mage/Log/Model/Visitor.php
  app/code/core/Mage/Log/Model/Visitor/Online.php
  app/code/core/Mage/Log/data/log_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/install-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.6.0.0-1.6.1.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.6.1.0-1.6.1.1.php
Labels: Project Cleanup: DOC blocks

#746 Mage_Tag - DOC block update
  app/code/core/Mage/Tag/Block/All.php
  app/code/core/Mage/Tag/Block/Customer/Edit.php
  app/code/core/Mage/Tag/Block/Customer/Recent.php
  app/code/core/Mage/Tag/Block/Customer/Tags.php
  app/code/core/Mage/Tag/Block/Customer/View.php
  app/code/core/Mage/Tag/Block/Popular.php
  app/code/core/Mage/Tag/Block/Product/List.php
  app/code/core/Mage/Tag/Block/Product/Result.php
  app/code/core/Mage/Tag/Helper/Data.php
  app/code/core/Mage/Tag/Model/Api.php
  app/code/core/Mage/Tag/Model/Entity/Customer/Collection.php
  app/code/core/Mage/Tag/Model/Indexer/Summary.php
  app/code/core/Mage/Tag/Model/Mysql4/Tag.php
  app/code/core/Mage/Tag/Model/Resource/Customer/Collection.php
  app/code/core/Mage/Tag/Model/Resource/Indexer/Summary.php
  app/code/core/Mage/Tag/Model/Resource/Popular/Collection.php
  app/code/core/Mage/Tag/Model/Resource/Product/Collection.php
  app/code/core/Mage/Tag/Model/Resource/Tag.php
  app/code/core/Mage/Tag/Model/Resource/Tag/Collection.php
  app/code/core/Mage/Tag/Model/Tag.php
  app/code/core/Mage/Tag/Model/Tag/Relation.php
  app/code/core/Mage/Tag/controllers/CustomerController.php
  app/code/core/Mage/Tag/controllers/IndexController.php
  app/code/core/Mage/Tag/controllers/ProductController.php
  app/code/core/Mage/Tag/sql/tag_setup/install-1.6.0.0.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/Tag/sql/tag_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Project Cleanup: DOC blocks

#761 Mage_PageCache - mini DOC block update
  app/code/core/Mage/PageCache/Model/Observer.php
  app/code/core/Mage/PageCache/controllers/Adminhtml/PageCacheController.php
Labels: Project Cleanup: DOC blocks

#774 Mage_ConfigurableSwatches - DOC block update
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Layer/State/Swatch.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Media/Js/Abstract.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Media/Js/List.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Media/Js/Product.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Product/List/Price.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Product/View/Type/Configurable/Swatches.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/ConfigurableSwatches/Helper/List/Price.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Mediafallback.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Productlist.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Swatchdimensions.php
  app/code/core/Mage/ConfigurableSwatches/Model/Observer.php
  app/code/core/Mage/ConfigurableSwatches/Model/Resource/Catalog/Product/Attribute/Super/Collection.php
  app/code/core/Mage/ConfigurableSwatches/Model/Resource/Catalog/Product/Type/Configurable.php
  app/code/core/Mage/ConfigurableSwatches/Model/Resource/Catalog/Product/Type/Configurable/Product/Collection.php
  app/code/core/Mage/ConfigurableSwatches/Model/System/Config/Source/Catalog/Product/Configattribute.php
  app/code/core/Mage/ConfigurableSwatches/Model/System/Config/Source/Catalog/Product/Configattribute/Select.php
Labels: Project Cleanup: DOC blocks

#956 Remove unsupported PHP 7.x settings from .htaccess
  .htaccess
Labels: PHP7

#968 Update README and removed php5.6 from git workflow
  .github/workflows/static-code-analyses.yml
  README.md
Labels: Documentation, Environment, PHP7

#694 Mage_Cms - DOC block update
  app/code/core/Mage/Cms/Block/Block.php
  app/code/core/Mage/Cms/Block/Page.php
  app/code/core/Mage/Cms/Block/Widget/Block.php
  app/code/core/Mage/Cms/Block/Widget/Page/Link.php
  app/code/core/Mage/Cms/Controller/Router.php
  app/code/core/Mage/Cms/Helper/Data.php
  app/code/core/Mage/Cms/Helper/Page.php
  app/code/core/Mage/Cms/Helper/Wysiwyg/Images.php
  app/code/core/Mage/Cms/Model/Block.php
  app/code/core/Mage/Cms/Model/Observer.php
  app/code/core/Mage/Cms/Model/Page.php
  app/code/core/Mage/Cms/Model/Resource/Block.php
  app/code/core/Mage/Cms/Model/Resource/Block/Collection.php
  app/code/core/Mage/Cms/Model/Resource/Page.php
  app/code/core/Mage/Cms/Model/Resource/Page/Collection.php
  app/code/core/Mage/Cms/Model/Resource/Page/Service.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Config.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage/Collection.php
  app/code/core/Mage/Cms/controllers/IndexController.php
  app/code/core/Mage/Cms/data/cms_setup/data-upgrade-1.6.0.0.0-1.6.0.0.1.php
  app/code/core/Mage/Cms/sql/cms_setup/install-1.6.0.0.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.10-0.7.11.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.11-0.7.12.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.12-0.7.13.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.7-0.7.8.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.8-0.7.9.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-0.7.9-0.7.10.php
  app/code/core/Mage/Cms/sql/cms_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Project Cleanup: DOC blocks

#781 Mage_CatalogIndex - DOC block update
  app/code/core/Mage/CatalogIndex/Model/Aggregation.php
  app/code/core/Mage/CatalogIndex/Model/Attribute.php
  app/code/core/Mage/CatalogIndex/Model/Catalog/Index/Flag.php
  app/code/core/Mage/CatalogIndex/Model/Catalog/Index/Kill/Flag.php
  app/code/core/Mage/CatalogIndex/Model/Data/Abstract.php
  app/code/core/Mage/CatalogIndex/Model/Data/Configurable.php
  app/code/core/Mage/CatalogIndex/Model/Data/Grouped.php
  app/code/core/Mage/CatalogIndex/Model/Data/Virtual.php
  app/code/core/Mage/CatalogIndex/Model/Indexer.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Abstract.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Eav.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Interface.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Minimalprice.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Price.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Tierprice.php
  app/code/core/Mage/CatalogIndex/Model/Observer.php
  app/code/core/Mage/CatalogIndex/Model/Price.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Aggregation.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Attribute.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Data/Abstract.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Data/Grouped.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer/Abstract.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer/Minimalprice.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Price.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Setup.php
  app/code/core/Mage/CatalogIndex/Model/Retreiver.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/install-1.6.0.0.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.7-0.7.8.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.8-0.7.9.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-0.7.9-0.7.10.php
  app/code/core/Mage/CatalogIndex/sql/catalogindex_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Project Cleanup: DOC blocks

#779 Mage_Api2 - DOC block update
  app/code/core/Mage/Api2/Block/Adminhtml/Attribute/Edit/Form.php
  app/code/core/Mage/Api2/Block/Adminhtml/Attribute/Grid.php
  app/code/core/Mage/Api2/Block/Adminhtml/Attribute/Tab/Resource.php
  app/code/core/Mage/Api2/Block/Adminhtml/Permissions/User/Edit/Tab/Roles.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Buttons.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Grid.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Tab/Info.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Tab/Resources.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Tab/Users.php
  app/code/core/Mage/Api2/Block/Adminhtml/Roles/Tabs.php
  app/code/core/Mage/Api2/Helper/Data.php
  app/code/core/Mage/Api2/Model/Acl.php
  app/code/core/Mage/Api2/Model/Acl/Filter.php
  app/code/core/Mage/Api2/Model/Acl/Filter/Attribute/Operation.php
  app/code/core/Mage/Api2/Model/Acl/Filter/Attribute/ResourcePermission.php
  app/code/core/Mage/Api2/Model/Acl/Global.php
  app/code/core/Mage/Api2/Model/Acl/Global/Role.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Permission.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Privilege.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/ResourcePermission.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Tree.php
  app/code/core/Mage/Api2/Model/Auth.php
  app/code/core/Mage/Api2/Model/Auth/Adapter.php
  app/code/core/Mage/Api2/Model/Auth/Adapter/Oauth.php
  app/code/core/Mage/Api2/Model/Auth/User.php
  app/code/core/Mage/Api2/Model/Auth/User/Admin.php
  app/code/core/Mage/Api2/Model/Auth/User/Customer.php
  app/code/core/Mage/Api2/Model/Auth/User/Guest.php
  app/code/core/Mage/Api2/Model/Config.php
  app/code/core/Mage/Api2/Model/Dispatcher.php
  app/code/core/Mage/Api2/Model/Multicall.php
  app/code/core/Mage/Api2/Model/Observer.php
  app/code/core/Mage/Api2/Model/Renderer.php
  app/code/core/Mage/Api2/Model/Renderer/Xml.php
  app/code/core/Mage/Api2/Model/Request.php
  app/code/core/Mage/Api2/Model/Request/Interpreter.php
  app/code/core/Mage/Api2/Model/Request/Interpreter/Json.php
  app/code/core/Mage/Api2/Model/Request/Interpreter/Xml.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Api2/Model/Resource/Acl/Global/Role.php
  app/code/core/Mage/Api2/Model/Resource/Acl/Global/Role/Collection.php
  app/code/core/Mage/Api2/Model/Resource/Validator/Eav.php
  app/code/core/Mage/Api2/Model/Resource/Validator/Fields.php
  app/code/core/Mage/Api2/Model/Response.php
  app/code/core/Mage/Api2/Model/Route/ApiType.php
  app/code/core/Mage/Api2/Model/Router.php
  app/code/core/Mage/Api2/Model/Server.php
  app/code/core/Mage/Api2/controllers/Adminhtml/Api2/AttributeController.php
  app/code/core/Mage/Api2/controllers/Adminhtml/Api2/RoleController.php
  app/code/core/Mage/Api2/sql/api2_setup/install-1.0.0.0.php
Labels: Project Cleanup: DOC blocks

#778 Mage_Admin - DOC block update
  app/code/core/Mage/Admin/Helper/Block.php
  app/code/core/Mage/Admin/Helper/Rules/Fallback.php
  app/code/core/Mage/Admin/Model/Acl.php
  app/code/core/Mage/Admin/Model/Acl/Assert/Ip.php
  app/code/core/Mage/Admin/Model/Acl/Assert/Time.php
  app/code/core/Mage/Admin/Model/Acl/Resource.php
  app/code/core/Mage/Admin/Model/Acl/Role.php
  app/code/core/Mage/Admin/Model/Acl/Role/Generic.php
  app/code/core/Mage/Admin/Model/Acl/Role/Group.php
  app/code/core/Mage/Admin/Model/Acl/Role/Registry.php
  app/code/core/Mage/Admin/Model/Acl/Role/User.php
  app/code/core/Mage/Admin/Model/Block.php
  app/code/core/Mage/Admin/Model/Config.php
  app/code/core/Mage/Admin/Model/Observer.php
  app/code/core/Mage/Admin/Model/Redirectpolicy.php
  app/code/core/Mage/Admin/Model/Resource/Acl.php
  app/code/core/Mage/Admin/Model/Resource/Block.php
  app/code/core/Mage/Admin/Model/Resource/Role.php
  app/code/core/Mage/Admin/Model/Resource/Role/Collection.php
  app/code/core/Mage/Admin/Model/Resource/Roles.php
  app/code/core/Mage/Admin/Model/Resource/Rules.php
  app/code/core/Mage/Admin/Model/Resource/Rules/Collection.php
  app/code/core/Mage/Admin/Model/Resource/User.php
  app/code/core/Mage/Admin/Model/Resource/Variable.php
  app/code/core/Mage/Admin/Model/Resource/Variable/Collection.php
  app/code/core/Mage/Admin/Model/Role.php
  app/code/core/Mage/Admin/Model/Roles.php
  app/code/core/Mage/Admin/Model/Rules.php
  app/code/core/Mage/Admin/Model/Session.php
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/Admin/Model/Variable.php
  app/code/core/Mage/Admin/sql/admin_setup/install-1.6.0.0.php
  app/code/core/Mage/Admin/sql/admin_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Admin/sql/admin_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Admin/sql/admin_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Admin/sql/admin_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Admin/sql/admin_setup/upgrade-1.6.0.0-1.6.1.0.php
  app/code/core/Mage/Admin/sql/admin_setup/upgrade-1.6.1.0-1.6.1.1.php
  app/code/core/Mage/Admin/sql/admin_setup/upgrade-1.6.1.1-1.6.1.2.php
Labels: Project Cleanup: DOC blocks

#708 Mage_CurrencySymbol - DOC block update
  app/code/core/Mage/CurrencySymbol/Block/Adminhtml/System/Currencysymbol.php
  app/code/core/Mage/CurrencySymbol/Helper/Data.php
  app/code/core/Mage/CurrencySymbol/Model/Observer.php
  app/code/core/Mage/CurrencySymbol/Model/System/Currencysymbol.php
Labels: Project Cleanup: DOC blocks

#697 Mage_Cron - DOC block update
  app/code/core/Mage/Cron/Model/Observer.php
  app/code/core/Mage/Cron/Model/Resource/Schedule.php
  app/code/core/Mage/Cron/Model/Schedule.php
  app/code/core/Mage/Cron/sql/cron_setup/install-1.6.0.0.php
  app/code/core/Mage/Cron/sql/cron_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Cron/sql/cron_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Cron/sql/cron_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Project Cleanup: DOC blocks

#698 Mage_Captcha - DOC block update
  app/code/core/Mage/Captcha/Block/Captcha.php
  app/code/core/Mage/Captcha/Block/Captcha/Zend.php
  app/code/core/Mage/Captcha/Helper/Data.php
  app/code/core/Mage/Captcha/Model/Config/Form/Abstract.php
  app/code/core/Mage/Captcha/Model/Observer.php
  app/code/core/Mage/Captcha/Model/Resource/Log.php
  app/code/core/Mage/Captcha/Model/Zend.php
  app/code/core/Mage/Captcha/controllers/Adminhtml/RefreshController.php
  app/code/core/Mage/Captcha/sql/captcha_setup/install-1.7.0.0.0.php
Labels: Project Cleanup: DOC blocks

#699 Mage_Contacts - DOC block update
  app/code/core/Mage/Contacts/Helper/Data.php
  app/code/core/Mage/Contacts/Model/System/Config/Backend/Links.php
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/code/core/Mage/Contacts/sql/contacts_setup/install-1.6.0.0.php
  app/code/core/Mage/Contacts/sql/contacts_setup/mysql4-install-0.7.1.php
  app/code/core/Mage/Contacts/sql/contacts_setup/mysql4-install-0.8.0.php
  app/code/core/Mage/Contacts/sql/contacts_setup/mysql4-upgrade-0.7.1-0.7.2.php
Labels: Project Cleanup: DOC blocks

#963 Dropped useless semicolons
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Composite.php
  app/code/core/Mage/Api/Model/Resource/User.php
  app/code/core/Mage/Eav/Model/Attribute/Data/File.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Image.php
  app/code/core/Mage/Install/Model/Installer/Filesystem.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-1.3.99-1.4.0.0.php
  app/code/core/Mage/Widget/Model/Resource/Widget/Instance.php
  app/code/core/Mage/XmlConnect/Block/Adminhtml/Connect/Dashboard/GraphDataAbstract.php
Labels: Project Cleanup: Code style

#965 Fixed calls to static methods
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Newsletter/Grid/Renderer/Status.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Grid/Column/Renderer/Date.php
  app/code/core/Mage/Adminhtml/controllers/Promo/QuoteController.php
  app/code/core/Mage/Api2/Model/Acl/Filter/Attribute/ResourcePermission.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/ResourcePermission.php
  app/code/core/Mage/Bundle/Block/Catalog/Product/View/Type/Bundle.php
  app/code/core/Mage/Bundle/Block/Catalog/Product/View/Type/Bundle/Option.php
  app/code/core/Mage/Catalog/Model/Product/Type/Price.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Downloadable/Block/Catalog/Product/Links.php
  app/code/core/Mage/Paypal/Model/Ipn.php
  app/code/core/Mage/Paypal/Model/Payflowpro.php
  app/code/core/Mage/Sales/Block/Adminhtml/Recurring/Profile/Edit/Form.php
  app/code/core/Mage/Sales/Model/Order/Item.php
  app/code/core/Mage/XmlConnect/Block/Catalog/Product/ItemPrice/Bundle.php
  app/code/core/Mage/XmlConnect/Block/Catalog/Product/ItemPrice/Default.php
  app/code/core/Mage/XmlConnect/Block/Catalog/Product/Options/Giftcard.php
  app/code/core/Mage/XmlConnect/Block/Catalog/Product/Price/Bundle.php
  app/code/core/Mage/XmlConnect/Block/Catalog/Product/Price/Default.php
  app/code/core/Mage/XmlConnect/Helper/OfflineCatalog.php
Labels: PHP7, Project Cleanup: Code style, hold

#970 change all ands in conditional statements to && for better consistency
  app/Mage.php
  app/code/core/Mage/Catalog/Model/Product/Option/Api.php
  app/code/core/Mage/Core/Helper/Abstract.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Combine.php
  app/code/core/Mage/Sendfriend/Model/Sendfriend.php
  app/code/core/Mage/XmlConnect/Helper/Data.php
  app/code/core/Zend/Date.php
  app/code/core/Zend/Validate/File/Upload.php
Labels: Project Cleanup: Code style

#766 Mage_Media - mini DOC block update
  app/code/core/Mage/Media/Model/File/Image.php
  app/code/core/Mage/Media/Model/Image.php
  app/code/core/Mage/Media/Model/Image/Config/Interface.php
Labels: Project Cleanup: DOC blocks

#919 Improve performance of the products sold report
  app/code/core/Mage/CatalogInventory/Model/Observer.php
  app/code/core/Mage/Reports/Model/Resource/Product/Sold/Collection.php
Labels: enhancement, performance

#730 Prevent fatal error in Mage_Catalog_Model_Resource_Category_Collectio…
  app/code/core/Mage/Catalog/Model/Product/Visibility.php
Labels: enhancement

#989 Apply some Brand Changes, to have Magento appearing less
  app/code/core/Mage/Page/etc/config.xml
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/design/frontend/base/default/template/page/html/footer.phtml
  app/design/frontend/default/modern/template/page/html/footer.phtml
  app/design/install/default/default/template/page.phtml
  app/locale/en_US/Mage_Adminhtml.csv
  app/locale/en_US/Mage_Page.csv
  dev/tests/functional/tests/app/Mage/Adminhtml/Test/Block/Page/Footer.php
  favicon.ico
  skin/adminhtml/default/default/favicon.ico
  skin/frontend/base/default/favicon.ico
  skin/frontend/default/default/favicon.ico
Labels: cleanup, help wanted

#769 Mage_ImportExport - DOC block update
  app/code/core/Mage/ImportExport/Block/Adminhtml/Export/Edit/Form.php
  app/code/core/Mage/ImportExport/Block/Adminhtml/Export/Filter.php
  app/code/core/Mage/ImportExport/Block/Adminhtml/Import/Edit/Form.php
  app/code/core/Mage/ImportExport/Block/Adminhtml/Import/Frame/Result.php
  app/code/core/Mage/ImportExport/Model/Abstract.php
  app/code/core/Mage/ImportExport/Model/Export/Adapter/Abstract.php
  app/code/core/Mage/ImportExport/Model/Export/Adapter/Csv.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Abstract.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Customer.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Product.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Product/Type/Configurable.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Product/Type/Grouped.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Product/Type/Simple.php
  app/code/core/Mage/ImportExport/Model/Import.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Customer.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Customer/Address.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Configurable.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Grouped.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Simple.php
  app/code/core/Mage/ImportExport/Model/Import/Uploader.php
  app/code/core/Mage/ImportExport/Model/Product/Attribute/Backend/Urlkey.php
  app/code/core/Mage/ImportExport/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/ImportExport/Model/Resource/Import/Data.php
  app/code/core/Mage/ImportExport/Model/Source/Export/Entity.php
  app/code/core/Mage/ImportExport/Model/Source/Import/Entity.php
  app/code/core/Mage/ImportExport/controllers/Adminhtml/ExportController.php
  app/code/core/Mage/ImportExport/controllers/Adminhtml/ImportController.php
  app/code/core/Mage/ImportExport/sql/importexport_setup/install-1.6.0.0.php
  app/code/core/Mage/ImportExport/sql/importexport_setup/mysql4-install-0.1.0.php
  app/code/core/Mage/ImportExport/sql/importexport_setup/mysql4-upgrade-1.6.0.1-1.6.0.2.php
Labels: Project Cleanup: DOC blocks, hold

#749 Mage_Sendfriend - DOC block update
  app/code/core/Mage/Sendfriend/Block/Send.php
  app/code/core/Mage/Sendfriend/Model/Sendfriend.php
  app/code/core/Mage/Sendfriend/controllers/ProductController.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/install-1.6.0.0.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Sendfriend/sql/sendfriend_setup/mysql4-upgrade-1.6.0.0-1.6.0.1.php
Labels: Project Cleanup: DOC blocks

#773 Mage_Directory - DOC block update
  app/code/core/Mage/Directory/Block/Adminhtml/Frontend/Currency/Base.php
  app/code/core/Mage/Directory/Block/Adminhtml/Frontend/Region/Updater.php
  app/code/core/Mage/Directory/Block/Data.php
  app/code/core/Mage/Directory/Exception.php
  app/code/core/Mage/Directory/Helper/Data.php
  app/code/core/Mage/Directory/Helper/Url.php
  app/code/core/Mage/Directory/Model/Country.php
  app/code/core/Mage/Directory/Model/Country/Api.php
  app/code/core/Mage/Directory/Model/Country/Format.php
  app/code/core/Mage/Directory/Model/Currency.php
  app/code/core/Mage/Directory/Model/Currency/Filter.php
  app/code/core/Mage/Directory/Model/Currency/Import/Abstract.php
  app/code/core/Mage/Directory/Model/Currency/Import/Webservicex.php
  app/code/core/Mage/Directory/Model/Observer.php
  app/code/core/Mage/Directory/Model/Region.php
  app/code/core/Mage/Directory/Model/Resource/Country.php
  app/code/core/Mage/Directory/Model/Resource/Country/Collection.php
  app/code/core/Mage/Directory/Model/Resource/Currency/Collection.php
  app/code/core/Mage/Directory/Model/Resource/Region.php
  app/code/core/Mage/Directory/Model/Resource/Region/Collection.php
  app/code/core/Mage/Directory/data/directory_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Directory/data/directory_setup/data-upgrade-1.6.0.0-1.6.0.1.php
  app/code/core/Mage/Directory/data/directory_setup/data-upgrade-1.6.0.2-1.6.0.3.php
  app/code/core/Mage/Directory/sql/directory_setup/install-1.6.0.0.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-install-0.8.0.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.0-0.8.1.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.1-0.8.2.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.10-0.8.11.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.2-0.8.3.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.3-0.8.4.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.4-0.8.5.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.5-0.8.6.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.6-0.8.7.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.7-0.8.8.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.8-0.8.9.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.9-0.8.10.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-1.6.0.1-1.6.0.2.php
  app/code/core/Mage/Directory/sql/directory_setup/upgrade-1.6.0.1-1.6.0.2.php
Labels: Project Cleanup: DOC blocks
