Repository OpenMage/magento-lts, pull requests merged in 2020-04, with the labels that each got.

#918 Add runtime cache to Zend_Locale_Data
  lib/Zend/Locale/Data.php
Labels: performance

#650 painful protection in Subtotal.php
  app/code/core/Mage/Sales/Model/Quote/Address/Total/Subtotal.php
Labels: Enough Reviews

#933 Fix warning "Warning: A non-numeric value encountered" in Model_Url
  app/code/core/Mage/Catalog/Model/Url.php
Labels: url rewrites

#729 Fixes undefined variable, closes #712
  app/code/core/Mage/Customer/Model/Convert/Parser/Customer.php
Labels: bug

#583 fixed return value of saveCache method
  app/code/core/Mage/Core/Model/Layout/Update.php
Labels: Review Needed
