Repository OpenMage/magento-lts, pull requests merged in 2020-11, with the labels that each got.

#1292 Support the logging of Throwables
  app/Mage.php
Labels: Mage.php, backwards compatibility

#1297 Update SECURITY.md
  SECURITY.md
Labels: Documentation

#1319 Fix for currency symbol not saved with fatal PHP error
  app/code/core/Mage/CurrencySymbol/controllers/Adminhtml/System/CurrencysymbolController.php
Labels: Component: CurrencySymbol

#1323 Improve PHPDoc
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
Labels: Component: Core
