Repository OpenMage/magento-lts, pull requests merged in 2020-10, with the labels that each got.

#1250 Removed .travis.yml
  .travis.yml
Labels: Environment, hacktoberfest-accepted

#1236 Adds missing meta tags to prevent SUPEE-11295 warnings
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
Labels: Component: Adminhtml, Template : admin, hacktoberfest-accepted

#991 Migrate to new frontend cookie name (session namespace). Refs #990
  app/code/core/Mage/Core/Controller/Front/Action.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
Labels: Component: Core, Rebranding

#1266 Add ddev based development setup to readme
  README.md
Labels: Documentation, Environment, hacktoberfest, hacktoberfest-accepted

#1247 Fix call_user_func_array arguments for PHP 8
  app/code/core/Mage/Core/Model/Layout.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
Labels: Component: Core, PHP8

#1242 mcrypt update explanation
  README.md
Labels: Documentation

#1184 Add php-74 to static tests
  .github/workflows/static-code-analyses.yml
Labels: Environment, PHP7.4

#1279 Remove php short open tag
  app/design/frontend/rwd/default/template/catalog/product/widget/new/column/new_images_list.phtml
  app/design/frontend/rwd/default/template/reports/widget/compared/column/compared_images_list.phtml
  app/design/frontend/rwd/default/template/reports/widget/viewed/column/viewed_images_list.phtml
Labels: Component: Catalog, Component: Reports, Template : rwd

#1207 bugfix: don't cast min_sale_qty to int as it can be below 1
  app/design/adminhtml/default/default/template/catalog/product/tab/inventory.phtml
Labels: Component: Adminhtml, Component: Catalog, Template : admin, hacktoberfest, hacktoberfest-accepted

#1285 Mage core model url - method call is provided 2 parameters, but the method signature uses 1 parameters
  app/code/core/Mage/Core/Model/Url.php
Labels: Component: Core, hacktoberfest-accepted
