Repository OpenMage/magento-lts, pull requests merged in 2020-08, with the labels that each got.

#1136 Fix special price for bundle products
  app/code/core/Mage/Catalog/Model/Product/Type/Price.php
Labels: Component: Catalog, bug

#1012 Add development environment setup files and README.
  .gitignore
  dev/openmage/.gitignore
  dev/openmage/README.md
  dev/openmage/docker-compose.yml
  dev/openmage/install.sh
Labels: Documentation, Environment

#1008 add OpenMage admin theme and theme switcher
  app/code/core/Mage/Adminhtml/Controller/Action.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/design/adminhtml/default/openmage/layout/local.xml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  skin/adminhtml/default/openmage/calendar-blue2.css
  skin/adminhtml/default/openmage/favicon.ico
  skin/adminhtml/default/openmage/fonts/opensans/License.txt
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Bold.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Bold.ttf
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Bold.woff
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Bold.woff2
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Light.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Light.ttf
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Light.woff
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Light.woff2
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Regular.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Regular.ttf
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Regular.woff
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Regular.woff2
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-SemiBold.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-SemiBold.ttf
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-SemiBold.woff
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-SemiBold.woff2
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/images/ajax-loader-tr.gif
  skin/adminhtml/default/openmage/images/alert-circle.svg
  skin/adminhtml/default/openmage/images/icon-error.png
  skin/adminhtml/default/openmage/images/information-variant.svg
  skin/adminhtml/default/openmage/images/login_background.jpg
  skin/adminhtml/default/openmage/images/logo-openmage.png
  skin/adminhtml/default/openmage/images/logo.svg
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento.css
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento/btn_bg.gif
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento/content_bg.gif
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento/top_bg.gif
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento/window_close.png
  skin/adminhtml/default/openmage/login.css
  skin/adminhtml/default/openmage/login.css.map
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/_base.scss
  skin/adminhtml/default/openmage/scss/_fonts.scss
  skin/adminhtml/default/openmage/scss/_icons.scss
  skin/adminhtml/default/openmage/scss/_variables.scss
  skin/adminhtml/default/openmage/scss/calendar-blue2.scss
  skin/adminhtml/default/openmage/scss/form.scss
  skin/adminhtml/default/openmage/scss/login.scss
  skin/adminhtml/default/openmage/scss/menu.scss
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Component: Adminhtml, Component: Core, Component: Page, New Feature, Rebranding, Template : admin

#1146 Add doc comments to image related classes
  app/code/core/Mage/Catalog/Model/Product/Image.php
  lib/Varien/Image.php
  lib/Varien/Image/Adapter/Abstract.php
Labels: Cleanup: DOC blocks, Component: Catalog, Component: lib/*, Component: lib/Varien

#1117 Prevent duplicate entry when updating salesrule_coupon_usage
  app/code/core/Mage/SalesRule/Model/Resource/Coupon/Usage.php
Labels: Component: SalesRule, bug

#510 Fix _addUrlRewrite() ignoring collection store scope.
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
Labels: Component: Catalog, Enough Reviews, bug, url rewrites
