Repository OpenMage/magento-lts, pull requests merged in 2020-12, with the labels that each got.

#1328 Fix phpDoc for set/getStepData in Checkout
  app/code/core/Mage/Checkout/Model/Session.php
Labels: Component: Checkout

#1278 Handled the case where the coupon no longer exists
  app/code/core/Mage/SalesRule/Model/Observer.php
Labels: Component: SalesRule, hacktoberfest

#1274 Removed unused fetchAll in addRatingInfo()
  app/code/core/Mage/Rating/Model/Resource/Rating/Option/Vote/Collection.php
Labels: Component: Rating, hacktoberfest-accepted, performance

#1261 getAttributeRawValue() move operations with store to if statement
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: Component: Catalog, hacktoberfest-accepted

#1341 fix "Cannot unset $this" error
  lib/Zend/Service/WindowsAzure/Storage/Batch.php
Labels: Component: lib/*, Component: lib/Zend

#1342 Fixed Zend Lib Filter Deprecated Notice
  lib/Zend/Filter/Compress/Zip.php
Labels: Component: lib/*, Component: lib/Zend

#1343 Fixed Zend Lib JSON Deprecated Notice
  lib/Zend/Json/Decoder.php
  lib/Zend/Json/Encoder.php
Labels: Component: lib/*, Component: lib/Zend

#1344 Fixed Zend Lib View Deprecated Notice
  lib/Zend/View/Helper/Navigation/Sitemap.php
Labels: Component: lib/*, Component: lib/Zend

#1345 Fixed Zend Lib Wildfire Deprecated Notice
  lib/Zend/Wildfire/Plugin/FirePhp.php
Labels: Component: lib/*, Component: lib/Zend

#1350 Trim values from XML so auto-formatting our XML does not break the autoloader.
  app/code/core/Mage/Core/Model/Config.php
Labels: Component: Core

#1280 Add @boesbo as a contributor
  .all-contributorsrc
  README.md
Labels: Documentation, hacktoberfest

#1251 Disable class unserialization where it is not needed.
  app/code/core/Mage/Admin/Model/Resource/Acl.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/Packaging.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
  app/code/core/Mage/Api/Model/Resource/Acl.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Sales/Order/View/Items/Renderer.php
  app/code/core/Mage/Bundle/Block/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Bundle/Helper/Catalog/Product/Configuration.php
  app/code/core/Mage/Bundle/Model/Product/Price.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Bundle/Model/Sales/Order/Pdf/Items/Abstract.php
  app/code/core/Mage/Catalog/Helper/Product/Configuration.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Source/Countryofmanufacture.php
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable/Price.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Aggregation.php
  app/code/core/Mage/Checkout/Block/Onepage/Abstract.php
  app/code/core/Mage/Core/Helper/UnserializeArray.php
  app/code/core/Mage/Core/Model/Cache.php
  app/code/core/Mage/Core/Model/Flag.php
  app/code/core/Mage/Core/Model/Resource/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Email/Queue.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/Model/Translate.php
  app/code/core/Mage/Dataflow/Model/Batch.php
  app/code/core/Mage/Dataflow/Model/Batch/Abstract.php
  app/code/core/Mage/Dataflow/Model/Convert/Parser/Serialize.php
  app/code/core/Mage/Directory/Block/Data.php
  app/code/core/Mage/Downloadable/Model/Product/Type.php
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/Index/Model/Event.php
  app/code/core/Mage/Paygate/sql/paygate_setup/mysql4-data-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Payment/Model/Recurring/Profile.php
  app/code/core/Mage/Sales/Model/Config/Ordered.php
  app/code/core/Mage/Sales/Model/Order/Item.php
  app/code/core/Mage/Sales/Model/Service/Order.php
  app/code/core/Mage/Sales/controllers/DownloadController.php
  app/code/core/Mage/Weee/Helper/Data.php
  app/code/core/Mage/Widget/Model/Resource/Widget.php
  app/code/core/Mage/Wishlist/Model/Item.php
  app/code/core/Mage/Wishlist/Model/Wishlist.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
  errors/processor.php
  lib/Mage/Cache/Backend/File.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: Admin, Component: Adminhtml, Component: Api, Component: Bundle, Component: Catalog, Component: CatalogIndex, Component: Checkout, Component: Core, Component: Dataflow, Component: Directory, Review Needed

#1256 Fix libxml_disable_entity_loader for PHP 8
  app/bootstrap.php
  app/code/core/Zend/Xml/Security.php
Labels: Component: lib/Zend, PHP8

#1346 Fixed Zend Lib Validate Deprecated Notice
  lib/Zend/Validate/Isbn.php
Labels: Component: lib/*, Component: lib/Zend

#1340 Fixed Zend Lib Barcode Deprecated
  lib/Zend/Barcode/Object/Code25.php
  lib/Zend/Barcode/Object/Ean13.php
  lib/Zend/Barcode/Object/Ean5.php
  lib/Zend/Barcode/Object/Ean8.php
  lib/Zend/Barcode/Object/Identcode.php
  lib/Zend/Barcode/Object/ObjectAbstract.php
  lib/Zend/Barcode/Object/Upca.php
  lib/Zend/Barcode/Object/Upce.php
Labels: Component: lib/*, Component: lib/Zend

#1347 Fixed Zend Lib Amf Deprecated Notice
  lib/Zend/Amf/Util/BinaryStream.php
Labels: Component: lib/*, Component: lib/Zend

#1348 Fixed Zend Lib Tool Deprecated Notice
  lib/Zend/Tool/Project/Context/Zf/ApplicationConfigFile.php
Labels: Component: lib/*, Component: lib/Zend

#1213 Fix strpos with non-string needle
  app/code/core/Mage/Eav/Model/Entity/Increment/Numeric.php
Labels: Component: Eav, PHP7.4

#1349 Fixed Zend Lib Deprecated Notice PHP8
  lib/Zend/Gdata/YouTube.php
  lib/Zend/Pdf/Element/Reference.php
  lib/Zend/Service/WindowsAzure/CommandLine/Certificate.php
  lib/Zend/Service/WindowsAzure/CommandLine/Deployment.php
  lib/Zend/Service/WindowsAzure/Diagnostics/Manager.php
  lib/Zend/Service/WindowsAzure/Storage/Queue.php
Labels: Component: lib/*, Component: lib/Zend, PHP8

#1246 Adds support for "SameSite" cookie property
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Cookie/SameSite.php
  app/code/core/Mage/Core/Model/Cookie.php
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/locale/en_US/Mage_Core.csv
Labels: Component: Adminhtml, Component: Core, Translations

#1356 Fixed return type of Mage_Adminhtml_Block_System_Config_Form::_canShowField
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
Labels: Component: Adminhtml, enhancement

#1275 Add start & stop commands to ddev setup in readme
  README.md
Labels: Documentation, hacktoberfest

#1273 Update static-code-analyses.yml
  .github/workflows/static-code-analyses.yml
Labels: Environment, hacktoberfest

#1206 Reduced multiple dispatch events in login form.
  app/design/frontend/rwd/default/template/persistent/checkout/onepage/login.phtml
  app/design/frontend/rwd/default/template/persistent/customer/form/login.phtml
Labels: Component: Persistant, Template : rwd, performance
