Repository OpenMage/magento-lts, pull requests merged in 2020-06, with the labels that each got.

#1016 Fix typo in Area.php
  app/code/core/Mage/Core/Model/App/Area.php
Labels: Project Cleanup: Typos

#980 Prevent errors when customer does not have a created at timestamp.
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View.php
Labels: enhancement

#852 Stop calling getLastPageNumber() when not necessary
  lib/Varien/Data/Collection.php
Labels: Review Needed, performance

#1015 I couldn't resist fixing these
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
Labels: Enough Reviews, Project Cleanup: Typos

#776 Mage_CatalogSearch - DOC block update
  app/code/core/Mage/CatalogSearch/Block/Advanced/Form.php
  app/code/core/Mage/CatalogSearch/Block/Advanced/Result.php
  app/code/core/Mage/CatalogSearch/Block/Autocomplete.php
  app/code/core/Mage/CatalogSearch/Block/Result.php
  app/code/core/Mage/CatalogSearch/Block/Term.php
  app/code/core/Mage/CatalogSearch/Helper/Data.php
  app/code/core/Mage/CatalogSearch/Model/Advanced.php
  app/code/core/Mage/CatalogSearch/Model/Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Fulltext/Observer.php
  app/code/core/Mage/CatalogSearch/Model/Indexer/Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Layer/Filter/Attribute.php
  app/code/core/Mage/CatalogSearch/Model/Query.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Advanced.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext/Collection.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Query.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Query/Collection.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Search/Collection.php
  app/code/core/Mage/CatalogSearch/Model/System/Config/Backend/Sitemap.php
  app/code/core/Mage/CatalogSearch/controllers/ResultController.php
  app/code/core/Mage/CatalogSearch/controllers/TermController.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/install-1.6.0.0.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/CatalogSearch/sql/catalogsearch_setup/upgrade-1.6.0.0-1.8.2.0.php
Labels: Project Cleanup: DOC blocks

#589 Fix HTTP/2 errors with cURL post
  lib/Varien/Http/Adapter/Curl.php
Labels: waiting for feedback

#890 Remove this->_debug Paypal
  app/code/core/Mage/Paypal/Model/Api/Standard.php
Labels: PayPal, cleanup, enhancement

#984 Fixed .thumbnail load
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
Labels: bug

#1002 Removed Mage_GoogleBase
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Captcha.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Items.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Items/Item.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Items/Product.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Items/Renderer/Id.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Store/Switcher.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types/Edit.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types/Edit/Attributes.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types/Edit/Form.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types/Grid.php
  app/code/core/Mage/GoogleBase/Block/Adminhtml/Types/Renderer/Country.php
  app/code/core/Mage/GoogleBase/Helper/Data.php
  app/code/core/Mage/GoogleBase/Model/Attribute.php
  app/code/core/Mage/GoogleBase/Model/Config.php
  app/code/core/Mage/GoogleBase/Model/Item.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Attribute.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Attribute/Collection.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Item.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Item/Collection.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Type.php
  app/code/core/Mage/GoogleBase/Model/Mysql4/Type/Collection.php
  app/code/core/Mage/GoogleBase/Model/Observer.php
  app/code/core/Mage/GoogleBase/Model/Resource/Attribute.php
  app/code/core/Mage/GoogleBase/Model/Resource/Attribute/Collection.php
  app/code/core/Mage/GoogleBase/Model/Resource/Item.php
  app/code/core/Mage/GoogleBase/Model/Resource/Item/Collection.php
  app/code/core/Mage/GoogleBase/Model/Resource/Type.php
  app/code/core/Mage/GoogleBase/Model/Resource/Type/Collection.php
  app/code/core/Mage/GoogleBase/Model/Service.php
  app/code/core/Mage/GoogleBase/Model/Service/Feed.php
  app/code/core/Mage/GoogleBase/Model/Service/Item.php
  app/code/core/Mage/GoogleBase/Model/Source/Accounttype.php
  app/code/core/Mage/GoogleBase/Model/Source/Authtype.php
  app/code/core/Mage/GoogleBase/Model/Source/Country.php
  app/code/core/Mage/GoogleBase/Model/Source/Statuses.php
  app/code/core/Mage/GoogleBase/Model/Type.php
  app/code/core/Mage/GoogleBase/controllers/Adminhtml/Googlebase/ItemsController.php
  app/code/core/Mage/GoogleBase/controllers/Adminhtml/Googlebase/SelectionController.php
  app/code/core/Mage/GoogleBase/controllers/Adminhtml/Googlebase/TypesController.php
  app/code/core/Mage/GoogleBase/controllers/ItemsController.php
  app/code/core/Mage/GoogleBase/controllers/SelectionController.php
  app/code/core/Mage/GoogleBase/controllers/TypesController.php
  app/code/core/Mage/GoogleBase/etc/adminhtml.xml
  app/code/core/Mage/GoogleBase/etc/config.xml
  app/code/core/Mage/GoogleBase/etc/system.xml
  app/code/core/Mage/GoogleBase/sql/googlebase_setup/install-1.6.0.0.php
  app/code/core/Mage/GoogleBase/sql/googlebase_setup/mysql4-install-0.1.0.php
  app/code/core/Mage/GoogleBase/sql/googlebase_setup/mysql4-upgrade-0.1.0-0.1.1.php
  app/code/core/Mage/GoogleBase/sql/googlebase_setup/mysql4-upgrade-0.1.1-0.1.2.php
  app/code/core/Mage/GoogleBase/sql/googlebase_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup

#894 fix for Fatal error: Nesting level too deep - recursive dependency?
  app/code/core/Mage/Sales/Model/Quote/Item/Abstract.php
Labels: Module: Sales, PHP7, bug

#703 Varien_ - DOC block update (1)
  lib/Varien/Data/Collection.php
  lib/Varien/Data/Collection/Db.php
  lib/Varien/Data/Collection/Filesystem.php
  lib/Varien/Data/Form.php
  lib/Varien/Data/Form/Abstract.php
  lib/Varien/Data/Form/Element/Abstract.php
  lib/Varien/Data/Form/Element/Button.php
  lib/Varien/Data/Form/Element/Checkbox.php
  lib/Varien/Data/Form/Element/Checkboxes.php
  lib/Varien/Data/Form/Element/Collection.php
  lib/Varien/Data/Form/Element/Column.php
  lib/Varien/Data/Form/Element/Date.php
  lib/Varien/Data/Form/Element/Datetime.php
  lib/Varien/Data/Form/Element/Editor.php
  lib/Varien/Data/Form/Element/Fieldset.php
  lib/Varien/Data/Form/Element/File.php
  lib/Varien/Data/Form/Element/Gallery.php
  lib/Varien/Data/Form/Element/Hidden.php
  lib/Varien/Data/Form/Element/Image.php
  lib/Varien/Data/Form/Element/Imagefile.php
  lib/Varien/Data/Form/Element/Label.php
  lib/Varien/Data/Form/Element/Link.php
  lib/Varien/Data/Form/Element/Multiline.php
  lib/Varien/Data/Form/Element/Multiselect.php
  lib/Varien/Data/Form/Element/Note.php
  lib/Varien/Data/Form/Element/Password.php
  lib/Varien/Data/Form/Element/Radio.php
  lib/Varien/Data/Form/Element/Radios.php
  lib/Varien/Data/Form/Element/Renderer/Interface.php
  lib/Varien/Data/Form/Element/Reset.php
  lib/Varien/Data/Form/Element/Select.php
  lib/Varien/Data/Form/Element/Submit.php
  lib/Varien/Data/Form/Element/Text.php
  lib/Varien/Data/Form/Element/Textarea.php
  lib/Varien/Data/Form/Element/Time.php
  lib/Varien/Data/Tree.php
  lib/Varien/Data/Tree/Db.php
  lib/Varien/Data/Tree/Dbp.php
  lib/Varien/Data/Tree/Node.php
  lib/Varien/Data/Tree/Node/Collection.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Select.php
  lib/Varien/Db/Statement/Pdo/Mysql.php
  lib/Varien/Event/Collection.php
  lib/Varien/Event/Observer.php
  lib/Varien/Event/Observer/Collection.php
  lib/Varien/Event/Observer/Cron.php
  lib/Varien/Event/Observer/Regex.php
  lib/Varien/File/Uploader.php
  lib/Varien/Object.php
  lib/Varien/Simplexml/Config.php
  lib/Varien/Simplexml/Element.php
Labels: Cleanup: DOC blocks, Module: lib/Varien

#1033 Fix wrong count of arguments in Mage_Core_Model_Resource_Db_Collection_Abstract
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
Labels: Cleanup, Module: Core

#1023 Use || operators instead of „or”
  app/code/community/Cm/RedisSession/Model/Session.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Tabs.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Api/Helper/Data.php
  app/code/core/Mage/Authorizenet/Helper/Admin.php
  app/code/core/Mage/Catalog/Model/Product/Option/Value/Api.php
  app/code/core/Mage/Sendfriend/Model/Sendfriend.php
  app/code/core/Mage/Tag/Model/Api.php
  app/code/core/Mage/XmlConnect/Helper/Data.php
  app/code/core/Zend/Date.php
  app/code/core/Zend/Locale/Math/PhpMath.php
  dev/tests/functional/tests/app/Mage/Paypal/Test/TestStep/ContinuePayPalCheckoutStep.php
  dev/tests/functional/tests/app/Mage/Paypal/Test/TestStep/LoginToPayPalStep.php
  downloader/Maged/Model/BruteForce/ConfigIni.php
  lib/Cm/Cache/Backend/Redis.php
  lib/PEAR/HTTP/Request.php
  lib/PEAR/Mail/mimePart.php
  lib/PEAR/Net/URL.php
  lib/PEAR/SOAP/Transport/HTTP.php
  lib/Varien/Filter/Template.php
  lib/Varien/Pear/Frontend.php
  lib/Zend/Cache/Backend.php
  lib/Zend/Currency.php
  lib/Zend/Date.php
  lib/Zend/Date/DateObject.php
  lib/Zend/Filter/Encrypt.php
  lib/Zend/Filter/File/Rename.php
  lib/Zend/Gdata/Analytics/AccountQuery.php
  lib/Zend/Locale.php
  lib/Zend/Locale/Data.php
  lib/Zend/Locale/Format.php
  lib/Zend/Locale/Math/PhpMath.php
  lib/Zend/Text/Table.php
  lib/Zend/Text/Table/Column.php
  lib/Zend/Translate/Adapter.php
  lib/Zend/Translate/Adapter/Tbx.php
  lib/Zend/Translate/Adapter/Tmx.php
  lib/Zend/Validate/Date.php
  lib/Zend/Validate/File/ImageSize.php
  lib/Zend/XmlRpc/Value.php
Labels: Cleanup: Code style

#929 fix apply discount amount to FPT percent discount
  app/code/core/Mage/SalesRule/Model/Validator.php
Labels: Module: SalesRule, bug

#1020 Add @throws vardoc to Varien_Io_File cd function
  lib/Varien/Io/File.php
Labels: Module: lib/Varien, enhancement

#1022 1.9.3.x => E-Mail templates only: replace plaintext password with hint of choosen password
  app/locale/en_US/template/email/account_new.html
  app/locale/en_US/template/email/account_new_confirmation.html
  app/locale/en_US/template/email/admin_password_new.html
  app/locale/en_US/template/email/password_new.html
Labels: security

#1021 1.9.4.x => E-Mail templates only: replace plaintext password with hint of choosen password
  app/locale/en_US/template/email/account_new.html
  app/locale/en_US/template/email/account_new_confirmation.html
  app/locale/en_US/template/email/admin_password_new.html
  app/locale/en_US/template/email/password_new.html
Labels: security

#966 Check for null byte at the time of writing a file.
  lib/Varien/Io/File.php
Labels: Module: lib/Varien, enhancement

#1000 Update issue templates
  .github/.htaccess
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/developer-experience-issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Environment

#601 Prevent redundant simultaneous requests to remote storage in get.php
  app/code/core/Mage/Core/Model/File/Storage/File.php
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  get.php
Labels: Module: Core, Review Needed, enhancement, waiting for feedback

#1029 Correct name for Request class in Payment Module
  app/code/core/Mage/Payment/Model/Paygate/Request.php
Labels: Cleanup, Cleanup: Typos, Module: Payment

#765 Mage_Newsletter - DOC block update
  app/code/core/Mage/Newsletter/Block/Subscribe.php
  app/code/core/Mage/Newsletter/Helper/Data.php
  app/code/core/Mage/Newsletter/Model/Observer.php
  app/code/core/Mage/Newsletter/Model/Problem.php
  app/code/core/Mage/Newsletter/Model/Queue.php
  app/code/core/Mage/Newsletter/Model/Resource/Problem/Collection.php
  app/code/core/Mage/Newsletter/Model/Resource/Queue.php
  app/code/core/Mage/Newsletter/Model/Resource/Queue/Collection.php
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber.php
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber/Collection.php
  app/code/core/Mage/Newsletter/Model/Resource/Template.php
  app/code/core/Mage/Newsletter/Model/Session.php
  app/code/core/Mage/Newsletter/Model/Subscriber.php
  app/code/core/Mage/Newsletter/Model/Template.php
  app/code/core/Mage/Newsletter/controllers/ManageController.php
  app/code/core/Mage/Newsletter/controllers/SubscriberController.php
  app/code/core/Mage/Newsletter/data/newsletter_setup/data-upgrade-1.6.0.0-1.6.0.1.php
  app/code/core/Mage/Newsletter/data/newsletter_setup/data-upgrade-1.6.0.1-1.6.0.2.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/install-1.6.0.0.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-install-0.8.0.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-upgrade-0.8.0-0.8.1.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-upgrade-0.8.1-0.8.2.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-upgrade-0.8.2-0.8.3.php
  app/code/core/Mage/Newsletter/sql/newsletter_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Module: Newsletter

#768 Mage_Index - DOC block update
  app/code/core/Mage/Index/Block/Adminhtml/Notifications.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Edit/Form.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Edit/Tab/Main.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Grid.php
  app/code/core/Mage/Index/Exception.php
  app/code/core/Mage/Index/Model/Event.php
  app/code/core/Mage/Index/Model/Indexer.php
  app/code/core/Mage/Index/Model/Indexer/Abstract.php
  app/code/core/Mage/Index/Model/Lock/Storage/Db.php
  app/code/core/Mage/Index/Model/Observer.php
  app/code/core/Mage/Index/Model/Process.php
  app/code/core/Mage/Index/Model/Resource/Event.php
  app/code/core/Mage/Index/Model/Resource/Event/Collection.php
  app/code/core/Mage/Index/Model/Resource/Helper/Lock/Interface.php
  app/code/core/Mage/Index/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/Index/Model/Resource/Lock/Resource.php
  app/code/core/Mage/Index/Model/Resource/Process/Collection.php
  app/code/core/Mage/Index/controllers/Adminhtml/ProcessController.php
  app/code/core/Mage/Index/sql/index_setup/install-1.6.0.0.php
  app/code/core/Mage/Index/sql/index_setup/mysql4-install-1.4.0.0.php
  app/code/core/Mage/Index/sql/index_setup/mysql4-upgrade-1.4.0.0-1.4.0.1.php
  app/code/core/Mage/Index/sql/index_setup/mysql4-upgrade-1.4.0.1-1.4.0.2.php
  app/code/core/Mage/Index/sql/index_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Module: Index

#1039 fix array_intersect
  app/code/core/Mage/CatalogSearch/Model/Indexer/Fulltext.php
Labels: Module: CatalogSearch, Review Needed

#1032 Allow access to current order
  app/code/core/Mage/Sales/Model/Service/Quote.php
Labels: Component: Sales, New Feature

#1003 workaround 404 dashboard on first admin login on multi store views
  app/design/adminhtml/default/default/template/login.phtml
Labels: Template : admin, bug

#1042 Add tmotyl as maintainer
  README.md
Labels: Documentation

#1034 Fixed store get attribute raw value
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: Component: Catalog, bug

#1018 Add runtime cache in one more place in Zend_Data
  lib/Zend/Locale/Data.php
Labels: Component: lib/Zend, enhancement

#1052 Updated maintainers
  README.md
  composer.json
Labels: Documentation

#1058 Fix static tests forPHP 7.4
  app/code/core/Mage/Eav/Model/Entity/Increment/Alphanum.php
  app/code/core/Mage/Eav/Model/Entity/Setup.php
  lib/Net/IDNA2.php
Labels: PHP7.4

#1060 Apply SUPEE-11346 patch
  app/code/core/Mage/Adminhtml/Block/Widget/Form.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/AttributeController.php
  app/code/core/Mage/Eav/Model/Attribute.php
Labels: Component: Adminhtml, Component: Eav, SUPEE, patch

#1046 Rename Magento Admin to OpenMage Admin
  app/code/core/Mage/Adminhtml/etc/adminhtml.xml
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/locale/en_US/Mage_Adminhtml_LTS.csv
  downloader/template/login.phtml
Labels: Rebranding

#1031 Ensure coupon code times_used decrements on cancel
  app/code/core/Mage/SalesRule/Model/Observer.php
  app/code/core/Mage/SalesRule/Model/Resource/Coupon/Usage.php
  app/code/core/Mage/SalesRule/etc/config.xml
Labels: Component: SalesRule, bug

#798 Mage_Core fix documentation
  app/Mage.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Config.php
Labels: Cleanup: DOC blocks, Component: Core, Mage.php

#1001 Removed php5 settings from .htaccess
  .htaccess
  .htaccess.sample
  media/.htaccess
Labels: Cleanup, Enough Reviews, PHP7, htaccess

#942 Cache all attribute options for display in layered navigation #943
  app/code/core/Mage/Eav/Model/Entity/Attribute/Source/Table.php
Labels: Component: Eav, Work in Progress, enhancement, performance

#742 Mage_Wishlist - DOC block update
  app/code/core/Mage/Wishlist/Block/Abstract.php
  app/code/core/Mage/Wishlist/Block/Customer/Sharing.php
  app/code/core/Mage/Wishlist/Block/Customer/Sidebar.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Column/Comment.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Options.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Items.php
  app/code/core/Mage/Wishlist/Block/Item/Configure.php
  app/code/core/Mage/Wishlist/Block/Links.php
  app/code/core/Mage/Wishlist/Block/Render/Item/Price.php
  app/code/core/Mage/Wishlist/Block/Share/Email/Rss.php
  app/code/core/Mage/Wishlist/Controller/Abstract.php
  app/code/core/Mage/Wishlist/Helper/Data.php
  app/code/core/Mage/Wishlist/Model/Config/Source/Summary.php
  app/code/core/Mage/Wishlist/Model/Item.php
  app/code/core/Mage/Wishlist/Model/Item/Option.php
  app/code/core/Mage/Wishlist/Model/Observer.php
  app/code/core/Mage/Wishlist/Model/Resource/Item/Collection.php
  app/code/core/Mage/Wishlist/Model/Resource/Item/Option/Collection.php
  app/code/core/Mage/Wishlist/Model/Resource/Product/Collection.php
  app/code/core/Mage/Wishlist/Model/Resource/Wishlist.php
  app/code/core/Mage/Wishlist/Model/Resource/Wishlist/Collection.php
  app/code/core/Mage/Wishlist/Model/Session.php
  app/code/core/Mage/Wishlist/Model/Wishlist.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
  app/code/core/Mage/Wishlist/controllers/SharedController.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/install-1.6.0.0.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.2-0.7.4.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.7-0.7.8.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-0.7.8-0.7.9.php
  app/code/core/Mage/Wishlist/sql/wishlist_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Component: Wishlist

#743 Mage_Widget - DOC block update
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Chooser.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Form.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Chooser/Block.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Chooser/Layout.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Chooser/Template.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Form.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main/Layout.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Properties.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Settings.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Grid.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Options.php
  app/code/core/Mage/Widget/Model/Observer.php
  app/code/core/Mage/Widget/Model/Resource/Widget.php
  app/code/core/Mage/Widget/Model/Resource/Widget/Instance.php
  app/code/core/Mage/Widget/Model/Widget.php
  app/code/core/Mage/Widget/Model/Widget/Config.php
  app/code/core/Mage/Widget/Model/Widget/Instance.php
  app/code/core/Mage/Widget/controllers/Adminhtml/Widget/InstanceController.php
  app/code/core/Mage/Widget/sql/widget_setup/install-1.6.0.0.php
  app/code/core/Mage/Widget/sql/widget_setup/mysql4-install-1.4.0.0.0.php
  app/code/core/Mage/Widget/sql/widget_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Component: Widget

#744 Mage_Weee - DOC block update
  app/code/core/Mage/Weee/Block/Renderer/Weee/Tax.php
  app/code/core/Mage/Weee/Helper/Data.php
  app/code/core/Mage/Weee/Model/Attribute/Backend/Weee/Tax.php
  app/code/core/Mage/Weee/Model/Config/Source/Display.php
  app/code/core/Mage/Weee/Model/Config/Source/Fpt/Tax.php
  app/code/core/Mage/Weee/Model/Observer.php
  app/code/core/Mage/Weee/Model/Resource/Attribute/Backend/Weee/Tax.php
  app/code/core/Mage/Weee/Model/Resource/Tax.php
  app/code/core/Mage/Weee/Model/Tax.php
  app/code/core/Mage/Weee/Model/Total/Creditmemo/Weee.php
  app/code/core/Mage/Weee/Model/Total/Invoice/Weee.php
  app/code/core/Mage/Weee/Model/Total/Quote/Weee.php
  app/code/core/Mage/Weee/sql/weee_setup/install-1.6.0.0.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-install-0.1.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.1-0.2.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.10-0.11.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.11-0.12.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.12-0.13.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.2-0.3.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.3-0.4.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.4-0.5.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.5-0.6.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.6-0.7.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.7-0.8.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.8-0.9.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-0.9-0.10.php
  app/code/core/Mage/Weee/sql/weee_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Component: Weee

#754 Mage_Review - DOC block update
  app/code/core/Mage/Review/Block/Customer/List.php
  app/code/core/Mage/Review/Block/Customer/Recent.php
  app/code/core/Mage/Review/Block/Customer/View.php
  app/code/core/Mage/Review/Block/Form.php
  app/code/core/Mage/Review/Block/Helper.php
  app/code/core/Mage/Review/Block/Product/View.php
  app/code/core/Mage/Review/Block/Product/View/List.php
  app/code/core/Mage/Review/Block/View.php
  app/code/core/Mage/Review/Helper/Data.php
  app/code/core/Mage/Review/Model/Observer.php
  app/code/core/Mage/Review/Model/Resource/Review.php
  app/code/core/Mage/Review/Model/Resource/Review/Collection.php
  app/code/core/Mage/Review/Model/Resource/Review/Product/Collection.php
  app/code/core/Mage/Review/Model/Resource/Review/Summary.php
  app/code/core/Mage/Review/Model/Resource/Review/Summary/Collection.php
  app/code/core/Mage/Review/Model/Review.php
  app/code/core/Mage/Review/Model/Review/Summary.php
  app/code/core/Mage/Review/Model/Session.php
  app/code/core/Mage/Review/controllers/ProductController.php
  app/code/core/Mage/Review/data/review_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Review/sql/review_setup/install-1.6.0.0.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/Review/sql/review_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Component: Review

#747 Mage_Sitemap - DOC block update
  app/code/core/Mage/Sitemap/Model/Mysql4/Sitemap/Collection.php
  app/code/core/Mage/Sitemap/Model/Observer.php
  app/code/core/Mage/Sitemap/Model/Resource/Catalog/Abstract.php
  app/code/core/Mage/Sitemap/Model/Resource/Catalog/Category.php
  app/code/core/Mage/Sitemap/Model/Resource/Catalog/Product.php
  app/code/core/Mage/Sitemap/Model/Resource/Cms/Page.php
  app/code/core/Mage/Sitemap/Model/Sitemap.php
  app/code/core/Mage/Sitemap/sql/sitemap_setup/install-1.6.0.0.php
  app/code/core/Mage/Sitemap/sql/sitemap_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Sitemap/sql/sitemap_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Sitemap/sql/sitemap_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Sitemap/sql/sitemap_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
Labels: Cleanup: DOC blocks, Component: Sitemap

#753 Mage_Rule - DOC block update
  app/code/core/Mage/Rule/Block/Actions.php
  app/code/core/Mage/Rule/Block/Conditions.php
  app/code/core/Mage/Rule/Block/Editable.php
  app/code/core/Mage/Rule/Block/Newchild.php
  app/code/core/Mage/Rule/Model/Abstract.php
  app/code/core/Mage/Rule/Model/Action/Abstract.php
  app/code/core/Mage/Rule/Model/Action/Collection.php
  app/code/core/Mage/Rule/Model/Condition/Abstract.php
  app/code/core/Mage/Rule/Model/Condition/Combine.php
  app/code/core/Mage/Rule/Model/Condition/Product/Abstract.php
  app/code/core/Mage/Rule/Model/Environment.php
  app/code/core/Mage/Rule/Model/Renderer/Actions.php
  app/code/core/Mage/Rule/Model/Renderer/Conditions.php
  app/code/core/Mage/Rule/Model/Resource/Abstract.php
  app/code/core/Mage/Rule/Model/Resource/Rule/Collection/Abstract.php
Labels: Cleanup: DOC blocks, Component: Rule

#750 Mage_SalesRule - DOC block update
  app/code/core/Mage/SalesRule/Exception.php
  app/code/core/Mage/SalesRule/Helper/Data.php
  app/code/core/Mage/SalesRule/Model/Coupon.php
  app/code/core/Mage/SalesRule/Model/Coupon/Codegenerator.php
  app/code/core/Mage/SalesRule/Model/Coupon/Massgenerator.php
  app/code/core/Mage/SalesRule/Model/Observer.php
  app/code/core/Mage/SalesRule/Model/Quote/Discount.php
  app/code/core/Mage/SalesRule/Model/Quote/Freeshipping.php
  app/code/core/Mage/SalesRule/Model/Resource/Coupon.php
  app/code/core/Mage/SalesRule/Model/Resource/Coupon/Usage.php
  app/code/core/Mage/SalesRule/Model/Resource/Report/Collection.php
  app/code/core/Mage/SalesRule/Model/Resource/Report/Updatedat/Collection.php
  app/code/core/Mage/SalesRule/Model/Resource/Rule.php
  app/code/core/Mage/SalesRule/Model/Resource/Rule/Collection.php
  app/code/core/Mage/SalesRule/Model/Rule.php
  app/code/core/Mage/SalesRule/Model/Rule/Action/Collection.php
  app/code/core/Mage/SalesRule/Model/Rule/Action/Product.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Address.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Combine.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Combine.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Found.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Subselect.php
  app/code/core/Mage/SalesRule/Model/Rule/Customer.php
  app/code/core/Mage/SalesRule/Model/Rule/Product.php
  app/code/core/Mage/SalesRule/Model/Validator.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/install-1.6.0.0.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-install-1.4.0.0.0.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.10-0.7.11.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.11-0.7.12.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.7-0.7.8.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.8-0.7.9.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-0.7.9-0.7.10.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.0-1.4.0.0.1.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.1-1.4.0.0.2.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.2-1.4.0.0.3.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.3-1.4.0.0.4.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.4-1.4.0.0.5.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.4.0.0.5-1.4.0.0.6.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/upgrade-1.6.0.0-1.6.0.1.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/upgrade-1.6.0.1-1.6.0.2.php
  app/code/core/Mage/SalesRule/sql/salesrule_setup/upgrade-1.6.0.2-1.6.0.3.php
Labels: Cleanup: DOC blocks, Component: SalesRule

#762 Mage_Page - DOC block update
  app/code/core/Mage/Page/Block/Html.php
  app/code/core/Mage/Page/Block/Html/Breadcrumbs.php
  app/code/core/Mage/Page/Block/Html/Footer.php
  app/code/core/Mage/Page/Block/Html/Head.php
  app/code/core/Mage/Page/Block/Html/Header.php
  app/code/core/Mage/Page/Block/Html/Pager.php
  app/code/core/Mage/Page/Block/Html/Toplinks.php
  app/code/core/Mage/Page/Block/Html/Topmenu.php
  app/code/core/Mage/Page/Block/Html/Topmenu/Renderer.php
  app/code/core/Mage/Page/Block/Html/Welcome.php
  app/code/core/Mage/Page/Block/Html/Wrapper.php
  app/code/core/Mage/Page/Block/Redirect.php
  app/code/core/Mage/Page/Block/Switch.php
  app/code/core/Mage/Page/Block/Template/Container.php
  app/code/core/Mage/Page/Block/Template/Links.php
  app/code/core/Mage/Page/Block/Template/Links/Block.php
  app/code/core/Mage/Page/Helper/Layout.php
  app/code/core/Mage/Page/Model/Config.php
  app/code/core/Mage/Page/Model/Source/Layout.php
Labels: Cleanup: DOC blocks, Component: Page

#764 Mage_Oauth - mini DOC block update
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Admin/Token/Grid.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/AuthorizedTokens.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/AuthorizedTokens/Grid.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer/Edit.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer/Edit/Form.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer/Grid.php
  app/code/core/Mage/Oauth/Block/Authorize.php
  app/code/core/Mage/Oauth/Block/Authorize/Abstract.php
  app/code/core/Mage/Oauth/Block/AuthorizeBaseAbstract.php
  app/code/core/Mage/Oauth/Block/Customer/Token/List.php
  app/code/core/Mage/Oauth/Helper/Data.php
  app/code/core/Mage/Oauth/Model/Consumer.php
  app/code/core/Mage/Oauth/Model/Consumer/Validator/KeyLength.php
  app/code/core/Mage/Oauth/Model/Nonce.php
  app/code/core/Mage/Oauth/Model/Observer.php
  app/code/core/Mage/Oauth/Model/Resource/Nonce.php
  app/code/core/Mage/Oauth/Model/Resource/Token.php
  app/code/core/Mage/Oauth/Model/Resource/Token/Collection.php
  app/code/core/Mage/Oauth/Model/Server.php
  app/code/core/Mage/Oauth/Model/Token.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/Admin/TokenController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizeController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizedTokensController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/ConsumerController.php
  app/code/core/Mage/Oauth/controllers/AuthorizeController.php
  app/code/core/Mage/Oauth/controllers/Customer/TokenController.php
  app/code/core/Mage/Oauth/controllers/InitiateController.php
  app/code/core/Mage/Oauth/controllers/TokenController.php
  app/code/core/Mage/Oauth/sql/oauth_setup/install-1.0.0.0.php
Labels: Cleanup: DOC blocks, Component: Oauth

#1067 Remove unneeded docblock method definition
  app/code/core/Mage/Core/Block/Abstract.php
Labels: Cleanup: DOC blocks, Component: Core
