Repository OpenMage/magento-lts, pull requests merged in 2021-04, with the labels that each got.

#1502 Remove Deprecated _afterSaveCommit from Mage_Core_Model_Abstract
  app/code/core/Mage/Core/Model/Abstract.php
Labels: Component: Core

#1455 Massaction items - removed unused switch
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Item.php
Labels: Component: Adminhtml

#1467 _exportIterateCollection performance optimization
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml, performance

#1454 Fix doc getCountry - returning string instead of int
  app/code/core/Mage/Customer/Model/Address/Abstract.php
Labels: Component: Customer

#1540 Update App.php
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core

#1531 Throwing Exception when column not exists in resource model
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
Labels: Component: Core

#1391 Fixes core and lib issues for PHP 8.0 compatibility
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Admin/Page.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  lib/Mage/Cache/Backend/File.php
  lib/Zend/Config/Yaml.php
  lib/Zend/Feed/Element.php
  lib/Zend/Http/UserAgent/Features/Adapter/TeraWurfl.php
  lib/Zend/Xml/Security.php
  lib/Zend/XmlRpc/Value.php
Labels: Component: Adminhtml, Component: Catalog, Component: lib/*, Component: lib/Mage, Component: lib/Zend, PHP8

#1552 Revert update to Prototype serialize method that breaks OpenMage functionality. Fixes #1549
  js/prototype/prototype.js
Labels: Javascript

#1536 Remove hints
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Form.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher/Form/Renderer/Fieldset.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher/Form/Renderer/Fieldset/Element.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Switcher.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Adminhtml/Helper/Data.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/design/adminhtml/default/default/template/catalog/product/edit/websites.phtml
  app/design/adminhtml/default/default/template/dashboard/store/switcher.phtml
  app/design/adminhtml/default/default/template/newsletter/preview/store.phtml
  app/design/adminhtml/default/default/template/page/menu.phtml
  app/design/adminhtml/default/default/template/report/store/switcher.phtml
  app/design/adminhtml/default/default/template/report/store/switcher/enhanced.phtml
  app/design/adminhtml/default/default/template/sales/order/create/store/select.phtml
  app/design/adminhtml/default/default/template/store/switcher.phtml
  app/design/adminhtml/default/default/template/store/switcher/enhanced.phtml
  app/design/adminhtml/default/default/template/store/switcher/form/renderer/fieldset.phtml
  app/design/adminhtml/default/default/template/store/switcher/form/renderer/fieldset/element.phtml
  app/design/adminhtml/default/default/template/system/config/switcher.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Adminhtml, Component: Catalog, Component: Newsletter, Component: Page, Component: Reports, Component: Sales, Template : admin, Translations

#1202 Fix #1190 - Fix the "$_FILES array is empty" exception when assiging products to a category or creating a category with the XMLRPC-API
  app/code/core/Mage/Catalog/Model/Category/Attribute/Backend/Image.php
Labels: Component: Catalog

#1227 modified nav-bar padding to prevent the search box hiding menu items
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/scss/menu.scss
Labels: Component: Adminhtml, Template : admin, bug

#1326 Fix notice when there are no sales rules for a given situation
  app/code/core/Mage/SalesRule/Model/Validator.php
Labels: Component: SalesRule

#1443 Log Exception the right way in Session, no need for custom message formatting anymore
  app/code/core/Mage/Core/Model/Session/Abstract.php
Labels: Component: Core

#1505 Fix the deprecation problem of idn_to_ascii() since php7.2
  app/code/core/Zend/Validate/Hostname.php
Labels: Component: lib/Zend

#1484 Fix unserialization error when saving dataflow advanced profile.
  app/code/core/Mage/Dataflow/Model/Profile.php
Labels: Component: Dataflow

#1567 Fixed incorrect regex in Varien_Object _underscore()
  lib/Varien/Object.php
Labels: Component: lib/*, Component: lib/Varien, backwards compatibility

#1483 Mage_Core_Model_Abstract: Fix rollback when Throwable is thrown in save/delete method
  app/code/core/Mage/Core/Model/Abstract.php
Labels: Component: Core

#1466 Improve error message of product required option by including option …
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Date.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Default.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Select.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Text.php
  app/locale/en_US/Mage_Catalog.csv
Labels: Component: Catalog, Translations

#1577 Code style (endif and break)
  app/design/adminhtml/default/default/template/giftmessage/helper.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
  app/design/frontend/base/default/template/giftmessage/inline.phtml
Labels: Component: Adminhtml, Component: Giftmessage, Component: Page, Template : admin, Template : base

#1575 Product qty is incremented when comment is added on a Credit Memo from SOAP API v2
  app/code/core/Mage/Sales/Model/Order/Creditmemo/Api.php
Labels: Component: Sales

#1557 Mark invoice as last when dummy items included
  app/code/core/Mage/Sales/Model/Order/Invoice.php
Labels: Component: Sales

#1544 Prevent backend_type from being changed automatically on attribute save without the admin realizing
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/AttributeController.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Api.php
Labels: Component: Adminhtml, Component: Catalog

#1555 Performance improvement for catalog product images
  app/code/core/Mage/Catalog/Model/Product/Image.php
Labels: Component: Catalog, performance

#1554 Fix Coments in .htaccess
  .htaccess
Labels: htaccess
