Repository OpenMage/magento-lts, pull requests merged in 2021-11, with the labels that each got.

#1875 Add phpstan configuration, dependencies and github action
  .github/phpstan.neon
  .github/phpstan_experimental_level.neon
  .github/workflows/static-code-analyses.yml
  app/code/core/Mage/Admin/Model/Observer.php
  composer.json
Labels: Environment, Component: Admin, composer

#1878 Add `Mage_Index` helpers declaration to `config.xml`
  app/code/core/Mage/Index/etc/config.xml
Labels: Component: Index

#1867 API: _getLocation - removed unused argument; fix phpdoc
  app/code/core/Mage/Catalog/Model/Api2/Product/Website/Rest.php
Labels: Component: Catalog, hacktoberfest-accepted

#1856 Grid page size: replaced similar lines to foreach
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/design/adminhtml/default/default/template/widget/grid.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget, hacktoberfest-accepted

#1861 Fix exception handling on Observer call when class not found
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core

#1159 Fixes catalog pricerules with dates in conditions, closes #433
  app/code/core/Mage/CatalogRule/Model/Rule/Condition/Product.php
Labels: bug, Component: CatalogRule

#1758 Zend_Locale_Format::isNumber throws notice for float values
  app/code/core/Mage/Wishlist/Controller/Abstract.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
Labels: PHP7.4, Component: Wishlist

#1805 Update PayPal currencies and countries
  app/code/core/Mage/Paypal/Model/Config.php
Labels: Component: PayPal

#1829 Aggregate most viewed products report daily via a Cron job
  app/code/core/Mage/Reports/Model/Observer.php
  app/code/core/Mage/Reports/etc/config.xml
Labels: Component: Reports

#1883 extend php Syntax check to php 8.1
  .github/workflows/static-code-analyses.yml
Labels: Environment
