Repository OpenMage/magento-lts, pull requests merged in 2021-12, with the labels that each got.

#1890 Fix incompatible declaration error
  app/code/core/Mage/Catalog/Model/Product/Option/Api/V2.php
Labels: Component: Catalog

#1873 Zend registry - removed method offset exists (using parental)
  lib/Zend/Registry.php
Labels: Environment, Component: lib/Zend, Mage.php, Component: Index, Component: lib/*, composer, hacktoberfest-accepted

#1891 PHP 8.1 Fix deprecation notice in mcryptcompat lib
  lib/mcryptcompat/mcrypt.php
Labels: Component: lib/*

#1896 Bugfix #1885 - Add to cart only accepts 1 item
  lib/Zend/Locale/Data/es_419.xml
Labels: Component: lib/Zend, Component: lib/*

#1769 Array to string conversion when adding reviews from backend
  app/code/core/Mage/Adminhtml/Block/Review/Product/Grid.php
Labels: Component: Adminhtml

#1816 Update phpdoc in Collection.php
  lib/Varien/Data/Collection.php
Labels: Component: lib/Varien, Component: lib/*

#1901 Fix syntax in lib/Zend/Locale/Data/es_419.xml
  lib/Zend/Locale/Data/es_419.xml
Labels: Component: lib/Zend, Component: lib/*

#1852 make fulltext search separator (OR/AND) configurable from backend
  README.md
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Catalog/Search/Separator.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Catalog/Search/Separator.php
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/CatalogSearch/Model/Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
  app/code/core/Mage/CatalogSearch/etc/config.xml
  app/code/core/Mage/CatalogSearch/etc/system.xml
Labels: enhancement, Documentation, Component: Catalog, Component: Adminhtml, Component: CatalogSearch

#1914 Revert of Mage_Adminhtml_Block_Widget_Grid::_exportIterateCollection
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: bug, Component: Adminhtml

#1926 demo.html is an unnecessary file
  js/jscolor/demo.html
Labels: Javascript

#1898 Revert #1355 for transactional email
  app/code/core/Mage/Adminhtml/Model/Email/Template.php
Labels: Component: Adminhtml

#1925 Sort ascending CMS Block list in Categories
  app/code/core/Mage/Catalog/Model/Category/Attribute/Source/Page.php
Labels: Component: Catalog

#1938 [PHP 8.0] Refactor legacy usage of implode in `Mage_Api2`
  app/code/core/Mage/Api2/Model/Renderer/Xml.php
Labels: Component: Api2

#1936 Initialize Api2 Fields validator's required fields array
  app/code/core/Mage/Api2/Model/Resource/Validator/Fields.php
Labels: Component: Api2

#1920 No alt tag value in Recently Viewed Products side block
  app/design/frontend/rwd/default/template/reports/product_viewed.phtml
Labels: Component: Reports, Template : rwd
