Repository OpenMage/magento-lts, pull requests merged in 2021-08, with the labels that each got.

#1676 Add OpenMage version to API 'magento.info'.
  app/code/core/Mage/Core/Model/Magento/Api.php
Labels: Component: Core

#1525 Fixed incorrect datetime in block.
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Helper/Data.php
Labels: Component: Adminhtml, Component: Core

#1760 Update contributors list
  .all-contributorsrc
  README.md
Labels: Documentation

#1770 Add int casting in getLogCleanTime
  app/code/core/Mage/Log/Model/Log.php
Labels: Component: Log
