Repository OpenMage/magento-lts, pull requests merged in 2021-01, with the labels that each got.

#1337 Allow rewrite of Mage_Core_Model_File_Validator_Image
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Image.php
  app/code/core/Mage/Catalog/Model/Category/Attribute/Backend/Image.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Image.php
Labels: Component: Adminhtml, Component: Catalog, New Feature

#1086 Allow debug in admin
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/locale/en_US/Mage_Core_LTS.csv
Labels: Component: Core, New Feature, Translations, enhancement

#1378 Declare two variables
  app/code/core/Mage/Usa/sql/usa_setup/upgrade-1.6.0.0-1.6.0.1.php
  app/code/core/Mage/Usa/sql/usa_setup/upgrade-1.6.0.1-1.6.0.2.php
Labels: Cleanup, Component: Usa

#1330 Allow min pass length to 5 during login
  app/design/frontend/base/default/template/customer/form/login.phtml
  app/design/frontend/base/default/template/oauth/authorize/form/login.phtml
  app/design/frontend/default/iphone/template/customer/form/login.phtml
  app/design/frontend/default/iphone/template/persistent/customer/form/login.phtml
Labels: Component: Customer, Component: Oauth, Component: Persistant, Template : base, Template : default

#1373 Removed 2 unneeded function calls. Local var is already there.
  app/code/core/Mage/Sales/Model/Quote/Item.php
Labels: Component: Sales, enhancement

#1390 Fix class name and filename for case sensitive filesystems
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Cookie/Samesite.php
Labels: Component: Adminhtml, bug

#1336 Fix getId() on bool when primary billing address is null
  app/code/core/Mage/Customer/Model/Customer.php
Labels: Component: Customer, bug

#1370 Fixed adminhtml boxes.css fieldset-wide for note.
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin

#1168 New event "adminhtml_sales_order_create_save_before" when editing an order.
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
Labels: Component: Adminhtml, New Feature

#1393 Fixes PHP7.4 deprecated nested ternary operators
  lib/Zend/Service/Console/Command.php
Labels: Component: lib/*, Component: lib/Zend, PHP7.4

#1403 TypeError: round(): Argument #1 ($num) must be of type int|float
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Paypal/Model/Payflowpro.php
  app/code/core/Mage/Usa/Block/Adminhtml/Dhl/Unitofmeasure.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/International.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Usps.php
  lib/Zend/Db/Profiler/Firebug.php
  lib/Zend/Locale/Format.php
  lib/Zend/Locale/Math.php
Labels: Component: Core, Component: PayPal, Component: Usa, Component: lib/*, Component: lib/Zend, PHP8

#1248 mark trigger_recollect before collectTotals
  app/code/core/Mage/Sales/Model/Quote.php
Labels: Component: Sales

#1418 Fix regression in configuration scope code. Refs #1417
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
Labels: Component: Adminhtml, bug

#1281 remove-reference-to-magentocommerce
  app/code/core/Mage/Paypal/etc/system.xml
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.6.2-0.7.0.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.8.3-0.8.4.php
  app/design/install/default/default/template/install/state.phtml
  app/locale/en_US/Mage_Paypal.csv
  app/locale/en_US/Mage_XmlConnect.csv
  get.php
  index.php
  index.php.sample
Labels: Component: PayPal, Component: Sales, Rebranding, Template : install, Translations, hacktoberfest
