Repository OpenMage/magento-lts, pull requests merged in 2021-09, with the labels that each got.

#1784 Add field info to exception when thrown in saving System Configuration.
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
Labels: Component: Adminhtml

#1728 Fix Tax Rule name update
  app/code/core/Mage/Adminhtml/controllers/Tax/RuleController.php
Labels: Component: Adminhtml

#1259 Fixed method addExpressionFieldToSelect to use Zend_Db_Expr
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
Labels: Component: Core, hacktoberfest-accepted

#1803 enable programmatic creation of reviews for specific users
  app/code/core/Mage/Rating/Model/Rating.php
  app/code/core/Mage/Rating/Model/Resource/Rating/Option.php
Labels: Component: Rating

#1828 API fix option labels for store view
  app/code/core/Mage/Catalog/Model/Product/Attribute/Api.php
Labels: Component: Catalog

#1779 Fix newsletter subcriber loading by customer
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber.php
Labels: Component: Newsletter

#927 Fix file delete of customer attribute
  app/code/core/Mage/Eav/Model/Attribute/Data/File.php
Labels: bug, Component: Eav
