Repository OpenMage/magento-lts, pull requests merged in 2021-06, with the labels that each got.

#1674 Resolves the PHP 7 error: Declaration of Mage_Tag_Model_Api_V2::items...
  app/code/core/Mage/Tag/Model/Api/V2.php
Labels: Component: Tag, PHP7.4, PHP8

#1478 make composer validation workflow use --strict
  .github/workflows/php.yml
Labels: Environment

#1687 Removed phpdoc to parent doc take effect
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
Labels: Cleanup: DOC blocks, Component: Catalog

#1698 Do not load product when it is already loaded
  app/code/core/Mage/Review/Block/Form.php
Labels: Component: Review
