Repository OpenMage/magento-lts, pull requests merged in 2021-07, with the labels that each got.

#1715 Fix as attribute for cookie notice
  app/design/frontend/base/default/layout/page.xml
Labels: Component: Page, Template : base, XML Layout

#1402 fix ArgumentCountError: array_merge_recursive()
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
Labels: Component: ConfigurableSwatches, PHP8

#1713 Fix retrun type of getColumn in Column_Renderer_Interface
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Interface.php
Labels: Cleanup: DOC blocks, Component: Adminhtml

#1254 Fix undefined offset on redis session
  app/code/community/Cm/RedisSession/Model/Session.php
Labels: Component: Cm/RedisSession

#1692 Add events list
  EVENTS.md
  README.md
Labels: Documentation

#1670 Updated new events in README.md.
  README.md
Labels: Documentation

#1689 Fixed phpdoc of Mage_Core_Model_Resource_Db_Collection_Abstract::addExpressionFieldToSelect
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
Labels: Cleanup: DOC blocks, Component: Core

#1665 Removed deprecated flash js (AC_RunActiveContent.js)
  js/flash/AC_RunActiveContent.js
Labels: Javascript

#1718 Handle empty Order increment prefix
  app/code/core/Mage/Eav/Model/Entity/Increment/Numeric.php
Labels: Component: Eav

#1684 Enforce specific PNG compression level of 9
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: lib/*, Component: lib/Varien

#1637 Grid range filter - optimize SQL query when from === to
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Range.php
Labels: Component: Adminhtml

#1720 rewrite isTableExists for performance reasons
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: lib/*, Component: lib/Varien, Enough Reviews

#1733 fixes regression introduced by PR 1720
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: lib/*, Component: lib/Varien

#1735 Fixed origData is empty in a quote
  app/code/core/Mage/Sales/Model/Quote.php
Labels: Component: Sales

#1746 Fixed phpdoc of Varien_Data_Collection_Db::getSelectSql
  lib/Varien/Data/Collection/Db.php
Labels: Component: lib/*, Component: lib/Varien

#1755 removed space after "To" in backend grids
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Price.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Range.php
Labels: Component: Adminhtml

#1725 Log exception on api
  app/code/core/Mage/Catalog/Model/Api2/Product/Category/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Website/Rest.php
  app/code/core/Mage/CatalogInventory/Model/Api2/Stock/Item/Rest.php
  app/code/core/Mage/Customer/Model/Api2/Customer/Address/Rest.php
  app/code/core/Mage/Customer/Model/Api2/Customer/Rest.php
  app/code/core/Mage/Customer/Model/Api2/Customer/Rest/Admin/V1.php
Labels: Component: Catalog, Component: CatalogInventory, Component: Customer

#1701 Code style (endif)
  app/design/adminhtml/default/default/template/catalog/product/price.phtml
  app/design/adminhtml/default/default/template/paypal/system/config/fieldset/hint.phtml
  app/design/adminhtml/default/default/template/sales/order/create/form/address.phtml
  app/design/adminhtml/default/default/template/sales/order/creditmemo/create/form.phtml
  app/design/adminhtml/default/default/template/sales/order/totals.phtml
  app/design/adminhtml/default/default/template/system/convert/profile/run.phtml
  app/design/frontend/base/default/template/bundle/sales/order/creditmemo/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/invoice/items/renderer.phtml
  app/design/frontend/base/default/template/catalog/product/price.phtml
  app/design/frontend/base/default/template/catalog/rss/product/price.phtml
  app/design/frontend/base/default/template/checkout/onepage/agreements.phtml
  app/design/frontend/base/default/template/checkout/onepage/payment/methods.phtml
  app/design/frontend/base/default/template/sales/order/shipment/items.phtml
  app/design/frontend/default/iphone/template/catalog/product/price.phtml
  app/design/frontend/rwd/default/template/catalog/product/price.phtml
  app/design/frontend/rwd/default/template/checkout/cart/shipping.phtml
  app/design/frontend/rwd/default/template/configurableswatches/catalog/product/list/swatches.phtml
  app/design/frontend/rwd/default/template/sales/order/shipment/items.phtml
Labels: Component: Adminhtml, Component: Bundle, Component: Catalog, Component: Checkout, Component: PayPal, Component: Sales, Template : admin, Template : base, Template : default, Template : rwd

#1667 Removed orphan directory and code of compiler and downloder.
  app/code/core/Mage/Core/etc/config.xml
  includes/.htaccess
  includes/config.php
  index.php
  index.php.sample
Labels: Cleanup, Component: Core

#1594 Invalidate reset password token when user changes password.
  app/code/core/Mage/Customer/controllers/AccountController.php
Labels: Component: Customer

#1724 Add event sales_order_creditmemo_refund_before
  EVENTS.md
  app/code/core/Mage/Sales/Model/Order/Creditmemo.php
Labels: Component: Sales, Documentation

#1355 Removed unused variable
  app/code/core/Mage/Adminhtml/Model/Email/Template.php
Labels: Component: Adminhtml

#1262 Chore: Add instruction to add him-/herself to contributors list.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Environment, hacktoberfest, hacktoberfest-accepted

#1743 Fixed docblock in addStatusHistoryComment().
  app/code/core/Mage/Sales/Model/Order.php
Labels: Component: Sales

#574 Mark indexProcess as STATUS_REQUIRE_REINDEX; it is cleared after
  app/code/core/Mage/CatalogRule/Model/Rule.php
Labels: Component: CatalogRule, Review Needed, enhancement

#1197 Add redis, and specify in more details + add php7.4 mention
  README.md
Labels: Documentation

#1243 Added proof of stability stack
  README.md
Labels: Documentation

#1627 Fix README.md contributors badge
  README.md
Labels: Documentation

#1380 Add check to avoid js error
  js/mage/adminhtml/product/composite/configure.js
Labels: Component: Adminhtml, Javascript
