Repository OpenMage/magento-lts, pull requests merged in 2021-05, with the labels that each got.

#1571 Reduce getId calls
  app/code/core/Mage/ConfigurableSwatches/Helper/Mediafallback.php
Labels: Component: ConfigurableSwatches, performance

#1565 Log exceptions when generating images
  app/code/core/Mage/Catalog/Helper/Image.php
Labels: Component: Catalog

#1582 Reset array on product reset
  app/code/core/Mage/Catalog/Model/Product.php
Labels: Component: Catalog

#1598 fixed twitter share link, issue 1595
  app/design/frontend/rwd/default/template/catalog/product/view/sharing.phtml
Labels: Component: Catalog, Template : rwd

#1610 Reinstate getters and setters for $_pageHelpUrl which some third party modules still use
  app/code/core/Mage/Adminhtml/Helper/Data.php
Labels: Component: Adminhtml

#1591 removed magento logo in demo notice
  skin/frontend/rwd/default/css/styles-ie8.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/images/demo-logo.png
  skin/frontend/rwd/default/images/demo_logo.png
  skin/frontend/rwd/default/scss/core/_common.scss
Labels: Template : rwd

#1532 Possibility to disable global search in backend
  app/code/core/Mage/Adminhtml/controllers/IndexController.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/design/adminhtml/default/default/template/page/header.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
Labels: Component: Adminhtml, Component: Core, Component: Page, Template : admin

#1513 Add redis as a valid option for global/session_save
  app/code/community/Cm/RedisSession/etc/config.xml
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
  app/etc/local.xml.additional
  app/etc/modules/Cm_RedisSession.xml
Labels: Component: Cm/RedisSession, Component: Core

#1494 Update default USPS endpoint to HTTPS schema
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Usps.php
  app/code/core/Mage/Usa/etc/config.xml
Labels: Component: Usa

#1499 Set proper HTTP response code on error
  app/Mage.php
Labels: Mage.php

#1448 Remove _isDownloader flag
  app/Mage.php
Labels: Mage.php

#1534 Cleanup of getMimeType()
  lib/Varien/Image/Adapter/Abstract.php
Labels: Component: lib/*, Component: lib/Varien

#1384 Add icons in admin (icon-head)
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Accounts.php
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Orders.php
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Totals.php
  app/code/core/Mage/Adminhtml/Block/Report/Product.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Downloads.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Lowstock.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Ordered.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Sold.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Viewed.php
  app/code/core/Mage/Adminhtml/Block/Report/Refresh/Statistics.php
  app/code/core/Mage/Adminhtml/Block/Report/Review/Customer.php
  app/code/core/Mage/Adminhtml/Block/Report/Review/Detail.php
  app/code/core/Mage/Adminhtml/Block/Report/Review/Product.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Bestsellers.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Coupons.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Invoiced.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Refunded.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Sales.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Shipping.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Tax.php
  app/code/core/Mage/Adminhtml/Block/Report/Search.php
  app/code/core/Mage/Adminhtml/Block/Report/Shopcart/Abandoned.php
  app/code/core/Mage/Adminhtml/Block/Report/Shopcart/Customer.php
  app/code/core/Mage/Adminhtml/Block/Report/Shopcart/Product.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Customer.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Customer/Detail.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Popular.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Popular/Detail.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Product.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Product/Detail.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Newsletter.php
  app/code/core/Mage/Adminhtml/Block/Tag/Pending.php
  app/code/core/Mage/Adminhtml/Block/Urlrewrite/Edit.php
  app/code/core/Mage/Paypal/Block/Adminhtml/Settlement/Report.php
  app/design/adminhtml/default/default/template/newsletter/problem/list.phtml
  app/design/adminhtml/default/default/template/newsletter/queue/list.phtml
  app/design/adminhtml/default/default/template/newsletter/subscriber/list.phtml
  app/design/adminhtml/default/default/template/newsletter/template/edit.phtml
  app/design/adminhtml/default/default/template/newsletter/template/list.phtml
  app/design/adminhtml/default/default/template/report/refresh/statistics.phtml
  app/design/adminhtml/default/default/template/system/cache/additional.phtml
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/default/images/fam_magnifier.png
Labels: Component: Adminhtml, Component: Newsletter, Component: PayPal, Component: Reports, Template : admin

#1568 Fixes for #1564 and #1289
  app/code/core/Mage/Catalog/Model/Resource/Product/Compare/Item/Collection.php
  app/code/core/Mage/Checkout/etc/adminhtml.xml
  app/design/frontend/base/default/template/checkout/onepage/agreements.phtml
Labels: Component: Catalog, Component: Checkout, Template : base

#1593 fix documentation updateAttributeGroup()
  app/code/core/Mage/Eav/Model/Entity/Setup.php
Labels: Component: Eav

#640 Suggestion to add some logging if in error
  app/code/core/Mage/Paypal/Model/Api/Nvp.php
Labels: Component: PayPal, enhancement

#1169 #1167 - do not connect to write adapter when getting the read adapter
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
Labels: Component: Core

#1255 Change lowest PHP version to 7
  api.php
  app/code/core/Mage/Authorizenet/Model/Directpost/Request.php
  get.php
  index.php
  index.php.sample
  install.php
  lib/Mage/Archive/Tar.php
  lib/Varien/Simplexml/Element.php
  lib/Zend/Http/Client.php
  lib/Zend/Pdf/StringParser.php
Labels: Component: Authorizenet, Component: lib/*, Component: lib/Mage, Component: lib/Varien, Component: lib/Zend

#1616 Revert "cleanup - remove orphan js/jscolor/* from XmlConnect package (#1436)"
  js/jscolor/arrow.gif
  js/jscolor/cross.gif
  js/jscolor/demo.html
  js/jscolor/hs.png
  js/jscolor/hv.png
  js/jscolor/jscolor.js
Labels: Javascript

#1073 (BC) Removed IE compatibility
  app/code/core/Mage/Page/Block/Html/Head.php
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/layout/oauth.xml
  app/design/adminhtml/default/default/template/example.phtml
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  app/design/frontend/base/default/layout/page.xml
  app/design/frontend/base/default/template/checkout/cart.phtml
  app/design/frontend/base/default/template/page/html/head.phtml
  app/design/frontend/rwd/default/layout/page.xml
  app/design/frontend/rwd/default/template/checkout/cart.phtml
  app/design/frontend/rwd/default/template/page/1column.phtml
  app/design/frontend/rwd/default/template/page/2columns-left.phtml
  app/design/frontend/rwd/default/template/page/2columns-right.phtml
  app/design/frontend/rwd/default/template/page/3columns.phtml
  app/design/frontend/rwd/default/template/page/empty.phtml
  app/design/frontend/rwd/default/template/page/popup.phtml
  app/design/frontend/rwd/default/template/page/print.phtml
  app/design/install/default/default/template/page.phtml
  js/extjs/fix-defer-before.js
  js/lib/ds-sleight.js
  js/mage/adminhtml/wysiwyg/tiny_mce/themes/advanced/skins/default/dialog.css
  js/prototype/windows/themes/darkX.css
  js/prototype/windows/themes/iefix/iepngfix.css
  js/prototype/windows/themes/iefix/iepngfix.htc
  js/prototype/windows/themes/lighting.css
  js/prototype/windows/themes/mac_os_x.css
  js/prototype/windows/themes/mac_os_x_dialog.css
  js/prototype/windows/themes/nuncio.css
  js/varien/iehover-fix.js
  js/varien/js.js
  skin/adminhtml/default/default/below_ie7.css
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/default/ie7.css
  skin/adminhtml/default/default/iestyles.css
  skin/adminhtml/default/default/lib/prototype/windows/themes/magento.css
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Bold.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Light.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-Regular.eot
  skin/adminhtml/default/openmage/fonts/opensans/OpenSans-SemiBold.eot
  skin/adminhtml/default/openmage/lib/prototype/windows/themes/magento.css
  skin/adminhtml/default/openmage/login.css
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/scss/_fonts.scss
  skin/frontend/base/default/js/ie6.js
  skin/frontend/base/default/js/msrp.js
  skin/frontend/base/default/lib/prototype/windows/themes/magento.css
  skin/frontend/rwd/default/css/madisonisland-ie8.css
  skin/frontend/rwd/default/css/madisonisland.css
  skin/frontend/rwd/default/css/styles-ie8.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/madisonisland-ie8.scss
  skin/frontend/rwd/default/scss/styles-ie8.scss
  skin/install/default/default/css/ie7minus.css
  skin/install/default/default/css/iestyles.css
Labels: Component: Adminhtml, Component: Checkout, Component: Oauth, Component: Page, Component: PayPal, Javascript, Template : admin, Template : base, Template : install, Template : rwd, XML Layout

#1613 Fix getChildren must be compatible with SimpleXMLElement with PHP 8
  app/code/core/Mage/Api/Model/Wsdl/Config/Element.php
Labels: Component: Api, PHP8

#1392 Fix PHP8 Deprecated: Required parameter $A follows optional parameter
  app/code/core/Mage/Adminhtml/Block/Widget/Container.php
  app/code/core/Mage/Bundle/Model/Product/Price.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable/Price.php
  app/code/core/Mage/Catalog/Model/Product/Type/Grouped/Price.php
  app/code/core/Mage/Catalog/Model/Product/Type/Price.php
  app/code/core/Mage/Centinel/Model/Api/Client.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Downloadable/Model/Product/Price.php
  app/code/core/Mage/Eav/Model/Convert/Adapter/Entity.php
  app/code/core/Mage/Rule/Model/Resource/Abstract.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Tag/Model/Tag/Relation.php
  dev/tests/functional/tests/app/Mage/Adminhtml/Test/Block/Admin/Login.php
  lib/3Dsecure/CentinelClient.php
  lib/Varien/Data/Tree.php
  lib/Varien/Data/Tree/Db.php
  lib/Varien/Db/Tree/Node.php
Labels: Component: Adminhtml, Component: Bundle, Component: Catalog, Component: Centinel, Component: ConfigurableSwatches, Component: Core, Component: Downloadable, Component: Eav, Component: Rule, Component: Sales, Component: Tag, Component: lib/*, Component: lib/Varien, PHP8

#1183 Fixes cloning of a collection by also cloning the internal select object
  lib/Varien/Data/Collection/Db.php
Labels: Component: lib/*, Component: lib/Varien

#802 Fix widgets layout handle on edit
  app/design/adminhtml/default/default/template/widget/instance/edit/layout.phtml
Labels: Component: Adminhtml, Component: Widget, Template : admin

#1416 Page title for credit memo and shipment
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreditmemoController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Adminhtml, Translations, enhancement

#1644 Fix fatal error - getRegionCollection() - issue #713
  app/code/core/Mage/Directory/Helper/Data.php
Labels: Component: Directory

#1588 Update report.php
  errors/report.php
Labels: errors
