Repository OpenMage/magento-lts, pull requests merged in 2021-02, with the labels that each got.

#1429 Revert "Removed 2 unneeded function calls. Local var is already there."
  app/code/core/Mage/Sales/Model/Quote/Item.php
Labels: Component: Sales, bug

#1412 Update static-code-analyses.yml
  .github/workflows/static-code-analyses.yml
Labels: Environment

#1441 Fixed menu cursor
  skin/adminhtml/default/default/menu.css
Labels: Component: Adminhtml, Template : admin

#1160 Updated README.md, closes #985 #992
  LICENSE.html
  README.md
  composer.json
Labels: Documentation, composer

#1149 Suggestion to add some debugging to lockfile (to identify fileownersh…
  app/code/core/Mage/Index/Model/Lock.php
Labels: Component: Index, waiting for feedback

#1407 Reduced multiple dispatch events in login form for other themes.
  app/design/frontend/base/default/template/persistent/checkout/onepage/login.phtml
  app/design/frontend/default/iphone/template/persistent/checkout/onepage/login.phtml
Labels: Component: Persistant, Template : base, Template : default

#1459 make Mage::getOpenMageVersionInfo() more stable for the release process
  app/Mage.php
Labels: Mage.php

#1468 fix markup in README.md
  README.md
Labels: Documentation

#1436 Remove orphan js/jscolor
  js/jscolor/arrow.gif
  js/jscolor/cross.gif
  js/jscolor/demo.html
  js/jscolor/hs.png
  js/jscolor/hv.png
  js/jscolor/jscolor.js
Labels: Cleanup, Javascript

#1201 Fix wrong payment info template paths
  app/code/core/Mage/Payment/Block/Info.php
  app/code/core/Mage/Payment/Block/Info/Checkmo.php
  app/code/core/Mage/Payment/Block/Info/Purchaseorder.php
Labels: Component: Payment

#1439 Fixed syntax error ytheme-magento.css
  js/extjs/resources/css/ytheme-magento.css
Labels: Cleanup: Typos, Javascript

#1473 Fix integrity constraint violation when order is canceled
  app/code/core/Mage/SalesRule/Model/Observer.php
Labels: Component: SalesRule

#1424 Ascending alphabetical sort for Attribute Set Name
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Set/Main.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Set/Main/Formset.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Settings.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
Labels: Component: Adminhtml, enhancement

#1464 Updated composer.json branch alias
  composer.json
Labels: bug, composer

#1477 Remove invalid branch alias to make the branch importable on packagist.org
  composer.json
Labels: composer
