Repository OpenMage/magento-lts, pull requests merged in 2022-07, with the labels that each got.

#2256 Fixed documentation link for "store scope" in store switcher (backend)
  app/code/core/Mage/Adminhtml/etc/config.xml
Labels: Component: Adminhtml

#1269 Fix Varien_Io_File ignored errors with error control operator
  lib/Varien/Image/Adapter/Gd2.php
  lib/Varien/Io/File.php
Labels: hacktoberfest, Component: lib/Varien, Component: lib/*

#2243 Fix store id filter in `catalogProductList` SOAP method
  app/code/core/Mage/Catalog/Model/Product/Api.php
Labels: Component: Catalog

#2271 Removed lib/flex
  README.md
  lib/flex/uploader/uploader.mxml
  lib/flex/uploader/uploaderSingle.mxml
  lib/flex/varien/varien/upload/Uploader.as
  lib/flex/varien/varien/upload/UploaderEvent.as
  lib/flex/varien/varien/upload/UploaderSingle.as
Labels: documentation, Component: lib/*

#2296 Add `magento-composer-installer` to allowed plugins
  composer.json
Labels: composer

#2287 Fix editing special price in product mass attribute update
  js/prototype/validation.js
Labels: JavaScript

#2064 Added required PHP modules to composer.json
  composer.json
  composer.lock
Labels: composer

#2311 Include exception message when generating error report
  app/Mage.php
Labels: enhancement, Mage.php

#2242 Fix xml validation problems
  app/code/core/Mage/Api/Model/Wsdl/Config/Base.php
  app/code/core/Mage/Api/etc/wsdl.xml
  app/code/core/Mage/Api/etc/wsdl2.xml
  app/code/core/Mage/Api/etc/wsi.xml
  app/code/core/Mage/Catalog/etc/wsdl.xml
  app/code/core/Mage/Catalog/etc/wsi.xml
  app/code/core/Mage/CatalogInventory/etc/wsdl.xml
  app/code/core/Mage/CatalogInventory/etc/wsi.xml
  app/code/core/Mage/Checkout/etc/wsdl.xml
  app/code/core/Mage/Checkout/etc/wsi.xml
  app/code/core/Mage/Core/etc/wsdl.xml
  app/code/core/Mage/Core/etc/wsi.xml
  app/code/core/Mage/Customer/etc/wsdl.xml
  app/code/core/Mage/Customer/etc/wsi.xml
  app/code/core/Mage/Directory/etc/wsdl.xml
  app/code/core/Mage/Directory/etc/wsi.xml
  app/code/core/Mage/Downloadable/etc/wsdl.xml
  app/code/core/Mage/Downloadable/etc/wsi.xml
  app/code/core/Mage/GiftMessage/etc/wsdl.xml
  app/code/core/Mage/GiftMessage/etc/wsi.xml
  app/code/core/Mage/Sales/etc/wsdl.xml
  app/code/core/Mage/Sales/etc/wsi.xml
  app/code/core/Mage/Tag/etc/wsdl.xml
  app/code/core/Mage/Tag/etc/wsi.xml
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Customer, Component: Api, Component: Tag, Component: Downloadable, Component: Directory

#2091 Fix argument must contain at least one element
  app/code/core/Mage/Bundle/Model/Product/Price.php
Labels: Component: Bundle

#2315 Order add comment functionality in REST API
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest.php
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest/Admin/V1.php
  app/code/core/Mage/Sales/etc/api2.xml
Labels: new feature, Component: Sales

#2314 XML validation workflow
  .github/workflows/xml_validate.yml
Labels: environment

#2258 Removed module Mage_PageCache
  .github/phpstan.neon
  README.md
  app/code/core/Mage/PageCache/Block/Adminhtml/Cache/Additional.php
  app/code/core/Mage/PageCache/Helper/Data.php
  app/code/core/Mage/PageCache/Model/Control/Interface.php
  app/code/core/Mage/PageCache/Model/Control/Zend.php
  app/code/core/Mage/PageCache/Model/Observer.php
  app/code/core/Mage/PageCache/Model/System/Config/Source/Controls.php
  app/code/core/Mage/PageCache/controllers/Adminhtml/PageCacheController.php
  app/code/core/Mage/PageCache/etc/adminhtml.xml
  app/code/core/Mage/PageCache/etc/config.xml
  app/code/core/Mage/PageCache/etc/system.xml
  app/design/adminhtml/default/default/layout/pagecache.xml
  app/design/adminhtml/default/default/template/pagecache/cache/additional.phtml
  app/design/frontend/base/default/layout/pagecache.xml
  app/design/frontend/base/default/template/pagecache/cookie.phtml
  app/etc/modules/Mage_PageCache.xml
  app/locale/en_US/Mage_PageCache.csv
Labels: documentation, environment, Template : admin, Template : base, Component: Adminhtml, Component: PageCache, translations, XML Layout

#2320 Fix phpdoc for saveAttribute()
  .github/phpstan-baseline.neon
  app/code/core/Mage/Sales/Model/Resource/Order/Abstract.php
Labels: environment, Component: Sales

#2074 Add a message calling for an end to the Russian invasion of Ukraine
  README.md
  app/design/adminhtml/default/default/template/notification/toolbar.phtml
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/default/images/flag-ua.svg
Labels: documentation, Template : admin, Component: Adminhtml

#2319 Mage Factory Methods: Direct "_registry" Access Without Method Call
  app/Mage.php
Labels: Mage.php

#2318 Fixes a notice
  app/code/core/Mage/Checkout/Model/Type/Onepage.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
Labels: Component: Core, Component: Checkout

#2338 Update Flat.php to correct bug #2337
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
Labels: bug, Component: Catalog

#2312 Fix #815 - add getAttributeRawText function
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: Component: Catalog

#2346 Removed docker-dde sample
  dev/docker-dde/README.md
  dev/docker-dde/config/.env.sample
  dev/docker-dde/config/openmage.conf
  dev/docker-dde/init-dev-environment.sh
Labels: documentation
