Repository OpenMage/magento-lts, pull requests merged in 2022-08, with the labels that each got.

#2350 Cosmetic fix in Mage_Sales_Model_Order_Payment
  app/code/core/Mage/Sales/Model/Order/Payment.php
Labels: Component: Sales

#2325 Revert "Add basic text for Ukraine (#2074)"
  README.md
  app/design/adminhtml/default/default/template/notification/toolbar.phtml
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/default/images/flag-ua.svg
Labels: documentation, Template : admin, Component: Adminhtml

#2351 Mage_Catalog_Model_Product_Attribute_Backend_Groupprice_Abstract: avoid loading all websites when using only the current one
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Groupprice/Abstract.php
Labels: Component: Catalog

#1137 Make Curl Client HTTP/2 compatible
  lib/Mage/HTTP/Client/Curl.php
Labels: enhancement, PHP 7, Component: lib/Mage, Component: lib/*

#2349 Block access to all dot files.
  .htaccess
Labels: htaccess

#2365 Capitalization Adjustment Regarding CamelCase in Method Names
  .github/phpstan-baseline.neon
  app/code/core/Mage/Catalog/Block/Category/View.php
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber.php
  app/design/frontend/base/default/template/catalog/category/view.phtml
  lib/Varien/Io/File.php
Labels: environment, Component: Catalog, Component: lib/Varien, Template : base, Component: lib/*

#2335 Some microoptimization
  app/code/core/Mage/Adminhtml/Block/Api/Tab/Rolesedit.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Gallery/Content.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Queue/Edit.php
  app/code/core/Mage/Adminhtml/Block/Permissions/Tab/Rolesedit.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/Packaging.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Switcher.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/Run.php
  app/code/core/Mage/Adminhtml/Block/System/Store/Tree.php
  app/code/core/Mage/Adminhtml/controllers/IndexController.php
  app/code/core/Mage/Adminhtml/controllers/Newsletter/QueueController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/code/core/Mage/Bundle/Model/Option.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Block/Layer/State.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Price.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Product/Type/Grouped.php
  app/code/core/Mage/Catalog/Model/Resource/Url.php
  app/code/core/Mage/CatalogInventory/Model/Observer.php
  app/code/core/Mage/Checkout/Model/Cart.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Controller/Varien/Front.php
  app/code/core/Mage/Core/Model/Design/Package.php
  app/code/core/Mage/Core/Model/Email/Info.php
  app/code/core/Mage/Core/Model/Email/Template/Mailer.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/Model/Store/Group.php
  app/code/core/Mage/Core/Model/Website.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Downloadable/Helper/File.php
  app/code/core/Mage/Downloadable/Model/Product/Type.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Customer/Address.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/Sales/Model/Entity/Quote/Item/Collection.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/SalesRule/Model/Validator.php
  app/code/core/Mage/Uploader/Helper/File.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf.php
  app/code/core/Mage/Widget/Model/Widget.php
  app/code/core/Mage/Wishlist/Controller/Abstract.php
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Usa, Component: Customer, Component: Adminhtml, Component: SalesRule, Component: Wishlist, Component: Widget, Component: Downloadable, Component: Bundle, Component: ImportExport, Component: Uploader

#2368 Enclosed error with <pre> tag for prettier error print.
  app/Mage.php
Labels: Mage.php

#2367 Updated phpstan to 1.8.2
  .github/phpstan-baseline.neon
  composer.json
  composer.lock
Labels: environment, composer

#2366 Escape product titles in MSRP JavaScript
  .all-contributorsrc
  README.md
  app/design/frontend/base/default/template/catalog/product/price_msrp_item.phtml
Labels: documentation, Component: Catalog, Template : base

#2330 Backend grid heads - Align the elements for range and date types
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#2371 Force describeTable() to use read DB adapter
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Flat.php
  app/code/core/Mage/Core/Model/Resource/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Index/Model/Resource/Abstract.php
Labels: Component: Core, Component: Catalog, Component: Eav, Component: Index

#2373 Do not install n98/n98_layouthelper
  composer.json
  composer.lock
Labels: composer

#2376 Add "apt update" to XML validation workflow
  .github/workflows/xml_validate.yml
Labels: environment

#2375 Replaced deprecated method getRegionJson() with getRegionJsonByStore().
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Renderer/Region.php
  app/code/core/Mage/Directory/Block/Adminhtml/Frontend/Region/Updater.php
  app/code/core/Mage/Tax/Block/Adminhtml/Frontend/Region/Updater.php
  app/design/adminhtml/default/default/template/tax/rate/form.phtml
  app/design/adminhtml/default/default/template/weee/renderer/tax.phtml
  app/design/frontend/base/default/template/checkout/cart/shipping.phtml
  app/design/frontend/base/default/template/checkout/onepage/billing.phtml
  app/design/frontend/base/default/template/checkout/onepage/shipping.phtml
  app/design/frontend/base/default/template/customer/address/edit.phtml
  app/design/frontend/base/default/template/customer/form/address.phtml
  app/design/frontend/base/default/template/customer/form/register.phtml
  app/design/frontend/base/default/template/persistent/checkout/onepage/billing.phtml
  app/design/frontend/base/default/template/persistent/customer/form/register.phtml
  app/design/frontend/default/iphone/template/paypal/express/review.phtml
  app/design/frontend/rwd/default/template/checkout/cart/shipping.phtml
  app/design/frontend/rwd/default/template/checkout/onepage/shipping.phtml
  app/design/frontend/rwd/default/template/customer/address/edit.phtml
  app/design/frontend/rwd/default/template/customer/form/address.phtml
  app/design/frontend/rwd/default/template/paypal/express/review/address.phtml
  app/design/frontend/rwd/default/template/persistent/checkout/onepage/billing.phtml
  app/design/frontend/rwd/default/template/persistent/customer/form/register.phtml
Labels: environment, Component: PayPal, Template : admin, Component: Checkout, Component: Customer, Template : rwd, Template : base, Component: Adminhtml, Component: Weee, Component: Tax, Component: Persistant, Component: Directory, Template : default

#2369 Replace Remaining sizeof Alias Calls
  app/design/adminhtml/default/default/template/dashboard/grid.phtml
  app/design/adminhtml/default/default/template/dashboard/salebar.phtml
  app/design/adminhtml/default/default/template/dashboard/totalbar.phtml
  app/design/adminhtml/default/default/template/report/grid.phtml
  app/design/adminhtml/default/default/template/sales/order/totalbar.phtml
  app/design/adminhtml/default/default/template/system/currency/rate/matrix.phtml
  app/design/adminhtml/default/default/template/widget/grid.phtml
  app/design/frontend/base/default/template/catalog/product/list.phtml
  app/design/frontend/base/default/template/catalogsearch/term.phtml
  app/design/frontend/base/default/template/sales/order/recent.phtml
  app/design/frontend/base/default/template/shipping/tracking/popup.phtml
  app/design/frontend/base/default/template/tag/cloud.phtml
  app/design/frontend/base/default/template/tag/customer/recent.phtml
  app/design/frontend/base/default/template/tag/customer/view.phtml
  app/design/frontend/default/iphone/template/sales/order/recent.phtml
  app/design/frontend/default/iphone/template/shipping/tracking/popup.phtml
  app/design/frontend/default/modern/template/catalog/product/list.phtml
  app/design/frontend/rwd/default/template/catalog/product/list.phtml
  app/design/frontend/rwd/default/template/email/catalog/product/list.phtml
  app/design/frontend/rwd/default/template/sales/order/recent.phtml
  lib/Net/IDNA2.php
  lib/Varien/Convert/Container/Collection.php
  lib/Varien/Convert/Parser/Xml/Excel.php
  lib/Varien/Event/Observer/Cron.php
  lib/Varien/Simplexml/Element.php
Labels: Component: Catalog, Template : admin, Component: Reports, Component: lib/Varien, Component: Sales, Template : rwd, Template : base, Component: Adminhtml, Component: Tag, Component: Widget, Component: Shipping, Component: CatalogSearch, Component: lib/*, Template : default

#2384 Add label for phpstan cosmetic changes
  .github/labeler.yml
Labels: environment

#1377 Add weight for API salesOrderShipmentAddTrack
  app/code/core/Mage/Sales/Model/Order/Shipment/Api.php
  app/code/core/Mage/Sales/etc/wsdl.xml
  app/code/core/Mage/Sales/etc/wsi.xml
Labels: Component: Sales

#2382 Updated docs for email addTo()
  app/code/core/Mage/Core/Model/Email/Info.php
Labels: Component: Core

#2386 Updated phpstan experimental
  .github/phpstan_experimental_level.neon
Labels: environment, phpstan

#2388 Cosmetic changes to Mage_Payment_Model_Method_Abstract::validate()
  app/code/core/Mage/Payment/Model/Method/Abstract.php
Labels: Component: Payment

#2389 Replace Remaining join Alias Calls
  lib/Net/IDNA2.php
  lib/Varien/Convert/Parser/Csv.php
  lib/Varien/Convert/Parser/Xml/Excel.php
  lib/Varien/Data/Collection/Db.php
  lib/Varien/Db/Adapter/Mysqli.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Debug.php
Labels: Component: lib/Varien, Component: lib/*

#2364 Fixed broken boxes.css in OM 20.0.15
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#2391 Hide empty sub menu
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
Labels: Component: Adminhtml

#2394 Remove Thumbs.db file
  js/extjs/resources/images/default/grid/Thumbs.db
Labels: JavaScript

#2378 Issue with PHP < 8.1 in composer.json
  composer.json
  composer.lock
Labels: composer

#2359 Block access to various project files
  .htaccess
Labels: htaccess

#2390 Color swatches work with disparate product IDs
  skin/frontend/rwd/default/js/configurableswatches/product-media.js
Labels: Template : rwd

#2392 Move Credit Memo button at the end
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View.php
Labels: Component: Adminhtml

#2387 Version bump for next release
  app/Mage.php
Labels: Mage.php

#2362 Minor fixes on 'filter_condition_callback' method _filterStoreConditi…
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Checkout/Agreement/Grid.php
  app/code/core/Mage/Adminhtml/Block/Cms/Block/Grid.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Grid.php
Labels: environment, Component: Adminhtml, phpstan

#2379 Removed deprecated method Mage::setIsDownloader()
  app/Mage.php
Labels: Mage.php

#2302 add ReturnTypeWillChange to various Files catched by code style checker
  lib/Mage/Backup/Filesystem/Iterator/File.php
  lib/Mage/Backup/Filesystem/Iterator/Filter.php
  lib/Varien/Simplexml/Element.php
  lib/Zend/Feed/Reader/FeedSet.php
  lib/Zend/File/ClassFileLocator.php
  lib/Zend/Reflection/Class.php
  lib/Zend/Reflection/Extension.php
  lib/Zend/Reflection/Function.php
  lib/Zend/Reflection/Method.php
  lib/Zend/Reflection/Parameter.php
  lib/Zend/Reflection/Property.php
  lib/Zend/Registry.php
  lib/Zend/Tool/Framework/Loader/IncludePathLoader/RecursiveFilterIterator.php
  lib/Zend/Tool/Project/Profile/Iterator/ContextFilter.php
  lib/Zend/Tool/Project/Profile/Iterator/EnabledResourceFilter.php
Labels: Component: lib/Zend, Component: lib/Varien, Component: lib/Mage, Component: lib/*, PHP 8

#2396 Phpstan fixes
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/System/Cache/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/View.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Widget.php
  app/code/core/Mage/Adminhtml/Block/Widget/Breadcrumbs.php
  app/code/core/Mage/Adminhtml/Controller/Action.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreditmemoController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/InvoiceController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/code/core/Mage/Adminhtml/controllers/System/CacheController.php
  app/code/core/Mage/Catalog/Block/Breadcrumbs.php
  app/code/core/Mage/Catalog/Block/Category/View.php
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/Catalog/Block/Product/Compare/List.php
  app/code/core/Mage/Catalog/Block/Product/Price.php
  app/code/core/Mage/Catalog/Block/Product/View.php
  app/code/core/Mage/CatalogSearch/Block/Advanced/Form.php
  app/code/core/Mage/CatalogSearch/Block/Advanced/Result.php
  app/code/core/Mage/CatalogSearch/Block/Result.php
  app/code/core/Mage/Page/Block/Html/Breadcrumbs.php
  app/code/core/Mage/Review/controllers/ProductController.php
  app/code/core/Mage/Sales/Helper/Guest.php
Labels: environment, Component: Catalog, Component: Sales, Component: Adminhtml, Component: Page, Component: Review, Component: CatalogSearch, phpstan

#2403 Fixed camelCase in lib/Varien
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Widget/Form/Element/Dependence.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: environment, Component: lib/Varien, Component: lib/*, phpstan

#2401 Change default root dir (composer install)
  composer.json
  composer.lock
Labels: composer

#2405 Fix targetNamespace in WS-I Compliant
  app/code/core/Mage/Api/etc/wsi.xml
Labels: Component: Api

#2408 Removed deprecated string interpolation for PHP 8.2
  app/code/core/Mage/Core/Model/Cookie.php
Labels: Component: Core

#2414 Moved files out of root
  .github/SECURITY.md
  README.md
  docs/EVENTS.md
Labels: documentation, environment

#2415 Product reviews backend: fixed grid ID typo preventing save button to show
  app/code/core/Mage/Adminhtml/Block/Review/Add.php
Labels: Component: Adminhtml

#2409 Add ReturnTypeWillChange to Varien_Data_Collection
  lib/Varien/Data/Collection.php
Labels: Component: lib/Varien, Component: lib/*

#2417 Add null check before method_exists
  lib/Varien/Data/Form/Element/Editor.php
Labels: Component: lib/Varien, Component: lib/*

#2404 Remove deprecated utf8_encode() for PHP 8.2
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/International.php
Labels: Component: Usa

#2418 Method Annotation Improvement Mage_Catalog_Model_Product_Option_Type_Date
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Date.php
Labels: Component: Catalog

#2372 Correct usage for adding items to ArrayObject
  .github/phpstan-baseline.neon
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/Api/Model/User.php
Labels: environment, Component: Api, Component: Admin, phpstan

#2423 Remove useless array_column function polyfill
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Locale.php
Labels: environment, Component: Adminhtml, phpstan

#2425 Fix wishlist share email validation
  .github/phpstan-baseline.neon
  app/code/core/Mage/Wishlist/controllers/IndexController.php
Labels: environment, Component: Wishlist, phpstan

#2257 Small improvements to openmage backend theme for better readability
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/form.css.map
  skin/adminhtml/default/openmage/login.css
  skin/adminhtml/default/openmage/login.css.map
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/_base.scss
  skin/adminhtml/default/openmage/scss/_fonts.scss
  skin/adminhtml/default/openmage/scss/menu.scss
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Adminhtml

#2435 Removed unused boxover.js
  js/lib/boxover.js
Labels: JavaScript

#2412 phpstan: fixed calls to Mage_Core_Block_Abstract
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Backup/Dialogs.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Alerts.php
  app/code/core/Mage/Adminhtml/Block/Notification/Toolbar.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Creditmemo/View.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Invoice/View.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/View.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rate/Form.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rate/Toolbar/Save.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Item.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Item/Additional/Default.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Serializer.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/CategoryController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreditmemoController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/InvoiceController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/code/core/Mage/Adminhtml/controllers/System/ConfigController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RateController.php
  app/code/core/Mage/Catalog/Block/Product/View/Options/Type/Select.php
  app/code/core/Mage/Catalog/Helper/Product/View.php
  app/code/core/Mage/Catalog/controllers/CategoryController.php
  app/code/core/Mage/Cms/Block/Block.php
  app/code/core/Mage/Cms/Block/Page.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable.php
  app/code/core/Mage/ImportExport/controllers/Adminhtml/ImportController.php
  app/code/core/Mage/Review/Block/Product/View.php
  app/code/core/Mage/Sales/Block/Adminhtml/Report/Filter/Form.php
  app/code/core/Mage/Sales/Block/Adminhtml/Report/Filter/Form/Coupon.php
  app/code/core/Mage/Sales/Model/Observer.php
  app/code/core/Mage/Widget/controllers/Adminhtml/Widget/InstanceController.php
  app/code/core/Mage/Widget/controllers/Adminhtml/WidgetController.php
Labels: environment, Component: Core, Component: Catalog, Component: Cms, Component: Sales, Component: Adminhtml, Component: Widget, Component: Review, Component: Downloadable, Component: ImportExport, phpstan

#2400 Added some dev tools & code sniffers
  composer.json
  composer.lock
Labels: composer

#2436 Updated phstorm meta files
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
  README.md
Labels: documentation, environment

#2439 Added "number" validation to minimum order amount in the backend
  app/code/core/Mage/Sales/etc/system.xml
Labels: Component: Sales

#2438 DHL International: PHP8: Cast $dimension before calling round()
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/International.php
Labels: Component: Usa

#2443 [backport] Added a configuration flag to disable global search in adminhtml
  README.md
  app/code/core/Mage/Adminhtml/controllers/IndexController.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/design/adminhtml/default/default/template/page/header.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
Labels: documentation, Component: Core, Template : admin, Component: Adminhtml, Component: Page

#2441 Fixed "Is Required" custom option attribute always set "Yes" in PHP8.1
  app/design/adminhtml/default/default/template/catalog/product/edit/options/option.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#2452 Fixed wrong camelCase
  .github/phpstan-baseline.neon
  app/code/core/Mage/Bundle/Model/Resource/Bundle.php
  app/code/core/Mage/Paypal/Controller/Express/Abstract.php
Labels: environment, Component: PayPal, Component: Bundle, phpstan

#2460 Removed unused constant GALLERY_IMAGE_TABLE
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Media.php
Labels: Component: Catalog

#2465 Fixed yoda style & short array syntax in app\Mage.php
  app/Mage.php
Labels: Mage.php

#2462 Removed deprecated class Mage_Tag_Block_Customer_Edit
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  app/code/core/Mage/Tag/Block/Customer/Edit.php
Labels: environment, Component: Tag

#2470 Use composer-plugin to install phpcs sniffs
  composer.json
  composer.lock
Labels: composer

#2426 Add loading delay adminhtml
  app/code/core/Mage/Adminhtml/Block/Page/Head.php
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/design/adminhtml/default/default/template/page.phtml
  app/design/adminhtml/default/default/template/page/head.phtml
  app/locale/en_US/Mage_Core.csv
  js/mage/adminhtml/loader.js
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Component: Core, Template : admin, Component: Adminhtml, Component: Page, translations, JavaScript

#2410 Delete redundant "composer build" workflow
  .github/workflows/php.yml
Labels: environment

#2476 Fix some email template resources
  app/code/core/Mage/Newsletter/data/newsletter_setup/data-upgrade-1.6.0.1-1.6.0.2.php
  skin/frontend/base/default/css/email-non-inline.css
  skin/frontend/rwd/default/scss/email-non-inline.scss
Labels: Template : rwd, Template : base

#2457 Phpstan fixes
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Composite/Fieldset/Grouped.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Account.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Addresses.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Address.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Totals/Item.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/History.php
  app/code/core/Mage/Adminhtml/Block/Sitemap/Grid/Renderer/Link.php
  app/code/core/Mage/Bundle/Block/Catalog/Product/View/Type/Bundle/Option.php
  app/code/core/Mage/Catalog/Block/Product/View/Options/Abstract.php
  app/code/core/Mage/Catalog/Block/Product/View/Options/Type/Select.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Default.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Customer/Block/Widget/Name.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Downloadable/Block/Catalog/Product/Links.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/Create/Form.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/Create/Items.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/View/Items.php
  app/code/core/Mage/GiftMessage/Block/Message/Form.php
  app/code/core/Mage/GiftMessage/Block/Message/Helper.php
  app/code/core/Mage/GiftMessage/Block/Message/Inline.php
  app/code/core/Mage/Paypal/Block/Adminhtml/Settlement/Details/Form.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/Country.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/Hidden.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/SolutionType.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Fieldset/Hint.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Fieldset/Location.php
  app/code/core/Mage/Sales/Block/Adminhtml/Billing/Agreement/View/Tab/Info.php
  app/code/core/Mage/Sales/Block/Billing/Agreement/View.php
  app/code/core/Mage/Sales/Block/Billing/Agreements.php
  app/code/core/Mage/Sales/Block/Order/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Info.php
  app/code/core/Mage/Sales/Block/Order/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Print.php
  app/code/core/Mage/Sales/Block/Order/Print/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Print/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Print/Shipment.php
  app/code/core/Mage/Sales/Block/Order/Shipment.php
  app/code/core/Mage/Sales/Block/Order/View.php
  app/code/core/Mage/SalesRule/Model/Validator.php
  app/code/core/Mage/Tax/Block/Checkout/Tax.php
Labels: environment, Component: PayPal, Component: Core, Component: Catalog, Component: Sales, Component: Customer, Component: Adminhtml, Component: SalesRule, Component: Tax, Component: Downloadable, Component: Bundle, phpstan

#2480 Fixed default sort order for admin catalog search terms, closes #2477
  app/code/core/Mage/Adminhtml/Block/Catalog/Search/Grid.php
Labels: Component: Adminhtml

#2482 Cosmetic changes to backend footer
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Template : admin, Component: Adminhtml, Component: Page, translations

#2475 Addendum to #2426 - Adminhtml loader
  app/design/adminhtml/default/default/template/catalog/category/edit.phtml
  app/design/adminhtml/default/default/template/importexport/import/form/before.phtml
  app/design/adminhtml/default/default/template/newsletter/preview/iframeswitcher.phtml
  app/design/adminhtml/default/default/template/page.phtml
  app/design/adminhtml/default/default/template/popup.phtml
  js/mage/adminhtml/loader.js
  js/mage/directpost.js
  skin/adminhtml/default/default/boxes.css
Labels: Component: Catalog, Template : admin, Component: Adminhtml, Component: Newsletter, Component: ImportExport, JavaScript

#2471 Removed memory_limit checks for better performance
  app/code/core/Mage/Catalog/Model/Product/Image.php
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: Catalog, Component: lib/Varien, Component: lib/*

#2487 Fixes typo for "deprecated" word
  app/code/core/Mage/Core/Model/Config.php
Labels: Component: Core

#2483 phpstan: fixed calls to Mage_Core_Abstract_Helper
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Action/Attribute/Tab/Attributes.php
  app/code/core/Mage/Adminhtml/Block/Customer/Grid.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/Notification/Grid/Renderer/Actions.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Giftmessage/Form.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search/Grid/Renderer/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Items/Renderer/Default.php
  app/code/core/Mage/Adminhtml/Block/Sales/Totals.php
  app/code/core/Mage/Adminhtml/Block/Tag/Grid/Pending.php
  app/code/core/Mage/Adminhtml/Block/Tag/Tag/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Bundle/Block/Catalog/Product/Price.php
  app/code/core/Mage/Bundle/Model/Product/Price.php
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/CatalogSearch/Block/Autocomplete.php
  app/code/core/Mage/CatalogSearch/Block/Result.php
  app/code/core/Mage/Checkout/Block/Cart.php
  app/code/core/Mage/Checkout/Block/Cart/Shipping.php
  app/code/core/Mage/Checkout/Block/Cart/Sidebar.php
  app/code/core/Mage/Checkout/Block/Links.php
  app/code/core/Mage/Checkout/Block/Multishipping/Overview.php
  app/code/core/Mage/Checkout/Block/Multishipping/Shipping.php
  app/code/core/Mage/Checkout/Block/Onepage/Link.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Product/List/Price.php
  app/code/core/Mage/Customer/Block/Form/Login.php
  app/code/core/Mage/Customer/Block/Form/Register.php
  app/code/core/Mage/Customer/Block/Widget/Abstract.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Directory/Helper/Data.php
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/Payment/Block/Form/Container.php
  app/code/core/Mage/Paypal/Block/Express/Review.php
  app/code/core/Mage/Paypal/Block/Express/Shortcut.php
  app/code/core/Mage/Paypal/Block/Iframe.php
  app/code/core/Mage/Rss/Controller/Abstract.php
  app/code/core/Mage/Rss/controllers/IndexController.php
  app/code/core/Mage/Tax/Block/Adminhtml/Notifications.php
  app/code/core/Mage/Uploader/Block/Abstract.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Column/Comment.php
  app/code/core/Mage/Wishlist/Block/Links.php
Labels: environment, Component: PayPal, Component: Catalog, Component: Checkout, Component: Customer, Component: Adminhtml, Component: Wishlist, Component: Tax, Component: Payment, Component: Bundle, Component: ImportExport, Component: Directory, Component: ConfigurableSwatches, Component: CatalogSearch, Component: GoogleAnalytics, Component: Uploader, Component: Rss, phpstan

#2489 Fixed lowercase for constants true/false/null
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Longtext.php
  app/code/core/Mage/Authorizenet/controllers/Directpost/PaymentController.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  app/code/core/Mage/Page/Block/Html/Topmenu/Renderer.php
  app/code/core/Zend/Locale/Math/PhpMath.php
  lib/Mage/Cache/Backend/File.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Tree.php
  lib/Varien/Io/Ftp.php
Labels: Component: Core, Component: lib/Zend, Component: lib/Varien, Component: lib/Mage, Component: Adminhtml, Component: Page, Component: Authorizenet, Component: lib/*

#2488 Removed useless returns
  app/code/core/Mage/Adminhtml/controllers/Api/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/ReviewController.php
  app/code/core/Mage/Adminhtml/controllers/DashboardController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Billing/AgreementController.php
  app/code/core/Mage/Adminhtml/controllers/System/VariableController.php
  app/code/core/Mage/Paypal/Model/Api/Standard.php
  app/code/core/Mage/Persistent/controllers/IndexController.php
  app/code/core/Mage/Sales/controllers/OrderController.php
  app/code/core/Mage/Tax/Model/Sales/Total/Quote/Tax.php
  app/code/core/Mage/Widget/controllers/Adminhtml/Widget/InstanceController.php
  app/code/core/Zend/Db/Statement.php
Labels: Component: PayPal, Component: lib/Zend, Component: Sales, Component: Adminhtml, Component: Widget, Component: Tax

#2461 Removed deprecation notice for Mage_Catalog_Model_Resource_Product_Attribute_Backend_Urlkey
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Urlkey.php
Labels: Component: Catalog

#2442 Removed unused jQuery 1.10.2, updated jQuery 1.12.1 to 1.12.4
  app/design/frontend/rwd/default/layout/page.xml
  js/lib/jquery/jquery-1.10.2.js
  js/lib/jquery/jquery-1.10.2.min.js
  js/lib/jquery/jquery-1.10.2.min.map
  js/lib/jquery/jquery-1.12.1.min.js
  js/lib/jquery/jquery-1.12.1.min.map
  js/lib/jquery/jquery-1.12.4.js
  js/lib/jquery/jquery-1.12.4.min.js
  js/lib/jquery/jquery-1.12.4.min.map
Labels: Template : rwd, Component: Page, JavaScript, XML Layout

#2377 Fixed bug on mini login form.
  app/code/core/Mage/Customer/Block/Form/Login.php
  app/design/frontend/base/default/template/customer/form/mini.login.phtml
  app/design/frontend/rwd/default/template/customer/form/mini.login.phtml
Labels: Component: Customer, Template : rwd, Template : base

#2398 Remove hideit input field from Contact form
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/design/frontend/base/default/template/contacts/form.phtml
  app/design/frontend/rwd/default/template/contacts/form.phtml
Labels: Template : rwd, Template : base, Component: Contacts

#2491 Updated README with Redis 7
  README.md
Labels: documentation

#2433 Flow.js updates
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/Uploader/Model/Config/Uploader.php
  app/design/adminhtml/default/default/layout/main.xml
  app/locale/en_US/Mage_Catalog.csv
  js/lib/uploader/flow.js
  js/lib/uploader/flow.min.js
  js/lib/uploader/fusty-flow-factory.js
  js/lib/uploader/fusty-flow.js
  js/mage/adminhtml/uploader/instance.js
Labels: Component: Catalog, Template : admin, Component: Adminhtml, Component: Uploader, translations, JavaScript

#2495 Removed note about old (unexisting) branches from README
  README.md
Labels: documentation

#2486 Better wording for adminhtml footer
  app/code/core/Mage/Adminhtml/Block/Page/Footer.php
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Template : admin, Component: Adminhtml, Component: Page, translations

#2494 phpstan: Fixed calls to Mage_Core_Model_Resource_Helper_Abstract
  .github/phpstan-baseline.neon
  app/code/core/Mage/Backup/Model/Resource/Db.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Source/Msrp/Type/Price.php
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Attribute.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
  app/code/core/Mage/Catalog/Model/Resource/Collection/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Collection.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Flat/Indexer.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Indexer/Eav/Source.php
  app/code/core/Mage/Catalog/Model/Resource/Url.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext/Engine.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Query/Collection.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Customer.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Customer/Address.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Configurable.php
  app/code/core/Mage/Index/Model/Lock/Storage/Db.php
  app/code/core/Mage/Index/Model/Resource/Abstract.php
  app/code/core/Mage/Reports/Model/Resource/Customer/Collection.php
  app/code/core/Mage/Reports/Model/Resource/Product/Index/Abstract.php
  app/code/core/Mage/Reports/Model/Resource/Report/Product/Viewed.php
  app/code/core/Mage/Reports/Model/Resource/Report/Product/Viewed/Collection.php
  app/code/core/Mage/Reports/Model/Resource/Review/Product/Collection.php
  app/code/core/Mage/Sales/Model/Resource/Order/Collection.php
  app/code/core/Mage/Sales/Model/Resource/Report/Bestsellers.php
  app/code/core/Mage/Sales/Model/Resource/Report/Bestsellers/Collection.php
  app/code/core/Mage/Sales/Model/Resource/Report/Invoiced.php
  app/code/core/Mage/Sales/Model/Resource/Report/Refunded.php
  app/code/core/Mage/Sales/Model/Resource/Report/Shipping.php
  app/code/core/Mage/Wishlist/Model/Resource/Item/Collection.php
  app/code/core/Mage/Wishlist/Model/Resource/Product/Collection.php
Labels: environment, Component: Catalog, Component: Reports, Component: Sales, Component: Eav, Component: Wishlist, Component: Index, Component: ImportExport, Component: CatalogSearch, Component: Backup, phpstan

#2503 Removed unused fastclick.js
  skin/frontend/rwd/default/js/lib/fastclick.js
Labels: Template : rwd

#2509 Hotfix sorting be entity ID
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: bug, Component: Adminhtml

#2472 Removed deprecated setLanguageCode javascript function
  js/varien/js.js
Labels: JavaScript

#2512 Updated phpdocs for Mage::log()
  app/Mage.php
Labels: Mage.php

#2500 phpstan: fixed unknown types
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Action/Attribute.php
  app/code/core/Mage/Adminhtml/Block/Media/Editor.php
  app/code/core/Mage/Adminhtml/Block/Page.php
  app/code/core/Mage/Adminhtml/Block/Permissions/Roles.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Data.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Creditmemo/Create/Form.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Creditmemo/Create/Items.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Invoice/Create.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Invoice/Create/Tracking.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/Create/Tracking.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/View/Tracking.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Run.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Datetime.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Edit/Action/Attribute.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
  app/code/core/Mage/Dataflow/Model/Batch.php
  app/code/core/Mage/Dataflow/Model/Batch/Io.php
  app/code/core/Mage/Dataflow/Model/Convert/Parser/Abstract.php
  app/code/core/Mage/Install/Model/Installer.php
  app/code/core/Mage/Paypal/Model/Payflowlink.php
Labels: environment, Component: PayPal, Component: Adminhtml, Component: Dataflow, Component: Install, phpstan

#2513 Fixed "should return true but returns false"
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Content.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Design.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Meta.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Edit/Tab/Actions.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Edit/Tab/Conditions.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Actions.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Conditions.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Labels.php
Labels: Component: Adminhtml

#2516 Fixed MySql4 classes in phpdoc properties/return
  app/code/core/Mage/Catalog/Block/Product/List/Toolbar.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Reports/Block/Product/Abstract.php
  app/code/core/Mage/Sales/Block/Billing/Agreement/View.php
  app/code/core/Mage/Sales/Block/Billing/Agreements.php
  app/code/core/Mage/Sales/Block/Order/Comments.php
  app/code/core/Mage/Sales/Block/Order/Print/Shipment.php
  app/code/core/Mage/Sales/Block/Recurring/Profile/View.php
  app/code/core/Mage/Sales/Block/Recurring/Profiles.php
  app/code/core/Mage/Tag/Block/Customer/View.php
  app/code/core/Mage/Wishlist/Model/Wishlist.php
Labels: Cleanup: DOC blocks, Component: Core, Component: Catalog, Component: Reports, Component: Sales, Component: Tag, Component: Wishlist

#2407 Error_Processor Refactoring
  errors/default/report.phtml
  errors/processor.php
Labels: errors

#2508 Removed deprecated code from Mage_Rss
  .github/phpstan-baseline.neon
  app/code/core/Mage/Rss/Model/Resource/Order.php
Labels: environment, Component: Rss, phpstan

#2498 Deprecate PayPal logo block
  app/code/core/Mage/Paypal/Block/Logo.php
  app/design/frontend/base/default/layout/paypal.xml
  app/design/frontend/base/default/template/paypal/partner/logo.phtml
  app/design/frontend/base/default/template/paypal/partner/us_logo.phtml
  app/design/frontend/rwd/default/layout/paypal.xml
  app/design/frontend/rwd/default/template/paypal/partner/us_logo.phtml
Labels: Component: PayPal, Template : rwd, Template : base, XML Layout

#2507 Removed border-top from .block-title class (rwd theme)
  skin/frontend/rwd/default/css/styles-ie8.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/core/_common.scss
Labels: Template : rwd

#2520 Removed useless constructors
  app/code/core/Mage/Adminhtml/Block/Dashboard/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  app/code/core/Mage/Core/Model/Config/System.php
  app/code/core/Mage/Reports/Model/Resource/Product/Downloads/Collection.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Chooser/Layout.php
Labels: Component: Core, Component: Reports, Component: Adminhtml, Component: Widget

#2510 Removed resource model wrapper
  .github/phpstan-baseline.neon
  app/code/core/Mage/Bundle/Model/Price/Index.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Action.php
  app/code/core/Mage/Catalog/Model/Product/Compare/Item.php
  app/code/core/Mage/Catalog/Model/Product/Status.php
  app/code/core/Mage/Catalog/Model/Product/Website.php
  app/code/core/Mage/CatalogInventory/Model/Indexer/Stock.php
  app/code/core/Mage/CatalogSearch/Model/Advanced.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/Model/Website.php
  app/code/core/Mage/Customer/Helper/Data.php
  app/code/core/Mage/Customer/Model/Group.php
  app/code/core/Mage/Directory/Model/Country.php
  app/code/core/Mage/Directory/Model/Country/Format.php
  app/code/core/Mage/Directory/Model/Region.php
  app/code/core/Mage/Eav/Block/Adminhtml/Attribute/Edit/Options/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Set.php
  app/code/core/Mage/Eav/Model/Entity/Type.php
  app/code/core/Mage/Eav/Model/Form/Element.php
  app/code/core/Mage/Eav/Model/Form/Fieldset.php
  app/code/core/Mage/Eav/Model/Form/Type.php
  app/code/core/Mage/Log/Model/Visitor/Online.php
  app/code/core/Mage/Reports/Model/Product/Index/Abstract.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  app/code/core/Mage/Tag/Model/Tag.php
  app/code/core/Mage/Tag/Model/Tag/Relation.php
  app/code/core/Mage/Wishlist/Model/Item.php
  app/locale/en_US/Mage_Core.csv
Labels: environment, Component: Core, Component: Catalog, Component: Reports, Component: CatalogInventory, Component: Sales, Component: Customer, Component: Eav, Component: Tag, Component: Wishlist, Component: Bundle, Component: Log, Component: Directory, Component: CatalogSearch, translations, phpstan

#2502 Show product collection limiter only if makes sense
  app/design/frontend/base/default/template/catalog/product/list/toolbar.phtml
  app/design/frontend/base/default/template/page/html/pager.phtml
  app/design/frontend/default/iphone/template/page/html/pager.phtml
  app/design/frontend/rwd/default/template/catalog/product/list/toolbar.phtml
  app/design/frontend/rwd/default/template/page/html/pager.phtml
Labels: Component: Catalog, Template : rwd, Template : base, Component: Page, Template : default

#2525 Fixed whitespace for docblocks in modules (Mage_L* -> Mage_P*)
  app/code/core/Mage/Log/Helper/Data.php
  app/code/core/Mage/Log/Model/Adminhtml/System/Config/Source/Loglevel.php
  app/code/core/Mage/Log/Model/Aggregation.php
  app/code/core/Mage/Log/Model/Cron.php
  app/code/core/Mage/Log/Model/Customer.php
  app/code/core/Mage/Log/Model/Log.php
  app/code/core/Mage/Log/Model/Mysql4/Aggregation.php
  app/code/core/Mage/Log/Model/Mysql4/Customer.php
  app/code/core/Mage/Log/Model/Mysql4/Log.php
  app/code/core/Mage/Log/Model/Mysql4/Visitor.php
  app/code/core/Mage/Log/Model/Mysql4/Visitor/Collection.php
  app/code/core/Mage/Log/Model/Mysql4/Visitor/Online.php
  app/code/core/Mage/Log/Model/Mysql4/Visitor/Online/Collection.php
  app/code/core/Mage/Log/Model/Resource/Aggregation.php
  app/code/core/Mage/Log/Model/Resource/Customer.php
  app/code/core/Mage/Log/Model/Resource/Log.php
  app/code/core/Mage/Log/Model/Resource/Visitor.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Collection.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Online.php
  app/code/core/Mage/Log/Model/Resource/Visitor/Online/Collection.php
  app/code/core/Mage/Log/Model/Visitor.php
  app/code/core/Mage/Log/Model/Visitor/Online.php
  app/code/core/Mage/Log/data/log_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/install-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.0-0.7.1.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.3-0.7.4.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.4-0.7.5.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.5-0.7.6.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-0.7.6-0.7.7.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.6.0.0-1.6.1.0.php
  app/code/core/Mage/Log/sql/log_setup/mysql4-upgrade-1.6.1.0-1.6.1.1.php
Labels: Component: Log

#1203 Implement the possibility to search for null in backend grids
  .github/phpstan-baseline.neon
  README.md
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: enhancement, documentation, environment, Component: Adminhtml, phpstan

#2355 Enable website config cache
  app/code/core/Mage/Core/Model/Config.php
Labels: performance, Component: Core

#2492 Avoid getting lock on frontend for flat catalog indexes
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
Labels: Component: Catalog
