Repository OpenMage/magento-lts, pull requests merged in 2022-01, with the labels that each got.

#1964 Removed unused var $_odd in templates.
  app/design/frontend/base/default/template/downloadable/customer/products/list.phtml
  app/design/frontend/base/default/template/sales/order/history.phtml
  app/design/frontend/default/iphone/template/downloadable/customer/products/list.phtml
  app/design/frontend/default/iphone/template/sales/order/history.phtml
  app/design/frontend/rwd/default/template/downloadable/customer/products/list.phtml
  app/design/frontend/rwd/default/template/sales/order/history.phtml
Labels: Component: Sales, Template : rwd, Template : base, Component: Downloadable, Template : default

#1954 Documentation fix on README file about composer require
  .all-contributorsrc
  README.md
Labels: Documentation

#1979 Fix typo in Zend/Date.php
  app/code/core/Zend/Date.php
Labels: Component: lib/Zend

#1982 [PHP 8.0] Check if track `progressdetail` is an array before calling `count`
  app/design/frontend/base/default/template/shipping/tracking/popup.phtml
Labels: Template : base, Component: Shipping

#1984 PHP 8.1 Fix cookie deletion behavior
  app/code/core/Mage/Core/Model/Cookie.php
Labels: Component: Core

#1535 updateAttributeSet() accepting array or string
  app/code/core/Mage/Eav/Model/Entity/Setup.php
Labels: Cleanup: DOC blocks, Component: Eav

#1988 Fix typo in code comment
  app/code/core/Mage/Catalog/Helper/Product/View.php
Labels: Component: Catalog

#1941 Fix #1924 non-existing field
  app/code/core/Mage/Adminhtml/Block/Cms/Block/Widget/Chooser.php
Labels: Component: Adminhtml

#1913 Added optgroup feature for massaction items (grids)
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Abstract.php
  app/design/adminhtml/default/default/template/widget/grid/massaction.phtml
Labels: New Feature, Template : admin, Component: Adminhtml, Component: Widget

#1802 PHPDoc fix for Mage_Core_Model_Config
  app/code/core/Mage/Core/Model/Config.php
Labels: Component: Core

#1977 Missing middlename for salesOrderAddressEntity in SOAP APIs
  app/code/core/Mage/Sales/etc/wsdl.xml
  app/code/core/Mage/Sales/etc/wsi.xml
Labels: Component: Sales

#1710 Attribute note adminhtml show translate
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Account.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Addresses.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Abstract.php
Labels: Component: Adminhtml

#1990 Removed global polyfill function for PHP versions below 7.0
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#1500 fix typo in _applyCustomOption() to correctly calculate min/max price
  app/code/core/Mage/Catalog/Model/Resource/Product/Indexer/Price/Default.php
Labels: Component: Catalog
