Repository OpenMage/magento-lts, pull requests merged in 2022-09, with the labels that each got.

#2524 phpstan: fixes for Varien_Data_Collection
  .github/phpstan-baseline.neon
  app/code/core/Mage/Admin/Model/Variable.php
  app/code/core/Mage/AdminNotification/Model/Inbox.php
  app/code/core/Mage/Adminhtml/Block/Api/Role/Grid/User.php
  app/code/core/Mage/Adminhtml/Block/Api/User/Edit/Tab/Roles.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Tab/Product.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Crosssell.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Related.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Group.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Upsell.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Widget/Chooser.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Tag.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Wishlist.php
  app/code/core/Mage/Adminhtml/Block/Notification/Baseurl.php
  app/code/core/Mage/Adminhtml/Block/Poll/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Widget/Chooser/Sku.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Report/Review/Detail/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Shopcart/Customer/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Pviewed.php
  app/code/core/Mage/Adminhtml/Block/Sales/Transactions/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tag/Assigned/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tag/Customer/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tag/Grid/All.php
  app/code/core/Mage/Adminhtml/Block/Tag/Grid/Customers.php
  app/code/core/Mage/Adminhtml/Block/Tag/Grid/Pending.php
  app/code/core/Mage/Adminhtml/Block/Tag/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tag/Tag/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rule/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Backup/Model/Fs/Collection.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Option.php
  app/code/core/Mage/CatalogSearch/Model/Query.php
  app/code/core/Mage/Core/Model/Config/Data.php
  app/code/core/Mage/Core/Model/Email/Queue.php
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/Rating/Model/Rating/Option/Vote.php
  app/code/core/Mage/Reports/Model/Event.php
  app/code/core/Mage/Sales/Model/Order/Payment.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  app/code/core/Mage/Sales/Model/Order/Shipment/Item.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  lib/Varien/Data/Collection/Filesystem.php
Labels: environment, Component: Core, Component: Catalog, Component: Reports, Component: AdminNotification, Component: lib/Varien, Component: Sales, Component: Eav, Component: Adminhtml, Component: Admin, Component: Rating, Component: CatalogSearch, Component: Backup, Component: lib/*, phpstan

#2534 Updated phpdocs, ref #2524
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml

#2531 Added info about Mage_PageCache removal to README
  README.md
Labels: documentation

#1578 Do not startEnvironmentEmulation for current store
  app/code/core/Mage/Core/Model/Template.php
  app/code/core/Mage/Sales/Model/Order.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo.php
  app/code/core/Mage/Sales/Model/Order/Invoice.php
  app/code/core/Mage/Sales/Model/Order/Shipment.php
Labels: performance, Component: Core, Component: Sales

#2424 Updated validation for modelName in Mage_Shipping_Model_Config::_getCarrier() and Mage_Payment_Model_Config::_getMethod()
  app/code/core/Mage/Payment/Model/Config.php
  app/code/core/Mage/Shipping/Model/Config.php
Labels: Component: Shipping, Component: Payment

#2537 Fixed admin grid filter
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml

#2518 Bugfix to avoid newline character \n in customFormSubmit URL
  app/design/frontend/base/default/template/catalog/product/list.phtml
  app/design/frontend/rwd/default/template/catalog/product/list.phtml
  app/design/frontend/rwd/default/template/email/catalog/product/list.phtml
Labels: Component: Catalog, Component: Sales, Template : rwd, Template : base

#2538 phpstan: fixed some unknown types
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Action.php
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Abstract.php
  app/code/core/Mage/Install/Model/Installer/Db.php
  app/code/core/Mage/Paypal/Model/Express/Checkout.php
  app/code/core/Mage/PaypalUk/Model/Express/Checkout.php
  app/code/core/Zend/Db/Select.php
  app/code/core/Zend/Db/Statement.php
  app/code/core/Zend/Validate/EmailAddress.php
Labels: environment, Component: PayPal, Component: lib/Zend, Component: Adminhtml, Component: Install, Component: PaypalUk, phpstan

#2540 Update phpstan to 1.8.3
  .github/phpstan-baseline.neon
  app/code/core/Mage/ImportExport/Model/Import/Adapter/Abstract.php
  composer.json
  composer.lock
Labels: environment, Component: ImportExport, composer, phpstan

#2505 Updated jQuery Cycle for rwd theme
  skin/frontend/rwd/default/js/lib/jquery.cycle2.min.js
  skin/frontend/rwd/default/js/lib/jquery.cycle2.swipe.min.js
Labels: Template : rwd

#2546 Fixed broken grids caused by PR #2545
  app/code/core/Mage/Eav/Model/Config.php
Labels: Component: Eav

#2555 Remove redundant polyfill code for error reporting constants
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#2422 Some CSS fixes to OpenMage adminhtml theme
  skin/adminhtml/default/openmage/calendar-blue2.css
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/form.css.map
  skin/adminhtml/default/openmage/login.css
  skin/adminhtml/default/openmage/login.css.map
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/_base.scss
  skin/adminhtml/default/openmage/scss/_variables.scss
  skin/adminhtml/default/openmage/scss/form.scss
  skin/adminhtml/default/openmage/scss/login.scss
  skin/adminhtml/default/openmage/scss/menu.scss
  skin/adminhtml/default/openmage/scss/override.scss
Labels: environment, Template : admin, Component: Adminhtml, Template : admin - openmage

#2544 Set default width for grid datetime columns, ref #2239
  app/code/core/Mage/Adminhtml/Block/Backup/Grid.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View/Wishlist.php
  app/code/core/Mage/Adminhtml/Block/Customer/Online/Grid.php
  app/code/core/Mage/Adminhtml/Block/Notification/Grid.php
  app/code/core/Mage/Adminhtml/Block/Poll/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Coupons/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Widget/Chooser.php
  app/code/core/Mage/Adminhtml/Block/Report/Refresh/Statistics/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Tag/Customer/Detail/Grid.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Transactions/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sitemap/Grid.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/History.php
  app/code/core/Mage/Adminhtml/Block/System/Design/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Grid.php
  app/code/core/Mage/Sales/Block/Adminhtml/Billing/Agreement/Grid.php
  app/code/core/Mage/Sales/Block/Adminhtml/Recurring/Profile/Grid.php
  app/code/core/Mage/Sales/Block/Adminhtml/Recurring/Profile/View/Tab/Orders.php
Labels: Component: Sales, Component: Adminhtml, Component: Index

#2563 Removed PHP 5.3 compatibility code from Mage_Adminhtml_Model_System_Config_Backend_Locale_Timezone
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Locale/Timezone.php
Labels: Component: Adminhtml

#2559 Added info about targetNamespace change in README
  README.md
Labels: documentation

#2564 Removed unused controller Mage_Shipping_ShippingController
  app/code/core/Mage/Shipping/controllers/ShippingController.php
Labels: Component: Shipping

#2565 phpstan: fixed calls on Varien_Object/Mage_Core_Model_Abstract
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Grid/Renderer/Action.php
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search/Grid/Renderer/Product.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/code/core/Mage/Adminhtml/controllers/System/Convert/ProfileController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RuleController.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Bundle/Model/Resource/Option/Collection.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Recurring.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Product/Option/Value.php
  app/code/core/Mage/Catalog/Model/Resource/Attribute.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Option/Collection.php
  app/code/core/Mage/CatalogInventory/Model/Resource/Stock/Item.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Customer/Model/Resource/Address/Attribute/Backend/Street.php
  app/code/core/Mage/Customer/Model/Resource/Customer.php
  app/code/core/Mage/Dataflow/Model/Convert.php
  app/code/core/Mage/Install/Model/Installer.php
  app/code/core/Mage/Paypal/Model/Cart.php
  app/code/core/Mage/Paypal/Model/Resource/Payment/Transaction.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo/Api.php
  app/code/core/Mage/Shipping/Model/Carrier/Tablerate.php
  app/code/core/Mage/Tax/Block/Adminhtml/Notifications.php
  app/code/core/Mage/Wishlist/Model/Resource/Item/Collection.php
Labels: environment, Component: PayPal, Component: Core, Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Customer, Component: Adminhtml, Component: Wishlist, Component: Tax, Component: Shipping, Component: Bundle, Component: Dataflow, Component: Install, phpstan

#2445 An Exception is thrown and logged if file is not found while merging
  app/code/core/Mage/Core/Helper/Data.php
Labels: Component: Core

#2572 Fixed PHPStan error with Mage_Catalog_Model_Resource_Product_Option_Collection
  app/code/core/Mage/Catalog/Model/Product/Option/Value.php
Labels: Component: Catalog

#2413 Make php7.3 minimum requirement
  .github/workflows/static-code-analyses.yml
  README.md
  api.php
  app/code/core/Mage/Core/functions.php
  composer.json
  composer.lock
  get.php
  index.php
  install.php
Labels: documentation, environment, Component: Core, composer

#2573 Added missing css.map file
  skin/adminhtml/default/openmage/calendar-blue2.css.map
Labels: Template : admin, Component: Adminhtml

#2437 Added php-extension "intl" as requirement, updated composer
  README.md
  app/code/core/Mage/Core/Helper/Url.php
  app/code/core/Mage/Install/etc/install.xml
  composer.json
  composer.lock
  lib/Net/IDNA2.php
  lib/Net/IDNA2/Exception.php
  lib/Net/IDNA2/Exception/Nameprep.php
Labels: documentation, Component: Core, Component: Install, Component: lib/*, composer

#2579 Delete Mage_AmazonPayments.csv
  app/locale/en_US/Mage_AmazonPayments.csv
Labels: translations

#2578 Update label for `system/csrf/use_form_key` config
  app/code/core/Mage/Core/etc/system.xml
Labels: Component: Core

#2582 Refactoring: Replace dirname(__FILE__) With Corresponding Constant
  app/Mage.php
  app/code/core/Mage/Bundle/sql/bundle_setup/mysql4-upgrade-1.6.0.0-1.6.0.0.1.php
  app/code/core/Mage/Catalog/sql/catalog_setup/mysql4-upgrade-1.6.0.0.8-1.6.0.0.9.php
  app/code/core/Mage/Downloadable/sql/downloadable_setup/mysql4-upgrade-1.6.0.0.1-1.6.0.0.2.php
  app/code/core/Mage/Reports/sql/reports_setup/mysql4-install-1.5.0.0.php
  app/code/core/Mage/Reports/sql/reports_setup/mysql4-install-1.6.0.0.php
  cron.php
  dev/tests/functional/utils/bootstrap.php
  dev/tests/functional/utils/generate.php
  get.php
  index.php
  install.php
  js/index.php
  lib/Varien/Debug.php
  shell/abstract.php
Labels: Component: Catalog, Component: Reports, Component: lib/Varien, Mage.php, Component: Downloadable, Component: Bundle, shell, Component: lib/*, JavaScript

#2574 phpstan: added some return statements to match parent class or interface
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Review/Grid/Renderer/Type.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Options.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Composite.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Encrypted.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Serialized.php
  app/code/core/Mage/Adminhtml/controllers/CustomerController.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Recurring.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/CatalogInventory/Model/System/Config/Backend/Minsaleqty.php
  app/code/core/Mage/Checkout/Block/Onepage/Payment/Methods.php
  app/code/core/Mage/Core/Model/Config/Data.php
  app/code/core/Mage/Core/functions.php
  app/code/core/Mage/Customer/Model/Customer/Attribute/Backend/Password.php
  app/code/core/Mage/GiftMessage/Model/Entity/Attribute/Backend/Boolean/Config.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Edit.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Edit/Tabs.php
  app/code/core/Mage/Payment/Block/Catalog/Product/View/Profile.php
  app/code/core/Mage/Paypal/Model/Payflowlink.php
  app/code/core/Mage/Paypal/Model/Payflowpro.php
  app/code/core/Mage/Paypal/Model/System/Config/Backend/MerchantCountry.php
  app/code/core/Mage/Sales/Model/Billing/Agreement.php
  app/code/core/Mage/Sales/Model/Resource/Order/Invoice/Collection.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Column.php
Labels: environment, Component: PayPal, Component: Core, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Customer, Component: Adminhtml, Component: Wishlist, Component: Payment, Component: Index, phpstan

#2587 phpstan: return type fixes
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Newsletter/Queue/Edit.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Shopcart.php
  app/code/core/Mage/Adminhtml/Block/Sales/Shipment/Grid.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Catalog/Search/Type.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/AttributeController.php
  app/code/core/Mage/Adminhtml/controllers/System/ConfigController.php
  app/code/core/Mage/Api2/Block/Adminhtml/Permissions/User/Edit/Tab/Roles.php
  app/code/core/Mage/Catalog/Block/Product/Gallery.php
  app/code/core/Mage/Catalog/Block/Product/View/Tabs.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Validator/Product.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Api.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Checkout/Block/Cart/Sidebar.php
  app/code/core/Mage/Core/functions.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Customer/controllers/AddressController.php
  app/code/core/Mage/Dataflow/Model/Batch.php
  app/code/core/Mage/Dataflow/Model/Profile.php
  app/code/core/Mage/Downloadable/controllers/CustomerController.php
  app/code/core/Mage/Downloadable/controllers/FileController.php
  app/code/core/Mage/Downloadable/controllers/Product/EditController.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Edit/Tab/Main.php
  app/code/core/Mage/Newsletter/controllers/ManageController.php
  app/code/core/Mage/Oauth/controllers/Customer/TokenController.php
  app/code/core/Mage/Paygate/Model/Authorizenet/Cards.php
  app/code/core/Mage/Payment/Model/Method/Cc.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Payflowlink/Info.php
  app/code/core/Mage/Paypal/Model/Payflowpro.php
  app/code/core/Mage/Paypal/Model/Payment/Transaction.php
  app/code/core/Mage/ProductAlert/controllers/UnsubscribeController.php
  app/code/core/Mage/Review/controllers/CustomerController.php
  app/code/core/Mage/Sales/Model/Entity/Quote/Item/Collection.php
  app/code/core/Mage/Sales/Model/Service/Order.php
  app/code/core/Mage/Sales/controllers/Billing/AgreementController.php
  app/code/core/Mage/Sales/controllers/OrderController.php
  app/code/core/Mage/Sales/controllers/Recurring/ProfileController.php
  app/code/core/Mage/SalesRule/Model/Observer.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Properties.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Settings.php
  app/code/core/Mage/Widget/Model/Widget.php
  lib/Varien/Object/Mapper.php
Labels: environment, Component: PayPal, Component: Core, Component: Catalog, Component: Checkout, Component: lib/Varien, Component: Sales, Component: Customer, Component: Adminhtml, Component: ProductAlert, Component: SalesRule, Component: Widget, Component: Review, Component: Payment, Component: Oauth, Component: Index, Component: Downloadable, Component: Api2, Component: Dataflow, Component: Paygate, Component: lib/*, phpstan

#2589 Updated phpstan experimental
  .github/workflows/static-code-analyses.yml
Labels: environment

#2591 Fix Phpdoc Typos in Various Files
  app/code/core/Mage/Adminhtml/Block/Sales/Items/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Address.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Invoice/View/Form.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Invoice/View/Items.php
  app/code/core/Mage/Bundle/Model/Sales/Order/Pdf/Items/Abstract.php
  app/code/core/Mage/Catalog/Block/Product/View/Type/Configurable.php
  app/code/core/Mage/Catalog/Block/Seo/Sitemap/Abstract.php
  app/code/core/Mage/Catalog/Model/Abstract.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Abstract.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Collection/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Eav/Mysql4/Collection/Abstract.php
  app/code/core/Mage/Checkout/Block/Cart/Totals.php
  app/code/core/Mage/Core/Block/Html/Link.php
  app/code/core/Mage/Core/Helper/Abstract.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Helper/Abstract.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Abstract.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Date.php
  app/code/core/Mage/Eav/Model/Attribute/Data/File.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Multiline.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Multiselect.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Select.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Text.php
  app/code/core/Mage/Eav/Model/Form.php
  app/code/core/Mage/GiftMessage/Helper/Message.php
  app/code/core/Mage/Index/Model/Indexer.php
  app/code/core/Mage/Index/Model/Indexer/Abstract.php
  app/code/core/Mage/Payment/Model/Method/Abstract.php
  app/code/core/Mage/Paypal/Controller/Express/Abstract.php
  app/code/core/Mage/Paypal/Model/Api/Abstract.php
  app/code/core/Mage/Reports/Model/Resource/Report/Abstract.php
  app/code/core/Mage/Rule/Model/Condition/Product/Abstract.php
  app/code/core/Mage/Sales/Block/Adminhtml/Recurring/Profile/View/Items.php
  app/code/core/Mage/Sales/Model/Order.php
  app/code/core/Mage/Sales/Model/Quote/Address/Total/Abstract.php
  app/code/core/Mage/Sales/Model/Quote/Item/Abstract.php
  app/code/core/Mage/Wishlist/Block/Abstract.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: Reports, Component: Checkout, Component: Sales, Component: Eav, Component: Adminhtml, Component: Wishlist, Component: Rule, Component: Payment, Component: Index, Component: Bundle

#2554 phpstan: fixed "Access to an undefined property"
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Tab/Design.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Cart.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Bar.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Grid/Renderer/Action.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Abstract.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/Wizard.php
  app/code/core/Mage/Adminhtml/Block/Tag/Customer.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Container.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Tree.php
  app/code/core/Mage/Eav/Model/Convert/Adapter/Grid.php
  app/code/core/Mage/Paygate/Model/Authorizenet.php
  app/code/core/Mage/Paypal/Block/Express/Review.php
  app/code/core/Mage/Paypal/Controller/Express/Abstract.php
  app/code/core/Mage/Paypal/Model/Config.php
  app/code/core/Mage/Sales/Model/Quote/Item/Abstract.php
  app/code/core/Mage/Sales/Model/Resource/Sale/Collection.php
  app/code/core/Mage/Shipping/Model/Carrier/Abstract.php
Labels: environment, Component: PayPal, Component: Catalog, Component: Sales, Component: Eav, Component: Adminhtml, Component: Shipping, Component: Paygate, phpstan

#1430 Strip null bytes from strings and filter conditions.
  app/code/core/Mage/Core/Model/Resource/Abstract.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: Core, Component: lib/Varien, Component: lib/*

#2593 Fixed phpstan-workflow
  .github/workflows/static-code-analyses.yml
Labels: environment

#2588 Some fixes for phpdocs
  app/code/core/Mage/Admin/Model/Acl/Assert/Ip.php
  app/code/core/Mage/Admin/Model/Acl/Assert/Time.php
  app/code/core/Mage/Admin/Model/Redirectpolicy.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Composite/Configure.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Wishlist.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Array/Abstract.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreateController.php
  app/code/core/Mage/Api/Model/Acl/Assert/Ip.php
  app/code/core/Mage/Api/Model/Acl/Assert/Time.php
  app/code/core/Mage/Api/Model/Server/Wsi/Handler.php
  app/code/core/Mage/Api2/Model/Multicall.php
  app/code/core/Mage/Api2/Model/Route/ApiType.php
  app/code/core/Mage/Bundle/Helper/Catalog/Product/Configuration.php
  app/code/core/Mage/Bundle/Model/Observer.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Block/Product/View/Options.php
  app/code/core/Mage/Catalog/Block/Product/View/Options/Abstract.php
  app/code/core/Mage/Catalog/Helper/Product/Configuration.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Product/Compare/Item.php
  app/code/core/Mage/Catalog/Model/Product/Option.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Select.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Indexer/Product.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/Centinel/Model/Service.php
  app/code/core/Mage/Checkout/Model/Api/Resource.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Core/Controller/Request/Http.php
  app/code/core/Mage/Core/Controller/Varien/Front.php
  app/code/core/Mage/Core/Model/Url/Rewrite.php
  app/code/core/Mage/Customer/Block/Form/Login.php
  app/code/core/Mage/Customer/Model/Api/Resource.php
  app/code/core/Mage/Directory/Helper/Data.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.8-0.8.9.php
  app/code/core/Mage/Directory/sql/directory_setup/mysql4-upgrade-0.8.9-0.8.10.php
  app/code/core/Mage/Eav/Model/Resource/Entity/Attribute.php
  app/code/core/Mage/Oauth/Model/Server.php
  app/code/core/Mage/Payment/Model/Recurring/Profile.php
  app/code/core/Mage/Paypal/Controller/Express/Abstract.php
  app/code/core/Mage/Paypal/Model/Info.php
  app/code/core/Mage/Paypal/Model/Ipn.php
  app/code/core/Mage/Paypal/Model/Payflowlink.php
  app/code/core/Mage/Paypal/Model/Payment/Transaction.php
  app/code/core/Mage/Paypal/Model/Resource/Payment/Transaction.php
  app/code/core/Mage/PaypalUk/Model/Api/Nvp.php
  app/code/core/Mage/PaypalUk/Model/Direct.php
  app/code/core/Mage/PaypalUk/Model/Express.php
  app/code/core/Mage/PaypalUk/Model/Pro.php
  app/code/core/Mage/Reports/Model/Resource/Event.php
  app/code/core/Mage/Rule/Model/Resource/Rule/Collection/Abstract.php
  app/code/core/Mage/Sales/Model/Api/Resource.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/code/core/Mage/Tag/Model/Resource/Tag.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
Labels: Cleanup: DOC blocks, Component: PayPal, Component: Core, Component: Catalog, Component: Cms, Component: Reports, Component: Checkout, Component: Sales, Component: Usa, Component: Customer, Component: Eav, Component: Adminhtml, Component: Api, Component: Tag, Component: Admin, Component: Wishlist, Component: Rule, Component: Payment, Component: Oauth, Component: Bundle, Component: Api2, Component: Directory, Component: Centinel, Component: PaypalUk

#2599 Removed Mage_GoogleBase.csv
  app/locale/en_US/Mage_GoogleBase.csv
Labels: translations

#2597 Better admin/config validation for allowed currencies
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Currency/Default.php
  app/code/core/Mage/Directory/etc/system.xml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: bug, Component: Adminhtml, Component: Directory, translations

#2602 Fix admin grid filter, ref #1430
  app/code/core/Mage/Bundle/Helper/Catalog/Product/Configuration.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Select.php
  app/code/core/Mage/Paypal/Model/Payflowlink.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: PayPal, Component: Catalog, Component: lib/Varien, Component: Bundle, Component: lib/*

#2610 [backport] Aggregate most viewed products report daily via a Cron job (#1829)
  app/code/core/Mage/Reports/Model/Observer.php
  app/code/core/Mage/Reports/etc/config.xml
Labels: Component: Reports

#2611 Update deprecated using ${var} in lib/Zend
  lib/Zend/Gdata/App.php
  lib/Zend/Gdata/App/Base.php
  lib/Zend/Gdata/App/BaseMediaSource.php
  lib/Zend/Gdata/App/LoggingHttpClientAdapterSocket.php
  lib/Zend/Gdata/Gapps.php
Labels: Component: lib/Zend, Component: lib/*

#1198 Fix integers being cast to decimal in some particular cases
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/Eav/Model/Resource/Helper/Mysql4.php
Labels: bug, Component: Eav, bug confirmed, needs investigation

#2605 phpstan: fixes for Mage_Catalog_Model_Product_Type_Abstract
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Composite/Fieldset/Grouped.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Created.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Simple.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Settings.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/ProductController.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option.php
  app/code/core/Mage/Bundle/Model/Observer.php
  app/code/core/Mage/Bundle/Model/Product/Price.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Block/Product/View/Type/Configurable.php
  app/code/core/Mage/Catalog/Block/Product/View/Type/Grouped.php
  app/code/core/Mage/Catalog/Helper/Product/Configuration.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable/Price.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Type/Configurable/Attribute/Collection.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Abstract.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Minimalprice.php
  app/code/core/Mage/CatalogInventory/Block/Stockqty/Type/Configurable.php
  app/code/core/Mage/CatalogInventory/Block/Stockqty/Type/Grouped.php
  app/code/core/Mage/Checkout/Block/Cart/Item/Renderer/Configurable.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Links.php
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Samples.php
  app/code/core/Mage/Downloadable/Block/Catalog/Product/Links.php
  app/code/core/Mage/Downloadable/Block/Catalog/Product/Samples.php
  app/code/core/Mage/Downloadable/Helper/Catalog/Product/Configuration.php
  app/code/core/Mage/Downloadable/Model/Link/Api.php
  app/code/core/Mage/Downloadable/Model/Observer.php
  app/code/core/Mage/Downloadable/Model/Product/Price.php
  app/code/core/Mage/Downloadable/Model/Product/Type.php
  app/code/core/Mage/Paygate/Helper/Data.php
  app/code/core/Mage/Payment/Model/Recurring/Profile.php
  app/code/core/Mage/Paypal/Block/Payment/Info.php
  app/code/core/Mage/Paypal/Model/Config.php
  app/code/core/Mage/Sales/Model/Recurring/Profile.php
Labels: environment, Component: PayPal, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Adminhtml, Component: Payment, Component: Downloadable, Component: Bundle, Component: CatalogIndex, Component: ConfigurableSwatches, Component: Paygate, phpstan

#2613 phpdocs: Undefined methods
  app/code/core/Mage/Adminhtml/Block/Newsletter/Queue/Grid/Renderer/Action.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Action.php
  app/code/core/Mage/Adminhtml/Helper/Addresses.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Composite.php
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Abstract.php
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Data.php
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Order.php
  app/code/core/Mage/Adminhtml/Helper/Help/Mapping.php
  app/code/core/Mage/Adminhtml/Helper/Js.php
  app/code/core/Mage/Adminhtml/Helper/Media/Js.php
  app/code/core/Mage/Adminhtml/Helper/Rss.php
  app/code/core/Mage/Adminhtml/Helper/Sales.php
  app/code/core/Mage/Adminhtml/Model/Config.php
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
  app/code/core/Mage/Adminhtml/Model/Customer/Renderer/Region.php
  app/code/core/Mage/Adminhtml/Model/Email/Template.php
  app/code/core/Mage/Adminhtml/Model/Giftmessage/Save.php
  app/code/core/Mage/Adminhtml/Model/Report/Item.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Random.php
  app/code/core/Mage/Adminhtml/Model/Search/Catalog.php
  app/code/core/Mage/Adminhtml/Model/Search/Customer.php
  app/code/core/Mage/Adminhtml/Model/Search/Order.php
  app/code/core/Mage/Adminhtml/Model/Session/Quote.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Admin/Password/Link/Expirationperiod.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Baseurl.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Catalog/Inventory/Managestock.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Customer/Password/Link/Expirationperiod.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Customer/Show/Customer.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Email/Logo.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Filename.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Gatewayurl.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Locale.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Log/Cron.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Passwordlength.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Sitemap.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Admin/Page.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Allregion.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Catalog/ListSort.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Country.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Country/Full.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Email/Template.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Language.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Locale/Currency/All.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Order/Status.php
  app/code/core/Mage/Adminhtml/Model/System/Store.php
  app/code/core/Mage/Adminhtml/Model/Url.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Default.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Config/Data.php
  app/code/core/Mage/Rss/Model/Session.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
Labels: Cleanup: Code style, Component: Core, Component: Catalog, Component: Sales, Component: Adminhtml, Component: Rss

#2576 Downgraded composer dependencies to also fit php7.3
  composer.json
  composer.lock
Labels: composer

#2447 Added two indexes on sales_flat_order and sales_flat_order_item tables
  app/code/core/Mage/Sales/etc/config.xml
  app/code/core/Mage/Sales/sql/sales_setup/upgrade-1.6.0.10-1.6.0.11.php
Labels: Component: Sales

#2592 Replace Date Format String Literals With Existing Constants
  app/code/core/Mage/AdminNotification/Model/Feed.php
  app/code/core/Mage/AdminNotification/Model/Inbox.php
  app/code/core/Mage/Adminhtml/Block/Sitemap/Grid/Renderer/Time.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Random.php
  app/code/core/Mage/Core/Model/Date.php
  app/code/core/Mage/Core/Model/Flag.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Core/Model/Observer.php
  app/code/core/Mage/Dataflow/Model/Convert/Adapter/Http.php
  app/code/core/Mage/Dataflow/Model/Session/Adapter/Http.php
  app/code/core/Mage/Persistent/Model/Session.php
  app/code/core/Mage/Sitemap/Model/Sitemap.php
  lib/Varien/Convert/Adapter/Http.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Io/File.php
Labels: Component: Core, Component: AdminNotification, Component: lib/Varien, Component: Adminhtml, Component: Sitemap, Component: Dataflow, Component: lib/*

#2616 [PHP 8.1] Fix passing null to preg_split limit param
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Helper/String.php
  app/code/core/Mage/Cron/Model/Schedule.php
  app/code/core/Mage/Rule/Model/Condition/Abstract.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Event/Observer/Cron.php
Labels: Component: Core, Component: lib/Varien, Component: Cron, Component: Rule, Component: lib/*, PHP 8

#2608 Updated github workflow
  .github/phpstan-baseline.neon
  .github/phpstan.neon
  .github/phpstan_experimental_level.neon
  .github/workflows/labeler.yml
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/sonar.yml
  .github/workflows/static-code-analyses.yml
  .github/workflows/syntax-php.yml
  .github/workflows/syntax-xml.yml
  .github/workflows/xml_validate.yml
Labels: environment, phpstan

#2618 Updated README
  README.md
Labels: documentation

#2444 Fixed detect changes in custom options section (product edit)
  app/design/adminhtml/default/default/template/bundle/product/edit/bundle/option/selection.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/option.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/type/select.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/price/group.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/price/tier.phtml
  app/design/adminhtml/default/default/template/downloadable/product/edit/downloadable/links.phtml
  app/design/adminhtml/default/default/template/downloadable/product/edit/downloadable/samples.phtml
  js/mage/adminhtml/product.js
Labels: Component: Catalog, Template : admin, Component: Adminhtml, Component: Downloadable, Component: Bundle, JavaScript

#2149 Add/Remove mark when region/zip is required
  app/design/adminhtml/default/default/layout/sales.xml
  app/design/adminhtml/default/default/template/customer/tab/addresses.phtml
  app/design/adminhtml/default/default/template/directory/js/optional_zip_countries.phtml
  js/mage/adminhtml/form.js
  js/varien/form.js
Labels: Template : admin, Component: Sales, Component: Customer, Component: Adminhtml, Component: Directory, JavaScript

#911 Optimize EAV collections
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
Labels: enhancement, waiting for feedback, performance, Component: Eav

#2623 Convert Exception to Throwable in Mage_Core_Block_Template.
  app/code/core/Mage/Core/Block/Template.php
Labels: Component: Core

#2604 Added css class for sorted columns
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  js/mage/adminhtml/grid.js
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Adminhtml, JavaScript

#2624 Fixed javascript error on adminhtml login page caused by #2149
  js/mage/adminhtml/form.js
Labels: JavaScript

#2625 Fixed bug caused by #2605
  app/code/core/Mage/Adminhtml/controllers/Catalog/ProductController.php
Labels: Component: Adminhtml

#2626 Fix workflow badges in README
  README.md
Labels: documentation

#2628 Update hardcoded credit card message in checkout
  app/design/frontend/base/default/template/checkout/onepage/review/totals.phtml
  app/design/frontend/default/iphone/template/checkout/onepage/review/totals.phtml
Labels: Component: Checkout, Template : base, Template : default
