Repository OpenMage/magento-lts, pull requests merged in 2022-04, with the labels that each got.

#1991 Deprecated global function "now" because it's equivalent to Varien_Date::now()
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#2011 Fixed the unused parameter in assignProduct
  app/code/core/Mage/Catalog/Model/Category/Api.php
Labels: bug, Component: Catalog

#2020 Remove white space for config values for #1852
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Catalog/Search/Separator.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
  app/code/core/Mage/CatalogSearch/etc/config.xml
Labels: Component: Adminhtml, Component: CatalogSearch

#2041 add unit Tests and send coverage results to SonarCloud
  .github/workflows/sonar.yml
  composer.json
  dev/.gitignore
  dev/phpunit.xml.dist
  dev/sonar-project.properties
  dev/tests/bootstrap.php
  dev/tests/unit/Base/ClassLoadingTest.php
  dev/tests/unit/Mage/Core/Helper/StringTest.php
Labels: Environment, composer

#2051 Use vanillaJS instead of prototype in Wishlist add to cart column
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Column/Cart.php
Labels: Component: Wishlist

#2053 do not mark github job as failes through sonar failure
  .github/workflows/sonar.yml
Labels: Environment

#2035 Analyze most of the source code with phpstan. Provide baseline.
  .github/phpstan-baseline.neon
  .github/phpstan.neon
  app/code/core/Mage/Adminhtml/Controller/Rss/Abstract.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Edit/Action/Attribute.php
  app/code/core/Mage/Api/Model/Wsdl/Config/Element.php
  app/code/core/Mage/Catalog/Model/Convert/Adapter/Product.php
  app/code/core/Mage/Catalog/Model/Design.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Api.php
  app/code/core/Mage/ImportExport/Model/Import/Adapter/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import/Adapter/Csv.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/ImportExport/Model/Resource/Import/Data.php
  app/code/core/Mage/Sales/Model/Entity/Sale/Collection.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Creditmemo.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Invoice.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Shipment.php
  composer.json
Labels: Environment, Component: Catalog, Component: Sales, Component: Adminhtml, Component: Api, Component: ImportExport, composer

#2056 Update PHPdoc and remove useless var
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
Labels: Component: Catalog

#2058 Add unit tests for security helper validateAgainstBlockMethodBlacklist and provide composer.lock
  .github/phpstan-baseline.neon
  composer.json
  composer.lock
  dev/tests/unit/Mage/Core/Helper/Security.php
Labels: Environment, composer
