Repository OpenMage/magento-lts, pull requests merged in 2022-11, with the labels that each got.

#2672 Fixes phpunit-workflow
  .github/workflows/phpunit.yml
Labels: environment

#2677 Reduce getId calls
  app/code/core/Mage/Catalog/Model/Resource/Category/Tree.php
Labels: Component: Catalog

#2679 Allow to save configuration without fields
  app/code/core/Mage/Adminhtml/controllers/System/ConfigController.php
Labels: Component: Adminhtml

#2682 Fix esi parsing with turpentine
  app/design/frontend/base/default/template/customer/address.phtml
  app/design/frontend/base/default/template/customer/address/book.phtml
Labels: Component: Customer, Template : base

#2688 Version bump in preparation for release
  app/Mage.php
Labels: Mage.php

#2689 Version bump merge for v20 (#2688)
  app/Mage.php
Labels: Mage.php

#2690 PHPStan: regenerated baseline for v20 branch
  .github/phpstan-baseline.neon
Labels: environment, phpstan

#2691 Run github workflows when their configuration files are changed
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/syntax-php.yml
  .github/workflows/syntax-xml.yml
Labels: environment

#2692 Set php version for phpstan
  .github/phpstan.neon
Labels: environment, phpstan

#2681 Do not autoload captcha class when disabled
  app/code/core/Mage/Captcha/Block/Captcha.php
  app/code/core/Mage/Captcha/Block/Captcha/Zend.php
  app/code/core/Mage/Captcha/Helper/Data.php
Labels: Component: Captcha

#2683 Do not crash when shipment does not exist
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Adminhtml, translations

#2698 Trim files
  app/code/core/Mage/Api/Model/Server/V2/Adapter/Soap.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/SalesRule/Model/Observer.php
  lib/Varien/Io/File.php
  lib/phpseclib/PHP/Compat/Function/bcpowmod.php
  lib/phpseclib/PHP/Compat/Function/str_split.php
Labels: Component: Core, Component: lib/Varien, Component: Eav, Component: Api, Component: SalesRule, Component: lib/*

#2699 Reduce again getId calls
  app/code/core/Mage/Catalog/Model/Resource/Category/Tree.php
Labels: Component: Catalog

#2701 Add link to the product page and float default qty for bundle items
  app/design/adminhtml/default/default/template/bundle/product/edit/bundle/option/selection.phtml
Labels: Template : admin, Component: Adminhtml, Component: Bundle

#2706 Remove obsolete ACL resources from DB
  app/code/core/Mage/Admin/etc/config.xml
  app/code/core/Mage/Admin/sql/admin_setup/upgrade-1.6.1.3-1.6.1.4.php
Labels: Cleanup, Component: Admin

#2710 Allow labeler workflow to fail
  .github/workflows/labeler.yml
Labels: environment

#2694 Bugfix to make exchange rate data with fixer.io work again
  app/code/core/Mage/Directory/Model/Currency/Import/Abstract.php
  app/code/core/Mage/Directory/Model/Currency/Import/Currencyconverterapi.php
  app/code/core/Mage/Directory/Model/Currency/Import/Fixerio.php
  app/code/core/Mage/Directory/Model/Currency/Import/Webservicex.php
  app/code/core/Mage/Directory/etc/config.xml
  app/code/core/Mage/Directory/etc/system.xml
Labels: Component: Directory, bug confirmed

#2711 Fixes typo in join alias in indexer
  app/code/core/Mage/Catalog/Model/Resource/Product/Indexer/Eav/Decimal.php
Labels: Component: Catalog

#2680 Set the right menu for reviews
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/ReviewController.php
  app/code/core/Mage/Adminhtml/controllers/RatingController.php
  app/code/core/Mage/Review/etc/adminhtml.xml
Labels: Component: Adminhtml, Component: Review

#2714 Version bump for next release
  app/Mage.php
Labels: Mage.php

#2717 Added confirmation before deleting website/store/storeview
  app/code/core/Mage/Adminhtml/Block/System/Store/Edit.php
Labels: Component: Adminhtml

#2733 Remove ms-filter
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#2735 Add method code in payment method list
  app/code/core/Mage/Payment/Helper/Data.php
Labels: Component: Payment

#2719 Fix data.title replace when it's null/undefined
  app/design/adminhtml/default/default/template/bundle/product/edit/bundle/option.phtml
Labels: Template : admin, Component: Adminhtml, Component: Bundle

#2747 Use getStoreConfigFlag() instead of (bool)getStoreConfig()
  app/code/core/Mage/Admin/Model/Session.php
  app/code/core/Mage/Api/Model/Server/Adapter/Soap.php
  app/code/core/Mage/Catalog/Helper/Data.php
  app/code/core/Mage/Checkout/Block/Cart/Shipping.php
  app/code/core/Mage/Checkout/Helper/Data.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/Customer/Helper/Address.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Directory/Helper/Data.php
  app/code/core/Mage/PageCache/Helper/Data.php
  app/code/core/Mage/Rss/Block/List.php
  app/code/core/Mage/Shipping/Block/Tracking/Popup.php
Labels: Cleanup, Component: Catalog, Component: Checkout, Component: Customer, Component: Api, Component: PageCache, Component: Admin, Component: Shipping, Component: Directory, Component: ConfigurableSwatches, Component: Rss

#2749 Replaces full class name with self
  app/code/core/Mage/Api2/Model/Acl/Global/Role.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Captcha/Helper/Data.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Directory/Model/Currency.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/Oauth/Model/Token.php
  app/code/core/Mage/Paypal/Model/Express/Checkout.php
  app/code/core/Mage/PaypalUk/Model/Pro.php
  app/code/core/Mage/Persistent/Model/Session.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/code/core/Mage/SalesRule/Helper/Coupon.php
  app/code/core/Mage/SalesRule/Model/Rule.php
Labels: Component: PayPal, Component: Core, Component: Sales, Component: Captcha, Component: SalesRule, Component: Oauth, Component: Api2, Component: ImportExport, Component: Directory, Component: PaypalUk

#2745 Backport: #1149
  app/code/core/Mage/Index/Model/Lock.php
Labels: Port: backward, Component: Index

#2752 Fixed incorrect docblock for setLastRealOrderId() and getLastRealOrde…
  app/code/core/Mage/Checkout/Model/Session.php
Labels: Component: Checkout

#2754 Fix: merge CSS files /w missing file
  app/code/core/Mage/Core/Helper/Data.php
Labels: Component: Core

#2746 Backport: #2315
  .github/phpstan-baseline.neon
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest.php
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest/Admin/V1.php
  app/code/core/Mage/Sales/etc/api2.xml
Labels: Port: backward, environment, Component: Sales, phpstan

#1293 Fixed setting of source_model when adding new attribute and for multiselect.
  app/code/core/Mage/Eav/Model/Resource/Entity/Attribute.php
Labels: Component: Eav

#2759 Remove declared properties accessed by magic getter in Paypal Config
  app/code/core/Mage/Paypal/Model/Config.php
Labels: Component: PayPal

#2750 Fix Order comment REST endpoint route param
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest.php
  app/code/core/Mage/Sales/etc/api2.xml
Labels: documentation, environment, Component: Sales

#2764 Moved DDEV docs
  docs/DDEV.md
Labels: documentation, Cleanup

#2761 PhpStan L5 fixes for Mage/Admin
  .github/phpstan-baseline.neon
  app/Mage.php
  app/code/core/Mage/Admin/Model/Config.php
  app/code/core/Mage/Admin/Model/Observer.php
  app/code/core/Mage/Admin/Model/Session.php
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/AdminNotification/Model/Feed.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Cache.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Log/Model/Visitor/Online.php
  lib/Varien/Cache/Core.php
Labels: environment, Component: Core, Component: AdminNotification, Component: lib/Varien, Mage.php, Component: Admin, Component: Log, Component: lib/*, phpstan

#2703 Add getInvoicesCollection
  app/code/core/Mage/Sales/Model/Order.php
Labels: Component: Sales
