Repository OpenMage/magento-lts, pull requests merged in 2022-02, with the labels that each got.

#1985 Added ability to add target attribute for adminhtml menu items
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
  app/design/adminhtml/default/default/template/page/menu.phtml
Labels: Template : admin, Component: Adminhtml, Component: Page

#1987 Add docblock to app\code\core\Mage\Adminhtml\Block\Widget\Grid\Column…
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
Labels: Cleanup: DOC blocks, Component: Adminhtml

#2002 [PHP 8.1] Fix passing `null` to `trim()`
  app/code/core/Mage/Core/Model/Config.php
Labels: Component: Core

#2008 Replaced remaining deprecated urlEscape calls.
  app/code/core/Mage/Widget/Model/Widget.php
  app/design/frontend/base/default/template/catalog/layer/filter.phtml
  app/design/frontend/rwd/default/template/catalog/layer/filter.phtml
  app/design/frontend/rwd/default/template/configurableswatches/catalog/layer/filter/swatches.phtml
Labels: Component: Catalog, Template : rwd, Template : base, Component: Widget

#2015 Update phpstan version
  composer.json
Labels: composer

#1630 Replaced isAvailable() with isSalable() so events are considered
  app/code/core/Mage/ProductAlert/Block/Product/View.php
Labels: Component: ProductAlert

#1357 Use mb_substr to split the postcode
  app/code/core/Mage/Tax/Model/Resource/Calculation.php
Labels: Component: Tax

#1960 Fix count(): Parameter must be an array or an object that implements Countable
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: Component: Catalog, PHP8

#1850 Fix getting default `min_sale_qty` when trying to mass-update product attributes
  app/design/adminhtml/default/default/template/catalog/product/edit/action/inventory.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#2014 Add polyfill for PHP8 native string functions
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#1872 Improve getScheme on Zend_Controller_Request_Http
  app/code/core/Zend/Controller/Request/Http.php
Labels: Component: lib/Zend
