Repository OpenMage/magento-lts, pull requests merged in 2022-12, with the labels that each got.

#2716 Require a parent category to add a new sub category
  app/design/adminhtml/default/default/template/catalog/category/tree.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Catalog, Template : admin, Component: Adminhtml, translations

#2769 Version bump for next release
  app/Mage.php
Labels: Mage.php

#2723 Use store data for products of order items
  app/code/core/Mage/Sales/Model/Order/Item.php
Labels: Component: Sales

#2772 Fix error when payment methods have been deleted
  app/code/core/Mage/Payment/Model/Observer.php
Labels: Component: Payment, bug confirmed

#2757 Fixed sort in Manage Tax Rates grid
  .github/phpstan-baseline.neon
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rate/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: environment, Component: Adminhtml, phpstan

#2765 Use default paths for config files
  .github/workflows/check-files.yml
  .github/workflows/labeler-labels.yml
  .github/workflows/labeler.yml
  .github/workflows/php-cs-fixer.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/sonar.yml
  .github/workflows/syntax-php.yml
  .github/workflows/syntax-xml.yml
  .github/workflows/workflow.yml
  .gitignore
  .php-cs-fixer.dist.php
  .phpcs.ecg.xml.dist
  .phpcs.php.xml.dist
  .phpcs.xml.dist
  README.md
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: documentation, environment, phpstan, phpcs, php-cs-fixer

#2411 Moved phpseclib, mcrypt_compat, Cm_RedisSession, Cm_Cache_Backend_Redis and Pelago_Emogrifier to composer
  app/Mage.php
  app/code/community/Cm/RedisSession/Model/Session.php
  app/code/community/Cm/RedisSession/etc/config.xml
  app/code/core/Mage/Core/Model/Email/Template/Abstract.php
  app/etc/modules/Cm_RedisSession.xml
  composer.json
  composer.lock
  lib/Cm/Cache/Backend/Redis.php
  lib/Credis/Client.php
  lib/Pelago/Emogrifier.php
  lib/mcryptcompat/mcrypt.php
  lib/phpseclib/Crypt/AES.php
  lib/phpseclib/Crypt/Base.php
  lib/phpseclib/Crypt/Blowfish.php
  lib/phpseclib/Crypt/DES.php
  lib/phpseclib/Crypt/Hash.php
  lib/phpseclib/Crypt/RC2.php
  lib/phpseclib/Crypt/RC4.php
  lib/phpseclib/Crypt/RSA.php
  lib/phpseclib/Crypt/Random.php
  lib/phpseclib/Crypt/Rijndael.php
  lib/phpseclib/Crypt/TripleDES.php
  lib/phpseclib/Crypt/Twofish.php
  lib/phpseclib/File/ANSI.php
  lib/phpseclib/File/ASN1.php
  lib/phpseclib/File/ASN1/Element.php
  lib/phpseclib/File/X509.php
  lib/phpseclib/Math/BigInteger.php
  lib/phpseclib/Net/SCP.php
  lib/phpseclib/Net/SFTP.php
  lib/phpseclib/Net/SFTP/Stream.php
  lib/phpseclib/Net/SSH1.php
  lib/phpseclib/Net/SSH2.php
  lib/phpseclib/PHP/Compat/Function/array_fill.php
  lib/phpseclib/PHP/Compat/Function/bcpowmod.php
  lib/phpseclib/PHP/Compat/Function/str_split.php
  lib/phpseclib/System/SSH/Agent.php
  lib/phpseclib/System/SSH/Agent/Identity.php
  lib/phpseclib/bootstrap.php
  lib/phpseclib/openssl.cnf
Labels: Component: Core, Mage.php, Component: Cm/RedisSession, Component: lib/*, composer

#2773 Fixes workflow issues, ref #2770
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/workflow.yml
Labels: environment

#2778 Hotfix: broken workflow
  .github/workflows/sonar.yml
  .github/workflows/workflow.yml
Labels: environment, phpunit

#2775 Removed unreachable code
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/View/Tracking.php
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
  app/code/core/Mage/Adminhtml/controllers/Api/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/RoleController.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Tree.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Catalog/Helper/Product/Configuration.php
  app/code/core/Mage/Catalog/Model/Product/Api/V2.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/CatalogIndex/Model/Aggregation.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Item.php
  app/code/core/Mage/CatalogSearch/Block/Advanced/Form.php
  app/code/core/Mage/Core/Model/File/Storage/File.php
  app/code/core/Mage/Core/Model/Resource/Setup.php
  app/code/core/Mage/Core/functions.php
  app/code/core/Mage/Customer/Model/Customer/Attribute/Source/Store.php
  app/code/core/Mage/Dataflow/Model/Convert/Adapter/Io.php
  app/code/core/Mage/Dataflow/Model/Convert/Parser/Xml/Excel.php
  app/code/core/Mage/Paygate/Model/Authorizenet.php
  app/code/core/Mage/Sales/Model/Recurring/Profile.php
  app/code/core/Mage/Shipping/Model/Carrier/Abstract.php
  app/code/core/Mage/Sitemap/Model/Resource/Catalog/Abstract.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Customer, Component: Adminhtml, Component: Sitemap, Component: Shipping, Component: CatalogIndex, Component: Api2, Component: CatalogSearch, Component: Dataflow, Component: Paygate, phpstan

#2785 Avoid to use unavailable $data var in Curl HTTP Client
  lib/Mage/HTTP/Client/Curl.php
Labels: Component: lib/Mage, Component: lib/*

#2780 phpstan: added lib/Mage and lib/Magento
  lib/Mage/Archive.php
  lib/Mage/Archive/Helper/File.php
  lib/Mage/Archive/Tar.php
  lib/Mage/Backup.php
  lib/Mage/Backup/Abstract.php
  lib/Mage/Backup/Archive/Tar.php
  lib/Mage/Backup/Filesystem.php
  lib/Mage/Backup/Interface.php
  lib/Mage/Backup/Nomedia.php
  lib/Mage/Backup/Snapshot.php
  lib/Mage/DB/Mysqli.php
  lib/Mage/HTTP/Client.php
  lib/Mage/HTTP/Client/Curl.php
  lib/Mage/HTTP/Client/Socket.php
  lib/Mage/HTTP/IClient.php
  lib/Mage/System/Args.php
  lib/Mage/System/Ftp.php
  lib/Mage/Xml/Generator.php
  lib/Mage/Xml/Parser.php
  lib/Magento/Db/Adapter/Pdo/Mysql.php
  lib/Magento/Profiler.php
  lib/Magento/Profiler/OutputAbstract.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: Component: lib/Mage, Component: lib/*, phpstan, Component: lib/Magento

#2776 Updated DOCblocks (fixed param null)
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Categories.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Price.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Bundle/Block/Sales/Order/Items/Renderer.php
  app/code/core/Mage/Catalog/Block/Product/View/Options/Type/Date.php
  app/code/core/Mage/Catalog/Model/Category/Api.php
  app/code/core/Mage/Catalog/Model/Category/Api/V2.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Abstract.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Price.php
  app/code/core/Mage/Catalog/Model/Product/Api.php
  app/code/core/Mage/Catalog/Model/Product/Api/V2.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Tierprice/Api.php
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/Catalog/Model/Product/Link.php
  app/code/core/Mage/Catalog/Model/Product/Link/Api/V2.php
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Indexer/Product.php
  app/code/core/Mage/Catalog/Model/Resource/Layer/Filter/Price.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Status.php
  app/code/core/Mage/Checkout/Block/Cart/Sidebar.php
  app/code/core/Mage/Checkout/Block/Cart/Totals.php
  app/code/core/Mage/Checkout/Block/Multishipping/Overview.php
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Media/Js/Abstract.php
  app/code/core/Mage/Core/Block/Html/Date.php
  app/code/core/Mage/Core/Block/Template/Zend.php
  app/code/core/Mage/Core/Block/Text/Tag.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Email/Template.php
  app/code/core/Mage/Core/Model/Session/Abstract/Zend.php
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
  app/code/core/Mage/Log/Model/Aggregation.php
  app/code/core/Mage/Media/Model/File/Image.php
  app/code/core/Mage/Payment/Exception.php
  app/code/core/Mage/Payment/Model/Config.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
  app/code/core/Mage/Tax/Helper/Data.php
  app/code/core/Mage/Tax/Model/Calculation.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf/Page.php
  phpstan.dist.baseline.neon
Labels: Cleanup: DOC blocks, Component: Core, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Usa, Component: Adminhtml, Component: Tax, Component: Payment, Component: Bundle, Component: Media, Component: Log, Component: ConfigurableSwatches, Component: GoogleAnalytics, phpstan

#2789 Fixed baseline, ref #2785
  phpstan.dist.baseline.neon
Labels: phpstan

#2790 PHPStan: removed excluded directories
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Weee/Block/Renderer/Weee/Tax.php
  app/code/core/Mage/Weee/Helper/Data.php
  lib/Varien/Data/Tree/Db.php
  lib/Varien/Db/Adapter/Interface.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Ddl/Table.php
  lib/Varien/Db/Select.php
  lib/Varien/File/Uploader.php
  lib/Varien/File/Uploader/Image.php
  lib/Varien/Filter/Template.php
  lib/Varien/Io/Abstract.php
  lib/Varien/Io/File.php
  lib/Varien/Simplexml/Config.php
  lib/Varien/Simplexml/Element.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: Component: lib/Varien, Component: Usa, Component: Weee, Component: lib/*, phpstan

#2791 Reverted autoloader patch
  app/Mage.php
Labels: Mage.php

#2794 PHPStan: Level 0 update
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Model/Config.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RuleController.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/ResourcePermission.php
  app/code/core/Mage/Authorizenet/Model/Directpost.php
  app/code/core/Mage/Bundle/Model/Resource/Selection/Collection.php
  app/code/core/Mage/Checkout/Block/Onepage/Shipping/Method/Available.php
  app/code/core/Mage/Checkout/Model/Cart.php
  app/code/core/Mage/Checkout/Model/Session.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Index/Model/Resource/Setup.php
  app/code/core/Mage/Newsletter/controllers/ManageController.php
  app/code/core/Mage/Paypal/Model/Hostedpro.php
  app/code/core/Mage/Paypal/Model/Standard.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
  app/code/core/Mage/Sales/Model/Recurring/Profile.php
  app/code/core/Mage/SalesRule/Model/Resource/Report/Collection.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf/PageBuilder.php
  app/code/core/Mage/Weee/Model/Total/Quote/Weee.php
  app/code/core/Mage/Wishlist/Model/Item.php
  lib/Varien/Convert/Validator/Dryrun.php
  lib/Varien/Data/Collection/Filesystem.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Tree/NodeSet.php
  lib/Varien/File/Uploader/Image.php
  lib/Varien/Filter/Array.php
  lib/Varien/Filter/Object.php
  lib/Varien/Filter/Object/Grid.php
  lib/Varien/Io/File.php
  phpstan.dist.baseline.neon
Labels: Component: PayPal, Component: Checkout, Component: lib/Varien, Component: Sales, Component: Usa, Component: Customer, Component: Adminhtml, Component: SalesRule, Component: Wishlist, Component: Weee, Component: Index, Component: Bundle, Component: Api2, Component: Authorizenet, Component: lib/*, phpstan

#2804 Check $sessionData is an array in Mage_Captcha_Model_Zend
  app/code/core/Mage/Captcha/Model/Zend.php
Labels: Component: Captcha

#2807 Moved null-byte fix from lib/Zend to lib/Magento
  lib/Magento/Db/Adapter/Pdo/Mysql.php
  lib/Zend/Db/Adapter/Pdo/Abstract.php
Labels: Component: lib/Zend, Component: lib/*, Component: lib/Magento, PHP 8.1

#2808 Updated phpstan 1.9.3
  composer.json
  composer.lock
  phpstan.dist.baseline.neon
Labels: composer, phpstan

#2795 PHPStan: updated lib/Varien
  app/code/core/Mage/Core/Model/Layout.php
  lib/Varien/Cache/Backend/Memcached.php
  lib/Varien/Cache/Core.php
  lib/Varien/Data/Collection/Db.php
  lib/Varien/Data/Collection/Filesystem.php
  lib/Varien/Data/Form/Element/Abstract.php
  lib/Varien/Data/Form/Element/Date.php
  lib/Varien/Data/Form/Element/Multiselect.php
  lib/Varien/Data/Form/Element/Select.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Ddl/Table.php
  lib/Varien/Db/Select.php
  lib/Varien/Db/Statement/Parameter.php
  lib/Varien/Db/Tree/Node.php
  lib/Varien/Debug.php
  lib/Varien/Event/Observer.php
  lib/Varien/File/Transfer/Adapter/Http.php
  lib/Varien/File/Uploader.php
  lib/Varien/Filter/Template.php
  lib/Varien/Http/Adapter/Curl.php
  lib/Varien/Image.php
  lib/Varien/Image/Adapter/Abstract.php
  lib/Varien/Io/File.php
  lib/Varien/Io/Ftp.php
  lib/Varien/Object/Cache.php
  lib/Varien/Simplexml/Config.php
  lib/Varien/Simplexml/Config/Cache/File.php
  lib/Varien/Simplexml/Element.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: lib/Varien, Component: lib/*, phpstan

#2796 Updated phpdocs
  app/code/core/Mage/Adminhtml/Block/Api/User/Edit.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Edit.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Search/Edit.php
  app/code/core/Mage/Adminhtml/Block/Checkout/Agreement/Edit.php
  app/code/core/Mage/Adminhtml/Block/Cms/Block/Edit.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit.php
  app/code/core/Mage/Adminhtml/Block/Customer/Group/Edit.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Edit.php
  app/code/core/Mage/Adminhtml/Block/Permissions/Block/Edit.php
  app/code/core/Mage/Adminhtml/Block/Permissions/User/Edit.php
  app/code/core/Mage/Adminhtml/Block/Permissions/Variable/Edit.php
  app/code/core/Mage/Adminhtml/Block/Poll/Answer/Edit.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Edit.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit.php
  app/code/core/Mage/Adminhtml/Block/Rating/Edit.php
  app/code/core/Mage/Adminhtml/Block/Review/Add.php
  app/code/core/Mage/Adminhtml/Block/Review/Edit.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Billing/Method.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Comment.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Coupons.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Customer.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Account.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Newsletter.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Shipping/Method.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Cart.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Compared.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Pcompared.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Pviewed.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Store.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Totals.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Creditmemo/Create.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/Create.php
  app/code/core/Mage/Adminhtml/Block/Sales/Transactions/Detail.php
  app/code/core/Mage/Adminhtml/Block/Sitemap/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Account/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Store/Delete.php
  app/code/core/Mage/Adminhtml/Block/System/Variable/Edit.php
  app/code/core/Mage/Adminhtml/Block/Tag/Edit.php
  app/code/core/Mage/Adminhtml/Block/Tag/Tag/Edit.php
  app/code/core/Mage/Adminhtml/Block/Tax/Class/Edit.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rule/Edit.php
  app/code/core/Mage/Adminhtml/Block/Widget/Container.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Search.php
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer/Edit.php
  app/code/core/Mage/Sales/Block/Adminhtml/Billing/Agreement/View.php
  app/code/core/Mage/Tag/Block/Product/Result.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit.php
Labels: Cleanup: DOC blocks, Component: Sales, Component: Adminhtml, Component: Tag, Component: Widget, Component: Oauth, Component: Bundle

#2810 Sync v19 v20
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Item.php
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Page/Block/Html/Head.php
  app/code/core/Mage/Sales/Model/Order.php
  app/code/core/Mage/Sales/Model/Order/Address.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo/Item.php
  app/code/core/Mage/Sales/Model/Order/Invoice.php
  app/code/core/Mage/Sales/Model/Order/Invoice/Item.php
  app/code/core/Mage/Sales/Model/Order/Item.php
  app/code/core/Mage/Sales/Model/Order/Shipment.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
  app/locale/en_US/Mage_Catalog.csv
  index.php
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Page, translations

#2165 Created a release builder workflow
  .github/workflows/release.yml
  composer.json
  composer.lock
Labels: environment, composer

#2819 phpstan: Mage.php
  app/Mage.php
  phpstan.dist.baseline.neon
Labels: Mage.php, phpstan

#2816 phpstan: Mage_Poll
  app/code/core/Mage/Poll/Block/ActivePoll.php
  app/code/core/Mage/Poll/Model/Poll.php
  app/code/core/Mage/Poll/Model/Resource/Poll.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Answer/Collection.php
  phpstan.dist.baseline.neon
Labels: Component: Poll, phpstan

#2817 phpstan: Mage_Rss
  app/code/core/Mage/Catalog/Model/Resource/Category/Collection.php
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
  app/code/core/Mage/Core/Helper/Http.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/Rss/Block/Catalog/Category.php
  app/code/core/Mage/Rss/Block/Catalog/Special.php
  app/code/core/Mage/Rss/Block/Order/New.php
  app/code/core/Mage/Rss/Block/Wishlist.php
  app/code/core/Mage/Rss/Helper/Catalog.php
  app/code/core/Mage/Rss/controllers/IndexController.php
  app/code/core/Mage/Wishlist/Block/Abstract.php
  lib/Varien/Date.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: Catalog, Component: lib/Varien, Component: Eav, Component: Wishlist, Component: Rss, Component: lib/*, phpstan

#2820 phpstan: Mage_Page
  app/code/core/Mage/Page/Block/Html/Breadcrumbs.php
  app/code/core/Mage/Page/Block/Html/Head.php
  app/code/core/Mage/Page/Block/Html/Pager.php
  phpstan.dist.baseline.neon
Labels: Component: Page, phpstan

#2814 Add confirm dialog to critical massactions
  app/code/core/Mage/Adminhtml/Block/Backup/Grid.php
  app/code/core/Mage/Adminhtml/Block/Cache/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Search/Grid.php
  app/code/core/Mage/Adminhtml/Block/Customer/Grid.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Subscriber/Grid.php
  app/code/core/Mage/Adminhtml/Block/Notification/Grid.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Coupons/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Refresh/Statistics/Grid.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Creditmemo/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Invoice/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Shipment/Grid.php
  app/code/core/Mage/Adminhtml/Block/Tag/Grid/Pending.php
  app/code/core/Mage/Adminhtml/Block/Tag/Tag/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Abstract.php
  app/code/core/Mage/Index/Block/Adminhtml/Process/Grid.php
  phpstan.dist.baseline.neon
Labels: Component: Adminhtml, Component: Index, phpstan

#2822 Added cweagans/composer-patches - prepare for ZF1Future :rocket:
  composer.json
  composer.lock
  phpstan.dist.baseline.neon
Labels: composer, phpstan

#2815 [Backport] Remove documentation hints, ref #1536
  README.md
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Form.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher/Form/Renderer/Fieldset.php
  app/code/core/Mage/Adminhtml/Block/Store/Switcher/Form/Renderer/Fieldset/Element.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Switcher.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Adminhtml/Helper/Data.php
  app/code/core/Mage/Adminhtml/Model/Email/Template.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
  app/code/core/Mage/Page/Block/Html/Head.php
  app/code/core/Mage/Wishlist/Model/Item/Option.php
  app/design/adminhtml/default/default/template/catalog/product/edit/websites.phtml
  app/design/adminhtml/default/default/template/dashboard/store/switcher.phtml
  app/design/adminhtml/default/default/template/newsletter/preview/store.phtml
  app/design/adminhtml/default/default/template/page/menu.phtml
  app/design/adminhtml/default/default/template/report/store/switcher.phtml
  app/design/adminhtml/default/default/template/report/store/switcher/enhanced.phtml
  app/design/adminhtml/default/default/template/sales/order/create/store/select.phtml
  app/design/adminhtml/default/default/template/store/switcher.phtml
  app/design/adminhtml/default/default/template/store/switcher/enhanced.phtml
  app/design/adminhtml/default/default/template/store/switcher/form/renderer/fieldset.phtml
  app/design/adminhtml/default/default/template/store/switcher/form/renderer/fieldset/element.phtml
  app/design/adminhtml/default/default/template/system/config/switcher.phtml
  app/design/frontend/rwd/default/template/checkout/cart.phtml
  app/design/frontend/rwd/default/template/page/1column.phtml
  app/design/frontend/rwd/default/template/page/2columns-left.phtml
  app/design/frontend/rwd/default/template/page/2columns-right.phtml
  app/design/frontend/rwd/default/template/page/3columns.phtml
  app/design/frontend/rwd/default/template/page/empty.phtml
  app/design/frontend/rwd/default/template/page/popup.phtml
  app/design/frontend/rwd/default/template/page/print.phtml
  app/locale/en_US/Mage_Adminhtml.csv
  js/varien/js.js
  lib/Zend/Registry.php
Labels: documentation, Component: Core, Component: Catalog, Template : admin, Component: lib/Zend, Component: Reports, Component: Checkout, Component: Sales, Template : rwd, Component: Adminhtml, Component: Page, Component: Wishlist, Component: Newsletter, Component: lib/*, translations, JavaScript

#2818 phpstan: Mage_Cms
  app/Mage.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Core/Model/File/Uploader.php
  app/code/core/Mage/Core/Model/Locale.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: Cms, Mage.php, phpstan

#2821 Optimisation for Varien_Object::_addFullNames
  lib/Varien/Object.php
Labels: Component: lib/Varien, Component: lib/*

#2824 Fix passing null and array to string conversion error
  app/Mage.php
Labels: Mage.php, PHP 8.1

#2805 [php8.1] deprecated PDOStatement::fetch, ref #1812
  lib/Zend/Db/Statement/Pdo.php
Labels: Component: lib/Zend, Component: lib/*, PHP 8.1

#2823 phpstan: Sitemap, Newsletter, ...
  app/Mage.php
  app/code/core/Mage/AdminNotification/Helper/Data.php
  app/code/core/Mage/AdminNotification/Model/Feed.php
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/code/core/Mage/Core/Controller/Varien/Action.php
  app/code/core/Mage/Core/Model/Email/Template/Filter.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Newsletter/Model/Problem.php
  app/code/core/Mage/Newsletter/Model/Queue.php
  app/code/core/Mage/Newsletter/Model/Resource/Queue.php
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber/Collection.php
  app/code/core/Mage/Newsletter/Model/Subscriber.php
  app/code/core/Mage/Newsletter/Model/Template.php
  app/code/core/Mage/Sitemap/Model/Sitemap.php
  app/code/core/Zend/Db/Select.php
  lib/Varien/Data/Collection.php
  lib/Varien/Http/Adapter/Curl.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: Component: Core, Component: lib/Zend, Component: AdminNotification, Component: lib/Varien, Component: Customer, Mage.php, Component: Sitemap, Component: Contacts, Component: lib/*, phpstan

#2832 phpstan: added missing returns
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Set/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Attributes.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Simple.php
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Accounts/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Orders/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Customer/Totals/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Product/Ordered/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Shopcart/Customer/Grid.php
  app/code/core/Mage/Adminhtml/Block/Review/Product/Grid.php
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Edit/Action/Attribute.php
  app/code/core/Mage/Adminhtml/Model/Session.php
  app/code/core/Mage/Api2/Block/Adminhtml/Attribute/Grid.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Attributes.php
  app/code/core/Mage/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tabs.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Decimal.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Price.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/CatalogInventory/Model/Resource/Stock/Item/Collection.php
  app/code/core/Mage/Core/Block/Template/Zend.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/App/Emulation.php
  app/code/core/Mage/Dataflow/Model/Batch/Io.php
  app/code/core/Mage/Dataflow/Model/Convert/Parser/Csv.php
  app/code/core/Mage/Downloadable/controllers/FileController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizeController.php
  app/code/core/Mage/Oauth/controllers/InitiateController.php
  app/code/core/Mage/Oauth/controllers/TokenController.php
  app/code/core/Mage/Paypal/Model/Express.php
  app/code/core/Mage/ProductAlert/controllers/AddController.php
  app/code/core/Mage/Sales/Block/Order/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Email/Creditmemo/Items.php
  app/code/core/Mage/Sales/Block/Order/Email/Invoice/Items.php
  app/code/core/Mage/Sales/Block/Order/Email/Shipment/Items.php
  app/code/core/Mage/Sales/Block/Order/Info.php
  app/code/core/Mage/Sales/Block/Order/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Print.php
  app/code/core/Mage/Sales/Block/Order/Print/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Print/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Print/Shipment.php
  app/code/core/Mage/Sales/Block/Order/Shipment.php
  app/code/core/Mage/Sales/Block/Order/View.php
  app/code/core/Mage/Sales/Model/Entity/Quote/Address/Attribute/Backend/Region.php
  app/code/core/Mage/Shipping/Model/Resource/Carrier/Tablerate/Collection.php
  app/code/core/Mage/Tax/Helper/Data.php
  app/code/core/Mage/Tax/Model/Calculation.php
  app/code/core/Mage/Tax/Model/Config.php
  app/code/core/Mage/Tax/Model/Sales/Total/Quote/Discount.php
  app/code/core/Mage/Weee/Model/Total/Quote/Weee.php
  app/code/core/Mage/Wishlist/Block/Customer/Sharing.php
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
  lib/Varien/Io/File.php
  phpstan.dist.baseline.neon
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: CatalogInventory, Component: lib/Varien, Component: Sales, Component: Adminhtml, Component: ProductAlert, Component: Wishlist, Component: Weee, Component: Tax, Component: Shipping, Component: Oauth, Component: Downloadable, Component: Bundle, Component: Api2, Component: Dataflow, Component: lib/*, phpstan

#2800 Fixed bugs for admin save base urls
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Baseurl.php
  app/code/core/Mage/Adminhtml/Model/Url.php
  app/code/core/Mage/Core/Controller/Varien/Router/Admin.php
  app/code/core/Mage/Core/Controller/Varien/Router/Standard.php
  app/code/core/Mage/Core/Model/Source/Email/Variables.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/Model/Url/Rewrite.php
  app/code/core/Mage/Core/Model/Url/Rewrite/Request.php
  app/code/core/Mage/Core/etc/system.xml
  app/code/core/Mage/Page/Block/Html.php
Labels: bug, Component: Core, Component: Adminhtml, Component: Page

#2836 Added getApplyTo() to Mage_Eav_Model_Entity_Attribute_Abstract. ref #2829
  app/code/core/Mage/Catalog/Model/Entity/Attribute.php
  app/code/core/Mage/Catalog/Model/Resource/Eav/Attribute.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Abstract.php
Labels: Component: Catalog, Component: Eav

#2813 Removed Mage_PageCache
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  README.md
  app/code/core/Mage/PageCache/Block/Adminhtml/Cache/Additional.php
  app/code/core/Mage/PageCache/Helper/Data.php
  app/code/core/Mage/PageCache/Model/Control/Interface.php
  app/code/core/Mage/PageCache/Model/Control/Zend.php
  app/code/core/Mage/PageCache/Model/Observer.php
  app/code/core/Mage/PageCache/Model/System/Config/Source/Controls.php
  app/code/core/Mage/PageCache/controllers/Adminhtml/PageCacheController.php
  app/code/core/Mage/PageCache/etc/adminhtml.xml
  app/code/core/Mage/PageCache/etc/config.xml
  app/code/core/Mage/PageCache/etc/system.xml
  app/design/adminhtml/default/default/layout/pagecache.xml
  app/design/adminhtml/default/default/template/pagecache/cache/additional.phtml
  app/design/frontend/base/default/layout/pagecache.xml
  app/design/frontend/base/default/template/pagecache/cookie.phtml
  app/etc/modules/Mage_PageCache.xml
  app/locale/en_US/Mage_PageCache.csv
Labels: documentation, Template : admin, Template : base, Component: Adminhtml, Component: PageCache, translations, XML Layout, PHPStorm

#2837 phpstan: step back to level 4
  phpstan.dist.baseline.neon
  phpstan.dist.issues.neon
  phpstan.dist.neon
Labels: phpstan

#2835 Version bump
  app/Mage.php
Labels: Mage.php

#2838 Fix methods signature, ref #1610
  app/code/core/Mage/Adminhtml/Helper/Data.php
Labels: Component: Adminhtml

#2839 phpstan: Change OpenMage version compare
  app/Mage.php
  phpstan.dist.neon
Labels: Mage.php, phpstan

#2840 phpstan: working on level 3
  app/Mage.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Checkboxes/Tree.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Tree.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Widget/Chooser.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Grid.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template/Edit.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Date.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Datetime.php
  app/code/core/Mage/Captcha/Model/Zend.php
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/Catalog/Model/Url.php
  app/code/core/Mage/CatalogInventory/Model/Observer.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Item.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  app/code/core/Mage/Core/Model/Template.php
  app/code/core/Mage/Customer/Model/Address/Abstract.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Eav/Model/Adminhtml/System/Config/Source/Inputtype/Validator.php
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/ImportExport/Model/Resource/Import/Data.php
  app/code/core/Mage/Media/Model/Image.php
  app/code/core/Mage/Payment/Block/Info.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/Country.php
  app/code/core/Mage/Paypal/Model/Ipn.php
  app/code/core/Mage/Paypal/Model/Pro.php
  app/code/core/Mage/Sales/Model/Order.php
  app/code/core/Mage/Sales/Model/Order/Invoice.php
  app/code/core/Mage/Sales/Model/Order/Item.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
  app/code/core/Mage/Sales/Model/Quote/Item/Abstract.php
  app/code/core/Mage/Tax/Model/Calculation.php
  dev/phpstan/stubs/Zend_Captcha_Word.stub
  dev/phpstan/stubs/Zend_Validate_InArray.stub
  lib/Varien/Object.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: CatalogInventory, Component: lib/Varien, Component: Sales, Component: Customer, Component: Eav, Component: Adminhtml, Mage.php, Component: Captcha, Component: Tax, Component: Payment, Component: Media, Component: ImportExport, Component: lib/*, phpstan

#2841 Added dependabot config
  .github/dependabot.yml
  composer.json
  composer.lock
Labels: environment, composer

#2842 Moved note about PHP7.2 since it is not supported anymore
  README.md
Labels: documentation

#2848 Added shell/ to checks
  .github/labeler.yml
  .php-cs-fixer.dist.php
  .phpcs.ecg.xml.dist
  .phpcs.php.xml.dist
  .phpcs.xml.dist
  phpstan.dist.baseline.neon
  phpstan.dist.neon
  shell/abstract.php
  shell/indexer.php
  shell/log.php
  shell/update-copyright.php
Labels: environment, shell, phpstan, php-cs-fixer

#2300 autoload without hiding errors
  lib/Varien/Autoload.php
Labels: Component: lib/Varien, Component: lib/*

#2849 Use correct code for Greece VAT validation
  app/code/core/Mage/Customer/Helper/Data.php
Labels: Component: Customer

#2802 Updated lib/Varien for PHP8.1
  lib/Varien/Data/Form/Element/Collection.php
  lib/Varien/Data/Tree/Node/Collection.php
  lib/Varien/Db/Tree/NodeSet.php
  lib/Varien/Object.php
Labels: Component: lib/Varien, Component: lib/*, PHP 8.1

#2852 Added .dist and .neon to "deny from all" in .htaccess
  .htaccess
Labels: htaccess

#2851 Added notes about composer library/modules to README (for 19.5.x and 20.1.x)
  README.md
Labels: documentation

#2855 phpstan: remove one diff between v19/20 baseline
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Urlkey.php
  phpstan.dist.baseline.neon
Labels: Component: Catalog, phpstan

#2856 Hotfix: php7 has no return type "mixed"
  lib/Varien/Data/Form/Element/Collection.php
  lib/Varien/Data/Tree/Node/Collection.php
  lib/Varien/Db/Tree/NodeSet.php
  lib/Varien/Object.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: PHP 7, Component: lib/Varien, Component: lib/*, PHP 8, phpstan

#2332 Add translation helper shell script
  shell/translations.php
Labels: shell

#2771 PHPMD: added basic config
  .phpmd.dist.xml
  app/code/core/Mage/Adminhtml/Block/Customer/Online/Grid/Renderer/Ip.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Ip.php
  app/code/core/Mage/Backup/Helper/Data.php
  app/code/core/Mage/Backup/Model/Backup.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Core/Controller/Varien/Front.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Model/Config/Options.php
  app/code/core/Mage/Core/Model/Date.php
  app/code/core/Mage/Core/Model/Design/Package.php
  app/code/core/Mage/Core/Model/File/Storage/Abstract.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  app/code/core/Mage/Core/functions.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Image.php
  app/code/core/Mage/Install/Model/Installer/Console.php
  app/code/core/Mage/Media/Model/File/Image.php
  app/code/core/Mage/Paypal/Model/Report/Settlement.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
  app/code/core/Mage/Sales/controllers/DownloadController.php
  lib/Mage/Archive/Abstract.php
  lib/Mage/Archive/Helper/File.php
  lib/Mage/Archive/Helper/File/Bz.php
  lib/Mage/Archive/Helper/File/Gz.php
  lib/Mage/Archive/Tar.php
  lib/Mage/Autoload/Simple.php
  lib/Mage/Backup/Db.php
  lib/Mage/Backup/Filesystem.php
  lib/Mage/Backup/Filesystem/Helper.php
  lib/Mage/Backup/Filesystem/Rollback/Ftp.php
  lib/Mage/Backup/Snapshot.php
  lib/Mage/Cache/Backend/File.php
  lib/Mage/DB/Mysqli.php
  lib/Mage/HTTP/Client/Socket.php
  lib/Mage/System/Dirs.php
  lib/Mage/System/Ftp.php
  lib/Magento/Autoload/Simple.php
  lib/Varien/Autoload.php
  lib/Varien/Db/Adapter/Mysqli.php
  lib/Varien/File/Uploader.php
  lib/Varien/Image/Adapter/Abstract.php
  lib/Varien/Image/Adapter/Gd2.php
  lib/Varien/Io/File.php
  lib/Varien/Io/Ftp.php
  lib/Varien/Simplexml/Config.php
  lib/Varien/Simplexml/Config/Cache/File.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: Cms, Component: lib/Varien, Component: Sales, Component: Eav, Component: lib/Mage, Component: Adminhtml, Component: Media, Component: Backup, Component: Install, Component: lib/*, Component: lib/Magento

#2853 Load dev shell scripts as composer module
  .gitignore
  composer.json
  composer.lock
  phpstan.dist.baseline.neon
  shell/translations.php
  shell/update-copyright.php
Labels: shell, composer, phpstan

#2858 Fixed tag aggregation indexer query
  app/code/core/Mage/Tag/Model/Resource/Indexer/Summary.php
Labels: Component: Tag

#2860 Updated workflow: run when files are deleted
  .github/workflows/check-files.yml
Labels: environment

#2864 Rewrote Mage_Reports_Model_Resource_Review_Product_Collection/Mage_Reports_Model_Resource_Order_Collection queries for a correct use of Zend_Db_Expr
  app/code/core/Mage/Reports/Model/Resource/Order/Collection.php
  app/code/core/Mage/Reports/Model/Resource/Review/Product/Collection.php
Labels: Component: Reports

#2862 Backport 2271, removed lib/flex
  README.md
  lib/flex/uploader/uploader.mxml
  lib/flex/uploader/uploaderSingle.mxml
  lib/flex/varien/varien/upload/Uploader.as
  lib/flex/varien/varien/upload/UploaderEvent.as
  lib/flex/varien/varien/upload/UploaderSingle.as
Labels: documentation, Component: lib/*

#2867 Updated autoloader, ref #2300
  lib/Mage/Autoload/Simple.php
  lib/Magento/Autoload/Simple.php
  lib/Varien/Autoload.php
Labels: Component: lib/Varien, Component: lib/Mage, Component: lib/*, Component: lib/Magento

#1339 Adding useful feedback to Gd2.php exceptions
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: lib/Varien, Component: lib/*

#2868 Added ddev command shortcuts
  .ddev/commands/web/php-cs-fixer
  .ddev/commands/web/phpcbf
  .ddev/commands/web/phpcs
  .ddev/commands/web/phpmd
  .ddev/commands/web/phpstan
  .github/labeler.yml
  .phpmd.dist.xml
Labels: environment

#2871 Use github URL for patch files
  composer.json
  composer.lock
Labels: composer

#2869 Remove "was" from error messages
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: lib/Varien, Component: lib/*

#2700 Add autocomplete attribute to known password fields.
  .all-contributorsrc
  README.md
  app/design/frontend/base/default/template/checkout/onepage/billing.phtml
  app/design/frontend/base/default/template/checkout/onepage/login.phtml
  app/design/frontend/base/default/template/customer/form/changepassword.phtml
  app/design/frontend/base/default/template/customer/form/edit.phtml
  app/design/frontend/base/default/template/customer/form/login.phtml
  app/design/frontend/base/default/template/customer/form/mini.login.phtml
  app/design/frontend/base/default/template/customer/form/register.phtml
  app/design/frontend/base/default/template/customer/form/resetforgottenpassword.phtml
  app/design/frontend/base/default/template/oauth/authorize/form/login-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/form/login.phtml
  app/design/frontend/base/default/template/persistent/checkout/onepage/billing.phtml
  app/design/frontend/base/default/template/persistent/checkout/onepage/login.phtml
  app/design/frontend/base/default/template/persistent/customer/form/login.phtml
  app/design/frontend/base/default/template/persistent/customer/form/register.phtml
  app/design/frontend/default/iphone/template/customer/form/login.phtml
  app/design/frontend/default/iphone/template/persistent/checkout/onepage/login.phtml
  app/design/frontend/default/iphone/template/persistent/customer/form/login.phtml
  app/design/frontend/rwd/default/template/customer/form/changepassword.phtml
  app/design/frontend/rwd/default/template/customer/form/edit.phtml
  app/design/frontend/rwd/default/template/customer/form/mini.login.phtml
  app/design/frontend/rwd/default/template/customer/form/resetforgottenpassword.phtml
  app/design/frontend/rwd/default/template/oauth/authorize/form/login-simple.phtml
  app/design/frontend/rwd/default/template/persistent/checkout/onepage/billing.phtml
  app/design/frontend/rwd/default/template/persistent/checkout/onepage/login.phtml
  app/design/frontend/rwd/default/template/persistent/customer/form/login.phtml
  app/design/frontend/rwd/default/template/persistent/customer/form/register.phtml
Labels: documentation, Component: Checkout, Component: Customer, Template : rwd, Template : base, Component: Persistant, Component: Oauth, Template : default

#2644 Create codeql-analysis.yml
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: environment
