Repository OpenMage/magento-lts, pull requests merged in 2022-05, with the labels that each got.

#1605 Fix widget edition in WYSIWYG
  js/tiny_mce/tiny_mce.js
Labels: Javascript

#2052 Use vanillaJS instead of encodeURI in wishlist add to cart
  app/code/core/Mage/Wishlist/Block/Customer/Wishlist/Item/Column/Cart.php
Labels: Component: Wishlist

#1601 Fixed bug on incorrect category store_id when set with store code in …
  app/code/core/Mage/Catalog/Model/Category.php
Labels: Component: Catalog

#1267 1095 remove notification survey block
  app/code/core/Mage/AdminNotification/Model/Survey.php
  app/code/core/Mage/Adminhtml/Block/Notification/Survey.php
  app/code/core/Mage/Adminhtml/controllers/SurveyController.php
  app/code/core/Mage/Install/Block/End.php
  app/code/core/Mage/Install/controllers/WizardController.php
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/template/notification/survey.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: hacktoberfest, Template : admin, Component: AdminNotification, Component: Adminhtml, Component: Install, Translations, hacktoberfest-accepted

#821 Fixed grid filter reset
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  js/mage/adminhtml/grid.js
Labels: bug, Template : admin, Component: Adminhtml, Javascript

#1831 Documentation of some changes
  README.md
Labels: Documentation

#1230 Align label with value
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/form.css.map
  skin/adminhtml/default/openmage/scss/form.scss
Labels: Template : admin, Component: Adminhtml

#2063 Remove backend current date from backend's header
  app/design/adminhtml/default/default/template/example.phtml
  app/design/adminhtml/default/default/template/page/header.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
Labels: Template : admin, Component: Adminhtml, Component: Page

#2070 Lazy load contributors images
  .all-contributorsrc
  README.md
Labels: Documentation

#1579 Do not save customer addresses when there are no changes
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Customer/Model/Resource/Customer.php
Labels: performance, Component: Customer

#2076 Add title for old googlecheckout payment method
  app/code/core/Mage/GoogleCheckout/etc/config.xml
Labels: Component: GoogleCheckout

#2062 Default sortby should be read from core_config_data
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Helper/Sortby/Default.php
Labels: Component: Adminhtml

#2050 Prevent Zend_Date from checking locale for know date codes
  app/code/core/Zend/Date.php
Labels: Component: lib/Zend

#1618 Update admin login pages
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Template : admin, Component: Adminhtml, Component: Page, Translations

#1530 Do not render action or massaction column in totals row in adminhtml grid
  app/design/adminhtml/default/default/template/widget/grid.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget

#2075 Fix instructions update for bank transfer orders
  app/code/core/Mage/Payment/Model/Observer.php
Labels: Component: Payment

#1999 Add missing attributes to `salesOrderInvoiceInfo` SOAP method
  app/code/core/Mage/Sales/Model/Order/Invoice/Api.php
Labels: Component: Sales

#2088 Version bump to prepare for next release
  app/Mage.php
Labels: Mage.php

#2092 Remove end class comment
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/New/Product/Created.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Created.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Attributes/Create.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Price.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Grid/Renderer/Checkbox.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Simple.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Problem.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Problem/Grid.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Problem/Grid/Filter/Checkbox.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Problem/Grid/Renderer/Checkbox.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Subscriber/Grid/Filter/Checkbox.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Subscriber/Grid/Renderer/Checkbox.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid/Filter/Type.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid/Renderer/Type.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search/Grid/Renderer/Giftmessage.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/GalleryController.php
  app/code/core/Mage/Api/Model/Config.php
  app/code/core/Mage/Api/Model/Server.php
  app/code/core/Mage/Api/Model/Server/Adapter/Xmlrpc.php
  app/code/core/Mage/Api/Model/Server/Handler.php
  app/code/core/Mage/Catalog/Model/Api/Resource.php
  app/code/core/Mage/Catalog/Model/Category/Api.php
  app/code/core/Mage/Catalog/Model/Category/Attribute/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Set/Api.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Tierprice/Api.php
  app/code/core/Mage/Catalog/Model/Product/Link/Api.php
  app/code/core/Mage/Catalog/Model/Product/Type/Api.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Item/Api.php
  app/code/core/Mage/Customer/Model/Address/Api.php
  app/code/core/Mage/Customer/Model/Address/Api/V2.php
  app/code/core/Mage/Directory/Model/Country/Api.php
  app/code/core/Mage/Directory/Model/Region/Api.php
  app/code/core/Mage/Sales/Model/Api/Resource.php
  app/code/core/Mage/Sales/Model/Order/Api.php
Labels: Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Customer, Component: Adminhtml, Component: Api, Component: Directory

#2093 Trim trailing whitespace
  app/code/core/Mage/Catalog/Model/Category/Api.php
  dev/openmage/README.md
  skin/adminhtml/default/default/reset.css
  skin/frontend/default/blue/css/styles.css
  skin/frontend/rwd/default/js/app.js
  skin/frontend/rwd/default/scss/mixin/_breakpoint.scss
Labels: Component: Catalog, Template : admin, Template : rwd, Component: Adminhtml, Template : default

#2059 Issue #268: sales_order_create_sidebar_wishlist breaks if wishlist module is disabled
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View/Accordion.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Sidebar/Wishlist.php
Labels: Component: Adminhtml

#1930 Better messages for product alerts
  app/locale/en_US/Mage_ProductAlert.csv
Labels: Translations

#1103 Clean review_entity_summary when reviews are deleted
  app/code/core/Mage/Review/Model/Resource/Review.php
Labels: waiting for feedback, Component: Review

#1360 Fixed admin tabs order not working properly.
  app/code/core/Mage/Adminhtml/Block/Widget/Tabs.php
Labels: bug, Component: Adminhtml

#1922 Change default sort in CMS Pages/Blocks/Widgets grids
  app/code/core/Mage/Adminhtml/Block/Cms/Block/Grid.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Grid.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Grid.php
Labels: Component: Adminhtml, Component: Widget

#1944 Small improvements in Manage Attributes grid
  app/code/core/Mage/Eav/Block/Adminhtml/Attribute/Grid/Abstract.php
Labels: Documentation, Environment, Component: PayPal, Component: Core, Component: Catalog, Template : admin, Component: lib/Zend, Component: Cms, Component: Reports, Component: Checkout, Component: lib/Varien, Component: Sales, Component: Customer, Component: Eav, Template : rwd, Component: lib/Mage, Template : base, Component: Adminhtml, Component: Page, Component: CatalogRule, Component: Admin, Component: SalesRule, Component: Wishlist, Component: Widget, Component: Weee, Component: Tax, Component: Shipping, Component: Rule, Component: Payment, Component: Index, Component: Downloadable, Component: Bundle, Component: Api2, Component: Log, Component: Directory, Component: CatalogSearch, Component: Centinel, Component: Dataflow, Component: Install, Component: Paygate, Component: lib/*, composer, Javascript, XML Layout, Template : default

#2060 Added database ID to EAV options table
  app/design/adminhtml/default/default/template/eav/attribute/options.phtml
Labels: Template : admin, Component: Eav, Component: Adminhtml

#1338 Clean up empty directories created when file requested does not exist in remote storage.
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  get.php
Labels: Component: Core

#1321 Add a word-break to list items to keep the layout intact
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#1827 fix download custom option backend
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
Labels: Component: Catalog

#1277 Fix Varien_File_Uploader ignored errors with try catch
  lib/Varien/File/Uploader.php
Labels: hacktoberfest, Component: lib/Varien, Component: lib/*

#2087 User-configurable cron expression for regular cache flushing #2086
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
Labels: Component: Core

#1997 Added option not to use timezone in rendering datetime in backend grid.
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Datetime.php
Labels: enhancement, Component: Adminhtml

#2141 Upgrade GitHub action/checkout to v3
  .github/workflows/php.yml
  .github/workflows/sonar.yml
  .github/workflows/static-code-analyses.yml
  .github/workflows/unit-tests.yml
Labels: Environment

#2142 Fix admin menu z-index for popup message
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#2133 Fix undefined array key when an image depend on another field
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
Labels: Component: Adminhtml

#2040 Fix supplied resource is not a valid stream resource for Varien_Io_File
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Select.php
  lib/Varien/Io/File.php
Labels: Component: Catalog, Component: lib/Varien, Component: lib/*

#2089 fix wrong tier price percentage rounding
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/Catalog/Block/Product/Price.php
Labels: Component: Catalog

#1066 Create a global config cache rather than a config cache per store
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Resource/Store/Collection.php
  app/code/core/Mage/Core/Model/Store.php
Labels: Component: Core

#2145 Backend mask title has padding also when not having an icon
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml

#1224 Fix config menu css from Isse #1219
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/override.css.map
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Adminhtml

#497 Color swatches work with disparate product IDs
  skin/frontend/rwd/default/js/configurableswatches/product-media.js
Labels: Review Needed, Template : rwd

#1422 Fix protect code changing on order save
  app/code/core/Mage/Sales/Model/Order.php
Labels: Component: Sales

#2163 Introducing polyfill for is_countable()
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#1109 Ensure there are no emails without recipient in email queue
  app/code/core/Mage/Core/Model/Email/Queue.php
Labels: waiting for feedback, Component: Core

#1851 Fix Core Bug: To make "01/01/1970" a valid birthday
  app/code/core/Mage/Customer/Block/Widget/Dob.php
Labels: bug, Component: Customer

#1462 Fix issues with isCurrentlySecure detection and Offloader Header config.
  app/code/core/Mage/Core/Controller/Request/Http.php
  app/code/core/Mage/Core/Controller/Varien/Front.php
  app/code/core/Mage/Core/Model/Store.php
Labels: Component: Core

#1434 Better error handling for issues during bulk attribute update
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/Action/AttributeController.php
Labels: Component: Adminhtml

#1804 Allow to cancel orders like registerCancellation
  app/code/core/Mage/Sales/Model/Order.php
Labels: Component: Sales
