Repository OpenMage/magento-lts, pull requests merged in 2023-09, with the labels that each got.

#3484 Forced ZF1F 1.22.0 in v19
  .github/workflows/composer.yml
  composer.json
  composer.lock
Labels: environment, composer

#3492 Fix a Type Error when converting an Order with no Coupon to a Quote
  app/code/core/Mage/Sales/Model/Quote.php
Labels: Component: Sales

#3477 Fixed unnecessary entries in table `api-session` when using insta-login in API calls
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
  app/code/core/Mage/Api/Model/Session.php
  phpstan.dist.baseline.neon
Labels: Component: Api, phpstan

#3479 Added a cron job to clean expired API sessions
  app/code/core/Mage/Api/Model/Cron.php
  app/code/core/Mage/Api/Model/Resource/User.php
  app/code/core/Mage/Api/etc/config.xml
Labels: Component: Api

#3497 Fixed incompatible interface deprecations in DB Session Adapter
  app/code/core/Mage/Core/Model/Resource/Session.php
Labels: Component: Core, PHP 8

#3500 Fixed PHPCS github workflow for unexisting ruleset
  .github/workflows/phpcs.yml
Labels: environment, phpcs

#3501 Fixed PHPCS errors
  app/code/core/Mage/Api/Model/Resource/User.php
  app/code/core/Mage/Eav/Model/Resource/Entity/Attribute/Collection.php
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  lib/Varien/Data/Collection/Db.php
Labels: Component: lib/Varien, Component: Eav, Component: Api, Component: GoogleAnalytics, Component: lib/*

#3499 Fixed implementation of SessionHandlerInterface in Mage_Core_Model_Resource_Session
  app/code/core/Mage/Core/Model/Resource/Session.php
Labels: Component: Core

#3502 Fixed some PHPCS errors
  shell/rename-mysql4-class-to-resource.php
Labels: shell

#3448 Added "googleanalytics_ga4_send_data_before" to customize GA4 data
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  docs/EVENTS.md
Labels: Component: GoogleAnalytics

#3507 Improved rate limit functions
  app/code/core/Mage/Core/Helper/Data.php
Labels: Component: Core

#3513 Replace old magento placeholder images in frontend and adminhtml
  skin/adminhtml/default/default/images/placeholder/thumbnail.jpg
  skin/frontend/base/default/images/catalog/product/placeholder/image.jpg
  skin/frontend/base/default/images/catalog/product/placeholder/small_image.jpg
  skin/frontend/base/default/images/catalog/product/placeholder/thumbnail.jpg
Labels: Template : admin, Template : base, Component: Adminhtml

#3514 Show cache status info of blocks in template path hints
  app/code/core/Mage/Core/Block/Template.php
Labels: Component: Core

#2727 Fixed check if ConfigurableSwatches is enabled
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/ConfigurableSwatches/Model/Observer.php
Labels: Component: ConfigurableSwatches

#3517 Fixed docblock in phtml in catalog/product/view/options/type
  app/code/core/Mage/Catalog/Block/Product/View/Options/Type/File.php
  app/design/frontend/base/default/template/catalog/product/view/options/type/date.phtml
  app/design/frontend/base/default/template/catalog/product/view/options/type/default.phtml
  app/design/frontend/base/default/template/catalog/product/view/options/type/file.phtml
  app/design/frontend/base/default/template/catalog/product/view/options/type/select.phtml
  app/design/frontend/base/default/template/catalog/product/view/options/type/text.phtml
Labels: Component: Catalog, Template : base

#3516 Fixed deprecated functionality str_contains() in Design/Package.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Payment/Block/Catalog/Product/View/Profile.php
Labels: Component: Core, Component: Payment

#3520 Link to NotifyStock feed only if enabled
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
Labels: Component: Adminhtml

#3526 Deprecated decorate*() js functions
  js/varien/js.js
Labels: JavaScript

#1551 Removed "admin routing compatibility mode" for extensions
  app/code/core/Mage/Core/Controller/Varien/Router/Admin.php
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/locale/en_US/Mage_Core.csv
Labels: backwards compatibility, Component: Core, translations

#3536 Updated composer.json to allow PHP 8.3
  composer.json
  composer.lock
Labels: composer

#3539 Fixed passing null for explode is deprecated in Mage_Adminhtml_Block_System_Currency_Rate_Matrix
  app/code/core/Mage/Adminhtml/Block/System/Currency/Rate/Matrix.php
Labels: Component: Adminhtml

#3552 Removed weird comments
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Abstract.php
  app/code/core/Mage/Api2/Helper/Data.php
  app/code/core/Mage/Api2/Model/Acl/Global/Role.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Permission.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Tree.php
  app/code/core/Mage/Api2/Model/Request.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Api2/Model/Response.php
  app/code/core/Mage/Api2/Model/Route/Abstract.php
  app/code/core/Mage/Api2/Model/Server.php
  app/code/core/Mage/Core/Helper/Url/Rewrite.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/Model/Url/Validator.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
  app/code/core/Mage/Install/Model/Installer/Filesystem.php
  app/code/core/Mage/Oauth/Helper/Data.php
  app/code/core/Mage/Oauth/Model/Server.php
  app/code/core/Mage/Oauth/Model/Token.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/Country.php
  app/code/core/Mage/Paypal/Model/Api/ProcessableException.php
  app/code/core/Mage/PaypalUk/Model/Api/Nvp.php
  app/code/core/Mage/Sales/Model/Api2/Order.php
  app/code/core/Mage/Sales/Model/Api2/Order/Address/Rest.php
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest.php
  app/code/core/Mage/Sales/Model/Api2/Order/Item/Rest.php
  app/code/core/Mage/Tax/Model/Config.php
Labels: Component: PayPal, Component: Core, Component: Sales, Component: Customer, Component: Adminhtml, Component: Admin, Component: Tax, Component: Oauth, Component: Api2, Component: ImportExport, Component: Install, Component: PaypalUk

#3537 Fixed empty exception when customer does not exist for products alerts
  app/code/core/Mage/ProductAlert/Model/Observer.php
Labels: bug, Component: ProductAlert

#3532 Use a core/flag to store tax notification ignored flag rather than co…
  app/code/core/Mage/Adminhtml/controllers/TaxController.php
  app/code/core/Mage/Tax/Helper/Data.php
  app/code/core/Mage/Tax/Model/Config/Notification.php
Labels: Component: Adminhtml, Component: Tax

#3542 Fixed PHPStan workflows not running on the correct PHP version
  .github/workflows/phpstan.yml
Labels: environment, phpstan

#3558 Recovered some lost deprecated notice in #3552
  app/code/core/Mage/Install/Model/Installer/Filesystem.php
  app/code/core/Mage/Oauth/Model/Token.php
  app/code/core/Mage/Tax/Model/Config.php
Labels: Component: Tax, Component: Oauth, Component: Install
