Repository OpenMage/magento-lts, pull requests merged in 2023-04, with the labels that each got.

#3126 Fixed monthly report dates
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Grid/Column/Renderer/Date.php
Labels: Component: Adminhtml

#3141 Updated branches for codeql analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: environment

#3142 Regenerated PHPStan baseline for "main" branch
  phpstan.dist.baseline.neon
Labels: phpstan

#3143 Fixed some minor indentation problem for docblocks
  shell/abstract.php
  shell/indexer.php
  shell/log.php
Labels: shell

#3087 Added possibility to set backend locale per every admin user
  app/code/core/Mage/Admin/Model/Session.php
  app/code/core/Mage/Admin/etc/config.xml
  app/code/core/Mage/Admin/sql/admin_setup/upgrade-1.6.1.4-1.6.1.5.php
  app/code/core/Mage/Adminhtml/Block/System/Account/Edit/Form.php
  app/code/core/Mage/Adminhtml/controllers/System/AccountController.php
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Adminhtml, Component: Admin, translations

#3145 Used session_status() instead of $_SESSION in Mage_Core_Model_App
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core

#3144 Added check for coupon expiration date
  app/code/core/Mage/SalesRule/Model/Validator.php
Labels: Component: SalesRule

#1596 Improved global search performance by using only prefix matching.
  app/code/core/Mage/Adminhtml/Model/Search/Order.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Search/Collection.php
Labels: Component: Adminhtml, Component: CatalogSearch, Rebased: RFC-0002

#3151 Avoided calling getBackendModelByFieldConfig with empty field
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
Labels: Component: Adminhtml

#3153 Typo in the exception message
  app/code/core/Mage/Payment/Helper/Data.php
Labels: Component: Payment

#3140 Avoided unnecessary calls to string translation methods for catalog/sales rules labels
  app/code/core/Mage/CatalogRule/Model/Rule/Action/Product.php
  app/code/core/Mage/Rule/Model/Action/Abstract.php
  app/code/core/Mage/Rule/Model/Condition/Abstract.php
  app/code/core/Mage/Rule/Model/Condition/Combine.php
  app/code/core/Mage/SalesRule/Model/Rule/Action/Product.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Found.php
  app/code/core/Mage/SalesRule/Model/Rule/Condition/Product/Subselect.php
Labels: performance, Component: CatalogRule, Component: SalesRule, Component: Rule

#3139 Updated README.md to reflect new RFC 0002 - Release Schedule
  README.md
Labels: documentation

#3154 Reduce getWebsiteId calls
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core

#3146 [BC] Added form key validation to Contacts form
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/design/frontend/base/default/template/contacts/form.phtml
  app/design/frontend/rwd/default/template/contacts/form.phtml
  app/locale/en_US/Mage_Contacts.csv
Labels: Template : rwd, Template : base, Component: Contacts, translations

#3157 Move login page title to controller
  app/code/core/Mage/Customer/Block/Form/Login.php
  app/code/core/Mage/Customer/controllers/AccountController.php
Labels: Component: Customer

#3159 Update ACL of order objects and update setActiveMenu
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Action/Attribute/Tab/Inventory.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Action/Attribute/Tab/Websites.php
  app/code/core/Mage/Adminhtml/Block/Sales/Items/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/Creditmemos.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/History.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/Info.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/Invoices.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/Shipments.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/Transactions.php
  app/code/core/Mage/Adminhtml/Controller/Sales/Creditmemo.php
  app/code/core/Mage/Adminhtml/Controller/Sales/Invoice.php
  app/code/core/Mage/Adminhtml/Controller/Sales/Shipment.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/AttributeController.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/SetController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreditmemoController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/InvoiceController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/ShipmentController.php
  app/code/core/Mage/Adminhtml/controllers/SitemapController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/Class/CustomerController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/Class/ProductController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/ClassController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RateController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RuleController.php
  app/locale/en_US/Mage_Sales.csv
Labels: Component: Adminhtml, translations

#3155 [PHP 8.2] Fixed some deprecation warnings
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Coupons/Form.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Source/Table.php
  app/code/core/Mage/Rule/Model/Condition/Abstract.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/design/adminhtml/default/default/template/widget/tabs.phtml
Labels: Template : admin, Component: Sales, Component: Eav, Component: Adminhtml, Component: Widget, Component: Rule, Component: ConfigurableSwatches

#3161 Reduced char calls
  lib/Varien/Filter/Template/Tokenizer/Abstract.php
Labels: Component: lib/Varien, Component: lib/*

#3109 Fix PHP warnings when session backend exits before returning.
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
  composer.json
  composer.lock
  dev/openmage/docker-compose.yml
Labels: Component: Core, composer

#3136 Fixed price filter when search by non-numeric value
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Price.php
Labels: Component: Adminhtml, Rebased: RFC-0002

#3168 Use default configurable attribute label for new products
  js/mage/adminhtml/product.js
Labels: JavaScript

#3178 [PHP 8.2] Fixed deprecation warning in Mage_CatalogInventory_Model_Observer
  app/code/core/Mage/CatalogInventory/Model/Observer.php
Labels: Component: CatalogInventory

#3019 Ignore addresses when country is not authorized
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Address.php
Labels: Component: Adminhtml

#3183 Fixed ESI parsing error with turpentine
  app/design/frontend/base/default/template/customer/address/book.phtml
Labels: Component: Customer, Template : base

#3182 Fixed "object could not be converted to int" in Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Simple
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Simple.php
Labels: Component: Adminhtml

#3187 Fixed deprecation warning in Mage_Downloadable_Helper_Catalog_Product_Configuration
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Downloadable/Helper/Catalog/Product/Configuration.php
Labels: Component: Catalog, Component: Downloadable

#3188 Fixed deprecation warning in Mage_SalesRule_Model_Rule
  app/code/core/Mage/SalesRule/Model/Rule.php
Labels: Component: SalesRule

#3189 Set sort order and disable click-to-top for coupons grid
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Coupons/Grid.php
Labels: Component: Adminhtml

#3177 [PHP 8.2] Fixed deprecation error for creation of dynamic property
  app/code/core/Mage/Paypal/Model/Config.php
Labels: Component: PayPal

#2686 Update review_entity_summary when unapprove the latest comment
  app/code/core/Mage/Rating/Model/Resource/Rating.php
  app/code/core/Mage/Review/Model/Resource/Review.php
Labels: Component: Review, Component: Rating

#3194 Reduced number of getId() calls in Mage_Eav_Model_Entity_Type
  app/code/core/Mage/Eav/Model/Entity/Type.php
Labels: Component: Eav

#3165 Fix for export failing when product_id missing from cataloginventory_stock_item
  app/code/core/Mage/ImportExport/Model/Export/Entity/Product.php
Labels: Component: ImportExport

#3206 Replaced Mage_Exception usages with Mage_Core_Exception
  app/code/core/Mage/Adminhtml/controllers/System/Config/System/StorageController.php
  app/code/core/Mage/Adminhtml/controllers/System/DesignController.php
  app/code/core/Mage/Checkout/controllers/CartController.php
  app/code/core/Mage/Weee/Helper/Data.php
Labels: Component: Checkout, Component: Adminhtml, Component: Weee

#3202 Added patch for Zend_Mail and "emails are displayed incorrectly" problem
  composer.json
  composer.lock
Labels: composer

#3197 Avoid JS errors if the zipcode field has no label
  js/varien/form.js
Labels: JavaScript

#3160 PHP8.1 is now the minimum required version for OM v21
  README.md
  composer.json
  composer.lock
Labels: documentation, composer

#3210 Removed PHPStan stubs
  app/code/core/Mage/Captcha/Model/Zend.php
  app/code/core/Mage/Eav/Model/Adminhtml/System/Config/Source/Inputtype/Validator.php
  dev/phpstan/stubs/Zend_Captcha_Word.stub
  dev/phpstan/stubs/Zend_Validate_InArray.stub
  phpstan.dist.neon
Labels: Component: Eav, Component: Captcha, phpstan

#3214 Converted msrp_rwd.js to vanilla javascript
  skin/frontend/rwd/default/js/msrp_rwd.js
Labels: Template : rwd

#3181 Fixed logging too many exceptions for payment methods
  app/code/core/Mage/Payment/Helper/Data.php
Labels: Component: Payment
