Repository OpenMage/magento-lts, pull requests merged in 2023-08, with the labels that each got.

#3425 Allowed admin grid row to open in new tab
  js/mage/adminhtml/grid.js
Labels: JavaScript

#3437 Upgraded ZF1Future 1.22.1, Credis 1.15 and some minor dependencies
  composer.json
  composer.lock
Labels: composer

#3436 Updated countries list
  app/code/core/Mage/Directory/data/directory_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Directory/data/directory_setup/data-upgrade-1.6.0.3-1.6.0.4.php
  app/code/core/Mage/Directory/etc/config.xml
Labels: Component: Directory

#2273 JSON-RPC API support
  app/code/core/Mage/Api/Model/Server/Adapter/Jsonrpc.php
  app/code/core/Mage/Api/controllers/JsonrpcController.php
  app/code/core/Mage/Api/etc/api.xml
Labels: Component: Api

#3443 Allowed API insta-login via HTTP Basic Auth
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
Labels: Component: Api

#3427 Better PHP errors logging for API
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
Labels: Component: Api

#3446 Updated zf1f 1.23.2, phpstan 1.10.29 etc
  composer.lock
Labels: composer

#3208 RWD: removed enquire.js and converted to window.matchMedia
  README.md
  app/design/frontend/rwd/default/layout/page.xml
  skin/frontend/rwd/default/js/app.js
  skin/frontend/rwd/default/js/lib/enquire.js
Labels: documentation, Template : rwd, Component: Page, XML Layout

#3438 Fixing invalid null-return in Google Analytics
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
Labels: Component: GoogleAnalytics

#3444 Allow soap_v2 style request in JSON-RPC and add event 'api_server_ada…
  app/code/core/Mage/Api/Model/Server/Adapter/Jsonrpc.php
  docs/EVENTS.md
Labels: Component: Api

#3460 Fix conflict between Prototype.js and Google API (#3459)
  js/prototype/prototype.js
Labels: JavaScript

#3465 Add 'redis' option for Cm_RedisSession to make rewrite unnecessary.
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
Labels: Component: Core

#3413 Mage_Usa: added "USPS Ground Advantage" and removed "First Class Package"
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Usps.php
  app/code/core/Mage/Usa/etc/config.xml
Labels: review needed, Component: Usa

#3480 Fixed out-of-range column `lognum` in the table `api_user`
  app/code/core/Mage/Api/etc/config.xml
  app/code/core/Mage/Api/sql/api_setup/mysql4-upgrade-1.6.0.2-1.6.0.3.php
Labels: Component: Api

#3475 Fixed ZF1F version in composer.json to avoid conflicts with our patches
  .github/workflows/composer.yml
  composer.json
  composer.lock
Labels: environment, composer
