Repository OpenMage/magento-lts, pull requests merged in 2023-07, with the labels that each got.

#3287 Removed support for UPS CGI API which was shut down
  README.md
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups/Source/Type.php
  app/code/core/Mage/Usa/etc/config.xml
Labels: documentation, Component: Usa

#1489 Old inactive quotes are now actually purged from the database
  app/code/core/Mage/Checkout/etc/system.xml
  app/code/core/Mage/Sales/Model/Observer.php
Labels: Component: Checkout, Component: Sales

#3356 Added support for Google Tag Manager injection, compatible with Analytics 4 and enhanced ecommerce data
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Block/Gtm.php
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
  app/code/core/Mage/GoogleAnalytics/etc/system.xml
  app/design/frontend/base/default/layout/googleanalytics.xml
  app/design/frontend/base/default/template/googleanalytics/ga.phtml
  app/design/frontend/base/default/template/googleanalytics/gtm.phtml
Labels: Template : base, Component: GoogleAnalytics, XML Layout

#3248 Added DDEV command to install OM (incl. sample data)
  .ddev/commands/web/openmage-install
Labels: ddev

#3363 Allowed customization of the checkout page identifiers for the Mage_GoogleAnalytics module
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
Labels: Component: GoogleAnalytics

#3364 Removed unexisting branch alias from composer.json
  composer.json
  composer.lock
Labels: composer

#3365 Clear config cache after maintenance check for DB Update
  .htaccess
  index.php
Labels: htaccess

#3352 Added hidden element before multiselect form elements in adminhtml
  lib/Varien/Data/Form/Element/Multiselect.php
Labels: Component: lib/Varien, Component: lib/*

#3366 Added decimal/thousand separator specification when sending Analytics4 data
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
Labels: Component: GoogleAnalytics

#3256 DDEV command to create/update the administrator account
  .ddev/commands/web/openmage-admin
Labels: ddev

#3367 New feature to repopulate product form in frontend on errors.
  app/code/core/Mage/Catalog/Helper/Product/View.php
  app/code/core/Mage/Checkout/controllers/CartController.php
Labels: enhancement, Component: Catalog, Component: Checkout

#3247 Resized panels height in attribute set backend view
  app/design/adminhtml/default/default/template/catalog/product/attribute/set/main.phtml
  app/design/adminhtml/default/default/template/catalog/product/attribute/set/main/tree/group.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#3373 Fixed $address is null in AddressController.
  app/code/core/Mage/Customer/controllers/AddressController.php
Labels: bug, security, Component: Customer

#3269 Fixed PHPStan warnings for branch "next" (PHP 8.1)
  app/code/core/Mage/Api/Model/Wsdl/Config/Element.php
  app/code/core/Mage/Media/Model/File/Image.php
  composer.lock
  lib/Varien/Io/Ftp.php
Labels: Component: lib/Varien, Component: Api, Component: Media, Component: lib/*, composer, PHP 8.1

#3374 Fixed exception in Dob.php during customer registration.
  app/code/core/Mage/Customer/Block/Form/Register.php
Labels: Component: Customer

#3326 Better clearing of session messages after display
  app/code/core/Mage/Core/Block/Messages.php
Labels: Component: Core

#3251 Do not reindex catalog_product_flat for disabled stores
  app/code/core/Mage/Catalog/Model/Product/Indexer/Flat.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Flat/Indexer.php
Labels: Component: Catalog

#1869 Mage_Report: Migrated hardcoded cron expressions to configurable fields
  app/code/core/Mage/Reports/etc/config.xml
  app/code/core/Mage/Reports/etc/system.xml
  app/code/core/Mage/Sales/etc/config.xml
  app/code/core/Mage/Sales/etc/system.xml
  app/code/core/Mage/SalesRule/etc/config.xml
  app/code/core/Mage/SalesRule/etc/system.xml
  app/code/core/Mage/Tax/etc/config.xml
  app/code/core/Mage/Tax/etc/system.xml
Labels: work in progress, Component: Reports, Component: Sales, Component: SalesRule, Component: Tax, hacktoberfest-accepted

#3268 Mage_Eav_Model_Attribute_Data_Date::extractValue() should not return false
  app/code/core/Mage/Eav/Model/Attribute/Data/Date.php
Labels: Component: Eav

#3290 Fixed customer not receiving order notification email when the email …
  app/code/core/Mage/Customer/Model/Resource/Customer.php
  app/code/core/Mage/Sales/Model/Order.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo.php
  app/code/core/Mage/Sales/Model/Order/Invoice.php
  app/code/core/Mage/Sales/Model/Order/Shipment.php
Labels: Component: Sales, Component: Customer

#3378 Removed double save on quote in Mage_Checkout_CartController::ajaxUpdateAction()
  app/code/core/Mage/Checkout/controllers/CartController.php
Labels: Component: Checkout

#3377 Rewrote part of GA4 to support add/remove quantity from cart and cart_updates
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
  app/code/core/Mage/GoogleAnalytics/Model/Observer.php
  app/code/core/Mage/GoogleAnalytics/etc/config.xml
Labels: Component: GoogleAnalytics

#3345 Fixed implicit conversion from float to int in Mage_SalesRule_Model_Validator
  app/code/core/Mage/SalesRule/Model/Validator.php
Labels: Component: SalesRule

#2737 Removed onmouseover/onmouseout from adminhtml menu
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
  skin/adminhtml/default/default/menu.css
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/scss/menu.scss
Labels: Template : admin, Component: Adminhtml

#3301 Rewrote afterSave of product and category image attributes
  app/code/core/Mage/Catalog/Model/Category/Attribute/Backend/Image.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Image.php
Labels: Component: Catalog

#3382 Fixed passing null for number_format is deprecated for downloadable products
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Links.php
Labels: Component: Downloadable

#3384 Allowed to upload images in WebP format
  .htaccess
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Gallery/Content.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Image.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/GalleryController.php
  app/code/core/Mage/Adminhtml/controllers/CustomerController.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest.php
  app/code/core/Mage/Catalog/Model/Category/Attribute/Backend/Image.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Image.php
  app/code/core/Mage/Cms/etc/config.xml
  app/code/core/Mage/Core/Model/File/Validator/Image.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Image.php
  app/code/core/Mage/ImportExport/Model/Import/Uploader.php
  app/code/core/Mage/Media/Model/File/Image.php
  app/code/core/Mage/Uploader/Helper/File.php
  lib/Varien/File/Transfer/Adapter/Http.php
  lib/Varien/Image/Adapter/Gd2.php
  lib/Varien/Io/File.php
Labels: Component: Core, Component: Catalog, Component: Cms, Component: lib/Varien, Component: Eav, Component: Adminhtml, Component: Media, Component: ImportExport, Component: Uploader, Component: lib/*, htaccess

#3257 Removed phpstan.dist.issues.neon
  phpstan.dist.baseline.neon
  phpstan.dist.issues.neon
  phpstan.dist.neon
Labels: phpstan

#3395 Fixed issue #3392 clearInstance() method in Mage_Catalog_Model_Product.
  app/code/core/Mage/Catalog/Model/Product.php
  phpstan.dist.baseline.neon
Labels: Component: Catalog, phpstan

#3397 Fixed a bug with UPS that prevented saving the shipping methods page from backend
  app/design/adminhtml/default/default/template/system/shipping/ups.phtml
Labels: Template : admin, Component: Adminhtml

#3403 Fixed truecolor detection for WebP images
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: lib/Varien, Component: lib/*

#3415 Updated PHPStorm meta
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
Labels: PHPStorm

#3414 Handled fopen error in Mage_Index_Model_Lock by throwing exception.
  app/code/core/Mage/Index/Model/Lock.php
Labels: Component: Index

#3416 Updating the information about Mage_Poll in the README file
  README.md
Labels: documentation
