Repository OpenMage/magento-lts, pull requests merged in 2023-03, with the labels that each got.

#3051 Add cache rule for image/svg+xml to .htaccess
  .htaccess
Labels: htaccess

#3038 EAV Config Cache followup: select non-existent attribute exception
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
Labels: Component: Eav

#3065 fix: cast store config (checkout/cart/delete_quote_after) to int to avoid unsupported operand types php error
  app/code/core/Mage/Sales/Model/Observer.php
Labels: Component: Sales

#3070 Moved dependabot to weekly again
  .github/dependabot.yml
Labels: environment

#3056 bugfix: return first cart item when adding bundle product to cart
  app/code/core/Mage/Sales/Model/Quote.php
Labels: Component: Sales

#3062 Handle case when `qtys` param is null when preparing shipment
  app/code/core/Mage/Sales/Model/Service/Order.php
Labels: Component: Sales

#3060 Remove status filter from Product Collection in CatalogSearch Layer
  app/code/core/Mage/CatalogSearch/Model/Layer.php
Labels: Component: CatalogSearch

#2996 Making optionalZipCountries JS code conditional
  app/design/frontend/base/default/template/directory/js/optional_zip_countries.phtml
Labels: Template : base, Component: Directory

#3044 Eav config cache followup for multi scope load
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/Eav/Model/Entity/Type.php
Labels: Component: Eav

#3053 Make Prototype Validator optional
  js/varien/form.js
  js/varien/js.js
Labels: JavaScript

#3049 Make PHPStan run independently from PHPCS
  .github/workflows/workflow.yml
Labels: environment

#3081 Optimize Composer autoloader
  .github/workflows/release.yml
  README.md
Labels: documentation, environment, performance

#3086 Fix exception logged when no Category image is uploaded
  app/code/core/Mage/Catalog/Model/Category/Attribute/Backend/Image.php
  lib/Varien/File/Uploader.php
Labels: Component: Catalog, Component: lib/Varien, Component: lib/*

#2945 Added frontend_type color
  README.md
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Adminhtml/Helper/Config.php
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Color.php
  app/locale/en_US/Mage_Adminhtml.csv
  js/prototype/validation.js
  lib/Varien/Data/Form/Element/Color.php
  skin/adminhtml/default/default/boxes.css
Labels: documentation, Template : admin, Component: lib/Varien, Component: Adminhtml, Component: lib/*, translations, JavaScript

#3091 PHP 7.4 is now the minimum required version
  .github/workflows/release.yml
  .github/workflows/syntax-php.yml
  README.md
  composer.json
  composer.lock
Labels: documentation, environment, composer

#2987 Fix esi parsing with turpentine
  app/design/frontend/base/default/template/customer/address.phtml
  app/design/frontend/base/default/template/customer/address/book.phtml
Labels: Component: Customer, Template : base

#3096 Added new options to"number of record" in grid
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml

#3097 Fixed allowed PHP version in composer.json
  composer.json
  composer.lock
Labels: composer

#3031 Some PHPStan fixes
  app/Mage.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Catalog/Helper/Product/Flat.php
  app/code/core/Mage/CatalogIndex/Model/Retreiver.php
  app/code/core/Mage/Oauth/controllers/Customer/TokenController.php
  app/code/core/Mage/Paypal/Controller/Express/Abstract.php
  app/code/core/Mage/Paypal/Model/Api/Abstract.php
  app/code/core/Mage/Paypal/Model/Api/Standard.php
  lib/Varien/Image/Adapter/Gd2.php
  lib/Varien/Io/File.php
  lib/Varien/Object/Cache.php
  lib/Varien/Object/Mapper.php
  phpstan.dist.baseline.neon
Labels: Component: PayPal, Component: Catalog, Component: lib/Varien, Component: Adminhtml, Mage.php, Component: Oauth, Component: CatalogIndex, Component: lib/*, phpstan

#3098 Removed module Mage_Poll
  app/code/core/Mage/Adminhtml/Block/Poll/Answer/Edit.php
  app/code/core/Mage/Adminhtml/Block/Poll/Answer/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Answers.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Answers/Form.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Answers/Grid.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Answers/List.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tab/Form.php
  app/code/core/Mage/Adminhtml/Block/Poll/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Poll/Grid.php
  app/code/core/Mage/Adminhtml/Block/Poll/Poll.php
  app/code/core/Mage/Adminhtml/controllers/Poll/AnswerController.php
  app/code/core/Mage/Adminhtml/controllers/PollController.php
  app/code/core/Mage/Poll/Block/ActivePoll.php
  app/code/core/Mage/Poll/Block/Poll.php
  app/code/core/Mage/Poll/Helper/Data.php
  app/code/core/Mage/Poll/Model/Mysql4/Poll.php
  app/code/core/Mage/Poll/Model/Mysql4/Poll/Answer.php
  app/code/core/Mage/Poll/Model/Mysql4/Poll/Answer/Collection.php
  app/code/core/Mage/Poll/Model/Mysql4/Poll/Collection.php
  app/code/core/Mage/Poll/Model/Mysql4/Poll/Vote.php
  app/code/core/Mage/Poll/Model/Poll.php
  app/code/core/Mage/Poll/Model/Poll/Answer.php
  app/code/core/Mage/Poll/Model/Poll/Vote.php
  app/code/core/Mage/Poll/Model/Resource/Poll.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Answer.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Answer/Collection.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Collection.php
  app/code/core/Mage/Poll/Model/Resource/Poll/Vote.php
  app/code/core/Mage/Poll/controllers/VoteController.php
  app/code/core/Mage/Poll/data/poll_setup/data-install-1.6.0.0.php
  app/code/core/Mage/Poll/etc/adminhtml.xml
  app/code/core/Mage/Poll/etc/config.xml
  app/code/core/Mage/Poll/etc/system.xml
  app/code/core/Mage/Poll/sql/poll_setup/install-1.6.0.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-install-0.7.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-0.6.0-0.6.1.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-0.7.1-0.7.2.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-1.5.9.9-1.6.0.0.php
  app/code/core/Mage/Poll/sql/poll_setup/mysql4-upgrade-1.6.0.0-1.6.0.1.php
  app/design/adminhtml/default/default/template/poll/answers/list.phtml
  app/design/frontend/base/default/layout/poll.xml
  app/design/frontend/base/default/template/poll/active.phtml
  app/design/frontend/base/default/template/poll/result.phtml
  app/etc/modules/Mage_Poll.xml
  app/locale/en_US/Mage_Poll.csv
Labels: Template : admin, Template : base, Component: Adminhtml, Component: Poll, translations, XML Layout

#3101 Added info about Mage_Poll removal to README
  README.md
Labels: documentation

#3102 Deprecation errors are not suppressed anymore
  README.md
  app/code/core/Mage/Core/functions.php
Labels: documentation, Component: Core

#3111 Bump dev-meta-package to 1.0.2
  composer.lock
Labels: composer

#3100 Removed commented code
  app/code/core/Mage/Adminhtml/controllers/Poll/AnswerController.php
  app/code/core/Mage/Catalog/Model/Convert/Adapter/Product.php
  app/code/core/Mage/Catalog/Model/Convert/Parser/Product.php
  app/code/core/Mage/Checkout/Block/Success.php
  app/code/core/Mage/Customer/Model/Convert/Parser/Customer.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.9.26-0.9.27.php
  app/design/adminhtml/default/default/template/catalog/category/tree.phtml
  app/design/frontend/base/default/template/catalog/rss/product/price.phtml
  app/design/frontend/rwd/default/template/email/catalog/product/new.phtml
  app/design/frontend/rwd/default/template/review/product/view/list.phtml
  app/design/frontend/rwd/default/template/wishlist/item/column/info.phtml
  lib/Varien/Db/Adapter/Mysqli.php
  lib/Varien/Db/Tree.php
  lib/Varien/File/Object.php
Labels: Component: PayPal, Component: Catalog, Template : admin, Component: Checkout, Component: lib/Varien, Component: Sales, Component: Customer, Template : rwd, Template : base, Component: Adminhtml, Component: Wishlist, Component: Review, Component: lib/*

#3093 Fixed problem with associated_products not visible in backend
  app/code/core/Mage/Adminhtml/controllers/Catalog/ProductController.php
Labels: Component: Adminhtml

#3118 Fixed Illegal offset type in Mage_Tag
  app/code/core/Mage/Tag/Model/Resource/Product/Collection.php
Labels: Component: Tag

#3099 PHPStan: some fixes to lib/ files
  lib/Varien/Data/Tree/Dbp.php
  lib/Varien/Db/Adapter/Interface.php
  lib/Varien/Db/Adapter/Mysqli.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Debug.php
  lib/Varien/Image/Adapter/Abstract.php
  lib/Varien/Image/Adapter/Gd2.php
  phpstan.dist.baseline.neon
Labels: Component: lib/Varien, Component: lib/*, phpstan

#3108 Disabled and disallowed SWF file extension
  app/code/core/Mage/Cms/Helper/Data.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Config.php
Labels: Component: Cms

#2999 Prevented Configurable Swatches assets from loading while unneeded
  app/code/core/Mage/ConfigurableSwatches/Block/Catalog/Media/Js/List.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Mediafallback.php
  app/design/frontend/rwd/default/layout/configurableswatches.xml
Labels: Template : rwd, Component: ConfigurableSwatches, XML Layout

#3094 [PHP 8.2] Fixed deprecated dynamic property creation
  app/code/core/Mage/Catalog/Model/Config.php
  app/code/core/Mage/Catalog/Model/Convert/Adapter/Product.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Default.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Minimalprice.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Tierprice.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer/Abstract.php
  app/code/core/Mage/CurrencySymbol/Block/Adminhtml/System/Currencysymbol.php
  app/code/core/Mage/Customer/Block/Account/Dashboard/Newsletter.php
  app/code/core/Mage/ImportExport/Model/Export/Entity/Abstract.php
  app/code/core/Mage/Reports/Model/Resource/Product/Collection.php
  app/code/core/Mage/Review/Block/Customer/Recent.php
  lib/Varien/Io/File.php
  phpstan.dist.baseline.neon
Labels: Component: Catalog, Component: Reports, Component: lib/Varien, Component: Customer, Component: CurrencySymbol, Component: Review, Component: CatalogIndex, Component: ImportExport, Component: lib/*, phpstan, PHP 8.2
