Repository OpenMage/magento-lts, pull requests merged in 2023-01, with the labels that each got.

#2878 Fix for #2874
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Massaction/Abstract.php
Labels: Component: Adminhtml, 3rd-party

#2875 Exception on add reserved catalog product attribute
  .all-contributorsrc
  README.md
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/AttributeController.php
Labels: documentation, Component: Adminhtml

#2879 rector: automatic code refactoring (part 1)
  .ddev/commands/web/rector
  app/code/core/Mage/Adminhtml/Block/Sales/Totals.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreateController.php
  app/code/core/Mage/Api/Helper/Data.php
  app/code/core/Mage/Api/Model/Resource/Abstract.php
  app/code/core/Mage/Api/Model/Server/Adapter/Xmlrpc.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Validator/Product.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Website/Validator/Admin/Website.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Startdate.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Status.php
  app/code/core/Mage/Core/Controller/Response/Http.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Helper/Http.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Url/Rewrite.php
  app/code/core/Mage/Dataflow/Model/Profile.php
  app/code/core/Mage/Downloadable/Model/Link/Api/Validator.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/ImportExport/Model/Import.php
  app/code/core/Mage/Oauth/Model/Server.php
  app/code/core/Mage/Paypal/Model/Cart.php
  app/code/core/Mage/Paypal/Model/Config.php
  app/code/core/Mage/Sales/Block/Order/Totals.php
  app/code/core/Mage/Sales/Model/Order/Creditmemo/Api/V2.php
  lib/Mage/Cache/Backend/File.php
  lib/Mage/DB/Mysqli.php
  lib/Mage/HTTP/Client/Curl.php
  lib/Mage/HTTP/Client/Socket.php
  lib/Varien/Data/Tree/Node.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Io/Abstract.php
  phpstan.dist.baseline.neon
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: CatalogInventory, Component: lib/Varien, Component: Sales, Component: Eav, Component: lib/Mage, Component: Adminhtml, Component: Api, Component: Oauth, Component: Downloadable, Component: ImportExport, Component: Dataflow, Component: lib/*, phpstan, ddev

#2882 Added DEV_PHP_STRICT env variable
  README.md
  app/code/core/Mage/Core/functions.php
Labels: documentation, Component: Core

#2887 Updated PHPStan to 1.9.6
  composer.json
  composer.lock
Labels: composer

#2884 Fixes passing null to strlen() inside escapeHtml()
  app/code/core/Mage/Core/Helper/Abstract.php
Labels: Component: Core, PHP 8.1

#2889 Ensure null values are not passed to trim()
  app/code/core/Mage/Eav/Model/Entity/Attribute/Abstract.php
Labels: Component: Eav

#2811 Removed Mage_Backup
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  README.md
  app/code/core/Mage/Adminhtml/Block/Backup.php
  app/code/core/Mage/Adminhtml/Block/Backup/Dialogs.php
  app/code/core/Mage/Adminhtml/Block/Backup/Grid.php
  app/code/core/Mage/Adminhtml/controllers/System/BackupController.php
  app/code/core/Mage/Adminhtml/controllers/System/StoreController.php
  app/code/core/Mage/Backup/Exception.php
  app/code/core/Mage/Backup/Helper/Data.php
  app/code/core/Mage/Backup/Model/Backup.php
  app/code/core/Mage/Backup/Model/Config/Backend/Cron.php
  app/code/core/Mage/Backup/Model/Config/Source/Type.php
  app/code/core/Mage/Backup/Model/Db.php
  app/code/core/Mage/Backup/Model/Fs/Collection.php
  app/code/core/Mage/Backup/Model/Mysql4/Db.php
  app/code/core/Mage/Backup/Model/Observer.php
  app/code/core/Mage/Backup/Model/Resource/Db.php
  app/code/core/Mage/Backup/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/Backup/etc/adminhtml.xml
  app/code/core/Mage/Backup/etc/config.xml
  app/code/core/Mage/Backup/etc/system.xml
  app/code/core/Mage/Core/Model/Config.php
  app/design/adminhtml/default/default/template/backup/dialogs.phtml
  app/design/adminhtml/default/default/template/backup/left.phtml
  app/design/adminhtml/default/default/template/backup/list.phtml
  app/etc/modules/Mage_Backup.xml
  app/locale/en_US/Mage_Backup.csv
  lib/Mage/Backup.php
  lib/Mage/Backup/Abstract.php
  lib/Mage/Backup/Archive/Tar.php
  lib/Mage/Backup/Db.php
  lib/Mage/Backup/Exception.php
  lib/Mage/Backup/Exception/CantLoadSnapshot.php
  lib/Mage/Backup/Exception/FtpConnectionFailed.php
  lib/Mage/Backup/Exception/FtpValidationFailed.php
  lib/Mage/Backup/Exception/NotEnoughFreeSpace.php
  lib/Mage/Backup/Exception/NotEnoughPermissions.php
  lib/Mage/Backup/Filesystem.php
  lib/Mage/Backup/Filesystem/Helper.php
  lib/Mage/Backup/Filesystem/Iterator/File.php
  lib/Mage/Backup/Filesystem/Iterator/Filter.php
  lib/Mage/Backup/Filesystem/Rollback/Abstract.php
  lib/Mage/Backup/Filesystem/Rollback/Fs.php
  lib/Mage/Backup/Filesystem/Rollback/Ftp.php
  lib/Mage/Backup/Interface.php
  lib/Mage/Backup/Media.php
  lib/Mage/Backup/Nomedia.php
  lib/Mage/Backup/Snapshot.php
  phpstan.dist.baseline.neon
Labels: documentation, Component: Core, Template : admin, Component: lib/Mage, Component: Adminhtml, Component: Backup, Component: lib/*, translations, phpstan, PHPStorm

#2890 Require Mage_Backup and Mage_PageCache on v19's release builder
  .github/workflows/release.yml
Labels: environment

#2825 Added getter/setter for getCouponCode()
  app/code/core/Mage/Sales/Model/Quote.php
  app/design/frontend/base/default/template/checkout/cart/coupon.phtml
  app/design/frontend/rwd/default/template/checkout/cart/coupon.phtml
Labels: Component: Checkout, Component: Sales, Template : rwd, Template : base, PHP 8.1

#2891 Added getter for Customer::getPassword(), ref #2586
  app/code/core/Mage/Customer/Model/Customer.php
Labels: Component: Customer, PHP 8.1

#2894 Removed info about Magento versions merging
  README.md
Labels: documentation

#2892 Use method instead of _getData(), ref #2825
  app/code/core/Mage/Sales/Model/Quote.php
Labels: Component: Sales

#2897 Updated README.md
  README.md
Labels: documentation

#2896 phpstan/plugin version update
  composer.json
  composer.lock
  phpstan.dist.baseline.neon
Labels: composer, phpstan

#2902 Better exceptions for file upload
  lib/Varien/File/Uploader.php
Labels: Component: lib/Varien, Component: lib/*

#2893 Added default return string to getParam()
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit.php
  app/code/core/Mage/Adminhtml/Controller/Report/Abstract.php
  app/code/core/Mage/Adminhtml/controllers/Report/StatisticsController.php
  app/code/core/Mage/Catalog/Block/Product/List/Toolbar.php
Labels: Component: Catalog, Component: Adminhtml, PHP 8.1

#2888 Ensure count() is not called on a string
  lib/Varien/File/Uploader.php
Labels: Component: lib/Varien, Component: lib/*, PHP 8.1

#2905 Cast return of getClass() to string
  app/code/core/Mage/Adminhtml/Block/Widget/Tabs.php
  app/design/adminhtml/default/default/template/widget/tabs.phtml
  app/design/adminhtml/default/default/template/widget/tabshoriz.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget, PHP 8.1

#2898 Updated calls to strlen(), ref #2586
  app/code/core/Mage/Newsletter/Model/Template.php
  app/code/core/Mage/SalesRule/Model/Resource/Rule/Collection.php
Labels: Component: SalesRule, PHP 8.1

#1490 New event so more validation classes can be added on the fly
  app/code/core/Mage/Eav/Model/Entity/Attribute/Frontend/Abstract.php
Labels: Component: Eav

#2910 Revert "New event so more validation classes can be added on the fly"
  app/code/core/Mage/Eav/Model/Entity/Attribute/Frontend/Abstract.php
Labels: Component: Eav

#2901 Ensure null value not passed to str_replace
  app/code/core/Mage/Core/Model/Resource/Config.php
Labels: Component: Core, PHP 8.1

#2904 Fix Use Base Class Instead of Child Class when Referencing Constants
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Grid.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template/Grid/Filter/Type.php
  app/code/core/Mage/Adminhtml/Block/System/Email/Template/Grid/Renderer/Type.php
  app/code/core/Mage/Adminhtml/controllers/Newsletter/TemplateController.php
Labels: Component: Adminhtml

#2859 Removed unused autoloaders Mage_Autoload_Simple and Magento\Autoload\Simple
  lib/Mage/Autoload/Simple.php
  lib/Magento/Autoload/ClassMap.php
  lib/Magento/Autoload/IncludePath.php
  lib/Magento/Autoload/Simple.php
Labels: Component: lib/Mage, Component: lib/*, Component: lib/Magento

#2586 [PHP 8.1] Fix passing null to non-nullable internal function params
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View.php
  app/code/core/Mage/Adminhtml/Block/Customer/Online/Grid/Renderer/Url.php
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Preview.php
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Currency.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Longtext.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Price.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Text.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Core/Model/Design/Package.php
  app/code/core/Mage/Core/Model/Locale.php
  app/code/core/Mage/Core/Model/Url/Rewrite.php
  app/code/core/Mage/Customer/Model/Address/Abstract.php
  app/code/core/Mage/Eav/Block/Adminhtml/Attribute/Edit/Options/Abstract.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Multiline.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Backend/Time/Created.php
  app/code/core/Mage/Eav/Model/Entity/Type.php
  app/code/core/Mage/Widget/Model/Widget/Instance.php
  lib/Varien/Data/Form.php
  lib/Varien/Data/Form/Element/Abstract.php
  lib/Varien/Data/Form/Element/Multiselect.php
  phpstan.dist.baseline.neon
Labels: hold, Component: Core, Component: Catalog, Component: lib/Varien, Component: Customer, Component: Eav, Component: Adminhtml, Component: Widget, Component: lib/*, phpstan, PHP 8.1

#2919 Fix searching for utf8 characters
  app/design/frontend/base/default/template/catalog/product/list/toolbar.phtml
  app/design/frontend/rwd/default/template/catalog/product/list/toolbar.phtml
Labels: Component: Catalog, Template : rwd, Template : base, bug confirmed

#2609 remove scriptaculous/effects.js dependency in js/prototype/validation.js
  js/prototype/validation.js
Labels: JavaScript

#2923 Better error handling when XML file cannot be parsed, ref #1372
  lib/Varien/Simplexml/Config.php
Labels: Component: lib/Varien, Component: lib/*

#2920 RWD theme: removed border bottom from h1/h2
  skin/frontend/rwd/default/css/styles-ie8.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/mixin/_typography.scss
  skin/frontend/rwd/default/scss/module/_checkout-cart.scss
Labels: Template : rwd

#572 getAttributeRawValue return false if value is '0'
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: bug, review needed, backwards compatibility, Component: Catalog

#2926 Added info about #572 to README
  README.md
Labels: documentation

#2924 Generalized currency formatting method formatPriceTxt() for use in or…
  app/code/core/Mage/Sales/Model/Order.php
Labels: Component: Sales

#1386 Add some specific debugging hint to email queue recipient empty
  app/code/core/Mage/Core/Model/Email/Queue.php
Labels: Component: Core

#2929 Remove unmatched error from phpstan baseline
  phpstan.dist.baseline.neon
Labels: phpstan

#2685 Limit decrypt to 256 characters
  app/code/core/Mage/Core/Model/Encryption.php
Labels: security, Component: Core

#2930 Documenting all shell/indexer.php arguments with dashes
  shell/indexer.php
Labels: shell

#2674 Fix error when calling shell script from browser
  shell/abstract.php
Labels: shell

#2675 Fix unlink no such file or directory
  lib/Varien/Io/File.php
Labels: Component: lib/Varien, Component: lib/*

#2933 Check ACL for customer link of orders
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Info.php
Labels: Component: Adminhtml

#2434 Remove legacy media uploader / editor remnants
  app/code/core/Mage/Adminhtml/Block/Media/Editor.php
  app/code/core/Mage/Adminhtml/Block/Media/Uploader.php
  app/code/core/Mage/Adminhtml/controllers/Media/EditorController.php
  app/code/core/Mage/Adminhtml/controllers/Media/UploaderController.php
  app/code/core/Mage/Adminhtml/etc/jstranslator.xml
  app/design/adminhtml/default/default/template/media/editor.phtml
  js/lib/FABridge.js
  js/lib/flex.js
  js/mage/adminhtml/flexuploader.js
Labels: environment, Template : admin, Component: Adminhtml, Component: Media, JavaScript

#1438 Add Events around Zend_Email
  app/code/core/Mage/Core/Model/Email.php
  app/code/core/Mage/Core/Model/Email/Queue.php
  app/code/core/Mage/Core/Model/Email/Template.php
  app/code/core/Mage/Newsletter/Model/Template.php
  docs/EVENTS.md
Labels: enhancement, documentation, new feature, Component: Core

#2427 Remove more Internet Explorer code
  app/design/adminhtml/default/default/template/catalog/product/edit.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/action/attribute.phtml
  app/design/adminhtml/default/default/template/notification/window.phtml
  js/mage/adminhtml/browser.js
  js/mage/adminhtml/form.js
  js/mage/adminhtml/giftmessage.js
  js/mage/adminhtml/grid.js
  js/mage/adminhtml/loader.js
  js/mage/adminhtml/product/composite/configure.js
  js/mage/adminhtml/sales.js
  js/mage/adminhtml/tools.js
  js/mage/adminhtml/wysiwyg/tiny_mce/setup.js
  js/mage/adminhtml/wysiwyg/tiny_mce/themes/advanced/skins/default/content.css
  js/mage/adminhtml/wysiwyg/widget.js
  js/mage/directpost.js
  js/mage/translate_inline.js
  js/varien/js.js
  js/varien/menu.js
  js/varien/product.js
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/core/_form.scss
Labels: Component: Catalog, Template : admin, Template : rwd, Component: Adminhtml, JavaScript

#2936 PHP8.1 Apply latest ZF1F changes to patch OM-918
  .ddev/commands/web/vendor-patches
  patches/OM-918.patch
Labels: PHP 8.1, ddev

#2666 Allow rewrite Varien_Image
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Image/Rest/Admin/V1.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Media/Api.php
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
Labels: Component: Catalog, Component: ConfigurableSwatches

#2938 PHP8.0 Fixes passing null as 1st parameter to mktime()
  app/code/core/Mage/Adminhtml/Block/Report/Config/Form/Field/YtdStart.php
Labels: Component: Adminhtml, PHP 8

#2942 Fixes typo in observer
  app/locale/en_US/Mage_Adminhtml.csv
Labels: translations

#2939 PHP8.1 Fixes passing null to trim() - for non-existing payment methods
  app/code/core/Mage/Payment/Helper/Data.php
Labels: Component: Payment, PHP 8.1

#2934 Replace strftime with date
  app/code/core/Mage/CatalogIndex/Model/Indexer.php
  app/code/core/Mage/Cron/Model/Observer.php
  app/code/core/Mage/Cron/Model/Schedule.php
  app/code/core/Mage/Log/Model/Aggregation.php
  lib/Varien/Db/Adapter/Mysqli.php
Labels: Component: lib/Varien, Component: Cron, Component: CatalogIndex, Component: Log, Component: lib/*, PHP 8.1

#2861 Removed app/code/core/Zend
  README.md
  app/code/core/Zend/Db/Select.php
  app/code/core/Zend/Db/Statement.php
Labels: documentation, backwards compatibility, Component: lib/Zend

#2946 Adds polyfills for PHP 7.4-8.1
  app/code/core/Mage/Core/functions.php
  composer.json
  composer.lock
Labels: Component: Core, composer

#2952 Fix less than typo
  app/locale/en_US/Mage_Customer.csv
  app/locale/en_US/Mage_Eav.csv
Labels: translations

#2953 Disable cash on delivery for virtual orders
  app/code/core/Mage/Payment/Model/Method/Cashondelivery.php
Labels: Component: Payment

#2957 Reduce getId calls
  lib/Varien/Data/Tree/Node/Collection.php
Labels: Component: lib/Varien, Component: lib/*

#2967 Ascending sort for themes/packages dropdown
  app/code/core/Mage/Core/Model/Design/Source/Design.php
  phpstan.dist.baseline.neon
Labels: Component: Core, phpstan

#2968 Fix for mcrypt_compat 2.0.4
  lib/Varien/Crypt/Mcrypt.php
Labels: Component: lib/Varien, Component: lib/*

#2960 Updated PHPStan to 1.9.13 and ZF1Future to 1.22
  app/code/core/Mage/Core/Model/Cache.php
  composer.json
  composer.lock
  patches/MAG-1.9.3.10.patch
  patches/MAG-1.9.4.0.patch
  patches/ZF-295.patch
  patches/ZF-296.patch
  patches/ZF-297.patch
  patches/ZF-299.patch
  phpstan.dist.baseline.neon
Labels: Component: Core, composer, phpstan

#2971 Brexit of Great-Britain
  app/code/core/Mage/Core/etc/config.xml
Labels: Component: Core

#1110 Improving query performance for coupon code check
  app/code/core/Mage/SalesRule/Model/Resource/Rule/Collection.php
Labels: review needed, performance, Component: SalesRule

#2970 Set dependabot updates from weekly to daily
  .github/dependabot.yml
Labels: environment

#2715 Keep current selection for Related, Up-sells, Cross-sells, Associated grids
  app/code/core/Mage/Adminhtml/controllers/Catalog/ProductController.php
Labels: bug, Component: Adminhtml

#2950 Added counter for input fields with maximum-length attribute
  app/design/adminhtml/default/default/layout/admin.xml
  js/mage/adminhtml/input-counter.js
Labels: new feature, Template : admin, Component: Adminhtml, Component: Admin, JavaScript

#2974 Add ifconfig for layout updates
  app/code/core/Mage/Core/Model/Layout/Update.php
Labels: Component: Core

#2975 Add template only if necessary (ups with Mage_Usa)
  app/code/core/Mage/Adminhtml/controllers/System/ConfigController.php
Labels: Component: Usa, Component: Adminhtml

#2965 Wrap WHERE condition in parens
  app/code/core/Mage/Rule/Model/Condition/Combine.php
Labels: Component: Rule

#2989 Install composer dependencies in gitpod
  dev/gitpod/docker-compose.yml
  dev/gitpod/install.sh
  dev/openmage/docker-compose.yml
  dev/openmage/install.sh
Labels: environment

#2985 Moved patch files to repo
  composer.json
  composer.lock
  patches/.htaccess
  patches/MAG-1.1.1.patch
  patches/MAG-1.9.3.0.patch
  patches/MAG-1.9.3.7.patch
  patches/MAG-1.9.3.9.patch
  patches/OM-1081.patch
  patches/OM-2047.patch
  patches/OM-2050.patch
  patches/OM-918.patch
Labels: composer

#2990 Added a forced refresh if the user modifies the minicart while being on the cart page
  skin/frontend/rwd/default/js/minicart.js
Labels: Template : rwd

#2994 Small Typo Fix otions => options
  app/code/core/Mage/Checkout/Block/Cart/Item/Renderer.php
  app/code/core/Mage/Checkout/Block/Cart/Item/Renderer/Configurable.php
  app/code/core/Mage/Checkout/Model/Type/Onepage.php
Labels: Component: Checkout

#2981 Update README install instructions
  README.md
Labels: documentation

#3000 Clear hasDataChanges flag after loading collection items
  app/code/core/Mage/Sales/Model/Order/Status/History.php
  lib/Varien/Data/Collection/Db.php
Labels: performance, Component: lib/Varien, Component: Sales, Component: lib/*
