Repository OpenMage/magento-lts, pull requests merged in 2023-02, with the labels that each got.

#2978 Fix HEADERS ALREADY SENT from Mage_Core_Block_Template
  app/code/core/Mage/Core/Block/Template.php
Labels: Component: Core

#3002 Bugfixes addto.phtml
  app/design/frontend/rwd/default/template/catalog/product/view/addto.phtml
Labels: Component: Catalog, Template : rwd

#3003 Fixed bug in prototypejs
  js/prototype/prototype.js
Labels: security, JavaScript

#3010 Resolve getPasswordTimestamp join issues
  app/code/core/Mage/Customer/Model/Resource/Customer.php
Labels: Component: Customer, bug confirmed

#3006 Head.php to HTML5
  app/code/core/Mage/Page/Block/Html/Head.php
Labels: Component: Page

#3008 Fix phpseclib class namespace in Varien_Io_Sftp
  lib/Varien/Io/Sftp.php
Labels: Component: lib/Varien, Component: lib/*

#3014 Fix bug in admin interface where Bundle Option Is Required setting is not loaded.
  app/design/adminhtml/default/default/template/bundle/product/edit/bundle/option.phtml
Labels: Template : admin, Component: Adminhtml, Component: Bundle

#3007 Reduce getId calls
  app/code/core/Mage/CatalogInventory/Model/Observer.php
Labels: Component: CatalogInventory

#3020 Fix bug in admin interface where Bundle Option Select User Defined Qty setting is not loaded.
  app/design/adminhtml/default/default/template/bundle/product/edit/bundle/option/selection.phtml
Labels: Template : admin, Component: Adminhtml, Component: Bundle

#3022 Remove minOccurs attr from WSDL message part
  app/code/core/Mage/Sales/etc/wsdl.xml
Labels: Component: Sales

#2637 Fix position sort with flat tables when no category filter is applied
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
Labels: Component: Catalog

#3023 Support for Google Analytics 4
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
  app/code/core/Mage/GoogleAnalytics/Model/System/Config/Source/Type.php
  app/design/frontend/base/default/template/googleanalytics/ga.phtml
  app/locale/en_US/Mage_GoogleAnalytics.csv
  phpstan.dist.baseline.neon
Labels: Template : base, Component: GoogleAnalytics, translations, phpstan

#3028 Version bump
  app/Mage.php
Labels: Mage.php

#3035 Added docblock related to customer address.
  app/code/core/Mage/Customer/Model/Address/Abstract.php
  app/design/frontend/base/default/template/checkout/onepage/billing.phtml
  app/design/frontend/base/default/template/checkout/onepage/shipping.phtml
  app/design/frontend/base/default/template/customer/address/edit.phtml
  app/design/frontend/rwd/default/template/checkout/onepage/shipping.phtml
  app/design/frontend/rwd/default/template/customer/address/edit.phtml
Labels: Component: Checkout, Component: Customer, Template : rwd, Template : base

#3037 Fixed E_DEPRECATED in Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
Labels: Component: GoogleAnalytics

#3042 Fixed E_Warning array_key_exists() on product save
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
Labels: Component: Catalog

#3024 Add more info to admin auth exceptions
  app/code/core/Mage/Api2/Model/Auth/User/Admin.php
Labels: Component: Api2

#3011 set phpstan to bleedingEdge config
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Abstract.php
  app/code/core/Mage/Adminhtml/controllers/PollController.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Tierprice/Api.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext/Collection.php
  app/code/core/Mage/Customer/Helper/Address.php
  app/code/core/Mage/Sales/controllers/DownloadController.php
  app/code/core/Mage/Tax/Model/Resource/Calculation.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
  lib/Mage/HTTP/Client/Curl.php
  lib/Varien/Data/Form/Element/Obscure.php
  lib/Varien/Image/Adapter/Gd2.php
  phpstan.dist.baseline.neon
  phpstan.dist.neon
Labels: Component: Catalog, Component: lib/Varien, Component: Sales, Component: Usa, Component: Customer, Component: lib/Mage, Component: Adminhtml, Component: Wishlist, Component: Tax, Component: Api2, Component: CatalogSearch, Component: lib/*, phpstan
