Repository OpenMage/magento-lts, pull requests merged in 2023-10, with the labels that each got.

#3540 Excluded Varien_Data_Form_Element_Label from "edit attributes" mass action
  app/code/core/Mage/Adminhtml/Helper/Catalog/Product/Edit/Action/Attribute.php
  js/mage/adminhtml/product.js
Labels: Component: Adminhtml, JavaScript

#3529 Fixed updated_at doesn't update on mass actions
  app/code/core/Mage/Catalog/Model/Resource/Product/Action.php
Labels: Component: Catalog

#3570 Minor fixes for TinyMCE v6
  app/code/core/Mage/Widget/controllers/Adminhtml/WidgetController.php
  js/mage/adminhtml/wysiwyg/tinymce/setup.js
Labels: Component: Widget, JavaScript

#3571 Forced PHP version to 7.4 for PHPCS related workflows
  .github/workflows/php-cs-fixer.yml
  .github/workflows/phpcs.yml
Labels: environment, phpcs, php-cs-fixer

#3533 Reinit fresh config before flushing cache and immediately save config…
  app/code/core/Mage/Adminhtml/Block/Cache.php
  app/code/core/Mage/Adminhtml/controllers/CacheController.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Cache.php
  app/code/core/Mage/Core/Model/Config.php
  app/locale/en_US/Mage_Adminhtml.csv
  app/locale/en_US/Mage_Core.csv
Labels: Component: Core, Component: Adminhtml, translations

#2729 Fixed "Credit Memo not created when refund issued by merchant"
  app/code/core/Mage/Sales/Model/Order/Payment.php
Labels: Component: Sales

#3576 Fixed PHP 8.2 warnings in Cm_RedisSession (updated to 3.2.0)
  composer.json
  composer.lock
Labels: composer

#3574 Switched DOCTYPE to HTML5 for base theme
  app/design/frontend/base/default/template/page/1column.phtml
  app/design/frontend/base/default/template/page/2columns-left.phtml
  app/design/frontend/base/default/template/page/2columns-right.phtml
  app/design/frontend/base/default/template/page/3columns.phtml
  app/design/frontend/base/default/template/page/empty.phtml
  app/design/frontend/base/default/template/page/popup.phtml
  app/design/frontend/base/default/template/page/print.phtml
Labels: Template : base, Component: Page

#3579 Switched DOCTYPE to HTML5 for adminhtml themes
  app/design/adminhtml/default/default/template/empty.phtml
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/design/adminhtml/default/default/template/newsletter/preview/iframeswitcher.phtml
  app/design/adminhtml/default/default/template/newsletter/queue/preview.phtml
  app/design/adminhtml/default/default/template/newsletter/template/preview.phtml
  app/design/adminhtml/default/default/template/page.phtml
  app/design/adminhtml/default/default/template/popup.phtml
  app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
  app/design/adminhtml/default/default/template/widget/form/element.phtml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  app/design/install/default/default/template/page.phtml
  errors/default/page.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget, Component: Newsletter, Template : install, errors

#3583 Removed text-shadow from disabled dropdown in Admin
  skin/adminhtml/default/default/boxes.css
Labels: enhancement, Template : admin, Component: Adminhtml

#3582 Add status column to customer orders grid in Admin
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Orders.php
Labels: enhancement, Component: Adminhtml

#3590 Fix syntax in Mage_Adminhtml.csv
  app/locale/en_US/Mage_Adminhtml.csv
Labels: translations

#3588 Fixed some phtml docblock in folder adminhtml/default/default
  app/design/adminhtml/default/default/template/catalog/product/composite/configure.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/configurable.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/grouped.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/js.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/date.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/default.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/file.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/select.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/text.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/qty.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#3598 bugfix/LogVisitorSaveByRequest: added initServerData() to populate ServerData on saving visitor_log information
  app/code/core/Mage/Log/Model/Visitor.php
Labels: Component: Log

#3578 Exception is now printed on Mage_Catalog_ProductController::viewAction() in developer mode
  app/code/core/Mage/Catalog/controllers/ProductController.php
Labels: Component: Catalog

#3605 Updated TinyMCE to 6.7.1
  js/tinymce/models/dom/model.min.js
  js/tinymce/plugins/accordion/plugin.min.js
  js/tinymce/plugins/advlist/plugin.min.js
  js/tinymce/plugins/anchor/plugin.min.js
  js/tinymce/plugins/autolink/plugin.min.js
  js/tinymce/plugins/autoresize/plugin.min.js
  js/tinymce/plugins/autosave/plugin.min.js
  js/tinymce/plugins/charmap/plugin.min.js
  js/tinymce/plugins/code/plugin.min.js
  js/tinymce/plugins/codesample/plugin.min.js
  js/tinymce/plugins/directionality/plugin.min.js
  js/tinymce/plugins/emoticons/plugin.min.js
  js/tinymce/plugins/fullscreen/plugin.min.js
  js/tinymce/plugins/help/plugin.min.js
  js/tinymce/plugins/image/plugin.min.js
  js/tinymce/plugins/importcss/plugin.min.js
  js/tinymce/plugins/insertdatetime/plugin.min.js
  js/tinymce/plugins/link/plugin.min.js
  js/tinymce/plugins/lists/plugin.min.js
  js/tinymce/plugins/media/plugin.min.js
  js/tinymce/plugins/nonbreaking/plugin.min.js
  js/tinymce/plugins/pagebreak/plugin.min.js
  js/tinymce/plugins/preview/plugin.min.js
  js/tinymce/plugins/quickbars/plugin.min.js
  js/tinymce/plugins/save/plugin.min.js
  js/tinymce/plugins/searchreplace/plugin.min.js
  js/tinymce/plugins/table/plugin.min.js
  js/tinymce/plugins/template/plugin.min.js
  js/tinymce/plugins/visualblocks/plugin.min.js
  js/tinymce/plugins/visualchars/plugin.min.js
  js/tinymce/plugins/wordcount/plugin.min.js
  js/tinymce/themes/silver/theme.min.js
  js/tinymce/tinymce.min.js
Labels: JavaScript

#3592 Backport PR #3155 to v19
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Coupons/Form.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Data.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Source/Table.php
  app/code/core/Mage/Rule/Model/Condition/Abstract.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/design/adminhtml/default/default/template/widget/tabs.phtml
Labels: Template : admin, Component: Sales, Component: Eav, Component: Adminhtml, Component: Widget, Component: Rule, Component: ConfigurableSwatches, PHP 8.1

#3612 Fixed implicit conversion to int is deprecated in Mage_Shell_Indexer
  shell/indexer.php
Labels: shell, PHP 8.1

#3609 Fixed bug on incorrect join in addAttributeToSelect() when the second parameter is true
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
Labels: Component: Eav
