Repository OpenMage/magento-lts, pull requests merged in 2023-06, with the labels that each got.

#3288 Mage_Rules now truncates strings after 100 characters instead of 33 in the backend
  app/code/core/Mage/Rule/Block/Editable.php
  js/mage/adminhtml/rules.js
Labels: Component: Rule, JavaScript

#3292 Add back Order add comment functionality to REST API
  app/code/core/Mage/Sales/Model/Api2/Order/Comment/Rest/Admin/V1.php
Labels: Component: Sales

#3294 Fix E_DEPRECATED str_replace(): Passing null in Translate.php
  app/code/core/Mage/Core/Model/Translate.php
  phpstan.dist.baseline.neon
Labels: Component: Core, phpstan

#3299 Fixed passing null is deprecated for trim
  app/code/core/Mage/Tax/Model/Resource/Calculation.php
Labels: Component: Tax, PHP 8.1

#3306 Fixed documentation on how to contribute after branch change
  README.md
Labels: documentation

#3295 Fixed passing null is deprecated for stripos in Mage_Core_Model_Resource_Helper_Abstract
  app/code/core/Mage/Core/Model/Resource/Helper/Abstract.php
Labels: Component: Core, PHP 8.1

#3297 Fixed passing null is deprecated for explode in Mage_Catalog_Model_Resource_Product_Indexer_Eav_Source
  app/code/core/Mage/Catalog/Model/Resource/Product/Indexer/Eav/Source.php
Labels: Component: Catalog, PHP 8.1

#3307 Allow System Config of Type Serialized Array to <depend> on other field
  js/mage/adminhtml/form.js
Labels: JavaScript

#3296 Fixed passing null is deprecated for htmlspecialchars in Mage_Adminhtml_Block_System_Config_Form_Field
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field.php
Labels: Component: Adminhtml, PHP 8.1

#3298 "Product Tags" tab is hidden in customer admin mask if Mage_Tag is disabled
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tabs.php
Labels: Component: Adminhtml

#3314 Fix #3312 ExtJS Tree Checkbox Update
  js/extjs/ext-tree-checkbox.js
Labels: JavaScript

#3313 Fixed display of products count for categories tree
  app/design/adminhtml/default/default/template/catalog/product/edit/categories.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#3271 Some PHPStan fixes for the lib/Varien folder
  lib/Varien/Db/Tree.php
  lib/Varien/Db/Tree/NodeSet.php
  lib/Varien/File/Uploader/Image.php
  lib/Varien/Filter/Template.php
  phpstan.dist.baseline.neon
Labels: Component: lib/Varien, Component: lib/*, phpstan

#3311 Replaced prototypejs load event with vanilla js in js/mage/adminhtml/input-counter.js
  js/mage/adminhtml/input-counter.js
Labels: JavaScript

#3330 Fixed passing null for str_replace is deprecated for downloadable products
  app/code/core/Mage/Downloadable/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/Links.php
Labels: Component: Downloadable, PHP 8.1

#3331 Fixed passing null for trim is deprecated in Mage_Catalog_Model_Resource_Category_Flat
  app/code/core/Mage/Catalog/Model/Resource/Category/Flat.php
Labels: Component: Catalog, PHP 8.1

#3337 Fixed passing null for unserialize is deprecated in Mage_Sales_Model_Quote_Address
  app/code/core/Mage/Sales/Model/Quote/Address.php
Labels: Component: Sales

#3341 Fixed "passing null to parameter" in Mage_Core_Helper_String
  app/code/core/Mage/Core/Helper/String.php
Labels: Component: Core

#3344 getAttributeCode() on null prevention by moving after AttributeAbstract check
  app/code/core/Mage/Catalog/Model/Resource/Product/Type/Configurable/Attribute/Collection.php
Labels: Component: Catalog

#3336 Fixed passing null for trim is deprecated in Mage_Catalog_Model_Attribute_Backend_Customlayoutupdate
  app/code/core/Mage/Catalog/Model/Attribute/Backend/Customlayoutupdate.php
Labels: Component: Catalog

#3310 Added methods to support "error state" for cron schedule
  app/code/core/Mage/Cron/Model/Observer.php
  app/code/core/Mage/Cron/Model/Schedule.php
Labels: Component: Cron

#3342 Improvements to Google Analytics 4 code
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
Labels: Component: GoogleAnalytics, translations

#3338 Fixed eav_config_entity throwing error message on removed entity model
  app/code/core/Mage/Eav/Model/Config.php
Labels: Component: Eav

#3354 Fixed logException twice in CartController.php
  app/code/core/Mage/Checkout/controllers/CartController.php
Labels: Component: Checkout

#3347 Removed Google Analytics3 and Universal Analytics
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Helper/Data.php
  app/code/core/Mage/GoogleAnalytics/Model/Observer.php
  app/code/core/Mage/GoogleAnalytics/Model/System/Config/Source/Type.php
  app/code/core/Mage/GoogleAnalytics/sql/googleanalytics_setup/install-1.6.0.0.php
  phpstan.dist.baseline.neon
Labels: Component: GoogleAnalytics, phpstan

#3355 Fixed getQuote() returns null in quote item and quote address objects.
  app/code/core/Mage/Sales/Model/Quote/Address.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
Labels: Component: Sales

#3327 Fixed passing null is deprecated for strpos in Mage_Core_Controller_Varien_Action
  app/code/core/Mage/Core/Controller/Varien/Action.php
Labels: Component: Core, PHP 8.1

#3324 Fixed passing null is deprecated for htmlspecialchars in Mage_Core_Helper_Abstract
  app/code/core/Mage/Core/Helper/Abstract.php
Labels: Component: Core, PHP 8.1
