Repository OpenMage/magento-lts, pull requests merged in 2023-05, with the labels that each got.

#3226 Fix autoloader patch to work with composer-installed setup.
  app/Mage.php
Labels: Mage.php

#3230 Converted msrp_rwd.js to vanilla javascript (part 2)
  skin/frontend/rwd/default/js/msrp_rwd.js
Labels: Template : rwd

#3232 Added type hint docblock for Google Analytics 4 template
  app/design/frontend/base/default/template/googleanalytics/ga.phtml
Labels: Template : base, Component: GoogleAnalytics

#3147 [BC ]Unified CSRF configuration
  README.md
  app/code/core/Mage/Adminhtml/Block/Checkout/Formkey.php
  app/code/core/Mage/Checkout/controllers/MultishippingController.php
  app/code/core/Mage/Checkout/controllers/OnepageController.php
  app/code/core/Mage/Checkout/etc/system.xml
  app/code/core/Mage/Checkout/sql/checkout_setup/install-1.6.0.0.php
  app/code/core/Mage/Core/Controller/Front/Action.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Newsletter/controllers/SubscriberController.php
  app/code/core/Mage/Newsletter/etc/config.xml
  app/code/core/Mage/Newsletter/etc/system.xml
  app/design/adminhtml/default/default/template/notification/formkey.phtml
  app/locale/en_US/Mage_Checkout.csv
  app/locale/en_US/Mage_Core.csv
  app/locale/en_US/Mage_Newsletter.csv
Labels: documentation, Component: Core, Template : admin, Component: Checkout, Component: Adminhtml, translations

#3223 Cache Order status labels in an array
  app/code/core/Mage/Sales/Model/Order/Config.php
Labels: performance, Component: Sales

#3227 Fix price expression SQL in layered navigation
  app/code/core/Mage/Catalog/Model/Resource/Layer/Filter/Price.php
Labels: Component: Catalog

#3163 Github workflows now run on PHP 8.1
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .github/workflows/syntax-php.yml
Labels: environment, phpunit

#1635 Fixed stock status update from SOAP API V2
  app/code/core/Mage/CatalogInventory/Model/Stock/Item/Api/V2.php
Labels: Component: CatalogInventory

#3222 Load all child blocks in Adminhtml Head block
  app/design/adminhtml/default/default/template/page/head.phtml
Labels: new feature, Template : admin, Component: Adminhtml, Component: Page

#3225 Allow app request to be initialized and `isCurrentlySecure` to be che…
  app/code/core/Mage/Core/Controller/Request/Http.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/etc/system.xml
Labels: Component: Core

#2474 Added cron to remove old index events for manual indexers
  app/code/core/Mage/Index/Model/Indexer.php
  app/code/core/Mage/Index/Model/Observer.php
  app/code/core/Mage/Index/etc/config.xml
Labels: documentation, environment, Mage.php, Component: Admin, Component: Cm/RedisSession, htaccess, phpstan, phpcs, php-cs-fixer, PHPStorm, phpunit, ddev

#3215 Removed scriptaculous/dragdrop.js from frontend
  app/design/frontend/base/default/layout/oauth.xml
  app/design/frontend/base/default/layout/page.xml
  app/design/frontend/rwd/default/layout/oauth.xml
  app/design/frontend/rwd/default/layout/page.xml
Labels: Template : rwd, Template : base, Component: Page, Component: Oauth, XML Layout

#3240 Removed unmatched errors from PHPStan baseline after PHP8.1 upgrade
  phpstan.dist.baseline.neon
Labels: phpstan, for previous versions

#3243 Fixed model hasDataCchanges is true right after loading
  app/code/core/Mage/Eav/Model/Entity/Attribute/Abstract.php
Labels: Component: Eav

#3242 Removed reference to unexisting class Varien_Image_Adapter_Imagemagic_External
  lib/Varien/Image/Adapter.php
Labels: Component: lib/Varien, Component: lib/*

#2966 Ensure store-scoped values selected before default
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
Labels: documentation, environment, Component: Catalog, bug confirmed

#1074 Added configuration for captcha failed_attempts_ip in backend
  app/code/core/Mage/Captcha/etc/config.xml
  app/code/core/Mage/Captcha/etc/system.xml
  app/locale/en_US/Mage_Captcha.csv
Labels: Component: Captcha, translations

#3148 [BC] Converted RWD's default logos to SVG (and removed some Magento names)
  app/code/core/Mage/Page/Block/Html/Header.php
  app/code/core/Mage/Page/etc/config.xml
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.6.2-0.7.0.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.7.2-0.7.3.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-0.8.3-0.8.4.php
  app/design/frontend/base/default/template/page/print.phtml
  app/design/frontend/rwd/default/template/page/html/header.phtml
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/images/logo.gif
  skin/frontend/rwd/default/images/logo.svg
  skin/frontend/rwd/default/images/logo_print.gif
  skin/frontend/rwd/default/scss/layout/_header.scss
Labels: Component: Sales, Template : rwd, Template : base, Component: Page

#3246 Removed "MAGE" cache tag
  app/code/core/Mage/Admin/Model/Resource/Block.php
  app/code/core/Mage/Admin/Model/Resource/Variable.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Cache.php
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
Labels: Component: Core, Component: Admin

#3238 Improved handling of ignore_user_agents
  app/code/core/Mage/Log/Model/Visitor.php
  app/code/core/Mage/Log/etc/config.xml
Labels: Component: Log

#3078 Fixed "if newsletter module disabled, customer backend would blank without notice"
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/etc/modules/Mage_Captcha.xml
  lib/Varien/Data/Form/Abstract.php
Labels: documentation, environment, Mage.php, Component: Admin, Component: Cm/RedisSession, htaccess, phpstan, phpcs, php-cs-fixer, PHPStorm, phpunit, ddev

#1736 Also change the default when calling setTheme
  app/code/core/Mage/Core/Model/Design/Package.php
  phpstan.dist.baseline.neon
Labels: documentation, environment, Component: Core, phpstan

#2954 Allowed "force enabling" of flat tables use for a product collection
  app/code/core/Mage/Catalog/Helper/Product/Flat.php
Labels: documentation, environment, Component: Catalog

#3205 Fixed PHPStan error in Mage_HTTP_Client_Socket and Mage_HTTP_Client_Curl
  lib/Mage/HTTP/Client/Curl.php
  lib/Mage/HTTP/Client/Socket.php
  phpstan.dist.issues.neon
Labels: Component: lib/Mage, Component: lib/*, phpstan

#3259 Fixed undefined constant in installer
  app/code/core/Mage/Install/Model/Installer.php
  phpstan.dist.baseline.neon
Labels: Component: Install, phpstan

#3255 Fixed Undefined variable $res in Mage_Core_Model_Cache
  app/code/core/Mage/Core/Model/Cache.php
Labels: Component: Core

#3204 RWD theme: updated jQuery to 3.7.0
  app/design/frontend/rwd/default/layout/page.xml
  js/lib/jquery/jquery-1.12.4.js
  js/lib/jquery/jquery-1.12.4.min.js
  js/lib/jquery/jquery-1.12.4.min.map
  js/lib/jquery/jquery-3.7.0.min.js
  js/lib/jquery/jquery-3.7.0.min.map
Labels: Template : rwd, Component: Page, JavaScript, XML Layout, for previous versions

#3237 Minor phpstan-fixes for php8.1
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/Core/Controller/Request/Http.php
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Model/Resource/Setup/Query/Modifier.php
  app/code/core/Mage/Payment/Model/Method/Cc.php
  app/code/core/Mage/Uploader/Helper/File.php
  lib/Varien/Data/Form/Element/Time.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: Catalog, Component: lib/Varien, Component: Payment, Component: Uploader, Component: lib/*, phpstan

#3198 Added support for Google Analytics 4 Enhanced eCommerce
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  app/code/core/Mage/GoogleAnalytics/Model/Observer.php
  app/code/core/Mage/GoogleAnalytics/etc/config.xml
Labels: Component: GoogleAnalytics, translations

#2210 Optimized count queries by removing all joins if there are no where
  lib/Varien/Data/Collection/Db.php
Labels: performance, Component: lib/Varien, Component: lib/*, Rebased: RFC-0002

#3254 Added PHP8 configurations to .htaccess
  .htaccess
Labels: htaccess

#3276 GitHub Actions - `check-files` workflow - split into steps as a workaround for step template size limit
  .all-contributorsrc
  .github/workflows/check-files.yml
Labels: documentation, environment

#3274 Fix admin ACL mismatch for OAuth (#3272)
  .all-contributorsrc
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/Admin/TokenController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizedTokensController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/ConsumerController.php
  app/code/core/Mage/Oauth/data/oauth_setup/upgrade-1.0.0.0-1.0.0.1.php
  app/code/core/Mage/Oauth/etc/adminhtml.xml
  app/code/core/Mage/Oauth/etc/config.xml
Labels: Component: Oauth

#1210 Introduced pub/ structure for webserver home folder mapping
  dev/openmage/apache/Dockerfile
  dev/openmage/docker-compose.yml
  errors/processor.php
  pub/default/.htaccess
  pub/default/api.php
  pub/default/errors
  pub/default/favicon.ico
  pub/default/get.php
  pub/default/index.php
  pub/default/install.php
  pub/default/js
  pub/default/media
  pub/default/skin
Labels: documentation, new feature, environment, errors

#3284 Fixed deprecation warning in Mage_Core_Model_Url::isOwnOriginUrl()
  app/code/core/Mage/Core/Model/Url.php
Labels: Component: Core

#3279 Fix regression from getSelectCountSql optimization when collection us…
  lib/Varien/Data/Collection/Db.php
Labels: Component: lib/Varien, Component: lib/*

#3283 Removed auto_detect_line_endings in Varien_Io_File
  lib/Varien/Io/File.php
Labels: Component: lib/Varien, Component: lib/*
