Repository OpenMage/magento-lts, pull requests merged in 2023-12, with the labels that each got.

#3674 Added possibility to customize attributes used in associated products
  app/code/core/Mage/Catalog/Model/Product/Type/Grouped.php
Labels: performance, improvement, MINOR

#3685 Call ConfigurableSwatches' js only if necessary, catalog/product/view/type/configurable/swatch-js.phtml
  app/design/frontend/rwd/default/template/configurableswatches/catalog/product/view/type/configurable/swatch-js.phtml
Labels: Template : rwd

#3530 Improved stampede prevention with empty config cache under high loads
  README.md
  app/code/core/Mage/Core/Model/Config.php
Labels: documentation, Component: Core

#3653 Enabled script/style tags support in TinyMCE 6
  js/mage/adminhtml/wysiwyg/tinymce/setup.js
Labels: JavaScript
