Repository OpenMage/magento-lts, pull requests merged in 2023-11, with the labels that each got.

#3618 Updated `Mage_Core_Model_File_Uploader` instantiation to use Mage::getModel()
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/Product/GalleryController.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Dataflow/Model/Convert/Adapter/Http.php
  app/code/core/Mage/Dataflow/Model/Convert/Iterator/Http.php
  app/code/core/Mage/Dataflow/Model/Profile.php
  app/code/core/Mage/Dataflow/Model/Session/Adapter/Http.php
  app/code/core/Mage/Downloadable/controllers/Adminhtml/Downloadable/FileController.php
Labels: Component: Cms, Component: Adminhtml, Component: Downloadable, Component: Dataflow

#3632 Fixed bug in google analytics if the product attribute "manufacturer"…
  app/code/core/Mage/GoogleAnalytics/Model/Observer.php
Labels: Component: GoogleAnalytics

#3638 Fix for php-cs-fixer v3.37.1
  app/code/core/Mage/Dataflow/Model/Profile.php
  app/code/core/Mage/Paypal/Model/Cart.php
  app/code/core/Mage/Sales/Model/Resource/Quote/Item/Option/Collection.php
Labels: Component: PayPal, Component: Sales, Component: Dataflow

#3637 Better tab configuration error message in Mage_Adminhtml_Block_Widget_Tabs
  app/code/core/Mage/Adminhtml/Block/Widget/Tabs.php
  app/locale/en_US/Mage_Adminhtml.csv
Labels: Component: Adminhtml, translations

#3639 Fixed strtr(): Passing null to parameter #1 ($string) of type string is deprecated
  app/code/core/Mage/Catalog/Helper/Product/Url.php
Labels: Component: Catalog

#3641 Updated TinyMCE to 6.7.2
  js/tinymce/models/dom/model.min.js
  js/tinymce/plugins/accordion/plugin.min.js
  js/tinymce/plugins/advlist/plugin.min.js
  js/tinymce/plugins/anchor/plugin.min.js
  js/tinymce/plugins/autolink/plugin.min.js
  js/tinymce/plugins/autoresize/plugin.min.js
  js/tinymce/plugins/autosave/plugin.min.js
  js/tinymce/plugins/charmap/plugin.min.js
  js/tinymce/plugins/code/plugin.min.js
  js/tinymce/plugins/codesample/plugin.min.js
  js/tinymce/plugins/directionality/plugin.min.js
  js/tinymce/plugins/emoticons/plugin.min.js
  js/tinymce/plugins/fullscreen/plugin.min.js
  js/tinymce/plugins/help/plugin.min.js
  js/tinymce/plugins/image/plugin.min.js
  js/tinymce/plugins/importcss/plugin.min.js
  js/tinymce/plugins/insertdatetime/plugin.min.js
  js/tinymce/plugins/link/plugin.min.js
  js/tinymce/plugins/lists/plugin.min.js
  js/tinymce/plugins/media/plugin.min.js
  js/tinymce/plugins/nonbreaking/plugin.min.js
  js/tinymce/plugins/pagebreak/plugin.min.js
  js/tinymce/plugins/preview/plugin.min.js
  js/tinymce/plugins/quickbars/plugin.min.js
  js/tinymce/plugins/save/plugin.min.js
  js/tinymce/plugins/searchreplace/plugin.min.js
  js/tinymce/plugins/table/plugin.min.js
  js/tinymce/plugins/template/plugin.min.js
  js/tinymce/plugins/visualblocks/plugin.min.js
  js/tinymce/plugins/visualchars/plugin.min.js
  js/tinymce/plugins/wordcount/plugin.min.js
  js/tinymce/themes/silver/theme.min.js
  js/tinymce/tinymce.min.js
Labels: JavaScript

#3642 Orphaned ACL resource exceptions are now logged only in developer mode
  app/code/core/Mage/Admin/Model/Resource/Acl.php
Labels: Component: Admin

#3655 Fixed strip_tags(): Passing null to parameter #1 in Fulltext.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php
Labels: Component: CatalogSearch, PHP 8.1

#3535 Fixed passing null for trim is deprecated in Mage_Core_Model_Resource_Db_Abstract
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
Labels: Component: Core, PHP 8.1

#3661 Fixed docblock on page phtml templates.
  app/design/frontend/base/default/template/page/1column.phtml
  app/design/frontend/base/default/template/page/2columns-left.phtml
  app/design/frontend/base/default/template/page/2columns-right.phtml
  app/design/frontend/base/default/template/page/3columns.phtml
  app/design/frontend/base/default/template/page/empty.phtml
  app/design/frontend/base/default/template/page/html/breadcrumbs.phtml
  app/design/frontend/base/default/template/page/html/cookienotice.phtml
  app/design/frontend/base/default/template/page/html/footer.phtml
  app/design/frontend/base/default/template/page/html/head.phtml
  app/design/frontend/base/default/template/page/html/notices.phtml
  app/design/frontend/base/default/template/page/html/topmenu.phtml
  app/design/frontend/base/default/template/page/js/calendar.phtml
  app/design/frontend/base/default/template/page/js/cookie.phtml
  app/design/frontend/base/default/template/page/popup.phtml
  app/design/frontend/base/default/template/page/print.phtml
  app/design/frontend/base/default/template/page/switch/flags.phtml
  app/design/frontend/base/default/template/page/switch/languages.phtml
  app/design/frontend/base/default/template/page/switch/stores.phtml
  app/design/frontend/base/default/template/page/template/container.phtml
  app/design/frontend/base/default/template/page/template/links.phtml
  app/design/frontend/base/default/template/page/template/linksblock.phtml
  app/design/frontend/rwd/default/template/page/1column.phtml
  app/design/frontend/rwd/default/template/page/2columns-left.phtml
  app/design/frontend/rwd/default/template/page/2columns-right.phtml
  app/design/frontend/rwd/default/template/page/3columns.phtml
  app/design/frontend/rwd/default/template/page/empty.phtml
  app/design/frontend/rwd/default/template/page/html/footer.phtml
  app/design/frontend/rwd/default/template/page/html/topmenu.phtml
  app/design/frontend/rwd/default/template/page/popup.phtml
  app/design/frontend/rwd/default/template/page/print.phtml
  app/design/frontend/rwd/default/template/page/template/links.phtml
Labels: Template : rwd, Template : base, Component: Page

#3636 Fixed deprecated passing `null` to `imagecolorallocate()`
  lib/Varien/Image/Adapter/Gd2.php
Labels: Component: lib/Varien, Component: lib/*, PHP 8.1

#3663 Fixing warning about providing null instead of an expected string
  lib/Unserialize/Reader/Str.php
Labels: Component: lib/*

#3649 add funding links to composer.json and github config
  .github/FUNDING.yml
  composer.json
Labels: environment, composer
