Repository OpenMage/magento-lts, pull requests merged in 2024-09, with the labels that each got.

#4136 Fixed issues #4134 undefined array index label_use_default in Mage_Catalog_Model_Product_Attribute_Backend_Media
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
Labels: Component: Catalog

#4146 PhpStan fixes
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Helper/String.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Core/functions.php
  app/code/core/Mage/Tag/Block/Customer/Tags.php
  app/code/core/Mage/Tag/Block/Product/List.php
  app/code/core/Mage/Tag/Block/Product/Result.php
  app/code/core/Mage/Tag/Model/Api.php
  app/code/core/Mage/Tag/Model/Api/V2.php
  app/code/core/Mage/Tag/Model/Entity/Customer/Collection.php
  app/code/core/Mage/Tag/Model/Resource/Customer/Collection.php
  app/code/core/Mage/Tag/Model/Tag.php
  lib/Varien/Simplexml/Element.php
  phpstan.dist.baseline.neon
Labels: Component: Core, Component: Cms, Component: lib/Varien, Component: Tag, Component: lib/*, phpstan

#4164 PHPCS: fixed last PHPCompatibility check errors
  .github/workflows/phpcs.yml
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Block/Template/Facade.php
  app/code/core/Mage/Oauth/Model/Consumer/Validator/KeyLength.php
Labels: environment, Component: Core, Component: Catalog, Component: Oauth, phpcs

#4160 Small DocBlock update
  app/code/core/Mage/Adminhtml/Helper/Help/Mapping.php
  app/code/core/Mage/CatalogSearch/Model/Resource/Search/Collection.php
  app/code/core/Mage/Core/Model/Session/Abstract.php
  app/code/core/Mage/Newsletter/Model/Resource/Subscriber/Collection.php
  app/code/core/Mage/Sales/Model/Resource/Report/Invoiced/Collection/Order.php
  app/code/core/Mage/Sales/Model/Resource/Report/Order/Collection.php
  app/code/core/Mage/Sales/Model/Resource/Report/Refunded/Collection/Order.php
  app/code/core/Mage/Sales/Model/Resource/Report/Shipping/Collection/Order.php
  app/code/core/Mage/SalesRule/Model/Resource/Report/Collection.php
  app/code/core/Mage/Tax/Model/Resource/Report/Collection.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
Labels: Component: Core, Component: lib/Varien, Component: Sales, Component: Adminhtml, Component: SalesRule, Component: Tax, Component: Newsletter, Component: CatalogSearch, Component: lib/*

#4181 PHP-CS-Fixer: added check for short array syntax and logical operators
  .php-cs-fixer.dist.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Customer.php
  app/code/core/Mage/Core/Helper/EnvironmentConfigLoader.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
Labels: Component: Core, Component: Sales, Component: Adminhtml, php-cs-fixer

#4172 CodeQL: updated workflow
  .github/workflows/codeql-analysis.yml
Labels: environment

#4183 PhpStan: bumped to 1.12.1 & renamed config files
  .github/labeler.yml
  .gitignore
  .phpstan.dist.baseline.neon
  .phpstan.dist.neon
  composer.json
  composer.lock
Labels: environment, composer, phpstan

#4187 PhpStan: L7 update for `Mage_Sendfriend`
  app/code/core/Mage/Sendfriend/Model/Resource/Sendfriend.php
  app/code/core/Mage/Sendfriend/Model/Sendfriend.php
  app/code/core/Mage/Sendfriend/controllers/ProductController.php
Labels: Component: Sendfriend

#4145 DDEV: file permission and bugfix
  .ddev/commands/web/magerun
  .ddev/commands/web/openmage-admin
Labels: ddev

#4185 PHP-CS-Fixer: added check for concat spaces
  .php-cs-fixer.dist.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Settings.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Account.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Addresses.php
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/Core/Model/Translate.php
  app/code/core/Mage/ImportExport/Model/Export.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Fieldset/Location.php
  app/code/core/Mage/Rule/Model/Resource/Abstract.php
  app/code/core/Mage/Sales/sql/sales_setup/mysql4-upgrade-1.3.99-1.4.0.0.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/International.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Fedex.php
  lib/Varien/Data/Form/Element/Color.php
  lib/Varien/Db/Tree.php
  lib/Varien/Filter/FormElementName.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: lib/Varien, Component: Sales, Component: Usa, Component: Adminhtml, Component: Rule, Component: ImportExport, Component: lib/*, php-cs-fixer

#4155 Fix strlen() null deprecation in AccountController.php
  app/code/core/Mage/Customer/controllers/AccountController.php
Labels: Component: Customer, PHP 8.1

#4123 Added method to make use of `Mage_Core_Model_Security_HtmlEscapedString` easier
  app/Mage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Comments/View.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/History.php
  app/code/core/Mage/Adminhtml/Helper/Sales.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Helper/Abstract.php
  app/code/core/Mage/Core/Model/Layout.php
  app/code/core/Mage/Core/Model/Security/HtmlEscapedString.php
  app/code/core/Mage/Page/Block/Html/Header.php
  app/code/core/Mage/Page/Block/Html/Welcome.php
Labels: Component: Core, Component: Adminhtml, Mage.php, Component: Page

#4149 PHPCS: patched ECG standard
  .phpcs.ecg.xml.dist
  composer.json
  composer.lock
Labels: composer, phpcs

#4184 Added `error` directory to checks + php8.4 fix
  .github/workflows/phpstan.yml
  .github/workflows/syntax-php.yml
  .php-cs-fixer.dist.php
  .phpcs.ecg.xml.dist
  .phpcs.php.xml.dist
  .phpcs.xml.dist
  .phpstan.dist.neon
  errors/processor.php
  errors/report.php
Labels: environment, errors, phpstan, phpcs, php-cs-fixer

#4176 Worklflow: update copyright monthly
  .github/workflows/update-copyright.yml
Labels: environment

#3262 Add email link to set password. See issue #1205.
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Renderer/Adminpass.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Renderer/Newpass.php
  app/code/core/Mage/Adminhtml/controllers/CustomerController.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Customer/etc/config.xml
  app/code/core/Mage/Customer/etc/system.xml
  app/locale/en_US/Mage_Customer.csv
  app/locale/en_US/template/email/account_new_password_link.html
Labels: Component: Customer, Component: Adminhtml, translations

#4125 Fixed undefined array key "values" in Mage_Catalog_Model_Product_Attribute_Backend_Media
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
Labels: Component: Catalog

#4199 Fix ACL Resource "admin/sales/order/actions/use" not found
  app/code/core/Mage/Sales/Model/Observer.php
Labels: Component: Sales

#4163 Add new method to get config value directly from DB bypassing cache.
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Resource/Config.php
  dev/tests/unit/Mage/Core/Model/ConfigTest.php
Labels: Component: Core

#4203 PHP8: Fixes passing null to `str_contains()`
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
Labels: Component: Adminhtml

#4205 Updated `Varien_Object::getData()` and added `getDataByKey()` & `getDataByPath()`
  lib/Varien/Object.php
Labels: performance, Component: lib/Varien, Component: lib/*

#4208 Docs: Added section for PhpStorm (SCSS) file watcher
  README.md
Labels: documentation

#4204 PHPUnit: added some tests
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Addresses.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Newsletter.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/View.php
  app/code/core/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/Edit.php
  app/code/core/Mage/Cms/Controller/Router.php
  app/code/core/Mage/Cms/Helper/Page.php
  app/code/core/Mage/Cms/Helper/Wysiwyg/Images.php
  app/code/core/Mage/Cms/Model/Block.php
  app/code/core/Mage/Cms/Model/Mysql4/Block.php
  app/code/core/Mage/Cms/Model/Mysql4/Block/Collection.php
  app/code/core/Mage/Cms/Model/Mysql4/Page.php
  app/code/core/Mage/Cms/Model/Mysql4/Page/Collection.php
  app/code/core/Mage/Cms/Model/Mysql4/Page/Service.php
  app/code/core/Mage/Cms/Model/Page.php
  app/code/core/Mage/Cms/Model/Resource/Block/Collection.php
  app/code/core/Mage/Cms/Model/Resource/Page.php
  app/code/core/Mage/Cms/Model/Resource/Page/Collection.php
  app/code/core/Mage/Cms/Model/Wysiwyg/Images/Storage.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Resource/Config.php
  app/code/core/Mage/Log/Model/Visitor.php
  composer.json
  lib/Varien/Data/Collection/Db.php
  tests/unit/Mage/AdminNotification/Model/FeedTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/AccountTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/AddressesTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/NewsletterTest.php
  tests/unit/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/ViewTest.php
  tests/unit/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/EditTest.php
  tests/unit/Mage/Cms/Block/BlockTest.php
  tests/unit/Mage/Cms/Block/PageTest.php
  tests/unit/Mage/Cms/Block/Widget/BlockTest.php
  tests/unit/Mage/Cms/Block/Widget/Page/LinkTest.php
  tests/unit/Mage/Cms/Helper/Wysiwyg/ImagesTest.php
  tests/unit/Mage/Cms/Model/PageTest.php
  tests/unit/Mage/Cms/Model/Wysiwyg/ConfigTest.php
  tests/unit/Mage/Cms/Model/Wysiwyg/Images/StorageTest.php
  tests/unit/Mage/Core/Model/ConfigTest.php
  tests/unit/Mage/Core/Model/UrlTest.php
  tests/unit/Mage/Core/Model/VariableTest.php
  tests/unit/Mage/Customer/Model/CustomerTest.php
  tests/unit/Mage/Log/Model/AggregationTest.php
  tests/unit/Mage/Log/Model/CustomerTest.php
  tests/unit/Mage/Log/Model/VisitorTest.php
Labels: Component: Core, Component: Cms, Component: lib/Varien, Component: Adminhtml, Component: Log, Component: lib/*, composer

#4209 Fixed missing/wrong admin `_setActiveMenu()`
  app/code/core/Mage/Adminhtml/controllers/Api/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Api/UserController.php
  app/code/core/Mage/Adminhtml/controllers/CustomerController.php
  app/code/core/Mage/Adminhtml/controllers/NotificationController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/BlockController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/OrphanedResourceController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/RoleController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/UserController.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/VariableController.php
  app/code/core/Mage/Adminhtml/controllers/Report/CustomerController.php
  app/code/core/Mage/Adminhtml/controllers/Report/ProductController.php
  app/code/core/Mage/Adminhtml/controllers/Report/SalesController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/StatusController.php
  app/code/core/Mage/Adminhtml/controllers/System/AccountController.php
  app/code/core/Mage/Adminhtml/controllers/System/Convert/GuiController.php
  app/code/core/Mage/Adminhtml/controllers/System/Convert/ProfileController.php
  app/code/core/Mage/Adminhtml/controllers/System/CurrencyController.php
  app/code/core/Mage/Adminhtml/controllers/System/DesignController.php
  app/code/core/Mage/Api2/controllers/Adminhtml/Api2/AttributeController.php
  app/code/core/Mage/Api2/controllers/Adminhtml/Api2/RoleController.php
  app/code/core/Mage/CurrencySymbol/controllers/Adminhtml/System/CurrencysymbolController.php
  app/code/core/Mage/ImportExport/controllers/Adminhtml/ExportController.php
  app/code/core/Mage/ImportExport/controllers/Adminhtml/ImportController.php
  app/code/core/Mage/Index/controllers/Adminhtml/ProcessController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/Admin/TokenController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizedTokensController.php
  app/code/core/Mage/Oauth/controllers/Adminhtml/Oauth/ConsumerController.php
  app/code/core/Mage/Paypal/controllers/Adminhtml/Paypal/ReportsController.php
  app/code/core/Mage/Widget/controllers/Adminhtml/Widget/InstanceController.php
Labels: Component: PayPal, Component: Adminhtml, Component: CurrencySymbol, Component: Widget, Component: Oauth, Component: Index, Component: Api2, Component: ImportExport

#4214 Fix wrong Preview link on CMS pages grid
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Grid/Renderer/Action.php
Labels: Component: Adminhtml

#4213 Rector: added dependency and basic rules
  .ddev/commands/web/rector
  .gitattributes
  .github/labeler.yml
  .github/workflows/check-files.yml
  .github/workflows/rector.yml
  .github/workflows/workflow.yml
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
  app/code/core/Mage/Cms/Model/Page.php
  app/code/core/Mage/GoogleAnalytics/Block/Ga.php
  composer.json
  composer.lock
  rector.php
  tests/unit/Mage/AdminNotification/Model/FeedTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/NewsletterTest.php
  tests/unit/Mage/Cms/Block/Widget/BlockTest.php
  tests/unit/Mage/Cms/Block/Widget/Page/LinkTest.php
  tests/unit/Mage/Cms/Helper/Wysiwyg/ImagesTest.php
  tests/unit/Mage/Cms/Model/PageTest.php
  tests/unit/Mage/Cms/Model/Wysiwyg/ConfigTest.php
  tests/unit/Mage/Cms/Model/Wysiwyg/Images/StorageTest.php
  tests/unit/Mage/Customer/Model/CustomerTest.php
  tests/unit/Mage/Log/Model/AggregationTest.php
  tests/unit/Mage/Log/Model/CustomerTest.php
Labels: environment, Component: Catalog, Component: Cms, Component: GoogleAnalytics, composer, ddev

#4100 In product list all swatches are always shown even if they are not available when "Display Out of Stock Products" is disabled
  app/code/core/Mage/ConfigurableSwatches/Helper/Mediafallback.php
Labels: Component: ConfigurableSwatches

#4133 DDEV: command for local development
  .ddev/commands/web/localdev
  composer.json
  composer.lock
Labels: composer, ddev

#4219 Openmage admin theme: Change background-color for active sections
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/scss/menu.scss
Labels: Template : admin, Component: Adminhtml

#4226 Custom product types - increased column length for widgets
  app/code/core/Mage/Widget/etc/config.xml
  app/code/core/Mage/Widget/sql/widget_setup/mysql4-upgrade-1.6.0.0-1.6.0.1.php
Labels: Component: Widget

#4227 Skip some rector rules
  rector.php
Labels: rector
