Repository OpenMage/magento-lts, pull requests merged in 2024-07, with the labels that each got.

#4030 Fixed null parameter warnings during installation with DeveloperMode enabled
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Ddl/Table.php
Labels: Component: lib/Varien, Component: lib/*

#4064 Fixed regression introduced in #2993 where attributes are no longer sorted correctly by attribute group order in attribute comparison
  app/code/core/Mage/Catalog/Model/Resource/Product/Compare/Item/Collection.php
  app/code/core/Mage/Eav/Model/Config.php
Labels: Component: Catalog, Component: Eav

#4059 Fixed undefined array key in Mage/Eav/Model/Config.php
  app/code/core/Mage/Eav/Model/Config.php
Labels: Component: Eav

#4066 Removed extra comma in Mage_Captcha.csv
  app/locale/en_US/Mage_Captcha.csv
Labels: translations

#4063 Fixed regression introduced in #2993 where attributes are not correctly pre-filtered for the layered navigation
  app/code/core/Mage/Catalog/Model/Layer.php
  app/code/core/Mage/CatalogSearch/Model/Layer.php
Labels: Component: Catalog, Component: CatalogSearch

#4047 Fixed ship-to address for UPS REST shipment API
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
Labels: Component: Usa

#4068 Fixed null parameter warning in Mage_Wishlist_Block_Abstract
  app/code/core/Mage/Wishlist/Block/Abstract.php
Labels: Component: Wishlist

#4084 Updated TinyMCE to 6.8.4
  js/tinymce/models/dom/model.min.js
  js/tinymce/plugins/accordion/plugin.min.js
  js/tinymce/plugins/advlist/plugin.min.js
  js/tinymce/plugins/anchor/plugin.min.js
  js/tinymce/plugins/autolink/plugin.min.js
  js/tinymce/plugins/autoresize/plugin.min.js
  js/tinymce/plugins/autosave/plugin.min.js
  js/tinymce/plugins/charmap/plugin.min.js
  js/tinymce/plugins/code/plugin.min.js
  js/tinymce/plugins/codesample/plugin.min.js
  js/tinymce/plugins/directionality/plugin.min.js
  js/tinymce/plugins/emoticons/plugin.min.js
  js/tinymce/plugins/fullscreen/plugin.min.js
  js/tinymce/plugins/help/plugin.min.js
  js/tinymce/plugins/image/plugin.min.js
  js/tinymce/plugins/importcss/plugin.min.js
  js/tinymce/plugins/insertdatetime/plugin.min.js
  js/tinymce/plugins/link/plugin.min.js
  js/tinymce/plugins/lists/plugin.min.js
  js/tinymce/plugins/media/plugin.min.js
  js/tinymce/plugins/nonbreaking/plugin.min.js
  js/tinymce/plugins/pagebreak/plugin.min.js
  js/tinymce/plugins/preview/plugin.min.js
  js/tinymce/plugins/quickbars/plugin.min.js
  js/tinymce/plugins/save/plugin.min.js
  js/tinymce/plugins/searchreplace/plugin.min.js
  js/tinymce/plugins/table/plugin.min.js
  js/tinymce/plugins/template/plugin.min.js
  js/tinymce/plugins/visualblocks/plugin.min.js
  js/tinymce/plugins/visualchars/plugin.min.js
  js/tinymce/plugins/wordcount/plugin.min.js
  js/tinymce/themes/silver/theme.min.js
  js/tinymce/tinymce.min.js
Labels: JavaScript

#4077 Fixed UI bug in Newsletter Templates backend page, filters not saved in session
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Grid.php
Labels: Component: Adminhtml

#4075 Added check for isModuleOutputEnabled('Mage_Review') in customer's backend page
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tabs.php
Labels: Component: Adminhtml

#4083 Fixed null parameter warning in Mage_Wishlist_Controller_Abstract::allcartAction()
  app/code/core/Mage/Wishlist/Controller/Abstract.php
Labels: Component: Wishlist

#4086 Fixed null parameter warning in Mage_ImportExport_Model_Import_Entity_Product::_filterRowData()
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product.php
Labels: Component: ImportExport

#4085 Fixed invisible configuration values in backend
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Adminhtml

#4078 Added hadling of allowed_extensions for file uploads in backend's configuration section
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
Labels: new feature, Component: Adminhtml

#4072 Backend: Improved "copy button" style in legacy admin theme
  skin/adminhtml/default/default/boxes.css
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Adminhtml

#4110 Missing translations in Mage_Sales.csv
  app/locale/en_US/Mage_Sales.csv
Labels: translations

#4107 [DDEV] Adding n98-magerun support for the test environment
  .ddev/commands/web/magerun
  docs/DDEV.md
Labels: ddev

#4095 New feature: Added "Newsletter Subscription Form" widget
  app/code/core/Mage/Newsletter/Block/Widget/Subscribe.php
  app/code/core/Mage/Newsletter/etc/widget.xml
  app/locale/en_US/Mage_Newsletter.csv
Labels: Component: Newsletter, translations
