Repository OpenMage/magento-lts, pull requests merged in 2024-02, with the labels that each got.

#3736 Added helper methods to cast `Mage::getStoreConfig()` to int or float, fixes #3727
  app/Mage.php
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/Adminhtml/Block/Notification/Security.php
  app/code/core/Mage/Adminhtml/Block/Page/Head.php
  app/code/core/Mage/Catalog/Helper/Image.php
  app/code/core/Mage/Catalog/Model/Api2/Product/Rest/Admin/V1.php
  app/code/core/Mage/CatalogInventory/Block/Stockqty/Abstract.php
  app/code/core/Mage/CatalogInventory/Model/Resource/Stock.php
  app/code/core/Mage/CatalogInventory/Model/Resource/Stock/Item.php
  app/code/core/Mage/CatalogInventory/Model/Stock/Item.php
  app/code/core/Mage/Checkout/Helper/Data.php
  app/code/core/Mage/Checkout/Model/Type/Multishipping.php
  app/code/core/Mage/ConfigurableSwatches/Helper/Swatchdimensions.php
  app/code/core/Mage/Core/Block/Html/Calendar.php
  app/code/core/Mage/Core/Controller/Varien/Front.php
  app/code/core/Mage/Core/Model/Resource/Session.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
  app/code/core/Mage/Customer/Helper/Data.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Directory/Model/Currency/Import/Currencyconverterapi.php
  app/code/core/Mage/Directory/Model/Currency/Import/Fixerio.php
  app/code/core/Mage/ImportExport/Helper/Data.php
  app/code/core/Mage/Log/Helper/Data.php
  app/code/core/Mage/Log/Model/Log.php
  app/code/core/Mage/Log/Model/Visitor/Online.php
  app/code/core/Mage/Oauth/Helper/Data.php
  app/code/core/Mage/Persistent/Helper/Data.php
  app/code/core/Mage/Reports/Model/Resource/Product/Lowstock/Collection.php
  app/code/core/Mage/Rss/Block/Catalog/NotifyStock.php
  app/code/core/Mage/SalesRule/Helper/Coupon.php
  app/code/core/Mage/Sendfriend/Helper/Data.php
  app/code/core/Mage/Tax/Helper/Data.php
Labels: Component: Core, Component: Catalog, Component: Reports, Component: CatalogInventory, Component: Checkout, Component: Customer, Component: Adminhtml, Mage.php, Component: Admin, Component: SalesRule, Component: Tax, Component: Oauth, Component: Sendfriend, Component: Log, Component: ImportExport, Component: Directory, Component: ConfigurableSwatches, Component: Rss

#3770 Fixed bug on incorrect callback URL when saving OAuth Token.
  app/code/core/Mage/Oauth/Model/Server.php
Labels: bug, Component: Oauth

#3749 DDEV-install: fixes table prefix when using `-d` and `-s` flag
  .ddev/commands/web/openmage-install
Labels: ddev

#3782 Updated allcontributors badge to new format
  README.md
Labels: documentation

#3791 Removed outdated changelog files
  .github/changelog/version_19.txt
  .github/changelog/version_20.txt
Labels: environment

#3786 Removed LICENSE.html in favor of LICENSE.txt
  LICENSE.html
  app/code/core/Mage/Install/Block/Begin.php
  app/code/core/Mage/Install/etc/config.xml
  app/design/install/default/default/template/install/begin.phtml
Labels: Component: Install, Template : install

#3794 Removed openmage's dev-dependencies in PHPUnit workflow
  .github/workflows/phpunit.yml
Labels: environment, phpunit

#3785 Fixed reindex for configurable products without category assigned
  app/code/core/Mage/Catalog/Model/Url.php
Labels: Component: Catalog

#3779 Fix Deprecated Functionality Error Caused by Passing NULL to nl2br() in Sharing Template
  .all-contributorsrc
  README.md
  app/design/frontend/rwd/default/template/catalog/product/view/sharing.phtml
Labels: documentation, Component: Catalog, Template : rwd

#3675 Fixed strlen(): Passing null to parameter in SalesRule/Model/Resource/Rule/Collection.php
  app/code/core/Mage/SalesRule/Model/Resource/Rule/Collection.php
Labels: Component: SalesRule, PHP 8.1

#3800 Fixed some PHP8.1 warnings about null parameters
  app/code/core/Mage/Customer/Block/Widget/Name.php
  app/code/core/Mage/GiftMessage/Block/Message/Inline.php
Labels: Component: Customer

#3677 Fixed warning `Undefined array key 0` when installing OM via command line (dev mode on) (#3672)
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Customer/sql/customer_setup/mysql4-data-upgrade-1.4.0.0.7-1.4.0.0.8.php
Labels: Component: Core, Component: Customer

#3802 Fixed bug on incorrect date format for 1970-01-01 date.
  app/code/core/Mage/Core/Helper/Data.php
  app/code/core/Mage/Core/Model/Locale.php
Labels: Component: Core

#3804 Updated ZF1F to 1.24.0
  composer.json
  composer.lock
  phpstan.dist.baseline.neon
Labels: composer, phpstan

#3789 Run code-ql workflow only when certain files change
  .github/workflows/check-files.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/workflow.yml
Labels: environment

#3806 Renames some github workflows for better readability
  .github/workflows/workflow.yml
Labels: environment

#3774 Added whitelist to OAuth consumer callback URLs to allow custom URL scheme
  app/code/core/Mage/Oauth/Block/Adminhtml/Oauth/Consumer/Edit/Form.php
  app/code/core/Mage/Oauth/Model/Consumer.php
  app/code/core/Mage/Oauth/Model/Server.php
  app/code/core/Mage/Oauth/Model/Token.php
Labels: Component: Oauth

#3805 PHPStan (and PHP syntax) workflows now only run on PHP 7.4 and 8.3
  .github/workflows/phpstan.yml
  .github/workflows/syntax-php.yml
Labels: environment, phpstan

#3775 Fixed strip_tags(): Passing null to parameter #1 in Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
Labels: Component: Catalog, PHP 8.1

#3808 Fixed null deprecation in function is_empty_date().
  app/code/core/Mage/Core/functions.php
Labels: Component: Core

#3761 Fixed bug on OAuth not redirecting to the authorize page after customer login
  app/code/core/Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Oauth/etc/config.xml
  docs/EVENTS.md
Labels: Component: Customer, Component: Oauth

#3715 Fixed array_merge TypeError on missing disabled module dependency
  app/code/core/Mage/Core/Model/Config.php
Labels: Component: Core

#3563 Fixed missing layout parameter when choosing widget page group
  app/design/adminhtml/default/default/template/widget/instance/edit/layout.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget

#3819 Fixed parameter null warning in Mage_Sales_Block_Recurring_Profile_View
  app/code/core/Mage/Sales/Block/Recurring/Profile/View.php
Labels: Component: Sales

#3820 Fixed parameter null parameter warning in Mage_Adminhtml_Block_Newsletter_Template_Edit::getJsTemplateName()
  app/code/core/Mage/Adminhtml/Block/Newsletter/Template/Edit.php
Labels: Component: Adminhtml

#3822 Fixed null parameter warning on Mage_Core_Model_Input_Filter_MaliciousCode::filter()
  app/code/core/Mage/Core/Model/Input/Filter/MaliciousCode.php
Labels: Component: Core

#3763 Rewrote js/mage/adminhtml/hash.js using native javascript
  app/design/adminhtml/default/default/template/catalog/product/edit.phtml
  app/design/adminhtml/default/default/template/report/grid/container.phtml
  js/mage/adminhtml/grid.js
  js/mage/adminhtml/hash.js
Labels: Component: Catalog, Template : admin, Component: Reports, Component: Adminhtml, JavaScript

#3762 Rewrote js/mage/adminhtml/variables.js without prototypejs
  js/mage/adminhtml/variables.js
Labels: JavaScript

#3662 Rewrote `js/mage/translate.js` without prototypejs
  js/mage/translate.js
Labels: JavaScript

#3832 Fixed branch names in code-ql workflow
  .github/workflows/codeql-analysis.yml
Labels: environment

#3831 Added DDEV cronjob file
  .ddev/web-build/openmage.cron
Labels: ddev

#3619 Fixed deprecation warning if downloadable sample is a url
  .all-contributorsrc
  README.md
  app/code/core/Mage/Downloadable/Helper/File.php
  app/code/core/Mage/Downloadable/Model/Sample.php
Labels: documentation, Component: Downloadable

#3647 New feature: UI to list and remove orphaned ACL resources in backend.
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  app/code/core/Mage/Admin/Model/Resource/Acl.php
  app/code/core/Mage/Admin/Model/Resource/Rules.php
  app/code/core/Mage/Adminhtml/Block/Permissions/OrphanedResource.php
  app/code/core/Mage/Adminhtml/Block/Permissions/OrphanedResource/Grid.php
  app/code/core/Mage/Adminhtml/controllers/Permissions/OrphanedResourceController.php
  app/code/core/Mage/Adminhtml/etc/adminhtml.xml
  app/locale/en_US/Mage_Adminhtml.csv
  docs/EVENTS.md
Labels: Component: Adminhtml, Component: Admin, translations, PHPStorm

#2233 New feature: Allow admin to create guest orders and reorder as guest
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Customer.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Account.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Create.php
  app/code/core/Mage/Adminhtml/Model/Session/Quote.php
  app/code/core/Mage/Adminhtml/controllers/Sales/Order/CreateController.php
  js/mage/adminhtml/sales.js
Labels: Component: Adminhtml, JavaScript

#3837 Updated TinyMCE to 6.8.3 and updated all languages
  js/tinymce/langs/ar.js
  js/tinymce/langs/ar_SA.js
  js/tinymce/langs/bn_BD.js
  js/tinymce/langs/ca.js
  js/tinymce/langs/de.js
  js/tinymce/langs/fa.js
  js/tinymce/langs/hi.js
  js/tinymce/langs/ko_KR.js
  js/tinymce/langs/lv.js
  js/tinymce/langs/oc.js
  js/tinymce/langs/ru.js
  js/tinymce/langs/sl_SI.js
  js/tinymce/langs/zh-Hans.js
  js/tinymce/langs/zh-Hant.js
  js/tinymce/models/dom/model.min.js
  js/tinymce/plugins/accordion/plugin.min.js
  js/tinymce/plugins/advlist/plugin.min.js
  js/tinymce/plugins/anchor/plugin.min.js
  js/tinymce/plugins/autolink/plugin.min.js
  js/tinymce/plugins/autoresize/plugin.min.js
  js/tinymce/plugins/autosave/plugin.min.js
  js/tinymce/plugins/charmap/plugin.min.js
  js/tinymce/plugins/code/plugin.min.js
  js/tinymce/plugins/codesample/plugin.min.js
  js/tinymce/plugins/directionality/plugin.min.js
  js/tinymce/plugins/emoticons/plugin.min.js
  js/tinymce/plugins/fullscreen/plugin.min.js
  js/tinymce/plugins/help/plugin.min.js
  js/tinymce/plugins/image/plugin.min.js
  js/tinymce/plugins/importcss/plugin.min.js
  js/tinymce/plugins/insertdatetime/plugin.min.js
  js/tinymce/plugins/link/plugin.min.js
  js/tinymce/plugins/lists/plugin.min.js
  js/tinymce/plugins/media/plugin.min.js
  js/tinymce/plugins/nonbreaking/plugin.min.js
  js/tinymce/plugins/pagebreak/plugin.min.js
  js/tinymce/plugins/preview/plugin.min.js
  js/tinymce/plugins/quickbars/plugin.min.js
  js/tinymce/plugins/save/plugin.min.js
  js/tinymce/plugins/searchreplace/plugin.min.js
  js/tinymce/plugins/table/plugin.min.js
  js/tinymce/plugins/template/plugin.min.js
  js/tinymce/plugins/visualblocks/plugin.min.js
  js/tinymce/plugins/visualchars/plugin.min.js
  js/tinymce/plugins/wordcount/plugin.min.js
  js/tinymce/themes/silver/theme.min.js
  js/tinymce/tinymce.min.js
Labels: JavaScript

#3825 Fixed deprecated functionality for trim when creating DataFlow profile
  app/code/core/Mage/Adminhtml/controllers/System/Convert/ProfileController.php
  app/code/core/Mage/Dataflow/Model/Profile.php
Labels: Component: Adminhtml, Component: Dataflow

#3606 Added HtmlPurifier to improve MaliciousCode filtering
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
  app/code/core/Mage/Core/Helper/Purifier.php
  app/code/core/Mage/Core/Model/Input/Filter/MaliciousCode.php
  composer.json
  composer.lock
Labels: Component: Core, composer, PHPStorm

#3841 Fixed case error in some module names
  app/design/adminhtml/default/default/template/currencysymbol/grid.phtml
  app/design/frontend/base/default/layout/catalogsearch.xml
  app/design/frontend/base/default/template/catalogsearch/form.mini.phtml
  app/design/frontend/rwd/default/layout/catalogsearch.xml
  app/design/frontend/rwd/default/template/catalogsearch/form.mini.phtml
Labels: Template : admin, Template : rwd, Template : base, Component: Adminhtml, Component: CurrencySymbol, Component: CatalogSearch, XML Layout

#3821 Fixed call to a member function setOnclick() on false in Mage_Adminhtml_Block_Sales_Order_View_Giftmessage
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
Labels: Component: Adminhtml

#3829 Fixed null parameter warning in Mage/Adminhtml/Block/Customer/Edit/Tab/Wishlist/Grid/Renderer/Description.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Wishlist/Grid/Renderer/Description.php
Labels: Component: Adminhtml

#3615 New feature: added auto reply to contact form
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/code/core/Mage/Contacts/etc/config.xml
  app/code/core/Mage/Contacts/etc/system.xml
  app/locale/en_US/Mage_Contacts.csv
  app/locale/en_US/template/email/contact_form_auto_reply.html
Labels: Component: Contacts, translations

#3750 Fixed phpstan in Mage/Customer/controllers/AccountController.php
  app/code/core/Mage/Customer/controllers/AccountController.php
  phpstan.dist.baseline.neon
Labels: Component: Customer, phpstan

#1504 New feature: added partial postcode match to table rate shipping
  app/code/core/Mage/Shipping/Model/Resource/Carrier/Tablerate.php
Labels: Component: Shipping

#3853 Changed "unload" to "beforeunload" in extjs to avoid deprecation warning in developer console
  js/extjs/ext-tree.js
  js/extjs/ext-tree.min.js
Labels: JavaScript

#3858 Removed Mage_Backup and Mage_PageCache from PHPStan configuration
  phpstan.dist.neon
Labels: phpstan

#3852 Fixed column default sorting in customer's orders grid
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Orders.php
Labels: Component: Adminhtml

#3827 Fixed null parameter warning in DataFlow Profiles
  app/code/core/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/Wizard.php
  app/code/core/Mage/Dataflow/Model/Profile.php
  phpstan.dist.baseline.neon
Labels: Component: Adminhtml, Component: Dataflow, phpstan

#3851 Fixed zIndex to avoid conflicts between TinyMCE and OpenMage's overlays in the CMS section
  js/mage/adminhtml/variables.js
  js/mage/adminhtml/wysiwyg/widget.js
Labels: JavaScript

#3850 Fixed default width for input/textarea in OpenMage backend theme
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/scss/form.scss
Labels: Template : admin, Component: Adminhtml
