Repository OpenMage/magento-lts, pull requests merged in 2024-05, with the labels that each got.

#3613 New feature: added `mage_run_installed_exception` event when uncatched exception is thrown
  app/Mage.php
  docs/EVENTS.md
Labels: Mage.php

#3960 New feature: Added copyText function to admin order view page for copying order details
  app/design/adminhtml/default/default/template/page/footer.phtml
  app/design/adminhtml/default/default/template/sales/order/view/info.phtml
  app/design/adminhtml/default/default/template/sales/order/view/tab/info.phtml
  js/varien/js.js
  skin/adminhtml/default/openmage/override.css
  skin/adminhtml/default/openmage/scss/override.scss
Labels: Template : admin, Component: Sales, Component: Adminhtml, Component: Page, JavaScript

#3946 Rewrote `js/varien/menu.js` without prototypejs but no longer linked in the `base` theme
  app/design/frontend/base/default/layout/oauth.xml
  app/design/frontend/base/default/layout/page.xml
  app/design/frontend/rwd/default/layout/oauth.xml
  js/varien/menu.js
Labels: Template : rwd, Template : base, Component: Page, Component: Oauth, JavaScript, XML Layout

#3969 Revert "Added support for Laravel Ignition"
  app/Mage.php
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core, Mage.php

#2724 New feature: Allow to limit export, add number of results in filename, and set correct content type
  app/code/core/Mage/Adminhtml/Block/Report/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/controllers/CustomerController.php
  app/code/core/Mage/Adminhtml/controllers/Newsletter/SubscriberController.php
  app/code/core/Mage/Adminhtml/controllers/Promo/QuoteController.php
  app/code/core/Mage/Adminhtml/controllers/Report/CustomerController.php
  app/code/core/Mage/Adminhtml/controllers/Report/ProductController.php
  app/code/core/Mage/Adminhtml/controllers/Report/ReviewController.php
  app/code/core/Mage/Adminhtml/controllers/Report/SalesController.php
  app/code/core/Mage/Adminhtml/controllers/Report/ShopcartController.php
  app/code/core/Mage/Adminhtml/controllers/Report/TagController.php
  app/code/core/Mage/Adminhtml/controllers/ReportController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/CreditmemoController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/InvoiceController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/OrderController.php
  app/code/core/Mage/Adminhtml/controllers/Sales/ShipmentController.php
  app/code/core/Mage/Adminhtml/controllers/System/ConfigController.php
  app/code/core/Mage/Adminhtml/controllers/Tax/RateController.php
Labels: new feature, Component: Adminhtml

#3648 Type casting and minor fixes in preparation for `declare strict_types=1`
  app/Mage.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Price.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
  app/code/core/Mage/Cms/Helper/Wysiwyg/Images.php
  app/code/core/Mage/Core/Helper/Cookie.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Config/Element.php
  app/code/core/Mage/Core/Model/Date.php
  app/code/core/Mage/Core/Model/Layout.php
  app/code/core/Mage/Core/Model/Layout/Validator.php
  app/code/core/Mage/Core/Model/Resource/Helper/Mysql4.php
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
  app/code/core/Mage/Core/Model/Translate.php
  app/code/core/Mage/Customer/Model/Address/Config.php
  app/code/core/Mage/Eav/Model/Resource/Attribute/Collection.php
  app/code/core/Mage/Eav/Model/Resource/Form/Attribute/Collection.php
  app/design/frontend/rwd/default/template/catalog/product/view/sharing.phtml
  lib/Varien/Data/Form/Element/Abstract.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Db/Select.php
  lib/Varien/Simplexml/Config.php
Labels: Component: Core, Component: Catalog, Component: Cms, Component: lib/Varien, Component: Customer, Component: Eav, Template : rwd, Component: Adminhtml, Mage.php, Component: lib/*

#3878 [HELP NEEDED] Added support for UPS Rest APIs
  .all-contributorsrc
  README.md
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups/Source/Type.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/UpsAuth.php
  app/code/core/Mage/Usa/etc/config.xml
  app/code/core/Mage/Usa/etc/system.xml
  app/design/adminhtml/default/default/template/system/shipping/ups.phtml
  phpstan.dist.baseline.neon
Labels: help wanted, documentation, Template : admin, Component: Usa, Component: Adminhtml, phpstan

#3985 Fixed cannot sort by column in backend's grids
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
Labels: Component: Adminhtml, JavaScript

#3980 SOAP APIs: Removed all imports from schemas.xmlsoap.org
  app/code/core/Mage/Api/etc/wsdl.xml
  app/code/core/Mage/Api/etc/wsdl2.xml
  app/code/core/Mage/Catalog/etc/wsdl.xml
  app/code/core/Mage/CatalogInventory/etc/wsdl.xml
  app/code/core/Mage/Core/etc/wsdl.xml
  app/code/core/Mage/Customer/etc/wsdl.xml
  app/code/core/Mage/Directory/etc/wsdl.xml
  app/code/core/Mage/Downloadable/etc/wsdl.xml
  app/code/core/Mage/GiftMessage/etc/wsdl.xml
  app/code/core/Mage/Sales/etc/wsdl.xml
  app/code/core/Mage/Tag/etc/wsdl.xml
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Customer, Component: Api, Component: Tag, Component: Downloadable, Component: Directory

#3976 Fixed UPS Rest API bugs
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
  app/code/core/Mage/Usa/etc/config.xml
  app/code/core/Mage/Usa/etc/system.xml
Labels: Component: Usa

#3982 RWD theme: Removed ancient normalize.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/_core.scss
  skin/frontend/rwd/default/scss/vendor/_normalize.scss
Labels: Template : rwd

#3992 Fix wrong line endings for LICENSE.txt and LICENSE_AFL.txt
  LICENSE.txt
  LICENSE_AFL.txt
Labels: MINOR

#3997 Backend: link to RSS only if they are enabled
  app/code/core/Mage/Adminhtml/Block/Review/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
Labels: Component: Adminhtml

#3983 Removed ccard.js in favor of public domain code
  app/design/adminhtml/default/default/layout/main.xml
  app/design/adminhtml/default/default/layout/oauth.xml
  app/design/frontend/base/default/layout/oauth.xml
  app/design/frontend/base/default/layout/page.xml
  app/design/frontend/rwd/default/layout/oauth.xml
  app/design/frontend/rwd/default/layout/page.xml
  js/lib/ccard.js
  js/prototype/validation.js
Labels: Template : admin, Template : rwd, Template : base, Component: Adminhtml, Component: Page, Component: Oauth, JavaScript, XML Layout

#4006 Added "edit" action column to "Associated Products" grid of grouped products
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Group.php
Labels: Component: Adminhtml

#4005 Fixed unable to select "free method" in UPS backend configuration
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Abstract/Backend/Abstract.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups/Source/Method.php
  app/design/adminhtml/default/default/template/system/shipping/ups.phtml
Labels: Template : admin, Component: Usa, Component: Adminhtml

#4016 Removed deprecated `escape()` from `cookies.js`
  js/mage/cookies.js
Labels: JavaScript

#4017 Fixed available currencies filtering in UPS _parseRestResponse() method
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Ups.php
Labels: Component: Usa

#3979 Fixed customer can't login after registering through PayPal Express Checkout
  app/code/core/Mage/Paypal/Model/Express/Checkout.php
Labels: Component: PayPal

#3981 RWD theme: Added explicit width/height for product thumbnails in product list template
  app/design/frontend/rwd/default/template/catalog/product/list.phtml
Labels: Component: Catalog, Template : rwd

#4004 Added filemtime to merged JS/CSS hash calculation algorithm
  app/code/core/Mage/Core/Model/Design/Package.php
Labels: Component: Core

#4019 Added stopPropagation to "copy text" buttons in backend
  js/varien/js.js
Labels: JavaScript

#3988 Updated PHPStan to 1.11.2
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Ajax/Serializer.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Product/Type/Grouped.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Eav.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Minimalprice.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Tierprice.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/Controller/Varien/Action.php
  app/code/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php
  app/code/core/Mage/Downloadable/Model/Product/Type.php
  app/code/core/Mage/Paypal/Block/Express/Form.php
  app/code/core/Mage/Paypal/Block/Standard/Form.php
  app/code/core/Mage/Paypal/Model/Payment/Transaction.php
  app/code/core/Mage/Sales/Block/Adminhtml/Recurring/Profile/Edit/Form.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  composer.json
  composer.lock
  lib/Varien/Object.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: lib/Varien, Component: Sales, Component: Adminhtml, Component: Downloadable, Component: Bundle, Component: CatalogIndex, Component: lib/*, composer, PHPStorm

#4021 Restored parent::save() on a few classes (fixing PHPStan) ref #3988
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
  app/code/core/Mage/Catalog/Model/Product/Type/Configurable.php
  app/code/core/Mage/Catalog/Model/Product/Type/Grouped.php
  app/code/core/Mage/Downloadable/Model/Product/Type.php
Labels: Component: Catalog, Component: Downloadable, Component: Bundle, PHPStorm

#3871 Removed Mage_Api2_Exception on HTTP_CREATE response in REST API
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Api2/Model/Server.php
Labels: Component: Api2
