Repository OpenMage/magento-lts, pull requests merged in 2024-12, with the labels that each got.

#4356 Cleanup: removed broken `Mage_Core_Controller_Front_Router`
  .phpstan.dist.baseline.neon
  app/Mage.php
  app/code/core/Mage/Core/Controller/Front/Router.php
  app/code/core/Mage/Core/Model/Store.php
Labels: Cleanup, Component: Core, Mage.php, phpstan

#4404 Remove gitpod files
  .gitattributes
  .gitignore
  .gitpod.yml
  dev/gitpod/docker-compose.yml
  dev/gitpod/install.sh
Labels: Cleanup, git

#4413 Readme: fixed badges
  README.md
Labels: documentation

#4334 [Tax] add FK to tax/sales_order_tax again
  app/code/core/Mage/Tax/etc/config.xml
  app/code/core/Mage/Tax/sql/tax_setup/upgrade-1.6.0.4-1.6.0.5.php
Labels: Component: Tax

#4424 Fix Possible Array Access warnings in Captcha Observer
  app/code/core/Mage/Captcha/Model/Observer.php
Labels: Component: Captcha

#4418 Fixed null deprecation array_keys in Multishipping.
  app/code/core/Mage/Core/Model/Session.php
Labels: Component: Core

#4425 Bump version to v20.11.0
  app/Mage.php
  app/code/core/Mage/Tax/sql/tax_setup/upgrade-1.6.0.4-1.6.0.5.php
  composer.json
  composer.lock
Labels: Mage.php, Component: Tax, composer

#4415 Mini DOCBlock update
  app/Mage.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Resource.php
  app/code/core/Mage/Directory/Model/Resource/Country/Collection.php
  app/code/core/Mage/Eav/Model/Entity/Attribute.php
  app/code/core/Mage/Rss/Block/Catalog/Category.php
Labels: Cleanup, Component: Core, Component: Catalog, Component: Eav, Mage.php, Component: Directory, Component: Rss

#4427 Catch exception when invalid country_id is submitted in estimate ship…
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Checkout/controllers/CartController.php
  app/code/core/Mage/Directory/Model/Resource/Region.php
Labels: Component: Checkout, Component: Directory, phpstan

#4408 Updated README.md
  README.md
  mkdocs.yml
Labels: documentation

#4293 Update Mage_SalesRule_Model_Quote_Discount
  app/code/core/Mage/SalesRule/Model/Quote/Discount.php
Labels: Component: SalesRule
