Repository OpenMage/magento-lts, pull requests merged in 2024-11, with the labels that each got.

#4329 Fix: cannot add to wishlist from tag page - Customer account
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/Review/Block/Product/View.php
  app/design/frontend/base/default/template/tag/cloud.phtml
  app/design/frontend/base/default/template/tag/customer/recent.phtml
  app/design/frontend/base/default/template/tag/customer/tags.phtml
  app/design/frontend/base/default/template/tag/customer/view.phtml
  app/design/frontend/base/default/template/tag/list.phtml
  app/design/frontend/base/default/template/tag/popular.phtml
Labels: Component: Catalog, Template : base, Component: Tag, Component: Review, phpstan

#4330 Hotfix: `core_store.store_id` can be `null`
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Catalog/Model/Resource/Product.php
  app/code/core/Mage/Core/Model/Store.php
  app/code/core/Mage/Customer/Model/Customer.php
  tests/unit/Mage/Core/Model/StoreTest.php
Labels: Component: Core, Component: Catalog, Component: Customer, phpstan

#4324 PHPCS-ECG: fail on error
  .github/workflows/phpcs.yml
  .phpcs.ecg.xml.dist
Labels: environment, phpcs

#4337 Fix duplicate block rendering with getSortedChildren()
  app/code/core/Mage/Core/Block/Abstract.php
  tests/unit/Mage/Core/Block/Text/ListTest.php
Labels: Component: Core

#4339 [PHP 8.x] Deprecated functionality: strtotime(): Passing null to para…
  app/code/core/Mage/CatalogRule/Model/Resource/Rule.php
Labels: Component: CatalogRule

#4321 PhpUnit: added tests
  app/code/core/Mage/Catalog/Helper/Category.php
  app/code/core/Mage/Catalog/Helper/Product.php
  app/code/core/Mage/Core/Model/App.php
  tests/unit/Base/DefaultConfigTest.php
  tests/unit/Mage/Admin/Helper/BlockTest.php
  tests/unit/Mage/Admin/Helper/DataTest.php
  tests/unit/Mage/Adminhtml/Block/CacheTest.php
  tests/unit/Mage/Catalog/Helper/CategoryTest.php
  tests/unit/Mage/Catalog/Helper/DataTest.php
  tests/unit/Mage/Catalog/Helper/MapTest.php
  tests/unit/Mage/Catalog/Helper/Product/UrlTest.php
  tests/unit/Mage/Catalog/Helper/ProductTest.php
  tests/unit/Mage/Cms/Helper/PageTest.php
  tests/unit/Mage/Core/Helper/CookieTest.php
  tests/unit/Mage/Core/Helper/DataTest.php
  tests/unit/Mage/Core/Helper/HintTest.php
  tests/unit/Mage/Core/Helper/JsTest.php
  tests/unit/Mage/Core/Helper/PurifierTest.php
  tests/unit/Mage/Core/Helper/UrlTest.php
  tests/unit/Mage/Core/Model/AppTest.php
Labels: Component: Core, Component: Catalog

#4266 Make `Mage_GiftMessage` optional in templates
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Items/Renderer/Default.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/Create/Items.php
  app/code/core/Mage/Rss/Block/Order/Details.php
  app/code/core/Mage/Sales/Block/Order/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Email/Items.php
  app/code/core/Mage/Sales/Block/Order/Email/Items/Order/Default.php
  app/code/core/Mage/Sales/Block/Order/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Item/Renderer/Default.php
  app/code/core/Mage/Sales/Block/Order/Items.php
  app/code/core/Mage/Sales/Block/Order/Shipment.php
  app/code/core/Mage/Sales/Block/Order/View.php
  app/design/adminhtml/default/default/template/sales/order/create/giftmessage.phtml
  app/design/frontend/base/default/template/bundle/email/order/items/creditmemo/default.phtml
  app/design/frontend/base/default/template/bundle/email/order/items/invoice/default.phtml
  app/design/frontend/base/default/template/bundle/email/order/items/order/default.phtml
  app/design/frontend/base/default/template/bundle/email/order/items/shipment/default.phtml
  app/design/frontend/base/default/template/bundle/sales/order/creditmemo/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/invoice/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/shipment/items/renderer.phtml
  app/design/frontend/base/default/template/checkout/multishipping/shipping.phtml
  app/design/frontend/base/default/template/checkout/onepage/shipping_method/additional.phtml
  app/design/frontend/base/default/template/downloadable/email/order/items/order/downloadable.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/creditmemo/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/invoice/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/email/order/items.phtml
  app/design/frontend/base/default/template/email/order/items/order/default.phtml
  app/design/frontend/base/default/template/rss/order/details.phtml
  app/design/frontend/base/default/template/sales/order/creditmemo.phtml
  app/design/frontend/base/default/template/sales/order/creditmemo/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/invoice.phtml
  app/design/frontend/base/default/template/sales/order/invoice/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/items.phtml
  app/design/frontend/base/default/template/sales/order/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/shipment.phtml
  app/design/frontend/base/default/template/sales/order/shipment/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/view.phtml
  app/design/frontend/rwd/default/template/bundle/email/order/items/creditmemo/default.phtml
  app/design/frontend/rwd/default/template/bundle/email/order/items/invoice/default.phtml
  app/design/frontend/rwd/default/template/bundle/email/order/items/order/default.phtml
  app/design/frontend/rwd/default/template/bundle/email/order/items/shipment/default.phtml
  app/design/frontend/rwd/default/template/bundle/sales/order/items/renderer.phtml
  app/design/frontend/rwd/default/template/downloadable/email/order/items/order/downloadable.phtml
  app/design/frontend/rwd/default/template/downloadable/sales/order/items/renderer/downloadable.phtml
  app/design/frontend/rwd/default/template/email/order/items.phtml
  app/design/frontend/rwd/default/template/email/order/items/order/default.phtml
  app/design/frontend/rwd/default/template/sales/order/creditmemo/items/renderer/default.phtml
  app/design/frontend/rwd/default/template/sales/order/invoice/items/renderer/default.phtml
  app/design/frontend/rwd/default/template/sales/order/items.phtml
  app/design/frontend/rwd/default/template/sales/order/items/renderer/default.phtml
Labels: Template : admin, Component: Checkout, Component: Sales, Template : rwd, Template : base, Component: Adminhtml, Component: Downloadable, Component: Bundle, Component: Rss, phpstan

#4345 Bugfix: cant view order in customer account
  app/code/core/Mage/Sales/Block/Order/Item/Renderer/Default.php
Labels: Component: Sales

#4344 Bugfix: hide exception, ref #4303
  app/code/core/Mage/Core/Model/Layout.php
Labels: Component: Core

#4156 Documentation v4 📝 - github.io page
  .gitattributes
  .github/workflows/docs.yml
  .gitignore
  docs/.htaccess
  docs/EVENTS.md
  docs/content/api/rest/assets/images/rest_test001.png
  docs/content/api/rest/assets/images/rest_test003.png
  docs/content/api/rest/assets/images/rest_test004.png
  docs/content/api/rest/assets/images/rest_test005.png
  docs/content/api/rest/assets/images/rest_test006.png
  docs/content/api/rest/assets/images/rest_test007.png
  docs/content/api/rest/assets/images/rest_test008.png
  docs/content/api/rest/assets/images/rest_test009.png
  docs/content/api/rest/assets/images/rest_test010.png
  docs/content/api/rest/assets/images/rest_test011.png
  docs/content/api/rest/assets/images/rest_test012.png
  docs/content/api/rest/assets/images/rest_test_authheader.png
  docs/content/api/rest/assets/images/rest_test_insert.png
  docs/content/api/rest/assets/images/rest_test_oauth_tab.png
  docs/content/api/rest/common_http_status_codes.md
  docs/content/api/rest/get_filters.md
  docs/content/api/rest/http_methods.md
  docs/content/api/rest/resources/customers.md
  docs/content/api/rest/resources/products/product_categories.md
  docs/content/api/rest/response_formats.md
  docs/content/api/rest/testing_rest_resources.md
  docs/content/blog/index.md
  docs/content/developers/changelog/index.md
  docs/content/developers/changelog/new-config.md
  docs/content/developers/changelog/new-events.md
  docs/content/developers/changelog/soap-wsdl.md
  docs/content/developers/ddev.md
  docs/content/developers/error-pages.md
  docs/content/developers/events/list.md
  docs/content/developers/guides/observer.md
  docs/content/developers/mkdocs.md
  docs/content/developers/phpstorm.md
  docs/content/index.md
  docs/content/tags.md
  docs/content/users/install/_use-composer.md
  docs/content/users/install/_use-git.md
  docs/content/users/install/_use-tarball.md
  docs/content/users/install/index.md
  docs/content/users/install/secure-install.md
  docs/content/users/modules/cron.md
  docs/content/users/modules/email.md
  docs/content/users/modules/images.md
  docs/content/users/modules/index.md
  docs/content/users/modules/logging.md
  docs/content/users/modules/payment/bitcoin.md
  docs/content/users/modules/products.md
  docs/content/users/modules/social.md
  docs/content/users/modules/themes/frontend.md
  docs/content/users/requirements.md
  docs/content/users/versioning/index.md
  docs/content/users/versioning/maintained.md
  docs/overrides/partials/content.html
  docs_includes/.htaccess
  docs_includes/abbreviations.md
  mkdocs.yml
Labels: environment

#4350 Added `ext-pdo_mysql` to checks
  app/code/core/Mage/Install/etc/install.xml
  composer.json
  composer.lock
Labels: Component: Install, composer

#4351 Fix: create empty SimpleXMLElement
  app/code/core/Mage/AdminNotification/Model/Feed.php
Labels: Component: AdminNotification

#4348 Bugfix: cant create order from admin backend
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Search/Grid/Renderer/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Items/Renderer/Default.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Product/Helper/Form/Config.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/Create/Form.php
  app/code/core/Mage/GiftMessage/Block/Adminhtml/Sales/Order/Create/Items.php
  app/code/core/Mage/GiftMessage/Block/Message/Inline.php
  app/code/core/Mage/GiftMessage/Helper/Message.php
  app/code/core/Mage/Sales/Block/Order/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Item/Renderer/Default.php
  app/code/core/Mage/Sales/Block/Order/Items.php
  app/code/core/Mage/Sales/Block/Order/Shipment.php
  app/code/core/Mage/Sales/Block/Order/View.php
  tests/unit/Mage/Downloadable/Helper/FileTest.php
  tests/unit/Mage/GiftMessage/Helper/MessageTest.php
Labels: Component: Sales, Component: Adminhtml

#4311 Deprecated functionality: preg_replace()
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field.php
Labels: Component: Adminhtml, 3rd-party

#4357 Fixed null deprecation in `Mage_Catalog_Model_Product_Option_Type_Text::validateUserValue()`
  app/code/core/Mage/Catalog/Model/Product/Option/Type/Text.php
  tests/unit/Mage/Catalog/Model/Product/Option/Type/TextTest.php
Labels: Component: Catalog, 3rd-party, PHP 8.1

#4370 Bugfix: `Mage_Adminhtml_Helper_Dashboard_Data->countStores()` on null
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Data.php
Labels: Component: Adminhtml

#4368 Fix validateHttpVersion to be RFC 1945 and RFC 7230 compliant
  lib/Mage/HTTP/Client/Curl.php
Labels: Component: lib/Mage, Component: lib/*

#4369 Bugfix: fixed sitemap config depend nodes
  app/code/core/Mage/Sitemap/etc/system.xml
Labels: Component: Sitemap

#4323 Cache `isModuleOutputEnabled` or `isModuleEnabled` status
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Alerts/Price.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Alerts/Stock.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Attributes.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Inventory.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Price/Group/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Super/Config/Grid.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Tag/Customer.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tabs.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Orders/Grid.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Sales.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Searches/Last.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Searches/Top.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Tab/Products/Ordered.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Totals.php
  app/code/core/Mage/Adminhtml/Block/Notification/Toolbar.php
  app/code/core/Mage/Adminhtml/Block/Notification/Window.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Items/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Giftmessage.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Items/Renderer/Default.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Fieldset/Modules/DisableOutput.php
  app/code/core/Mage/Adminhtml/Block/System/Store/Edit.php
  app/code/core/Mage/Adminhtml/Block/Template.php
  app/code/core/Mage/Bundle/Model/Resource/Indexer/Price.php
  app/code/core/Mage/Catalog/Block/Product/Abstract.php
  app/code/core/Mage/Catalog/Block/Product/List/Related.php
  app/code/core/Mage/Catalog/Block/Product/List/Upsell.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Indexer/Price/Default.php
  app/code/core/Mage/Checkout/Block/Links.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Helper/Abstract.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Abstract.php
  app/code/core/Mage/Customer/Block/Form/Register.php
  app/code/core/Mage/Eav/Block/Adminhtml/Attribute/Edit/Options/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/Rating/Model/Resource/Rating.php
  app/code/core/Mage/Rss/Block/Order/Details.php
  app/code/core/Mage/Sales/Block/Order/Creditmemo.php
  app/code/core/Mage/Sales/Block/Order/Email/Items.php
  app/code/core/Mage/Sales/Block/Order/Email/Items/Order/Default.php
  app/code/core/Mage/Sales/Block/Order/Invoice.php
  app/code/core/Mage/Sales/Block/Order/Item/Renderer/Default.php
  app/code/core/Mage/Sales/Block/Order/Items.php
  app/code/core/Mage/Sales/Block/Order/Shipment.php
  app/code/core/Mage/Sales/Block/Order/View.php
Labels: Component: Core, Component: Catalog, Component: Checkout, Component: Sales, Component: Customer, Component: Eav, Component: Adminhtml, Component: Rating, Component: Bundle, Component: Rss, phpstan

#4388 Obfuscated login credentials in stacktraces
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Admin/Model/Session.php
  app/code/core/Mage/Admin/Model/User.php
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
  app/code/core/Mage/Api/Model/Server/Wsi/Handler.php
  app/code/core/Mage/Api/Model/Session.php
  app/code/core/Mage/Api/Model/User.php
  app/code/core/Mage/Core/Model/Security/Obfuscated.php
  app/code/core/Mage/Customer/Model/Session.php
  lib/Mage/System/Ftp.php
Labels: security, Component: Core, Component: Customer, Component: lib/Mage, Component: Api, Component: Admin, Component: lib/*, phpstan

#4391 Rector: updated UnitTests
  .rector.php
  tests/unit/Base/XmlFileLoadingTest.php
  tests/unit/Mage/Admin/Model/BlockTest.php
  tests/unit/Mage/Admin/Model/UserTest.php
  tests/unit/Mage/Admin/Model/VariableTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/AddressesTest.php
  tests/unit/Mage/Adminhtml/Block/Customer/Edit/Tab/NewsletterTest.php
  tests/unit/Mage/Adminhtml/Block/System/Convert/Gui/Edit/Tab/ViewTest.php
  tests/unit/Mage/Adminhtml/Block/System/Convert/Profile/Edit/Tab/EditTest.php
  tests/unit/Mage/Catalog/Helper/Product/UrlTest.php
  tests/unit/Mage/Catalog/Helper/ProductTest.php
  tests/unit/Mage/Cms/Block/BlockTest.php
  tests/unit/Mage/Cms/Block/PageTest.php
  tests/unit/Mage/Cms/Block/Widget/BlockTest.php
  tests/unit/Mage/Core/Helper/EnvironmentConfigLoaderTest.php
  tests/unit/Mage/Core/Helper/SecurityTest.php
  tests/unit/Mage/Log/Model/CustomerTest.php
  tests/unit/Mage/Sitemap/Model/SitemapTest.php
  tests/unit/Mage/Tax/Helper/DataTest.php
  tests/unit/Varien/Db/Adapter/Pdo/MysqlTest.php
  tests/unit/Varien/ObjectTest.php
Labels: phpunit, rector

#4395 Fix for catalog_product_relation not being deleted when bundle option deleted.
  app/code/core/Mage/Bundle/Model/Product/Type.php
Labels: Component: Bundle

#4392 Rector: set methods to private in `Mage.php`
  .rector.php
  app/Mage.php
Labels: Mage.php, rector

#4387 Fix unserializeArray on nonserialized string
  app/code/core/Mage/Sales/Model/Quote/Item.php
Labels: Component: Sales

#4397 PHPMD: remove unused private methods/fields
  .phpmd.dist.baseline.xml
  .phpmd.dist.xml
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Admin/Model/Resource/User.php
  app/code/core/Mage/Checkout/Block/Cart/Sidebar.php
  app/code/core/Mage/Checkout/Block/Onepage/Success.php
  app/code/core/Mage/Log/Model/Aggregation.php
  app/code/core/Mage/Paypal/Model/Config.php
  app/code/core/Mage/Sales/Model/Order/Status/History.php
Labels: Cleanup, Component: PayPal, Component: Checkout, Component: Sales, Component: Admin, Component: Log, phpstan, phpmd
