Repository OpenMage/magento-lts, pull requests merged in 2024-10, with the labels that each got.

#4232 Admin config: added input validation & hide disabled options
  app/code/core/Mage/Api/etc/system.xml
  app/code/core/Mage/Authorizenet/etc/system.xml
  app/code/core/Mage/Catalog/etc/system.xml
  app/code/core/Mage/Checkout/etc/system.xml
  app/code/core/Mage/ConfigurableSwatches/etc/system.xml
  app/code/core/Mage/Contacts/etc/system.xml
  app/code/core/Mage/Core/etc/system.xml
  app/code/core/Mage/Cron/etc/system.xml
  app/code/core/Mage/Customer/etc/system.xml
  app/code/core/Mage/Downloadable/etc/system.xml
  app/code/core/Mage/GoogleAnalytics/etc/system.xml
  app/code/core/Mage/Log/etc/system.xml
  app/code/core/Mage/Oauth/etc/system.xml
  app/code/core/Mage/Paygate/etc/system.xml
  app/code/core/Mage/Payment/etc/system.xml
  app/code/core/Mage/ProductAlert/etc/system.xml
  app/code/core/Mage/Reports/etc/system.xml
  app/code/core/Mage/Sales/etc/system.xml
  app/code/core/Mage/Sendfriend/etc/system.xml
  app/code/core/Mage/Shipping/etc/system.xml
  app/code/core/Mage/Sitemap/etc/system.xml
  app/code/core/Mage/Usa/etc/system.xml
  app/code/core/Mage/Weee/etc/system.xml
Labels: Component: Core, Component: Catalog, Component: Reports, Component: Checkout, Component: Sales, Component: Usa, Component: Customer, Component: ProductAlert, Component: Sitemap, Component: Api, Component: Cron, Component: Contacts, Component: Weee, Component: Shipping, Component: Payment, Component: Oauth, Component: Downloadable, Component: Sendfriend, Component: Log, Component: ConfigurableSwatches, Component: Authorizenet, Component: GoogleAnalytics, Component: Paygate

#4241 Some phpStan fixes
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Gallery.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/Notification/Grid/Renderer/Severity.php
  app/code/core/Mage/Adminhtml/Block/Report/Grid/Abstract.php
  app/code/core/Mage/Adminhtml/Block/Report/Sales/Coupons/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Shipment/Packaging.php
  app/code/core/Mage/Adminhtml/Block/System/Store/Edit.php
  app/code/core/Mage/Adminhtml/Block/System/Store/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml, phpstan

#4238 PHP8.1: Added getter method for `Mage_Adminhtml_Block_Widget_Grid_Column::getType()` to return string
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  tests/unit/Mage/Adminhtml/Block/Widget/Grid/ColumnTest.php
  tests/unit/Mage/Core/Model/ConfigTest.php
  tests/unit/Mage/Core/Model/UrlTest.php
Labels: Component: Adminhtml

#4246 Admin theme: Change background-color for active sections
  skin/adminhtml/default/default/menu.css
  skin/adminhtml/default/openmage/menu.css
  skin/adminhtml/default/openmage/menu.css.map
  skin/adminhtml/default/openmage/scss/menu.scss
Labels: Template : admin, Component: Adminhtml

#4251 Deprecated functionality: preg_match(): Passing null to parameter #4 …
  app/code/core/Mage/Core/Model/Translate/Inline.php
Labels: Component: Core

#4259 Bugfix: passing invalid ID to `Mage_Catalog_Model_Url::refreshRewrites()`
  app/code/core/Mage/Catalog/Model/Resource/Url.php
  app/code/core/Mage/Catalog/Model/Url.php
Labels: Component: Catalog

#4008 Configurable: remove unused double foreach loop
  app/code/core/Mage/Catalog/Block/Product/View/Type/Configurable.php
Labels: Component: Catalog

#4265 Bump phpstan to level5
  .phpstan.dist.baseline.neon
  .phpstan.dist.neon
Labels: phpstan

#4269 Better caching for phpstan workflow
  .github/workflows/phpstan.yml
  .gitignore
  .phpstan.dist.neon
Labels: environment, phpstan

#4243 Better config for admin RSS links
  README.md
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Grid.php
  app/code/core/Mage/Adminhtml/Block/Review/Grid.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
  app/code/core/Mage/Rss/Block/Order/New.php
  app/code/core/Mage/Rss/Helper/Data.php
  app/code/core/Mage/Rss/etc/config.xml
  app/code/core/Mage/Rss/etc/system.xml
  app/locale/en_US/Mage_Rss.csv
Labels: documentation, Component: Adminhtml, Component: Rss, translations

#4268 Added polyfill-8.3/8.4 in Composer
  composer.json
  composer.lock
Labels: composer

#4273 Some phpstan fixes
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Websites.php
  app/code/core/Mage/Adminhtml/controllers/System/StoreController.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Catalog/Helper/Product/Type/Composite.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Block/Profiler.php
  app/code/core/Mage/Core/Block/Text/Tag/Debug.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/Index/Model/Lock.php
  app/code/core/Mage/Paygate/Model/Authorizenet/Cards.php
  app/code/core/Mage/Paypal/Block/Iframe.php
  app/code/core/Mage/Paypal/Model/Payflow/Request.php
  app/code/core/Mage/Sales/controllers/Billing/AgreementController.php
  app/code/core/Mage/Sales/controllers/Recurring/ProfileController.php
  app/code/core/Mage/Shipping/Model/Carrier/Abstract.php
  app/code/core/Mage/Uploader/Model/Config/Abstract.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf/PageBuilder.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Options.php
  get.php
  lib/Varien/Data/Collection/Db.php
  lib/Varien/Data/Form/Abstract.php
  lib/Varien/Data/Form/Element/Collection.php
  lib/Varien/Data/Form/Element/Fieldset.php
  lib/Varien/Io/File.php
  lib/Varien/Object.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: lib/Varien, Component: Sales, Component: Usa, Component: Eav, Component: Adminhtml, Component: Widget, Component: Shipping, Component: Index, Component: Api2, Component: Uploader, Component: Paygate, Component: lib/*, phpstan

#4242 Fixed incorrect datetime in block, ref #1525
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/View.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Helper/Data.php
  app/design/adminhtml/default/default/template/customer/tab/view.phtml
  tests/unit/Mage/Core/Helper/DataTest.php
Labels: Component: Core, Template : admin, Component: Customer, Component: Adminhtml, phpstan

#4239 Prevent delete/disable CMS pages used in configuration
  app/code/core/Mage/Cms/Helper/Page.php
  app/code/core/Mage/Cms/Model/Page.php
  app/code/core/Mage/Cms/Model/Resource/Page.php
  app/locale/en_US/Mage_Cms.csv
  tests/unit/Mage/Cms/Helper/PageTest.php
  tests/unit/Mage/Cms/Model/PageTest.php
Labels: Component: Cms, translations

#4276 Some phpstan fixes
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Cache/Grid.php
  app/code/core/Mage/Adminhtml/Block/Report/Config/Form/Field/YtdStart.php
  app/code/core/Mage/Adminhtml/Block/Tax/Rate/Grid/Renderer/Data.php
  app/code/core/Mage/Adminhtml/Model/Config.php
  app/code/core/Mage/Adminhtml/Model/System/Store.php
  app/code/core/Mage/Api/Model/Roles.php
  app/code/core/Mage/Catalog/Helper/Product.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Url.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer/Abstract.php
  app/code/core/Mage/CatalogInventory/Model/Observer.php
  app/code/core/Mage/Checkout/Model/Session.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Layout.php
  app/code/core/Mage/Core/Model/Message/Collection.php
  app/code/core/Mage/Core/Model/Resource/Db/Abstract.php
  app/code/core/Mage/Core/Model/Resource/Store/Collection.php
  app/code/core/Mage/Core/Model/Resource/Store/Group/Collection.php
  app/code/core/Mage/Core/Model/Resource/Website/Collection.php
  app/code/core/Mage/Customer/Model/Customer.php
  app/code/core/Mage/Directory/Helper/Data.php
  app/code/core/Mage/Index/Model/Event.php
  app/code/core/Mage/Paygate/Helper/Data.php
  app/code/core/Mage/Sales/Model/Quote.php
  app/code/core/Mage/Sales/Model/Quote/Item.php
  app/code/core/Mage/Sales/Model/Quote/Item/Abstract.php
  app/code/core/Mage/Sales/Model/Quote/Item/Option.php
  app/code/core/Mage/Wishlist/Model/Item/Option.php
  app/code/core/Mage/Wishlist/controllers/IndexController.php
  lib/Varien/Data/Tree/Dbp.php
Labels: Component: Core, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: lib/Varien, Component: Sales, Component: Customer, Component: Adminhtml, Component: Api, Component: Wishlist, Component: Index, Component: CatalogIndex, Component: Directory, Component: Paygate, Component: lib/*, phpstan

#4278 Updated zf1-future to 1.24.1
  composer.json
  composer.lock
Labels: composer

#4283 Some phpstan fixes
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Crosssell.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Related.php
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Upsell.php
  app/code/core/Mage/Adminhtml/Block/Checkout/Agreement/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Cms/Block/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Account.php
  app/code/core/Mage/Adminhtml/Block/Promo/Catalog/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Promo/Quote/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/Block/Rating/Edit/Tab/Form.php
  app/code/core/Mage/Adminhtml/Block/Review/Add/Form.php
  app/code/core/Mage/Adminhtml/Block/Review/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Sitemap/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/System/Design/Edit/Tab/General.php
  app/code/core/Mage/Adminhtml/Block/Urlrewrite/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Widget/Form.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/Model/Giftmessage/Save.php
  app/code/core/Mage/Bundle/Block/Catalog/Product/View/Type/Bundle/Option.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Option.php
  app/code/core/Mage/Catalog/Model/Product/Option/Value.php
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Category.php
  app/code/core/Mage/Catalog/Model/Resource/Product.php
  app/code/core/Mage/Customer/Model/Resource/Customer.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Sales/Model/Entity/Sale/Collection.php
  app/code/core/Mage/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main.php
  lib/Varien/Data/Collection/Db.php
Labels: Component: Catalog, Component: lib/Varien, Component: Sales, Component: Customer, Component: Eav, Component: Adminhtml, Component: Widget, Component: Bundle, Component: lib/*, phpstan

#4281 PHP8: base64_decode(): Passing null is deprecated
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Grid.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
Labels: Component: Adminhtml

#4240 Fix placeholder image in WYSIWYG editor when using a different admin theme
  app/code/core/Mage/Cms/Model/Wysiwyg/Config.php
Labels: Component: Cms

#4297 [PHP 8.4] fgetcsv() - The $escape parameter must be provided as its default value will change
  app/code/core/Mage/Dataflow/Model/Session/Parser/Csv.php
  app/code/core/Mage/ImportExport/Model/Import/Adapter/Csv.php
  lib/Varien/Convert/Parser/Csv.php
  lib/Varien/File/Csv.php
  lib/Varien/Io/File.php
Labels: Component: lib/Varien, Component: ImportExport, Component: Dataflow, Component: lib/*, PHP 8.4

#4295 Fixes `Mage_Core_Helper_Url::removeRequestParam()` for `___SID`/`SID`
  app/code/core/Mage/Core/Helper/Url.php
  tests/unit/Mage/Core/Helper/DataTest.php
  tests/unit/Mage/Core/Helper/UrlTest.php
Labels: Component: Core

#4289 PHP84: ignore deprecated E_STRICT
  app/code/core/Mage/Core/functions.php
Labels: Component: Core, PHP 8.4

#4306 Fix deprecated message for strlen first value null
  app/code/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Abstract.php
Labels: Component: ImportExport

#4320 Fix `Mage_Adminhtml_Block_Template::isOutputEnabled()` for invalid module
  app/code/core/Mage/Adminhtml/Block/Template.php
  app/code/core/Mage/Core/Helper/Abstract.php
  tests/unit/Mage/Adminhtml/Block/TemplateTest.php
Labels: Component: Core, Component: Adminhtml

#4322 PHPStan: added some class vars to templates
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Captcha/Block/Captcha/Zend.php
  app/code/core/Mage/Weee/Helper/Data.php
  app/design/adminhtml/default/default/template/captcha/zend.phtml
  app/design/adminhtml/default/default/template/catalog/category/edit.phtml
  app/design/adminhtml/default/default/template/catalog/category/tree.phtml
  app/design/adminhtml/default/default/template/catalog/product/attribute/set/main.phtml
  app/design/adminhtml/default/default/template/catalog/product/attribute/set/toolbar/main.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/categories.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/option.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/type/date.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/type/file.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/type/select.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/options/type/text.phtml
  app/design/adminhtml/default/default/template/catalog/product/edit/websites.phtml
  app/design/adminhtml/default/default/template/catalog/product/js.phtml
  app/design/adminhtml/default/default/template/catalog/product/price.phtml
  app/design/adminhtml/default/default/template/catalog/product/tab/inventory.phtml
  app/design/adminhtml/default/default/template/customer/edit/tab/account/form/renderer/group.phtml
  app/design/adminhtml/default/default/template/customer/tab/addresses.phtml
  app/design/adminhtml/default/default/template/customer/tab/newsletter.phtml
  app/design/adminhtml/default/default/template/customer/tab/view/sales.phtml
  app/design/adminhtml/default/default/template/customer/tab/wishlist.phtml
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/design/adminhtml/default/default/template/page.phtml
  app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
  app/design/adminhtml/default/default/template/widget/accordion.phtml
  app/design/adminhtml/default/default/template/widget/form/renderer/element.phtml
  app/design/adminhtml/default/default/template/widget/form/renderer/fieldset.phtml
  app/design/adminhtml/default/default/template/widget/form/renderer/fieldset/element.phtml
  app/design/adminhtml/default/default/template/widget/grid/container.phtml
  app/design/adminhtml/default/default/template/widget/grid/massaction.phtml
  app/design/adminhtml/default/default/template/widget/grid/serializer.phtml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  app/design/frontend/rwd/default/template/captcha/zend.phtml
  composer.json
Labels: Component: Catalog, Template : admin, Component: Customer, Template : rwd, Component: Adminhtml, Component: Captcha, Component: Widget, Component: Weee, composer, phpstan
