Repository OpenMage/magento-lts, pull requests merged in 2024-03, with the labels that each got.

#2150 Improved fields dependence (show/hide) in backend's config section
  app/code/core/Mage/Sales/Model/Observer.php
  js/mage/adminhtml/form.js
Labels: Component: Sales, JavaScript

#3823 Varien_Directory_Collection::getLastDir(): "$this" can no longer be used in a plain function or method, since PHP 7.1
  lib/Varien/Directory/Collection.php
Labels: Component: lib/Varien, Component: lib/*

#3870 Fixed null error on hash_equal in Mage_Oauth_Model_Server
  app/code/core/Mage/Oauth/Model/Server.php
Labels: Component: Oauth

#3874 Version bump for v21
  app/Mage.php
Labels: Mage.php

#3866 Fixed row click issue in Category Products tab
  app/design/adminhtml/default/default/template/catalog/category/edit/form.phtml
Labels: Component: Catalog, Template : admin, Component: Adminhtml

#3879 Fixed null deprecation in lib/Varien/Filter/Template.php
  lib/Varien/Filter/Template.php
Labels: Component: lib/Varien, Component: lib/*

#3865 Fixed row click issue in product's upsell/crosssell/related grids
  js/mage/adminhtml/grid.js
Labels: JavaScript

#3887 Added PHP8.3 to supported list
  README.md
Labels: documentation

#3885 Added VAT related attributes to salesOrderAddressEntity webservices entity
  app/code/core/Mage/Sales/etc/wsdl.xml
  app/code/core/Mage/Sales/etc/wsi.xml
Labels: Component: Sales

#3911 RWD: enhanced contrast on a few colors to fix accessibility issues
  skin/frontend/rwd/default/css/madisonisland.css
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/_var.scss
  skin/frontend/rwd/default/scss/content/_category.scss
  skin/frontend/rwd/default/scss/module/_account-reviews.scss
Labels: Template : rwd

#3910 Fixed no data shown for products with recurring profiles
  lib/Unserialize/Reader/Str.php
Labels: Component: lib/*

#3912 RWD: accessibility improvements: made the red color a bit darker and added titles to important links
  app/design/frontend/rwd/default/template/checkout/cart/minicart.phtml
  app/design/frontend/rwd/default/template/page/html/header.phtml
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/scss/_var.scss
Labels: Component: Checkout, Template : rwd, Component: Page
