Repository OpenMage/magento-lts, pull requests merged in 2024-08, with the labels that each got.

#4122 Removed empty `Mage_Poll` config section
  app/code/core/Mage/Core/etc/system.xml
Labels: Component: Core

#4079 Added support to specify file upload dir in system configuration
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/File.php
Labels: new feature, Component: Adminhtml

#4137 Show correct version for main branch
  app/Mage.php
Labels: Mage.php

#4151 Allow to use $before parameter in addCss/addJs from XML
  app/code/core/Mage/Page/Block/Html/Head.php
Labels: Component: Page

#4147 PHPCS: ignore `mcrypt` related warnings
  .phpcs.php.xml.dist
Labels: phpcs

#4157 TinyMCE security fix
  js/mage/adminhtml/wysiwyg/tinymce/setup.js
Labels: JavaScript
