Repository OpenMage/magento-lts, pull requests merged in 2024-04, with the labels that each got.

#3875 Rewrote getOpenMageVersion() to be faster
  app/Mage.php
Labels: Mage.php

#3862 Removed unused variables from Mage_Api_Model_Server_Handler_Abstract
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
Labels: Component: Api

#3920 PHP8.2 is now the minimum version for v21
  .github/workflows/php-cs-fixer.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/sonar.yml
  .github/workflows/syntax-php.yml
  README.md
  app/code/core/Mage/Directory/Model/Currency/Import/Abstract.php
  app/code/core/Mage/ImportExport/Model/Export/Adapter/Abstract.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf/PageBuilder.php
  composer.json
  composer.lock
  lib/Varien/File/Uploader/Image.php
Labels: documentation, environment, Component: lib/Varien, Component: Usa, Component: ImportExport, Component: Directory, Component: lib/*, composer, phpstan, phpcs, php-cs-fixer, phpunit

#3922 RWD theme: updated jQuery to 3.7.1
  app/design/frontend/rwd/default/layout/page.xml
  js/lib/jquery/jquery-3.7.0.min.js
  js/lib/jquery/jquery-3.7.0.min.map
  js/lib/jquery/jquery-3.7.1.min.js
  js/lib/jquery/jquery-3.7.1.min.map
Labels: Template : rwd, Component: Page, JavaScript, XML Layout

#3754 Rewrote js/mage/captcha.js without prototypejs
  js/mage/captcha.js
Labels: JavaScript

#3835 Removed @deprecation on Mage::getBlockSingleton()
  app/Mage.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Field/SolutionType.php
Labels: Component: PayPal, Component: Adminhtml, Mage.php

#3926 Fixed null parameter warning in Mage_Catalog_Model_Layer_Filter_Attribute
  app/code/core/Mage/Catalog/Model/Layer/Filter/Attribute.php
Labels: Component: Catalog

#3872 Removed deprecated and unused files from lib/Mage
  lib/Mage/Cache/Backend/Redis.php
  lib/Mage/DB/Exception.php
  lib/Mage/DB/Mysqli.php
  phpstan.dist.baseline.neon
Labels: Component: lib/Mage, Component: lib/*, phpstan

#3927 Backend: removed invalid "name" element, removed redundant nobr spans, added data-column-id to grids
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
  app/design/adminhtml/default/default/template/widget/grid.phtml
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml, Component: Widget

#3941 Removed invalid "sortcut icon" HTML element
  app/design/adminhtml/default/default/template/forgotpassword.phtml
  app/design/adminhtml/default/default/template/login.phtml
  app/design/adminhtml/default/default/template/oauth/authorize/head-simple.phtml
  app/design/adminhtml/default/default/template/page/head.phtml
  app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
  app/design/adminhtml/default/openmage/template/forgotpassword.phtml
  app/design/adminhtml/default/openmage/template/login.phtml
  app/design/adminhtml/default/openmage/template/resetforgottenpassword.phtml
  app/design/frontend/base/default/template/oauth/authorize/head-simple.phtml
  app/design/frontend/base/default/template/page/html/head.phtml
  app/design/install/default/default/template/page.phtml
  errors/default/page.phtml
Labels: Template : admin, Template : base, Component: Adminhtml, Component: Page, Component: Oauth, Template : install, errors

#2964 Fixed getAttributeRawValue when there are no value in the "default" store
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
  app/code/core/Mage/Catalog/Model/Resource/Collection/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
Labels: Component: Catalog, Component: Eav

#3824 Removed jQuery dependencies from swatches in RWD theme
  app/design/frontend/rwd/default/template/configurableswatches/catalog/media/js.phtml
  skin/frontend/rwd/default/js/configurableswatches/product-media.js
  skin/frontend/rwd/default/js/configurableswatches/swatches-list.js
Labels: Template : rwd

#2481 Fixed faulty media gallery label/description management for mutistore projects
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Helper/Form/Gallery.php
  app/code/core/Mage/Adminhtml/controllers/Catalog/ProductController.php
  app/code/core/Mage/Catalog/Model/Product/Attribute/Backend/Media.php
  app/design/adminhtml/default/default/template/catalog/product/helper/gallery.phtml
  js/mage/adminhtml/product.js
Labels: documentation, environment, Component: Catalog, Template : admin, Component: Adminhtml, JavaScript, Rebased: RFC-0002

#1631 Used transliterator_transliterate to generate url_key
  app/code/core/Mage/Adminhtml/Block/Cms/Page/Edit/Tab/Main.php
  app/code/core/Mage/Adminhtml/controllers/Cms/PageController.php
  app/code/core/Mage/Catalog/Helper/Product/Url.php
  app/code/core/Mage/Catalog/Model/Attribute/Backend/Urlkey/Abstract.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Url.php
  app/code/core/Mage/Catalog/Model/Resource/Product/Attribute/Backend/Urlkey.php
  app/code/core/Mage/Catalog/Model/Resource/Url.php
  app/code/core/Mage/Catalog/Model/Url.php
  app/code/core/Mage/Cms/Model/Resource/Page.php
Labels: documentation, environment, Component: Catalog, Component: Cms, Component: Adminhtml, JavaScript

#3767 Rewrote global search (in backend) without prototypejs
  app/design/adminhtml/default/default/template/page/header.phtml
  app/design/adminhtml/default/openmage/template/page/header.phtml
  skin/adminhtml/default/default/boxes.css
Labels: Template : admin, Component: Adminhtml, Component: Page

#3917 RWD: better accessibility score removing double instance of the currency switcher from the DOM
  app/design/frontend/rwd/default/layout/directory.xml
  skin/frontend/rwd/default/css/styles.css
  skin/frontend/rwd/default/js/app.js
  skin/frontend/rwd/default/scss/layout/_header.scss
Labels: Template : rwd, Component: Directory, XML Layout

#3759 Rewrote js/mage/adminhtml/giftoptions/tooltip.js without prototypejs
  js/mage/adminhtml/giftoptions/tooltip.js
Labels: JavaScript

#3947 Rewrote `js/mage/adminhtml/accordion.js` without prototypejs
  js/mage/adminhtml/accordion.js
Labels: JavaScript

#3953 Remove Deprecated Global Translate Function "__()"
  app/code/core/Mage/Core/functions.php
  lib/Varien/Io/Sftp.php
Labels: documentation, environment, Component: PayPal, Component: Core, Component: Catalog, Template : admin, Component: Cms, Component: Reports, Component: CatalogInventory, Component: Checkout, Component: AdminNotification, Component: lib/Varien, Component: Sales, Component: Usa, Component: Customer, Component: Eav, Template : rwd, Component: lib/Mage, Template : base, Component: Adminhtml, Component: ProductAlert, Mage.php, Component: Sitemap, Component: Page, Component: Api, Component: Cron, Component: Contacts, Component: Tag, Component: CatalogRule, Component: Admin, Component: SalesRule, Component: Wishlist, Component: Widget, Component: Weee, Component: Tax, Component: Shipping, Component: Rule, Component: Review, Component: Rating, Component: Persistant, Component: Oauth, Component: Newsletter, Component: Index, Component: Downloadable, Component: Bundle, Component: CatalogIndex, Component: Sendfriend, Component: Media, Component: Log, Component: ImportExport, Component: Directory, Component: CatalogSearch, shell, Component: Dataflow, Component: Install, Component: Rss, Component: Paygate, Component: lib/*, translations, composer, JavaScript, XML Layout, phpstan, phpcs, php-cs-fixer, phpunit

#3954 Added support for Laravel Ignition
  app/Mage.php
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core, Mage.php

#3949 Removed unused file `js/varien/telephone.js`
  js/varien/telephone.js
Labels: JavaScript

#3686 New feature: ConfigurableSwatches now allows for auto-generation of the swatch image file based on color selection
  app/code/core/Mage/ConfigurableSwatches/Helper/Productimg.php
  app/code/core/Mage/Eav/Block/Adminhtml/Attribute/Edit/Options/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Option.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Option/Swatch.php
  app/code/core/Mage/Eav/Model/Resource/Entity/Attribute.php
  app/code/core/Mage/Eav/Model/Resource/Entity/Attribute/Option/Swatch.php
  app/code/core/Mage/Eav/etc/config.xml
  app/code/core/Mage/Eav/sql/eav_setup/upgrade-1.6.0.1-1.6.0.2.php
  app/design/adminhtml/default/default/template/eav/attribute/options.phtml
  app/locale/en_US/Mage_ConfigurableSwatches.csv
  skin/adminhtml/default/openmage/form.css
  skin/adminhtml/default/openmage/form.css.map
  skin/adminhtml/default/openmage/scss/form.scss
Labels: new feature, Template : admin, Component: Eav, Component: Adminhtml, Component: ConfigurableSwatches, translations

#2713 Added new useful columns in products tab in category view
  app/code/core/Mage/Adminhtml/Block/Catalog/Category/Tab/Product.php
  app/design/adminhtml/default/default/template/catalog/product/created.phtml
Labels: documentation, environment, Component: Catalog, Template : admin, Component: Adminhtml

#3948 Rewrote `js/mage/adminhtml/input-counter.js` without prototypejs
  js/mage/adminhtml/input-counter.js
Labels: JavaScript

#3863 New feature: override configurations with env variables
  app/code/core/Mage/Core/Helper/EnvironmentConfigLoader.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Config.php
  dev/tests/unit/Mage/Core/Helper/EnvironmentConfigLoaderTest.php
Labels: Component: Core
