Repository OpenMage/magento-lts, pull requests merged in 2024-01, with the labels that each got.

#3731 Custom option null deprecation
  app/code/core/Mage/Catalog/Model/Product/Type/Abstract.php
Labels: Component: Catalog

#3729 Fixed stripTags() null deprecation.
  app/code/core/Mage/Core/Helper/Abstract.php
Labels: Component: Core, PHP 8

#3744 Fixed null deprecation in Zend_Pdf
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Dhl/Label/Pdf/PageBuilder.php
Labels: Component: Sales, Component: Usa, PHP 8

#3746 Fixed oauth phtml docblock.
  app/code/core/Mage/Oauth/Block/Authorize/Abstract.php
  app/design/frontend/base/default/template/oauth/authorize/button-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/button.phtml
  app/design/frontend/base/default/template/oauth/authorize/confirm-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/confirm.phtml
  app/design/frontend/base/default/template/oauth/authorize/form/login-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/form/login.phtml
  app/design/frontend/base/default/template/oauth/authorize/head-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/reject-simple.phtml
  app/design/frontend/base/default/template/oauth/authorize/reject.phtml
  app/design/frontend/base/default/template/oauth/customer/token/list.phtml
  app/design/frontend/rwd/default/template/oauth/authorize/form/login-simple.phtml
Labels: Cleanup: DOC blocks, Template : rwd, Template : base, Component: Oauth

#3730 Fix autoincrement id fetching cache problem in import/export module
  .all-contributorsrc
  README.md
  app/code/core/Mage/ImportExport/Model/Resource/Helper/Mysql4.php
Labels: documentation, Component: ImportExport

#3670 Rewrote `js/varien/weee.js` without prototypejs
  js/varien/weee.js
Labels: JavaScript

#3669 Rewrote `js/varien/accordion.js` without prototypejs
  js/varien/accordion.js
Labels: JavaScript

#3757 Removed unused file js/mage/adminhtml/backup.js
  js/mage/adminhtml/backup.js
Labels: JavaScript

#3656 Added `$product` param to `catalog_controller_product_init_before` event
  app/code/core/Mage/Catalog/Helper/Product.php
Labels: Component: Catalog

#3752 Fixed Varien_Data_Form_Filter_Date::inputFilter() and Varien_Data_Form_Filter_Datetime::inputFilter() dealing with empty values
  .all-contributorsrc
  README.md
  lib/Varien/Data/Form/Filter/Date.php
  lib/Varien/Data/Form/Filter/Datetime.php
Labels: documentation, Component: lib/Varien, Component: lib/*

#3765 Removed unused file js/mage/adminhtml/scrollbar.js
  js/mage/adminhtml/scrollbar.js
Labels: JavaScript

#3764 Removed unused file js/mage/adminhtml/magento-all.js
  js/mage/adminhtml/magento-all.js
Labels: JavaScript

#3758 Removed unused file js/mage/adminhtml/image.js
  js/mage/adminhtml/image.js
Labels: JavaScript

#3753 Increased composer platform config to PHP 8.1
  composer.json
  composer.lock
Labels: composer

#3628 Deprecated `createEntityTables()` in `Mage_Eav_Model_Entity_Setup`.
  app/code/core/Mage/Eav/Model/Entity/Setup.php
Labels: Component: Eav
