Repository OpenMage/magento-lts, pull requests merged in 2025-03, with the labels that each got.

#4600 Updated issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/developer-experience-issue.md
  .github/ISSUE_TEMPLATE/developer-experience.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: environment, chore

#4663 Remove duplicated class name in customer attribute validation (#4662)
  app/code/core/Mage/Customer/Helper/Address.php
Labels: Component: Customer

#4456 Fixes coupon-code usage with today start/end date
  app/code/core/Mage/SalesRule/Model/Resource/Rule.php
Labels: enhancement, Component: SalesRule

#4667 Suggest n98-magerun in composer.json
  composer.json
  composer.lock
Labels: composer, chore

#4677 rector: VarToPublicPropertyRector
  .rector.php
  composer.json
  lib/3Dsecure/CentinelClient.php
Labels: Component: lib/*, composer, rector, chore

#4678 Add a blog "Brief Guide on Grid Column"
  docs/content/blog/posts/guides/2025-03-11-brief-guide-on-grid-column.md
Labels: documentation

#4676 Add html-ids to admin nav-items
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
Labels: enhancement, Component: Adminhtml

#4124 Make `php-8.1` minimum requirement
  .github/workflows/php-cs-fixer.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/rector.yml
  .github/workflows/syntax-php.yml
  .phpstan.dist.baseline.neon
  .phpstan.dist.neon
  .rector.php
  app/code/core/Mage/Api2/Model/Request/Interpreter/Xml.php
  app/code/core/Mage/Core/Block/Html/Date.php
  app/code/core/Mage/Install/etc/install.xml
  app/code/core/Mage/Reports/Model/Resource/Review/Collection.php
  composer.json
  composer.lock
  lib/Varien/Io/Ftp.php
  tests/unit/Mage/Catalog/Helper/Product/UrlTest.php
  tests/unit/Mage/Catalog/Model/CategoryTest.php
  tests/unit/Mage/Catalog/Model/ProductTest.php
  tests/unit/Mage/Catalog/Model/UrlTest.php
  tests/unit/Mage/Core/Helper/EnvironmentConfigLoaderTest.php
  tests/unit/Mage/Reports/Model/Resource/Report/CollectionTest.php
  tests/unit/Traits/DataProvider/Mage/Catalog/CatalogTrait.php
Labels: documentation, environment, Component: PayPal, Component: Core, Component: Reports, Component: lib/Varien, Component: Api2, Component: Install, Component: lib/*, composer, phpstan, phpcs, php-cs-fixer, phpunit, rector

#4605 Fixes Mage_Eav_Model_Attribute_Data_Date and Mage_Core_Controller_Varien_Action date validations and empty value handling
  app/code/core/Mage/Core/Controller/Varien/Action.php
  app/code/core/Mage/Eav/Model/Attribute/Data/Date.php
Labels: bug, Component: Core, Component: Eav

#4665 Bump version to v20.14.0
  app/Mage.php
Labels: Mage.php, chore

#4679 rector: `ClassConstantToSelfClassRector`
  .rector.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/History.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Core/Model/Email/Template.php
  app/code/core/Mage/Core/Model/Resource/Setup.php
  app/code/core/Mage/ImportExport/Model/Import/Adapter.php
  lib/Mage/HTTP/Client.php
  lib/Mage/System/Ftp.php
  lib/Magento/Profiler.php
Labels: Component: Core, Component: Catalog, Component: lib/Mage, Component: Adminhtml, Component: ImportExport, Component: lib/*, Component: lib/Magento, rector, chore

#4683 Update `release-drafter.yml`
  .github/release-drafter.yml
Labels: environment, chore

#4685 Updated PhpStorm meta-files
  .github/workflows/update-copyright.yml
  .github/workflows/update-phpstorm-meta.yml
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
Labels: environment, PHPStorm, chore

#4693 rector: `PowToExpRector`
  .php-cs-fixer.dist.php
  .rector.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Decimal.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Price.php
  app/code/core/Mage/Catalog/Model/Layer/Filter/Price/Algorithm.php
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/SalesRule/Model/Coupon/Massgenerator.php
  app/code/core/Mage/Tax/Model/Calculation.php
  lib/3Dsecure/CentinelClient.php
  lib/3Dsecure/XMLParser.php
  lib/Mage/System/Ftp.php
  lib/Unserialize/Reader/Arr.php
  lib/Unserialize/Reader/Bool.php
  lib/Unserialize/Reader/Dbl.php
  lib/Unserialize/Reader/Int.php
  lib/Unserialize/Reader/Str.php
Labels: Component: Catalog, Component: lib/Mage, Component: SalesRule, Component: Tax, Component: lib/*, php-cs-fixer, rector, chore

#4703 rector: applied all `php-70` rules
  .rector.php
  app/code/core/Mage/Adminhtml/Block/Api/Tab/Rolesedit.php
  app/code/core/Mage/Adminhtml/Block/Page/Menu.php
  app/code/core/Mage/Adminhtml/Block/Permissions/Tab/Rolesedit.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/View/Tab/History.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php
  app/code/core/Mage/Adminhtml/Model/Sales/Order/Random.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Admin/Page.php
  app/code/core/Mage/Api2/Helper/Data.php
  app/code/core/Mage/Api2/Model/Acl/Global/Rule/Tree.php
  app/code/core/Mage/Bundle/Model/Product/Type.php
  app/code/core/Mage/Catalog/Model/Product/Image.php
  app/code/core/Mage/CatalogIndex/Model/Resource/Indexer.php
  app/code/core/Mage/Core/Model/Abstract.php
  app/code/core/Mage/Core/Model/Date.php
  app/code/core/Mage/Core/Model/Resource/File/Storage/File.php
  app/code/core/Mage/Core/Model/Resource/Session.php
  app/code/core/Mage/Customer/Model/Convert/Adapter/Customer.php
  app/code/core/Mage/Customer/Model/Convert/Parser/Customer.php
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/Eav/Model/Form.php
  app/code/core/Mage/Payment/Helper/Data.php
  app/code/core/Mage/Paypal/Model/Express/Checkout.php
  app/code/core/Mage/Rating/Model/Resource/Rating/Collection.php
  app/code/core/Mage/Reports/Model/Test.php
  app/code/core/Mage/Rss/Block/Catalog/Special.php
  app/code/core/Mage/Sales/Model/Order/Pdf/Abstract.php
  app/code/core/Mage/SalesRule/Model/Coupon/Codegenerator.php
  app/code/core/Mage/SalesRule/Model/Rule.php
  app/code/core/Mage/Tax/Helper/Data.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/UpsAuth.php
  app/code/core/Mage/Usa/Model/Shipping/Carrier/Usps.php
  app/code/core/Mage/Widget/Model/Widget.php
  lib/Mage/Cache/Backend/File.php
  lib/Mage/HTTP/Client/Socket.php
  lib/Magento/Crypt.php
  lib/Varien/Cache/Backend/Memcached.php
  lib/Varien/Convert/Parser/Xml/Excel.php
  lib/Varien/Data/Collection.php
  lib/Varien/Data/Collection/Db.php
  lib/Varien/Data/Form/Element/Editor.php
  lib/Varien/Data/Tree/Dbp.php
  lib/Varien/Data/Tree/Node/Collection.php
  lib/Varien/Db/Adapter/Mysqli.php
  lib/Varien/Debug.php
  lib/Varien/Event.php
  lib/Varien/File/Csv.php
  lib/Varien/File/CsvMulty.php
  lib/Varien/File/Uploader.php
  lib/Varien/Http/Adapter/Curl.php
  lib/Varien/Image/Adapter/Gd2.php
  lib/Varien/Io/File.php
  lib/Varien/Io/Ftp.php
  lib/Varien/Object/Cache.php
  shell/abstract.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: Reports, Component: lib/Varien, Component: Sales, Component: Usa, Component: Customer, Component: Eav, Component: lib/Mage, Component: Adminhtml, Component: SalesRule, Component: Widget, Component: Tax, Component: Rating, Component: Payment, Component: Bundle, Component: CatalogIndex, Component: Api2, shell, Component: Rss, Component: lib/*, Component: lib/Magento, rector, chore

#4696 Update `release-drafter.yml`
  .github/release-drafter.yml
Labels: environment

#4711 chore: updated all composer dependencies for PHP 8.1
  composer.lock
Labels: composer, chore

#4709 Re-add DDEV files to composer installs
  .gitattributes
Labels: enhancement, git

#4716 Update `release-drafter.yml`
  .github/release-drafter.yml
Labels: environment, chore

#4710 docs: link to DDEV installation guide
  docs/content/developers/tools/ddev.md
Labels: documentation

#4724 fix: Fix typo/spelling error on https://docs.openmage.org/users/install/
  docs/content/users/install/index.md
Labels: documentation

#4429 RWD theme: use jQuery via composer
  .gitignore
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Core/etc/config.xml
  app/code/core/Mage/Core/etc/system.xml
  app/design/frontend/rwd/default/layout/page.xml
  composer.json
  composer.lock
  js/lib/jquery/jquery-1.12.4.js
  js/lib/jquery/jquery-1.12.4.min.js
  js/lib/jquery/jquery-1.12.4.min.map
Labels: new feature, Component: Core, Template : rwd, Component: Page, composer, JavaScript, XML Layout, phpstan, git
