Repository OpenMage/magento-lts, pull requests merged in 2025-02, with the labels that each got.

#4521 php 8.3: fix catch for empty sitemap filename
  app/code/core/Mage/Sitemap/Model/Observer.php
Labels: bug, Component: Sitemap, PHP 8.3

#4394 Fixed null deprecation in UnserializeArray.php
  app/code/core/Mage/Core/Helper/UnserializeArray.php
  tests/unit/Mage/Core/Helper/UnserializeArrayTest.php
Labels: bug, Component: Core, phpunit

#4518 Fix issue with double port in error pages base URL
  errors/processor.php
Labels: bug, errors

#4491 TinyMCE: potential fix for code scanning alert: Inefficient regular expression
  js/mage/adminhtml/wysiwyg/tinymce/setup.js
Labels: bug, security, JavaScript

#4602 Add SAMPLE_DATA option to `dev/openmage/install.sh`
  dev/openmage/README.md
  dev/openmage/docker-compose-production.yml
  dev/openmage/docker-compose.yml
  dev/openmage/install.sh
  docs/content/developers/tools/ddev.md
  docs/content/developers/tools/oneline.md
  mkdocs.yml
Labels: documentation

#4511 Api2: Fixes getProductUrl
  app/code/core/Mage/Catalog/Model/Api2/Product/Rest.php
Labels: bug, Component: Catalog

#4458 Cleanup: removed js/jscolor
  js/jscolor/arrow.gif
  js/jscolor/cross.gif
  js/jscolor/hs.png
  js/jscolor/hv.png
  js/jscolor/jscolor.js
Labels: Cleanup, JavaScript

#4490 CodeQL: updated config
  .github/codeql-config.yml
  .github/workflows/check-files.yml
Labels: environment, chore

#4631 Cache store in API2 for performance.
  app/code/core/Mage/Api2/Model/Resource.php
Labels: performance, Component: Api2

#4495 TinyMCE: disable WYSIWYG if not installed
  app/code/core/Mage/Cms/Model/Wysiwyg/Config.php
  composer.json
  composer.lock
Labels: enhancement, Component: Cms, composer

#4607 DOCS: added releases
  docs/content/blog/posts/releases/2024-12-20-release-20-11-0.md
  docs/content/blog/posts/releases/2025-01-15-release-20-12-0.md
  docs/content/blog/posts/releases/2025-01-16-release-20-12-1.md
  docs/content/blog/posts/releases/2025-01-17-release-20-12-2.md
Labels: documentation

#4611 DOCS: added ddev docs for windows
  docs/content/blog/.authors.yml
  docs/content/blog/posts/guides/2024-02-17-ddev-windows-10.md
  docs/content/developers/tools/ddev.md
  mkdocs.yml
Labels: documentation

#4619 Workflow: updated PhpUnit versions
  .github/workflows/phpunit.yml
Labels: environment, phpunit, chore

#4526 php8: TypeError: Unsupported operand types: string * int
  app/code/core/Mage/Adminhtml/Block/Catalog/Product/Edit/Tab/Inventory.php
  app/design/adminhtml/default/default/template/catalog/product/tab/inventory.phtml
Labels: bug, Component: Catalog, Template : admin, Component: Adminhtml, PHP 8

#4528 Update release-drafter.yml template
  .github/release-drafter.yml
Labels: environment, chore

#4610 [Backport] Added form key validation to Contacts form
  .cypress.config.js
  .gitignore
  app/code/core/Mage/Contacts/controllers/IndexController.php
  app/code/core/Mage/Contacts/etc/config.xml
  app/code/core/Mage/Contacts/etc/system.xml
  app/design/frontend/base/default/template/contacts/form.phtml
  app/design/frontend/rwd/default/template/contacts/form.phtml
  app/locale/en_US/Mage_Contacts.csv
  docs/content/developers/changelog/index.md
Labels: documentation, security, Template : rwd, Template : base, Component: Contacts, translations, git

#4524 PhpUnit: added test, ref #4518
  .phpunit.dist.xml
  tests/bootstrap.php
  tests/unit/Error/ProcessorTest.php
Labels: phpunit, chore

#4638 Update release-drafter.yml
  .github/release-drafter.yml
Labels: environment, chore

#4485 Drop ZIP-archive support
  .github/workflows/release.yml
  docs/content/users/install/index.md
  mkdocs.yml
Labels: documentation, environment

#4601 Fix error in column renderer when value is empty and not null
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Number.php
Labels: Component: Adminhtml

#4640 Remove obsolete phpstan baseline entry for invalid binary operation.
  .phpstan.dist.baseline.neon
Labels: phpstan, chore

#4639 keep attribute_id as keys in getFilterableAttributes ()
  app/code/core/Mage/Catalog/Model/Layer.php
Labels: bug, Component: Catalog

#4654 Sanitize skin urls that could be used for XSS
  app/code/core/Mage/Core/Model/Design/Package.php
  app/code/core/Mage/Core/etc/system.xml
  app/design/adminhtml/default/default/template/oauth/authorize/head-simple.phtml
  app/design/adminhtml/default/default/template/page/head.phtml
Labels: Component: Core, Template : admin, Component: Adminhtml, Component: Page, Component: Oauth

#4435 Replaced google dashboard charts with Chart.js (via composer)
  .gitignore
  app/code/core/Mage/Adminhtml/Block/Dashboard.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Graph.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Tab/Amounts.php
  app/code/core/Mage/Adminhtml/Block/Dashboard/Tab/Orders.php
  app/code/core/Mage/Adminhtml/Helper/Dashboard/Data.php
  app/code/core/Mage/Adminhtml/controllers/DashboardController.php
  app/code/core/Mage/Install/Model/Installer.php
  app/code/core/Mage/Reports/Helper/Data.php
  app/code/core/Mage/Reports/Model/Resource/Order/Collection.php
  app/design/adminhtml/default/default/template/dashboard/graph.phtml
  composer.json
  composer.lock
  tests/unit/Base/DefaultConfigTest.php
Labels: new feature, Template : admin, Component: Reports, Component: Adminhtml, Component: Install, composer, phpunit, git
