Repository OpenMage/magento-lts, pull requests merged in 2025-01, with the labels that each got.

#4441 Hotfix: Incorrect attribute localization
  app/code/core/Mage/Catalog/Model/Resource/Eav/Attribute.php
  tests/unit/Mage/Catalog/Model/Resource/Eav/AttributeTest.php
Labels: bug, Component: Catalog, phpunit

#4443 Workflow: added release drafter
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  README.md
Labels: environment

#4431 PHPUnit: added test for `Mage_Core_Model_Layout::getBlockSingleton()`
  .phpstan.dist.neon
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Block.php
  app/code/core/Mage/Core/Model/Layout.php
  app/locale/en_US/Mage_Core.csv
  tests/unit/Mage/Core/Model/LayoutTest.php
  tests/unit/Mage/Core/Model/WebsiteTest.php
  tests/unit/Traits/PhpStormMetaData/BlocksTrait.php
Labels: Component: Core, Component: Adminhtml, translations, phpstan, phpunit

#4442 Bumped version to 20.12.0
  app/Mage.php
Labels: Mage.php, MINOR

#4446 All contributors bot
  .all-contributorsrc
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: environment

#4444 PHPUnit: fixed test using wrong date format
  .phpcs.dist.xml
  tests/unit/Mage/Core/Helper/DataTest.php
Labels: phpcs, phpunit

#4455 Updated composer-plugin
  .gitignore
  app/design/adminhtml/default/default/template/page/head.phtml
  app/design/adminhtml/default/default/template/widget/form/element.phtml
  composer.json
  composer.lock
Labels: enhancement

#4453 PhpUnit: fixes Update LayoutTest.php
  .github/labeler.yml
  tests/unit/Mage/Core/Model/LayoutTest.php
Labels: phpunit, chore

#4470 Workflow: fixed invalid JSON
  .all-contributorsrc
Labels: chore

#4445 Workflow: update PhpStorm meta files
  .github/workflows/update-phpstorm-meta.yml
  .phpstorm.meta.php/magento_blocks.meta.php
  .phpstorm.meta.php/magento_blocks_methods.meta.php
  .phpstorm.meta.php/magento_helpers.meta.php
  .phpstorm.meta.php/magento_helpers_methods.meta.php
  .phpstorm.meta.php/magento_models.meta.php
  .phpstorm.meta.php/magento_models_methods.meta.php
  .phpstorm.meta.php/magento_resource_models.meta.php
  .phpstorm.meta.php/magento_resource_models_methods.meta.php
  tests/unit/Mage/Core/Model/LayoutTest.php
Labels: environment, PHPStorm, phpunit, chore

#4406 PHP-CS-Fixer: added all directories to checks
  .rector.php
  get.php
  lib/3Dsecure/CentinelErrors.php
  lib/3Dsecure/XMLParser.php
  lib/Unserialize/Parser.php
  lib/Unserialize/Reader/Arr.php
  lib/Unserialize/Reader/ArrKey.php
  lib/Unserialize/Reader/ArrValue.php
  lib/Unserialize/Reader/Bool.php
  lib/Unserialize/Reader/Dbl.php
  lib/Unserialize/Reader/Int.php
  lib/Unserialize/Reader/Null.php
  lib/Unserialize/Reader/Str.php
Labels: Component: lib/*, rector, chore

#4459 Cleanup: removed phpversion check
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Core/Model/Cookie.php
Labels: Cleanup, Component: Core, phpstan

#4480 Fix regression bug for duplicate block rendering with getSortedChildren()
  app/code/core/Mage/Core/Block/Abstract.php
  tests/unit/Mage/Core/Block/Text/ListTest.php
Labels: bug, Component: Core, phpunit

#4457 Workflow: release-drafter.yml update
  .github/release-drafter.yml
Labels: environment, chore

#4476 Fixes grid column type `concat`
  app/code/core/Mage/Adminhtml/Block/Widget/Grid.php
  app/code/core/Mage/Adminhtml/etc/config.xml
  tests/unit/Mage/Adminhtml/Block/Widget/GridTest.php
Labels: bug, Component: Adminhtml, phpunit

#4461 Updated phpstan workflow
  .github/workflows/phpstan.yml
  .phpstan.dist.neon
Labels: environment, phpstan, chore

#4488 Fix: error in admin customer edit account
  app/code/core/Mage/Adminhtml/Block/Catalog/Search/Edit/Form.php
  app/code/core/Mage/Adminhtml/Block/Customer/Edit/Tab/Account.php
Labels: bug, Component: Adminhtml

#4481 Update .all-contributorsrc
  .all-contributorsrc
Labels: chore

#4399 Fix: InvalidParamTypeProvidedNULL: fixed login() method
  app/code/core/Mage/Api/Model/Server/Handler/Abstract.php
Labels: bug, Component: Api

#4494 No Layout on Redirect in CatalogSearch AdvancedController
  app/code/core/Mage/CatalogSearch/controllers/AdvancedController.php
Labels: bug, Component: CatalogSearch

#4500 Fixed null deprecation in Mage_Eav_Model_Attribute_Data_Text
  app/code/core/Mage/Eav/Model/Attribute/Data/Text.php
Labels: bug, Component: Eav, PHP 8

#4469 Install flow.js (uploader) via composer
  .gitignore
  composer.json
  composer.lock
  js/lib/uploader/flow.js
  js/lib/uploader/flow.min.js
Labels: enhancement, composer, JavaScript, git

#4514 Added currency code to cache-info for new products block
  app/code/core/Mage/Catalog/Block/Product/New.php
Labels: bug, Component: Catalog
