Repository OpenMage/magento-lts, pull requests merged in 2025-06, with the labels that each got.

#4776 Content Security Policy (CSP) Implementation a new approach
  .phpstan.dist.baseline.neon
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Array/Abstract.php
  app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Csp/Hosts.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Serialized.php
  app/code/core/Mage/Csp/Block/Adminhtml/Meta.php
  app/code/core/Mage/Csp/Block/Meta.php
  app/code/core/Mage/Csp/Helper/Data.php
  app/code/core/Mage/Csp/Model/Observer/Abstract.php
  app/code/core/Mage/Csp/Model/Observer/AddAdminCspHeaders.php
  app/code/core/Mage/Csp/Model/Observer/AddFrontendCspHeaders.php
  app/code/core/Mage/Csp/etc/adminhtml.xml
  app/code/core/Mage/Csp/etc/config.xml
  app/code/core/Mage/Csp/etc/system.xml
  app/design/adminhtml/default/default/layout/csp.xml
  app/design/adminhtml/default/default/template/system/config/form/field/csp.phtml
  app/design/frontend/base/default/layout/csp.xml
  app/etc/modules/Mage_Csp.xml
Labels: Template : admin, Template : base, Component: Adminhtml, XML Layout, phpstan

#4827 Use sameSite setting in the session cookie
  app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
Labels: Component: Core

#4836 Fixed README.md
  README.md
Labels: chore, README

#4828 Allow empty qty-item field when creating a shipment
  app/design/adminhtml/default/default/template/sales/order/shipment/create/items.phtml
Labels: enhancement, Template : admin, Component: Sales, Component: Adminhtml

#4853 Fix issue #4312 add `is_iterable()` check in grid.
  app/design/adminhtml/default/default/template/widget/grid.phtml
Labels: Template : admin, Component: Adminhtml, Component: Widget
