Repository OpenMage/magento-lts, pull requests merged in 2025-09, with the labels that each got.

#4938 Updated .gitattributes
  .gitattributes
Labels: git, chore

#4942 [PHP 8.4] fgetcsv() deprecated warning in three more files
  app/code/core/Mage/Dataflow/Model/Convert/Iterator/Http.php
  app/code/core/Mage/Paypal/Model/Report/Settlement.php
  lib/Varien/Io/File.php
Labels: Component: PayPal, Component: lib/Varien, Component: Dataflow, Component: lib/*

#4923 SEO: Add a rel canonical in all CMS pages
  app/code/core/Mage/Cms/Block/Page.php
  app/code/core/Mage/Cms/Helper/Data.php
  app/code/core/Mage/Cms/etc/config.xml
  app/code/core/Mage/Cms/etc/system.xml
  app/locale/en_US/Mage_Cms.csv
Labels: Component: Cms, translations
