Repository OpenMage/magento-lts, pull requests merged in 2025-07, with the labels that each got.

#4859 rector: disabled rules one by one in config
  .rector.php
Labels: rector, chore

#4862 rector: `RemoveDoubleAssignRector`
  .rector.php
  app/code/core/Mage/Core/Helper/String.php
Labels: Component: Core, rector, chore

#4867 rector: `RemoveUnreachableStatementRector`
  .rector.php
  lib/Varien/Image/Adapter.php
Labels: Component: lib/Varien, Component: lib/*, rector, chore

#4865 rector: `RemoveUselessIsObjectCheckRector`
  .rector.php
  app/code/core/Mage/Adminhtml/Block/Report/Filter/Form.php
  app/code/core/Mage/Core/Model/Input/Filter.php
  app/code/core/Mage/Sales/Block/Adminhtml/Report/Filter/Form.php
  app/code/core/Mage/Sales/Block/Adminhtml/Report/Filter/Form/Coupon.php
  app/code/core/Mage/Sales/Block/Adminhtml/Report/Filter/Form/Order.php
  app/code/core/Mage/Sales/Model/Order/Payment.php
Labels: Component: Core, Component: Sales, Component: Adminhtml, rector, chore

#4869 rector: `FlipTypeControlToUseExclusiveTypeRector`
  .rector.php
  app/code/core/Mage/Paypal/Model/Config.php
Labels: Component: PayPal, rector, chore

#4873 rector: `UnwrapSprintfOneArgumentRector`
  .rector.php
  lib/Varien/Io/Sftp.php
Labels: Component: lib/Varien, Component: lib/*, rector, chore

#4871 rector: `FuncCallToConstFetchRector`
  .rector.php
  app/code/core/Mage/Core/Controller/Response/Http.php
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core, rector, chore

#4642 Fix issue #4501 Exception noise from OAuth and REST (API2 )
  app/code/core/Mage/Api2/Exception.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Api2/Model/Server.php
Labels: enhancement, Component: Api2

#4868 rector: `InlineArrayReturnAssignRector`
  .rector.php
  app/code/core/Mage/Adminhtml/Model/System/Config/Source/Date/Short.php
  app/code/core/Mage/Catalog/Model/Category.php
  app/code/core/Mage/Catalog/Model/Product.php
  app/code/core/Mage/Catalog/Model/Product/Compare/Item.php
  app/code/core/Mage/CatalogIndex/Model/Indexer/Tierprice.php
  app/code/core/Mage/Core/Model/Config.php
  app/code/core/Mage/Core/Model/Magento/Api.php
  app/code/core/Mage/Newsletter/Model/Queue.php
  app/code/core/Mage/Sales/Model/Order/Shipment/Track.php
  app/code/core/Mage/Wishlist/Model/Item.php
  app/code/core/Mage/Wishlist/Model/Wishlist.php
  lib/Varien/Db/Tree.php
Labels: Component: Core, Component: Catalog, Component: lib/Varien, Component: Sales, Component: Adminhtml, Component: Wishlist, Component: Newsletter, Component: CatalogIndex, Component: lib/*, rector, chore

#4876 rector: `EmptyOnNullableObjectToInstanceOfRector`
  .rector.php
  app/code/core/Mage/Admin/Model/Redirectpolicy.php
  app/code/core/Mage/Shipping/Model/Carrier/Abstract.php
Labels: Component: Admin, Component: Shipping, rector, chore

#4861 rector: `SingularSwitchToIfRector`
  .rector.php
  app/code/core/Mage/Adminhtml/Block/Sales/Order/Create/Form/Account.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column.php
  app/code/core/Mage/Catalog/Model/Category/Indexer/Flat.php
  app/code/core/Mage/Catalog/Model/Product/Indexer/Eav.php
  app/code/core/Mage/Catalog/Model/Product/Indexer/Flat.php
  app/code/core/Mage/CatalogInventory/Model/Indexer/Stock.php
  app/code/core/Mage/CatalogSearch/Model/Indexer/Fulltext.php
  app/code/core/Mage/Eav/Model/Attribute/Data/File.php
  app/code/core/Mage/Persistent/Model/Persistent/Config.php
  app/code/core/Mage/Rule/Model/Condition/Product/Abstract.php
  app/code/core/Mage/Sales/Model/Recurring/Profile.php
Labels: Component: Catalog, Component: CatalogInventory, Component: Sales, Component: Eav, Component: Adminhtml, Component: Rule, Component: CatalogSearch, rector, chore

#4878 rector: `ClassOnThisVariableObjectRector` & `ClassOnObjectRector`
  .rector.php
  app/code/core/Mage/Api2/Model/Resource.php
  app/code/core/Mage/Catalog/Model/Resource/Abstract.php
  app/code/core/Mage/Cms/Block/Widget/Block.php
  app/code/core/Mage/Core/Block/Abstract.php
  app/code/core/Mage/Core/Block/Template.php
  app/code/core/Mage/Core/Controller/Varien/Action.php
  app/code/core/Mage/Core/Helper/Abstract.php
  app/code/core/Mage/Core/Helper/Security.php
  app/code/core/Mage/Core/Model/App.php
  app/code/core/Mage/Core/Model/Convert.php
  app/code/core/Mage/Core/Model/Layout.php
  app/code/core/Mage/Dataflow/Model/Convert/Action/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Abstract.php
  app/code/core/Mage/Eav/Model/Entity/Collection/Abstract.php
  app/code/core/Mage/Index/Model/Event.php
  app/code/core/Mage/Index/Model/Process.php
  app/code/core/Mage/Paypal/Model/Express/Checkout.php
  app/code/core/Mage/Paypal/Model/Payflow/Request.php
  app/code/core/Mage/Persistent/Model/Observer.php
  app/code/core/Mage/Persistent/Model/Persistent/Config.php
  app/code/core/Mage/Sales/Model/Order/Payment/Transaction.php
  app/code/core/Mage/Uploader/Model/Config/Abstract.php
  lib/Varien/Convert/Action/Abstract.php
  lib/Varien/Data/Collection.php
  lib/Varien/Db/Adapter/Pdo/Mysql.php
  lib/Varien/Debug.php
  lib/Varien/Event/Observer.php
  lib/Varien/Filter/Object.php
  lib/Varien/Object.php
  lib/Varien/Object/Cache.php
  tests/unit/Mage/Core/Helper/SecurityTest.php
Labels: Component: PayPal, Component: Core, Component: Catalog, Component: Cms, Component: lib/Varien, Component: Sales, Component: Eav, Component: Index, Component: Api2, Component: Dataflow, Component: Uploader, Component: lib/*, PHP 8, phpunit, rector, chore

#4882 rector: `SimplifyRegexPatternRector`
  .rector.php
  app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Abstract.php
  app/code/core/Mage/Adminhtml/controllers/RatingController.php
  app/code/core/Mage/Catalog/Helper/Product.php
  app/code/core/Mage/Catalog/Model/Product/Option/Type/File.php
  app/code/core/Mage/Checkout/Model/Resource/Agreement.php
  app/code/core/Mage/Cms/Model/Resource/Page.php
  app/code/core/Mage/Core/Model/Date.php
  app/code/core/Mage/Eav/Model/Entity/Attribute/Backend/Datetime.php
  app/code/core/Mage/Payment/Model/Method/Cc.php
  lib/Varien/Data/Form/Element/Date.php
Labels: Component: Core, Component: Catalog, Component: Cms, Component: Checkout, Component: lib/Varien, Component: Eav, Component: Adminhtml, Component: Payment, Component: lib/*, rector, chore

#4858 Bump version to 20.15.0
  app/Mage.php
Labels: Mage.php, chore

#4892 Remove proxy response code from response body
  lib/Varien/Http/Adapter/Curl.php
Labels: bug, Component: lib/Varien, Component: lib/*
