Repository OpenMage/magento-lts, pull requests merged in 2025-04, with the labels that each got.

#4733 Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: environment

#4750 Fix products duplicate across pagination when they have the same posi…
  app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php
Labels: bug, Component: Catalog

#4745 Fix website-specific attribute values not loading correctly
  app/code/core/Mage/Eav/Model/Config.php
  app/code/core/Mage/Eav/Model/Entity/Type.php
Labels: Component: Eav

#4762 Fix: re-add `composer/composer`
  composer.json
  composer.lock
Labels: composer

#4761 Updated workflows - use cache
  .github/workflows/check-files.yml
  .github/workflows/php-cs-fixer.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpmd.yml
  .github/workflows/phpstan.yml
  .github/workflows/phpunit.yml
  .github/workflows/rector.yml
  .github/workflows/workflow.yml
  .gitignore
  .rector.php
Labels: environment, phpstan, phpcs, php-cs-fixer, phpunit, rector, phpmd, git

#4769 PHP8: fix newsletter preview
  app/code/core/Mage/Newsletter/Model/Template.php
Labels: Component: Newsletter

#4772 Fix: correct docblock type for `set_error_handler`
  app/code/core/Mage/Core/Model/App.php
Labels: Component: Core

#4765 rector: added phtml-files
  .rector.php
  app/design/adminhtml/default/default/template/bundle/product/composite/fieldset/options/type/radio.phtml
  app/design/adminhtml/default/default/template/bundle/product/composite/fieldset/options/type/select.phtml
  app/design/adminhtml/default/default/template/catalog/product/composite/fieldset/options/type/file.phtml
  app/design/adminhtml/default/default/template/catalog/product/helper/gallery.phtml
  app/design/adminhtml/default/default/template/system/currency/rate/matrix.phtml
  app/design/frontend/base/default/template/bundle/catalog/product/price.phtml
  app/design/frontend/base/default/template/bundle/catalog/product/view/type/bundle/option/radio.phtml
  app/design/frontend/base/default/template/bundle/catalog/product/view/type/bundle/option/select.phtml
  app/design/frontend/base/default/template/bundle/rss/catalog/product/price.phtml
  app/design/frontend/base/default/template/bundle/sales/order/creditmemo/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/invoice/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/items/renderer.phtml
  app/design/frontend/base/default/template/bundle/sales/order/shipment/items/renderer.phtml
  app/design/frontend/base/default/template/catalog/product/view/options/type/file.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/creditmemo/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/invoice/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/downloadable/sales/order/items/renderer/downloadable.phtml
  app/design/frontend/base/default/template/sales/order/creditmemo/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/invoice/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/items/renderer/default.phtml
  app/design/frontend/base/default/template/sales/order/shipment/items/renderer/default.phtml
  app/design/frontend/base/default/template/shipping/tracking/popup.phtml
  app/design/frontend/rwd/default/template/bundle/catalog/product/view/type/bundle/option/select.phtml
  app/design/frontend/rwd/default/template/bundle/sales/order/items/renderer.phtml
  app/design/frontend/rwd/default/template/downloadable/sales/order/items/renderer/downloadable.phtml
  app/design/frontend/rwd/default/template/sales/order/creditmemo/items/renderer/default.phtml
  app/design/frontend/rwd/default/template/sales/order/invoice/items/renderer/default.phtml
  app/design/frontend/rwd/default/template/sales/order/items/renderer/default.phtml
Labels: Component: Catalog, Template : admin, Component: Sales, Template : rwd, Template : base, Component: Adminhtml, Component: Shipping, Component: Downloadable, Component: Bundle, rector

#4759 Added Cypress E2E tests
  .cypress.config.js
  .github/labeler.yml
  .github/workflows/check-files.yml
  .github/workflows/cypress.yml
  .github/workflows/workflow.yml
  .gitignore
  app/code/core/Mage/Adminhtml/Block/Widget/Container.php
  app/code/core/Mage/Sitemap/etc/system.xml
  app/design/adminhtml/default/default/template/system/config/tabs.phtml
  cypress/e2e/openmage/backend/catalog/categories.cy.js
  cypress/e2e/openmage/backend/catalog/products.cy.js
  cypress/e2e/openmage/backend/catalog/search.cy.js
  cypress/e2e/openmage/backend/catalog/sitemap.cy.js
  cypress/e2e/openmage/backend/catalog/urlrewrites.cy.js
  cypress/e2e/openmage/backend/cms/block.cy.js
  cypress/e2e/openmage/backend/cms/page.cy.js
  cypress/e2e/openmage/backend/cms/widget.cy.js
  cypress/e2e/openmage/backend/customer/group.cy.js
  cypress/e2e/openmage/backend/customer/manage.cy.js
  cypress/e2e/openmage/backend/customer/online.cy.js
  cypress/e2e/openmage/backend/login.cy.js
  cypress/e2e/openmage/backend/newsletter/queue.cy.js
  cypress/e2e/openmage/backend/newsletter/report.cy.js
  cypress/e2e/openmage/backend/newsletter/subscriber.cy.js
  cypress/e2e/openmage/backend/newsletter/templates.cy.js
  cypress/e2e/openmage/backend/promo/cart.cy.js
  cypress/e2e/openmage/backend/promo/catalog.cy.js
  cypress/e2e/openmage/backend/sales/creditmemo.cy.js
  cypress/e2e/openmage/backend/sales/invoice.cy.js
  cypress/e2e/openmage/backend/sales/order.cy.js
  cypress/e2e/openmage/backend/sales/shipment.cy.js
  cypress/e2e/openmage/backend/sales/transactions.cy.js
  cypress/e2e/openmage/backend/system/cache.cy.js
  cypress/e2e/openmage/backend/system/config/catalog/configswatches.cy.js
  cypress/e2e/openmage/backend/system/config/catalog/sitemap.cy.js
  cypress/e2e/openmage/backend/system/config/customers/promo.cy.js
  cypress/e2e/openmage/backend/system/design.cy.js
  cypress/e2e/openmage/backend/system/emails.cy.js
  cypress/e2e/openmage/backend/system/indexes.cy.js
  cypress/e2e/openmage/backend/system/manage-currency.cy.js
  cypress/e2e/openmage/backend/system/myacount.cy.js
  cypress/e2e/openmage/backend/system/notifications.cy.js
  cypress/e2e/openmage/backend/system/stores.cy.js
  cypress/e2e/openmage/backend/system/variable.cy.js
  cypress/e2e/openmage/frontend/advanced-search.cy.js
  cypress/e2e/openmage/frontend/customer/account/create.cy.js
  cypress/e2e/openmage/frontend/newsletter-subscribe.cy.js
  cypress/e2e/openmage/issues/4741.cy.js
  cypress/e2e/security/formkeys.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/support/openmage.js
  cypress/support/openmage/config/paths.js
Labels: environment, Template : admin, Component: Adminhtml, Component: Sitemap, git

#4780 chore: update SonarCloud action
  .github/workflows/phpunit.yml
  .github/workflows/workflow.yml
  tests/sonar-project.properties
Labels: environment, phpunit

#4781 fix: sonar config
  .github/workflows/workflow.yml
Labels: environment
